{% extends "base.html" %}
{% load i18n %}
{% load l10n_tags %}

{% block title %}{% trans 'Authorize' %}{% endblock %}

{% block bodyclasses %}signin{% endblock %}
{% block body %}
  <section class="modal">
    <h2>{% blocktrans %}We're going to connect you with {{ client_description }}. Ok with you?{% endblocktrans %}</h2>
    <form action="{{ form_action }}" method="post">
      {% csrf_token %}
      <fieldset>
        <input class="btn" type="submit" value="{% trans 'Yes' %}" />
        <a href="{% locale_url splash %}" class="btn">{% trans 'Cancel' %}</a>
      </fieldset>
    </form>
  </section>
{% endblock %}
