{% load l10n_tags %}
{% if following %}
<form action="{% locale_url relationships_unfollow %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="object_id" value="{{ project.id }}" />
  <input type="hidden" name="object_type_id" value="{{ type.id }}" />
  <input type="submit" value="{{ _('Unfollow') }}" />
</form>
{% else %}
<form action="{% locale_url relationships_follow %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="object_id" value="{{ project.id }}" />
  <input type="hidden" name="object_type_id" value="{{ type.id }}" />
  <input type="submit" value="{{ _('Follow') }}" />
</form>
{% endif %}
