{% load l10n_tags %}
<article class="project card">
  <figure>
    <a href="{% locale_url projects_show slug=project.slug %}">
      {% if project.image %}
      <img src="{{ MEDIA_URL }}{{ project.image }}" width="195" height="120" alt="project image"/>
      {% else %}
      <img src="/media/images/project-missing.png" width="195" height="120" alt="project image"/>
      {% endif %}
    </a>
  </figure>
  <div class="info">
    <h1><a href="{% locale_url projects_show slug=project.slug %}">{{ project.name }}</a></h1>
    <!-- 
     ! TODO: set a character maximum for project.description that works
     ! with this layout. See also /media/css/batucada.css line ~485
     -->  
    <div class="description">{{project.short_description}}</div>
  </div>
  <div class="meta">
    <dl class="followers">
      <dd>{{project.followers_count}}</dd>
      <dt>{{ _('Followers') }}</dt>
    </dl>
    <dl class="updates">
      <dd>{{ project.status_set.all|length }}</dd>
      <dt>{{ _('Updates') }}</dt>
    </dl>
  </div>
</article>
