{% load l10n_tags %}
<article class="project card">
  <figure>
    <a href="{% locale_url projects_show slug=project.slug %}">
      <!-- TODO: add support for project images. -->
      <!-- TODO: add a default image for projects -->
      {% if project.image %}
	<img src="{{ MEDIA_URL }}{{ project.image }}" width="197" height="120" alt="project image"/>
      {% else %}
      <img src="/media/images/project-missing.png" width="197" height="120" alt="project image"/>
      {% endif %}
    </a>
  </figure>
  <h1><a href="{% locale_url projects_show slug=project.slug %}">{{ project.name }}</a></h1>
  <!-- 
   ! TODO: set a character maximum for project.description that works
   ! with this layout. See also /media/css/batucada.css line ~485
   -->  
  <div class="description">{{project.description}}</div>
  <div class="meta">
    <dl class="followers">
      <dd>{{project.followers|length}}</dd>
      <dt>{{ _('Followers') }}</dt>
    </dl>
    <dl class="updates">
      <dd>{{ project.status_set.all|length }}</dd>
      <dt>{{ _('Updates') }}</dt>
    </dl>
    <dl class="creation_date">
      <dd>{{project.created_on|date:"M j, y"}}</dd>
      <dt>{{ _('Created') }}</dt>
    </dl>
  </div>
</article>
