{% extends "base.html" %}
{% load l10n_tags %}

{% block description %}{{ project.name }}: {{ project.short_description }}{% endblock %}
{% block title %}{{ project.name }} | {% block project_title %}{% endblock %}{% endblock %}

{% block links %}
{% if project.accepted_school %}<link rel="stylesheet" href="{% locale_url schools_css slug=project.accepted_school.slug %}?v=1">{% endif %}
{% block project_links %}{% endblock %}
{% endblock %}

{% block breadcrumbs_title %}
  <h1 id="project-name"><a href="{{ project.get_absolute_url }}" class="school_header">{{ project.name }}</a></h1>
{% endblock %}
{% block breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url projects_gallery %}">{{ _('Learn') }}</a>
  <span class="arrow">&rsaquo;</span>
  <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
  {% block project_breadcrumbs %}{% endblock %}
{% endblock %}
