{% extends "base.html" %}
{% load l10n_tags %}
{% block body %}
<section class="modal">
  <article>
    <h1>{{ _('Contact Participants of ') }} {{project.name}}</h1>
    <fieldset>
    <form action="{% locale_url projects_contact_participants slug=project.slug %}" method="post">
      {% csrf_token %}
      {{ form.project }}
      <div class="field{% if form.subject.errors %} error{% endif %}">
        <label for="id_subject">{{ _('Subject') }}</label>
        {{ form.subject }}
        {{ form.subject.errors }}
      </div>
      <div class="field{% if form.body.errors %} error{% endif %}">
        <label for="id_body">{{ _('Message') }}</label>
        {{ form.body }}
        {{ form.body.errors }}
      </div>
      <p class="buttons">
        <a class="button" href="{{ project.get_absolute_url }}">
          {{ _('Cancel') }}
        </a>
        <button type="submit" value="{{ _('Send') }}">{{ _('Send') }}</button>
      </p>
    </form>
    </fieldset>
  </article>
</section>
{% endblock %}
