<p><strong>Please fill out the study group's full description.</strong> In this page you could:</p>

<ul>
<li>Describe the purpose of the study group and the learning goals for the tasks within.</li>
<li>Describe your role in this study group. What made you interested in this topic? What do you hope to achieve by organizing the group? Are you an expert, enthusiastic or a novice?</li>
<li>Include any prerequisite knowledge or skills needed to participate in the study group, the intended start date, estimated pace, commitment, amount of work, and the length of time the study group can expect to work together (a few days, a few weeks, or forever).</li>
<li>Provided any other information that could be useful for people interested in joining the study group. In what ways can participants expect to contribute to the creation of tasks and assessing each others' contributions? What will the final task comprise?</li>
<ul>
