{% extends "base.html" %}
{% load l10n_tags %}
{% block title %}{{ _('Edit Project') }}{% endblock %}
{% block bodyid %}project_edit{% endblock %}
{% block bodyclasses %}project edit info{% endblock %}

{% block body %}
<section class="modal">
  <article>
    <h1>{{ _('Edit Project') }}</h1>
    <fieldset>
      <form action="{% locale_url projects_edit slug=project.slug %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <p class="buttons">
        <a class="button" href="{%locale_url projects_show slug=project.slug  %}">{{ _('Cancel') }}</a>
        <button type="submit" value="{{ _('Save') }}">{{ _('Save') }}</button>
      </p>
      </form>
    </fieldset>
  </article>
</section>    
{% endblock %}
