{% extends "base.html" %}
{% load l10n_tags %}
{% block title %}{{ _('Projects') }}{% endblock %}
{% block bodyid %}project_gallery{% endblock %}
{% block bodyclasses %}card-list{% endblock %}
{% block breadcrumbs %}
  <div class="container">
    <nav>
      <a href="{% locale_url projects_gallery %}">{{ _('Projects') }}</a>
    </nav>
    {% if user.is_authenticated %}
    <div id="project-actions">
      <a id="create-project" class="button" href="{% locale_url projects_create %}">Create a project</a>
    </div>
    {% endif %}
  </div> <!-- /.container -->
{% endblock %}

{% block body %}

<h1>{{ _('Browse <b>Projects</b>') }}</h1>
{% if featured %}
<section id="featured_projects">
  <h1><span>{{_('Featured')}}</span></h1>
  <ul class="project-list">
  {% for project in featured %}
    <li>{% include "projects/_project_card.html" %}</li>
  {% endfor %}
  </ul>
</section>
{% endif %}

{% if active %}
<section id="popular_projects">
  <h1><span>{{ _('Popular Projects') }}</span></h1>
  <ul class="project-list">
    {% for project in active %}
      <li>{% include "projects/_project_card.html" %}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if new %}
<section id="new_projects">
  <h1><span>{{ _('New Projects') }}</span></h1>
  <ul class="project-list">
    {% for project in new %}
      <li>{% include "projects/_project_card.html" %}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}
{% include "_footer.html" %}
{% endblock %}
