{% extends "base.html" %}
{% load l10n_tags %}

{% block title %}{{ project.name }}{% endblock %}

{% block links %}
<link rel="alternate" type="application/atom+xml" href="{% locale_url activity_project_feed project=project.slug %}" />
{% endblock %}

{% block breadcrumbs %}
  <div class="container">
    <nav>
      <a href="{% locale_url projects_gallery %}">{{ _('Projects') }}</a>
      <span class="arrow">&rsaquo;</span>
      <a href="{% locale_url projects_show slug=project.slug %}">{{ project.name }}</a>
    </nav>

    {% if user.get_profile == project.created_by %}
      <div id="project-actions">
        <a class="button" href="{% locale_url projects_edit slug=project.slug %}">{{ _('Edit Project') }}</a>
        <a class="button" href="{% locale_url projects_contact_followers slug=project.slug %}">{{ _('Message Followers') }}</a>
      </div>
    {% endif %}

  </div> <!-- /.container -->
{% endblock %}

{% block bodyid %}project_landing{% endblock %}

{% block body %}
<div id="sidebar">
  <section id="project"class="panel">
    <h1 id="project-name">{{ project.name }}</h1>

    <div id="project-follow">
      {% if user.get_profile == project.created_by %}
	<a class="button" href="{% locale_url projects_edit slug=project.slug %}">{{ _('Edit Project') }}</a>
      {% else %}
	{% if following %}
	  <form method="post" action="{% locale_url relationships_unfollow object_type='project' slug=project.slug %}">
	    {% csrf_token %}
	    <button>{{ _('Unfollow') }}</button>
	  </form>
	{% else %}
	  <form method="post" action="{% locale_url relationships_follow object_type='project' slug=project.slug %}">
	    {% csrf_token %}
	    <button>{{ _('Follow Project') }}</button>
	  </form>
	{% endif %}
      {% endif %}
    </div> <!-- /#project-follow -->

    <dl id="project-stats">
      <dt>Followers</dt>
      <dd>
	<a href="#">{{ project.followers|length }}</a>
      </dd>
      <dt>Updates</dt>
      <dd>{{ update_count }}</dd>

      <dt>Created</dt>
      <dd>August 2009</dd>
    </dl> <!-- /#project-stats -->

    <div id="project-summary">
      {{ project.long_description }}
    </div>

    <!-- TODO: support project media 
    <div id="project-icons">
      <img src="..." height="86" width="96">
      <img src="..." height="86" width="96">
    </div>-->
    {% if files %}
    <ul class="project files">
    {% for file_id, file in files.items %}
      <li id="file_{{ file_id}}">
        <a href="{{ MEDIA_URL }}{{ file.path }} ">
          <img src="{{ MEDIA_URL }}{{ file.thumbnail }}" class="project media" />
        </a>
      </li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if project.detailed_description %}
    <a id="project-description-link" href="{% locale_url projects_show_detailed slug=project.slug %}">View Full Project Description</a>
    {% endif %}
    {% if user.get_profile != project.created_by %}
    <p class="supplemental_actions">
      <a class="report abuse action" href="{% locale_url drumbeat_abuse  obj=project.id type="project" %}">{{_('Report Abuse')}}</a>
    </p>  
    {% endif %}      
  </section>
    
  {% if links %}
  <nav id="project-links" class="panel">      
    <ul>
      {% for link in links %}
        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
      {% endfor %}
    </ul>       
  </nav>
  {% endif %} 

  <section id="project-lead" class="panel">
    <a href="{{ project.created_by.get_absolute_url }}">
      <img class="member-picture" src="{{ MEDIA_URL }}{{ project.created_by.image_or_default }}" height="54" width="54">
    </a>

    <div class="member-details">
      <h3 class="member-name">
        <a href="{{ project.created_by.get_absolute_url }}">{{ project.created_by.name }}</a>
      </h3>

      <div class="member-actions">
        {% if project.created_by == user.get_profile %}
        <a class="button" href="{% locale_url users_profile_edit %}">{{ _('Edit Profile') }}</a>
        {% else %}
          {% if project.created_by in user.get_profile.following %}
          <form action="{% locale_url relationships_unfollow object_type='user' slug=project.created_by.username %}" method="post">
            {% csrf_token %}
            <button id="unfollow-user" >Unfollow</button>
          </form>
          {% else %}
          <form action="{% locale_url relationships_follow object_type='user' slug=project.created_by.username %}" method="post">
            {% csrf_token %}
            <button id="follow-user">Follow</button>
          </form>
          {% endif %}
          <a class="button" href="{% locale_url drumbeatmail_compose_to username=project.created_by.username %}">{{ _('Private Message')}}</a>
        {% endif %}
      </div>     

    </div> <!-- /.member-details -->
    
    <div class="member-bio">
      {{ project.created_by.bio }}
    </div>
    
  </section> <!-- /#project-lead -->
</div> <!-- /#sidebar -->

<div id="main">
  <div id="create-post">
    <div class="post-container">
      <form action="{% locale_url statuses_create_project project_id=project.id %}" method="post" id="post-project-status-update">
	{% csrf_token %}
	<input type="text" value="{{ _('Post a message to this project') }}" title="{{_('Post a message to this project')}}">
	<textarea name="status" title="{{_('Post a message to this project')}}"></textarea>
	
	<div class="status-and-actions">
	  <div class="post-char-count">750</div>
	  
	  <ul class="post-tags">
	    <li><span>{{ project.name }}</span></li>
	  </ul>

    <button class="button update submit" id="post-project-update">Post Update</button>


	</div> <!-- /.status-and-actions -->
	</form>
      </div> <!-- /.post-container -->
    </div> <!-- /.#create-post -->

    <ul id="posts">
      {% for activity in activities %}
	  {% include "activity/_activity_resource.html" %}
      {% endfor %}
    </ul>

</div> <!-- /#main -->

{% endblock %}
