{% extends "base.html" %}

{% load l10n_tags %}

{% block title %}{% if project %}{{ _('Edit Project') }}{% else %}{{ _('Create Project') }}{% endif %}{% endblock %}
{% block bodyid %}project_edit{% endblock %}

{% block body %}
<section class="modal{% if project %} nav{% endif %}">
  <article>
    <h1>{% if project %}{{ _('Edit Project') }}{% else %}{{ _('Create Project') }}{% endif %}</h1>
    {% if project %}
    <nav id="project-edit-nav" class="tabs">
      <ul>
	<li class="summary"><a href="{% locale_url projects_edit slug=project.slug %}">{{ _('Project Summary') }}</a></li>
	<li class="description"><a href="{% locale_url projects_edit_description slug=project.slug %}">{{ _('Detailed Description') }}</a></li>
	<li class="image"><a href="{% locale_url projects_edit_image slug=project.slug %}">{{ _('Project Image') }}</a></li>
	<li class="links"><a href="{% locale_url projects_edit_links slug=project.slug %}">{{ _('Links &amp; Content') }}</a></li>
      </ul>
    </nav>
    {% endif %}
    
      {% block form %}{% endblock %}
    
  </article>
</section>
{% endblock %}
