{% extends "projects/project_edit.html" %}
{% load l10n_tags %}
{% block bodyclasses %}project edit description{% endblock %}

{% block form %}
<fieldset id="project_edit_description" class="project edit description tabpane">
<form action="{% locale_url projects_edit_description slug=project.slug %}" method="post">
  {% csrf_token %}
  <div id="wmd-editor" class="wmd-panel field{% if form.detailed_description.errors %} error{% endif %}">
    {{ form.detailed_description }}
    {{ form.detailed_description.errors }}
  </div>
  <p class="buttons">
    <a class="button" href="{% locale_url projects_show slug=project.slug %}">{{ _('Cancel') }}</a>
    <button type="submit" value="{{ _('Save') }}">{{ _('Save') }}</button>
  </p>
</form>
</fieldset>
{% endblock %}

