{% extends "projects/project_edit.html" %}
{% load l10n_tags %}
{% block bodyclasses %}project edit media{% endblock %}

{% block form %}
<h2>{{ _('Upload Images &amp; Video') }}</h2>
<p>
  {{ _('You can use this form to upload images and videos that are relevant to your project.') }}
</p>
<form action="{% locale_url projects_edit_media slug=project.slug %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <p>
    {{ form.project_file }}
    {{ form.project_file.errors }}
  </p>
  <p class="buttons">
    <a class="button" href="{% locale_url projects_show slug=project.slug %}">{{ _('Cancel') }}</a>
    <button type="submit" value="{{ _('Upload') }}">{{ _('Upload') }}</button>
  </p>
</form>
{% endblock %}
