{% extends "projects/project_edit.html" %}
{% load l10n_tags %}
{% block bodyclasses %}project edit summary{% endblock %}

{% block form %}
<fieldset id="project_edit_summary" class="project edit summary tabpane">
<form action="{% if project %}{% locale_url projects_edit slug=project.slug %}{% else %}{% locale_url projects_create %}{% endif %}" method="post">
  {% csrf_token %}
  <div class="field{% if form.name.errors %} error{% endif %}">
    <label for="id_name">{{ _('Project name') }}</label>
    <span class="hint block">{{ _('A good project name is short and descriptive. People should know what your project is about without reading the description.') }}</span>
    {{ form.name }}
    {{ form.name.errors }}
  </div>
  <div class="field{% if form.short_description.errors %} error{% endif %}">
    <label for="id_short_description">{{ _('One sentence description') }}</label>
    <span class="hint block">{{ _('This description will be used on the search results and project listing pages.') }}</span>
    {{ form.short_description }}
    {{ form.short_description.errors }}
  </div>
  <div class="field long-description{% if form.long_description.errors %} error{% endif %}">
    <label for="id_long_description">{{ _('Two paragraph description') }}</label>
    <span class="hint block">{{ _('This description is shown on the project page. It can go into a bit more detail about the project, but it should be brief and to the point.') }}</span>
    {{ form.long_description }}
    {{ form.long_description.errors }}
  </div>
  <p class="buttons">    
    {% if project %}
    <a class="button" href="{% locale_url projects_show slug=project.slug %}">{{ _('Cancel') }}</a>
    <button type="submit" value="{{ _('Save') }}">{{ _('Save') }}</button>    
    {% else %}
    <a class="button" href="{% locale_url projects_gallery %}">{{ _('Cancel') }}</a>
    <button type="submit" value="{{ _('Create') }}">{{ _('Create') }}</button>
    {% endif %}
  </p>
</form>
</fieldset>
{% endblock %}
