{% extends "projects/base.html" %}
{% load l10n_tags %}
{% load project_tags %}

{% block title %}{{ project.name }}{% endblock %}

{% block project_links %}
<link rel="alternate" type="application/atom+xml" href="{% locale_url activity_project_feed project=project.slug %}" />
{% endblock %}

{% block project_actions %}
    {% if organizing %}
        <!--<a class="button" href="{% locale_url challenges_create project_id=project.pk %}">{{ _('Create Challenge') }}</a>-->
    {% endif %}

  {% if user.is_authenticated %}
    {% if not organizing and not participating %}
	    {% if following %}
	      <form id="unfollow_button" method="post" action="{% locale_url relationships_unfollow object_type='course' slug=project.slug %}">
	        {% csrf_token %}
	        <button>{{ _('Unfollow') }}</button>
	      </form>
	    {% else %}
	      <form id="follow_button" method="post" action="{% locale_url relationships_follow object_type='course' slug=project.slug %}">
	        {% csrf_token %}
	        <button>{{ _('Follow') }}</button>
	      </form>
	    {% endif %}
	    {% if not project.signup_closed and not pending_signup %}
	      <p id="participate_button"><a href="{% locale_url sign_up_comment slug=project.slug %}">{{ _('Participate')}}</a></p>
	    {% endif %}
	  {% endif %}
	{% else %}
          <p id="participate_button"><a href="{{ login_with_redirect_url }}">{{ _('Participate')}}</a></p>	   
	{% endif %}
{% endblock %}

{% block bodyid %}project_landing{% endblock %}

{% block body %}

{% sidebar %}

<div id="main">
  
  {% if content_pages_for_header %}
  <div id="task_header">
  <h2 {% if project.accepted_school %}class="school_header"{% endif %}><span>{{ _('Tasks') }}</span></h2>
  <ul>
    {% for page in content_pages_for_header %}
    <li class="{% cycle 'odd' 'even' %}">
        <span class="taskNumber">{{forloop.counter}}</span> <a class="taskLink" href="{{ page.get_absolute_url }}">{{ page.title }}</a>
        <span class="action-buttons"><a href="{{ page.get_absolute_url }}">{{ _('View') }}</a></span>
    </li>
        {% endfor %}
      </ul>
      <p id="more_task_link"><span id="task-count">{{ _('Displaying') }} {% if content_pages_count < 3 %}{{ content_pages_count}} {%else %}3{% endif %} {{ _('of') }} {{ content_pages_count }} {{ _('total tasks') }}</span><a href="{% locale_url projects_task_list slug=project.slug %}">{{ _('See All Tasks') }} &raquo;</a></p>
  </div>
  {% endif %}
  
  {% if challenges %}
  <div id="challenge_header" class="challenges">
    <h2>{{ _('Challenges') }}</h2>
    <ul>
      {% for challenge in challenges %}
      <li>
        <a href="{% locale_url challenges_show slug=challenge.slug %}">
          {% if challenge.image %}
          <img src="{{ challenge.image.url }}" alt="{{ challenge }} image" />
          {% else %}
          <img src="/media/images/project-missing.png" alt="{{ challenge }} image"/>
          {% endif %}
        </a>

        <a href="{% locale_url challenges_show slug=challenge.slug %}">{{ challenge.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div> <!-- /.challenges -->
  {% endif %}

  <div id="activity_header">
  <h2 {% if project.accepted_school %}class="school_header"{% endif %}><span>{{ _('Activity Wall') }}</span></h2>
  </div>
  {% if participating %}  
  <div id="create-post">
    <div class="post-container">
      <form action="{% locale_url statuses_create_project project_id=project.id %}" method="post" id="post-project-status-update">
	{% csrf_token %}
	<input id="fake-message-input" type="text" value="{{ _('Post a message') }}">
	<textarea name="status"></textarea>

        {% if organizing %}
            <div id="important-message" class="field{% if form.important.errors %} error{% endif %}">
                {{ form.important }} {{ _('Important message (participants can not turn off notifications for important messages).') }}
                {{ form.important.errors }}
            </div>
        {% endif %}
	
	<div class="status-and-actions">
	  <div class="post-char-count">750</div>
	  
	  <ul class="post-tags">
	    <li><span>{{ project.name|slice:":50" }}</span></li>
	  </ul>

          <a class="button update cancel" href="{{ project.get_absolute_url }}">
	    {{ _('Cancel') }}
	  </a>
          <button class="button update submit" id="post-project-update">{{ _('Post Update') }}</button>
	</div> <!-- /.status-and-actions -->
	</form>
      </div> <!-- /.post-container -->
    </div> <!-- /.#create-post -->
    {% endif %}


    <ul id="posts">
      {% for activity in activities %}
	  {% include "activity/_activity_resource.html" %}
      {% endfor %}
    </ul>

</div> <!-- /#main -->

{% endblock %}

