{% extends "base.html" %}
{% load l10n_tags %}
{% load project_tags %}

{% block title %}{{ project.name }}{% endblock %}

{% block links %}
{% if project.school %}<link rel="stylesheet" href="{% locale_url schools_css slug=project.school.slug %}?v=1">{% endif %}
<link rel="alternate" type="application/atom+xml" href="{% locale_url activity_project_feed project=project.slug %}" />
{% endblock %}

{% block breadcrumbs %}
  <div class="container">
    <h1 id="project-name" {% if school %}class="school_header"{% endif %}>{{ project.name }}</h1>
    <nav>
      <a href="{% locale_url projects_gallery %}">{{ _('Study Groups') }}</a>
      <span class="arrow">&rsaquo;</span>
      <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
      <span class="arrow">&rsaquo;</span>
      <a href="{% locale_url projects_task_list slug=project.slug %}">{{ _('Task List') }}</a>
    </nav>

    <div id="project-actions">
    {% if organizing %}
        <!--<a class="button" href="{% locale_url challenges_create project_id=project.pk %}">{{ _('Create Challenge') }}</a>-->
    {% endif %}

  {% if user.is_authenticated %}
    {% if not organizing and not participating %}
        {% if following %}
          <form id="unfollow_button" method="post" action="{% locale_url relationships_unfollow object_type='course' slug=project.slug %}">
            {% csrf_token %}
            <button>{{ _('Unfollow') }}</button>
          </form>
        {% else %}
          <form id="follow_button" method="post" action="{% locale_url relationships_follow object_type='course' slug=project.slug %}">
            {% csrf_token %}
            <button>{{ _('Follow') }}</button>
          </form>
        {% endif %}
        {% if not project.signup_closed and not pending_signup %}
          <p id="participate_button"><a href="{% locale_url sign_up_comment slug=project.slug %}">{{ _('Participate')}}</a></p>
        {% endif %}
      {% endif %}
    {% else %}
          <p id="participate_button"><a href="{{ login_with_redirect_url }}">{{ _('Participate')}}</a></p>     
    {% endif %}
   </div>
    
  </div> <!-- /.container -->
{% endblock %}

{% block bodyid %}project_landing{% endblock %}

{% block body %}

{% sidebar %}

<div id="main">

  <div id="task_header">
  <h2><span>{{ _('Tasks') }}</span></h2>
    
  {% if content_pages %}

  <ul>
    {% for page in content_pages %}
    <li class="{% cycle 'odd' 'even' %}">
        <span class="taskNumber">{{forloop.counter}}</span> <a class="taskLink" href="{{ page.get_absolute_url }}">{{ page.title }}</a>
        <span class="action-buttons"><a href="{{ page.get_absolute_url }}">{{ _('View') }}</a></span>
    </li>
        {% endfor %}
      </ul>

  {% else %}
   {{ _('No tasks have been added.') }}
    
  {% endif %}
  
  </div>

</div> <!-- /#main -->

{% endblock %}

