{% extends "projects/project_edit.html" %}
{% load l10n_tags %}
{% block bodyclasses %}project edit project-image{% endblock %}

{% block form %}
<h2>{{ _('Upload Project Image') }}</h2>

<p>{{ _('Use this form to upload a project image. The image will appear in search results and in the project listing page.') }}</p>

{% if project.image %}
<p><img src="{{ MEDIA_URL }}{{ project.image }}" width="195" height="120" /></p>
{% endif %}

<form action="{% locale_url projects_edit_image slug=project.slug %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <p>
    {{ form.image }}
    {{ form.image.errors }}
  </p>
  <p class="buttons">
    <a class="button" href="{% locale_url projects_show slug=project.slug %}">{{ _('Cancel') }}</a>
    <button type="submit" value="{{ _('Upload') }}">{{ _('Upload') }}</button>
  </p>
</form>
{% endblock %}
