{% extends "projects/project_edit.html" %}
{% load l10n_tags %}
{% block bodyclasses %}project edit image{% endblock %}

{% block form %}
{# <p>{{ _('Use this form to upload a course image. The image will appear in search results and in the course listing page.') }}</p> #}

<form action="{% locale_url projects_edit_image slug=project.slug %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% if project.image %}
  <h2>Replace Project Image</h2>
  <p class="hint">{{ _('The course image is shown in search results and on the course listing page.') }}</p>
  <p class="hint">{{ _('Upload an image file from your computer to replace your current course image:') }}</p>  
  {% else %}
  <h2>Upload a Course Image</h2>
  <p class="hint">{{ _('The course image is shown in search results and on the course listing page.') }}</p>
  <p class="hint">{{ _('Personalize your course by uploading an image file from your computer:') }}</p>  
  {% endif %}
  <p>
    {{ form.image }}
    <small class="hint block">{{ _('JPG, GIF or PNG only. Max size of 700k.') }}</small>
    {{ form.image.errors }}
  </p>
  <p class="buttons">
    <a class="button" href="{% locale_url projects_show slug=project.slug %}">{{ _('Cancel') }}</a>
    <button type="submit" value="{{ _('Upload') }}">{{ _('Upload') }}</button>
  </p>
</form>
<p class="picture-preview">
  {% if project.image %}
  <img src="{{ MEDIA_URL }}{{ project.image }}" class="project picture"/>
  {% else %}
  <img src="/media/images/project-missing.png" alt="project image" class="project picture"/>
{% endif %}
</p>
{% endblock %}
