{% extends "projects/project_edit.html" %}
{% load l10n_tags %}
{% block bodyclasses %}project edit status{% endblock %}

{% block form %}
<fieldset id="project_edit_status" class="project edit status tabpane">

<h2>{{ _('Status &amp; Dates') }}</h2>
   <form action="{% locale_url projects_edit_status slug=project.slug %}" method="post">
  {% csrf_token %} 
<p class="hint">{{ _('Configure your study group\'s status, such that it appears in the appropriate lists.') }}</p>
   <p>
    <label for="id_under_development">
    {{ form.under_development }}
    {{ _('Under Development.') }}
    </label>
    {{ form.under_development.errors }}
  </p>
  <p>
    <label for="id_signup_closed">
    {{ form.signup_closed }}
    {{ _('Sign-Up Closed.') }}
    </label>
    {{ form.signup_closed.errors }}
  </p>
  <p>
    <label for="id_testing_sandbox">
    {{ form.testing_sandbox }}
    {{ _('Testing Sandbox.') }}
    </label>
    {{ form.testing_sandbox.errors }}
  </p>
  <p class="hint">{{ _('Optionally, provide the period of time in which you expect the study group to be active. These dates are optional and will be displayed on the group\'s home page.') }}</p>
  <p>
      <span class="field start_date {% if form.start_date.errors %} error{% endif %} "> 
        <label for="id_start_date">
        {{ _('Active from') }}
        </label>
        {{ form.start_date }}
      </span>
       
      <span class="field end_date {% if form.end_date.errors %} error{% endif %}"> 
        <label for="id_end_date">
        {{ _('to') }}
        </label>
        {{ form.end_date }}
        {{ form.start_date.errors }}
        {{ form.end_date.errors }}
      </span>
  </p>
  <p class="buttons">
    <a class="button" href="{% locale_url projects_show slug=project.slug %}">{{ _('Cancel') }}</a>
    <button type="submit" value="{{ _('Save') }}">{{ _('Save') }}</button>
  </p>
</form>
</fieldset>
{% endblock %}
