{% extends "projects/project_edit.html" %}
{% load l10n_tags %}
{% block bodyclasses %}project edit media{% endblock %}

{% block form %}
<h2>{{ _('Upload Images &amp; Video') }}</h2>
<p>
  {{ _('You can use this form to upload images and videos that are relevant to your project. You may upload a max of <strong>five</strong> files.') }}
</p>
{% if files %}
<ul>
{% for file_id, file in files.items %}
  <li>
    {% if file.thumbnail %}
      <img src="{{ MEDIA_URL }}{{ file.thumbnail }}" />
    {% endif %}
    <form method="post" action="{% locale_url projects_delete_media slug=project.slug %}">
    {% csrf_token %}
      <input type="hidden" name="file_id" value="{{ file_id }}" />
      {{ file.path }} 
      <button type="submit" value="{{ _('Delete') }}">{{ _('Delete') }}</button>
    </form>
  </li>
{% endfor %}
</ul>
{% endif %}
<form action="{% locale_url projects_edit_media slug=project.slug %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <p>
    {{ form.project_file }}
    {{ form.project_file.errors }}
  </p>
  <p class="buttons">
    <a class="button" href="{% locale_url projects_show slug=project.slug %}">{{ _('Cancel') }}</a>
    <button type="submit" value="{{ _('Upload') }}">{{ _('Upload') }}</button>
  </p>
</form>
{% endblock %}
