{% extends "base.html" %}

{% load l10n_tags %}

{% block title %}{% if project %}{{ _('Edit Project') }}{% else %}{{ _('Create Project') }}{% endif %}{% endblock %}
{% block bodyid %}project_edit{% endblock %}
{% block breadcrumbs %}
  <div class="container">
    <nav>
      <a href="{% locale_url projects_gallery %}">{{ _('Projects') }}</a>
      <span class="arrow">&rsaquo;</span>
      {% if project %}
      <a href="{% locale_url projects_show slug=project.slug %}">{{ project.name }}</a>
      <span class="arrow">&rsaquo;</span>
      <a href="{% locale_url projects_edit slug=project.slug %}">{{ _('Edit') }}</a>
      {% else %}
      <a href="{% locale_url projects_create %}">New</a>
      {% endif %}      
    </nav>
  </div> <!-- /.container -->
{% endblock %}

{% block body %}
<section class="modal{% if project %} nav{% endif %}">
  <article>
    <h1>
      {% if project %}
      {{ _('Edit Project') }}
      <a class="pester back_link" href="{% locale_url projects_show slug=project.slug %}">({{ _('View Project') }})</a>      
      {% else %}
      {{ _('Create Project') }}
      {% endif %}</h1>
    {% if project %}
    <nav id="project-edit-nav" class="tabs">
      <ul>
	<li class="summary"><a href="{% locale_url projects_edit slug=project.slug %}">{{ _('Project Summary') }}</a></li>
	<li class="description"><a href="{% locale_url projects_edit_description slug=project.slug %}">{{ _('Detailed Description') }}</a></li>
	<li class="image"><a href="{% locale_url projects_edit_image slug=project.slug %}">{{ _('Project Image') }}</a></li>
	<li class="links"><a href="{% locale_url projects_edit_links slug=project.slug %}">{{ _('Links &amp; Content') }}</a></li>
      </ul>
    </nav>
    {% endif %}
    
      {% block form %}{% endblock %}
    
  </article>
</section>
{% endblock %}
