{% extends "projects/project_edit.html" %}
{% load l10n_tags %}
{% block bodyclasses %}project edit links{% endblock %}

{% block form %}
<form action="{% locale_url projects_edit_links slug=project.slug %}" method="post">
  {% csrf_token %}
  <p>
    <div class="field{% if form.name.errors %} error{% endif %}">
      <label for="id_name">{{ _('Name') }}</label>
      {{ form.name }}
      {{ form.name.errors }}
    </div>
    <div class="field{% if form.url.errors %} error{% endif %}">
      <label for="id_url">{{ _('Url') }}</label>
      {{ form.url }}
      {{ form.url.errors }}
    </div>
  </p>
  <p class="buttons">
    <a class="button" href="{% locale_url projects_show slug=project.slug %}">{{ _('Cancel') }}</a>
    <button type="submit" value="{{ _('Save') }}">{{ _('Save') }}</button>
  </p>
</form>
{% endblock %}
