{% extends "projects/base.html" %}

{% load l10n_tags %}
{% load project_tags %}


{% block title %}{{ _('People') }}{% endblock %}

{% block bodyid %}project_user_list{% endblock %}
{% block project_breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url projects_user_list slug=project.slug %}">{{ _('People') }}</a>
{% endblock %}

{% block body %}
{% sidebar %}

<div id="main" class="card-list">
<br><br>
{% if organizers %}
<section id="organizers">
  <h1><span>{{ _('Organizers') }}</span></h1>
  <ul class="user-list">
    {% for participation in organizers %}
      {% with person=participation.user %}
        <li>{% include "users/_user_card.html" %}</li>
      {% endwith %}
    {% endfor %}
  </ul>
</section>
{% endif %}
{% if participants %}
  <section id="participants">
  <h1><span>{{ _('Participants') }}</span></h1>
  <ul class="user-list">
    {% for participation in participants %}
      {% with person=participation.user %}
        <li>{% include "users/_user_card.html" %}</li>
      {% endwith %}
    {% endfor %}
  </ul>

<div class="pagination">
  {% if participants_page.has_previous %}
    <a class="btn" href="{% locale_url projects_user_list slug=project.slug participants_page=participants_prev_page followers_page=followers_page_num %}">← {{ _('previous') }}</a>
  {% else %}
    <span class="btn">← {{ _('previous') }}</span>
  {% endif %}
  {% if participants_page.has_next %}
    <a class="btn" href="{% locale_url projects_user_list slug=project.slug participants_page=participants_next_page followers_page=followers_page_num %}">{{ _('next') }} →</a>
  {% else %}
    <span class="btn">{{_('next')}} →</span>
  {% endif %}
</div>

</section>
{% endif %}

{% if followers %}
<section id="followers">
  <h1><span>{{ _('Followers') }}</span></h1>
  <ul class="user-list">
    {% for relationship in followers %}
      {% with person=relationship.source %}
        <li>{% include "users/_user_card.html" %}</li>
      {% endwith %}
    {% endfor %}
  </ul>

<div class="pagination">
  {% if followers_page.has_previous %}
    <a class="btn" href="{% locale_url projects_user_list slug=project.slug participants_page=participants_page_num followers_page=followers_prev_page %}">← {{ _('previous') }}</a>
  {% else %}
    <span class="btn">← {{ _('previous') }}</span>
  {% endif %}
  {% if followers_page.has_next %}
    <a class="btn" href="{% locale_url projects_user_list slug=project.slug participants_page=participants_page_num followers_page=followers_next_page %}">{{ _('next') }} →</a>
  {% else %}
    <span class="btn">{{_('next')}} →</span>
  {% endif %}
</div>

</section>
{% endif %}
</div>
{% endblock %}
