{% extends "base.html" %}
{% load l10n_tags %}

{% block title %}{{ project.name }}{% endblock %}
{% block bodyid %}project_description{% endblock %}

{% block breadcrumbs %}
  <div class="container">
    <nav>
      <a href="{% locale_url projects_gallery %}">{{ _('Projects') }}</a>
      <span class="arrow">&rsaquo;</span>
      <a href="{% locale_url projects_show slug=project.slug %}">{{ project.name }}</a>
    </nav>

    {% if user.get_profile == project.created_by %}
      <div id="project-actions">
        <a class="button" href="{% locale_url projects_edit slug=project.slug %}">{{ _('Edit Project') }}</a>
        <a class="button" href="{% locale_url projects_contact_followers slug=project.slug %}">{{ _('Message Followers') }}</a>
      </div>
    {% endif %}

  </div> <!-- /.container -->
{% endblock %}
{% block body %}
{{ project.detailed_description_html|safe }}
{% include "_footer.html" %}
{% endblock %}
