{% load l10n_tags %}

<div id="sidebar">
  <section id="project"class="panel">
    <h1 id="project-name">{{ project.name }}</h1>
    <br>
    <figure class="project_img">
      <a href="{{ project.get_absolute_url }}">
        {% if project.image %}
  	<img src="{{ MEDIA_URL }}{{ project.image }}" width="197" height="120" alt="project image"/>
        {% else %}
        <img src="/media/images/project-missing.png" width="197" height="120" alt="project image"/>
        {% endif %}
      </a>
    </figure>
    <br>
    <div id="project-description">
        {{ project.short_description|safe }}
    </div> 
    <br>
    <div id="project-summary">
      {{ project.long_description|safe }}
    </div>
    {% if user.get_profile == project.created_by %}
      <br>
      <a class="button" href="{% locale_url projects_edit slug=project.slug %}">{{ _('Edit') }}</a>
      <br>
    {% endif %}
    <ul id="project-stats">
      {% if project.school %}
        <li><a href="{{ project.school.get_absolute_url }}">{{ project.school.name }}</a></li>
      {% endif %}
      {% if project.under_development%}
      <li class="beta-development">{{ _('Under Development') }}</li>
      {% endif %}
      {% if project.testing_sandbox %}
      <li class="beta-development">{{ _('Testing Sandbox') }}</li>
      {% endif %}
      {% if project.start_date or project.end_date %}
        <li>{{ _('Runs') }} {% if project.start_date %} {{ project.start_date }} {% endif %} 
        {% if project.end_date %} {{ _('to') }}  
        {{ project.end_date }}{% endif %} </li>
      {% endif %}
      <li>
        <div class="label">{{ _('Signup') }}</div>
	<div class="value"><a href="{{ project.sign_up.get_absolute_url }}">{% if project.signup_closed %}{{ _('Closed') }}{% else %}{{ _('Open') }}{% endif %}</a></div>
      </li>
      <li>
	<div class="label">{{ _('Updates') }}</div>
	<div class="value">{{ update_count }}</div>
      </li>
      <li>
	<div class="label">{{ _('Participants') }}</div>
	<div class="value">{{ participants_count }}</div>
      </li>
      <li>
	<div class="label">{{ _('Followers') }}</div>
	<div class="value">{{ followers_count }}</div>
      </li>
    </ul> <!-- /#project-stats -->
    {% if user.is_authenticated and user.get_profile != project.created_by %}
    <p class="supplemental_actions">
      <a class="report abuse action" href="{% locale_url drumbeat_abuse  model="project" app_label="projects" pk=project.id %}">{{_('Report Abuse')}}</a>
    </p>
    {% endif %}
    <a id="project-description-link"
       href="{{ project.detailed_description.get_absolute_url }}">
      {{ _('View Full Description') }}
    </a>

  </section>

<section id="people" class="panel">
  <h2>{{ _('People') }}</h2>
  <br>
   <a href="{{ project.created_by.get_absolute_url }}" title="{{ project.created_by.display_name }} (organizer)"><img class="member-picture" src="{{ project.created_by.image_or_default }}" height="26" width="26" alt="{{ project.created_by.display_name }} (organizer)"></a>
  {% for participant in project.participants %}
   <a href="{{ participant.user.get_absolute_url }}" title="{{ participant.user.display_name }} (participant)"><img class="member-picture" src="{{ participant.user.image_or_default }}" height="26" width="26" alt="{{ participant.user.display_name }} (participant)"></a>
  {% endfor %}
  {% for non_participant_follower in project.non_participant_followers %}
   <a href="{{ non_participant_follower.get_absolute_url }}" title="{{ non_participant_follower.display_name }} (follower)">
   <img class="member-picture" src="{{ non_participant_follower.image_or_default }}" height="26" width="26" alt="{{ non_participant_follower.display_name }} (follower)"></a>
  {% endfor %}
  <br><br>
  {% if user.is_authenticated and user.get_profile != project.created_by and not participating %}
    {% if following %}
      <form method="post" action="{% locale_url relationships_unfollow object_type='course' slug=project.slug %}">
        {% csrf_token %}
        <button>{{ _('Unfollow') }}</button>
      </form>
      <br>
    {% else %}
      <form method="post" action="{% locale_url relationships_follow object_type='course' slug=project.slug %}">
        {% csrf_token %}
        <button>{{ _('Follow') }}</button>
      </form>
      <br>
    {% endif %}
    {% if not project.signup_closed %}
      <a class="button" href="{% locale_url sign_up_comment slug=project.slug %}">{{ _('Participate')}}</a>
      <br><br>
    {% endif %}
  {% endif %}
  {% if user.get_profile == project.created_by %}
    <a class="button" href="{% locale_url projects_edit_participants slug=project.slug %}">{{ _('Edit Participants') }}</a>
    <br><br>
    <a class="button" href="{% locale_url projects_contact_participants slug=project.slug %}">{{ _('Contact Participants') }}</a>
  {% else %}{% if user.is_authenticated %}
    <a class="button" href="{% locale_url drumbeatmail_compose_to username=project.created_by.username %}">{{ _('Contact Organizer')}}</a>
  {% endif %}{% endif %}
</section>



<section id="course-content" class="panel">




  <a name="tasks"></a>
  <h2>{{ _('Tasks') }}</h2>
  {% if content_pages %}
    <nav id="content-pages">
      <ul>
        {% for page in content_pages %}
	<li>	
	    <a class="taskLink" href="{{ page.get_absolute_url }}">{{ page.title }}</a>
	    
            {% if user.get_profile == project.created_by or participating %}
	            {% if not forloop.first %}<a class="robttn up" href="{% locale_url index_up slug=project.slug counter=forloop.counter0 %}">(UP)</a>{% endif %}
	            {% if not forloop.last %}<a class="robttn dwn" href="{% locale_url index_down slug=project.slug counter=forloop.counter0 %}">(DOWN)</a>{% endif %}
            {% endif %}

	</li>
        {% endfor %}
      </ul>
    </nav>
  {% else %}
    {{ _('No tasks have been added.') }}
        <br>
  {% endif %}
  {% if user.get_profile == project.created_by or participating %}
    <br>
    <a class="button" href="{% locale_url page_create slug=project.slug %}">{{ _('New Task') }}</a>
  {% endif %}
</section>


<section id="external-links" class="panel">
<h2>{{ _('External Links') }}</h2>
  <br>
  {% if links %}
    <nav id="project-links">
      <ul>
        {% for link in links %}
          <li><a href="{{ link.url }}">{{ link.name }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  {% else %}
    {{ _('No external links have been added.') }}
    <br>
  {% endif %}
  {% if user.get_profile == project.created_by %}
    <br>
    <a class="button" href="{% locale_url projects_edit_links slug=project.slug %}">{{ _('Edit Links') }}</a>
  {% endif %}
</section>

</div> <!-- /#sidebar -->

