{% load l10n_tags %}

<div id="sidebar">
  <section id="project"class="panel">
    <h1 id="project-name">{{ project.name }}</h1>
    <br>
    <figure class="project_img">
      <a href="{{ project.get_absolute_url }}">
        {% if project.image %}
  	<img src="{{ MEDIA_URL }}{{ project.image }}" width="197" height="120" alt="project image"/>
        {% else %}
        <img src="/media/images/project-missing.png" width="197" height="120" alt="project image"/>
        {% endif %}
      </a>
    </figure>
    <br>
    <div id="project-summary">
      {{ project.long_description|safe }}
    </div>
    {% if user.get_profile == project.created_by %}
      <br>
      <a class="button" href="{% locale_url projects_edit slug=project.slug %}">{{ _('Edit') }}</a>
      <br>
    {% endif %}
    <ul id="project-stats">
      {% if project.school %}
        <li><a href="{{ project.school.get_absolute_url }}">{{ project.school.name }}</a></li>
      {% endif %}
      {% if project.under_development%}
      <li>{{ _('Under Development') }}</li>
      {% endif %}
      {% if project.testing_sandbox %}
      <li>{{ _('Testing Sandbox') }}</li>
      {% endif %}
      <li>
        {{ _('Signup') }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="{{ project.sign_up.get_absolute_url }}">
          {% if project.signup_closed %}{{ _('Closed') }}{% else %}{{ _('Open') }}{% endif %}
        </a>
      </li>
      <li>{{ _('Updates') }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{ update_count }}</li>
      <li>{{ _('Participants') }} &nbsp; &nbsp; &nbsp; &nbsp; {{ participants_count }}</li>
      <li>{{ _('Followers') }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{ followers_count }}</li>
    </ul> <!-- /#project-stats -->
    {% if user.is_authenticated and user.get_profile != project.created_by %}
    <p class="supplemental_actions">
      <a class="report abuse action" href="{% locale_url drumbeat_abuse  content_type="project" pk=project.id %}">{{_('Report Abuse')}}</a>
    </p>
    {% endif %}
    <a id="project-description-link"
       href="{{ project.detailed_description.get_absolute_url }}">
      {{ _('View Full Description') }}
    </a>

  </section>

<section id="people" class="panel">
  <h2>{{ _('People') }}</h2>
  <br>
   <a href="{{ project.created_by.get_absolute_url }}" title="{{ project.created_by.name }} (organizer)"><img class="member-picture" src="{{ MEDIA_URL }}{{ project.created_by.image_or_default }}" height="26" width="26" alt="{{ project.created_by.name }} (organizer)"></a>
  {% for participant in project.participants %}
   <a href="{{ participant.user.get_absolute_url }}" title="{{ participant.user.name }} (participant)"><img class="member-picture" src="{{ MEDIA_URL }}{{ participant.user.image_or_default }}" height="26" width="26" alt="{{ participant.user.name }} (participant)"></a>
  {% endfor %}
  {% for non_participant_follower in project.non_participant_followers %}
   <a href="{{ non_participant_follower.get_absolute_url }}" title="{{ non_participant_follower.name }} (follower)">
   <img class="member-picture" src="{{ MEDIA_URL }}{{ non_participant_follower.image_or_default }}" height="26" width="26" alt="{{ non_participant_follower.name }} (follower)"></a>
  {% endfor %}
  <br><br>
  {% if user.is_authenticated and user.get_profile != project.created_by and not participating %}
    {% if following %}
      <form method="post" action="{% locale_url relationships_unfollow object_type='course' slug=project.slug %}">
        {% csrf_token %}
        <button>{{ _('Unfollow') }}</button>
      </form>
      <br>
    {% else %}
      <form method="post" action="{% locale_url relationships_follow object_type='course' slug=project.slug %}">
        {% csrf_token %}
        <button>{{ _('Follow') }}</button>
      </form>
      <br>
    {% endif %}
    {% if not project.signup_closed %}
      <a class="button" href="{% locale_url sign_up_comment slug=project.slug %}">{{ _('Participate')}}</a>
      <br><br>
    {% endif %}
  {% endif %}
  {% if user.get_profile == project.created_by %}
    <a class="button" href="{% locale_url projects_edit_participants slug=project.slug %}">{{ _('Edit Participants') }}</a>
    <br><br>
    <a class="button" href="{% locale_url projects_contact_participants slug=project.slug %}">{{ _('Contact Participants') }}</a>
  {% else %}{% if user.is_authenticated %}
    <a class="button" href="{% locale_url drumbeatmail_compose_to username=project.created_by.username %}">{{ _('Contact Organizer')}}</a>
  {% endif %}{% endif %}
</section>

<section id="course-content" class="panel">
  <a name="tasks"></a>
  <h2>Tasks</h2>
  <br>
  {% if content_pages %}
    <nav id="content-pages">
      <table>
        {% for page in content_pages %}
          <tr>
            <td><a href="{{ page.get_absolute_url }}">{{ page.title }}</a> &nbsp;</td>
            {% if user.get_profile == project.created_by or participating %}
            <td>{% if not forloop.first %}<a href="{% locale_url index_up slug=project.slug counter=forloop.counter0 %}">(up)</a>{% endif %}&nbsp;</td>
            <td>{% if not forloop.last %}<a href="{% locale_url index_down slug=project.slug counter=forloop.counter0 %}">(down)</a>{% endif %}</td>
            {% endif %}
            <td></td>
          </tr>
        {% endfor %}
      </table>
    </nav>
  {% else %}
    {{ _('No tasks have been added.') }}
        <br>
  {% endif %}
  {% if user.get_profile == project.created_by or participating %}
    <br>
    <a class="button" href="{% locale_url page_create slug=project.slug %}">{{ _('New Task') }}</a>
  {% endif %}
</section>


<section id="external-links" class="panel">
  <h2>External Links</h2>
  <br>
  {% if links %}
    <nav id="project-links">
      <ul>
        {% for link in links %}
          <li><a href="{{ link.url }}">{{ link.name }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  {% else %}
    {{ _('No external links have been added.') }}
    <br>
  {% endif %}
  {% if user.get_profile == project.created_by %}
    <br>
    <a class="button" href="{% locale_url projects_edit_links slug=project.slug %}">{{ _('Edit Links') }}</a>
  {% endif %}
</section>

</div> <!-- /#sidebar -->

