<p>Anyone can follow a study group on P2PU. Participating is the next level of engagement. The sign-up is a space where interested individuals can express their interest and background in the topic and commit to working with the rest of the study group. Please provide details about:</p>

<ul>
<li>What made you interested in this topic?</li>
<li>What do you hope to achieve by participating?</li>
</ul>
<br>
<p>All the participants will be able to see your answers after you get accepted into the study group.</p>
<br>
