/* @override http://127.0.0.1:8000/media/css/batucada.css?v=1 */

html {
  height: 100%;
}
body {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #474747;
  background: #f3f4f6 url("/media/images/background.jpg") repeat-x right 50px;
  min-height: 101%;
}

.container {
  width: 960px;
  height: 100%;
  margin: auto;
    zoom: 1;    
}
.container:before, .container:after{
	content: "\0020"; display: block; height: 0; visibility: hidden;
}
.container:after{
	clear: both;
}
h1, h2, h3, h4, h5, h6{
  text-shadow:  1px 2px #fff;
}
h1 {
  font-size: 24px;
}
p {
	line-height: 1.4;
	margin-bottom: 1.4em;
}

img.member-picture,
img.project.picture {
  border: 1px solid #999;
  box-shadow: #fff 1px 1px 1px;
  -moz-box-shadow: #fff 1px 1px 1px;
  -webkit-box-shadow: #fff 1px 1px 1px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  behavior: url("/media/css/PIE.htc");
}

div.button {
  display: inline-block;
  border: 1px solid #c0c0c0;
}

div.button a {
  background: #f6f6f6;
  color: #777;
  display: block;
  font-size: 12px;
  line-height: 20px;
  padding: 0 7px;
  border: 1px solid #fff;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  text-shadow: #fff 1px 1px 1px;
  -moz-text-shadow: #fff 1px 1px 1px;
  -webkit-text-shadow: #fff 1px 1px 1px;
  background: -webkit-gradient(linear,0 top,0 bottom,from(#f6f6f6),to(#e9e9e9));
  background: -moz-linear-gradient(top,#f6f6f6,#e9e9e9);
  text-decoration: none;
}
div.button a, div.button {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
div.button a:hover {
  color: #555;
}
div.button a:active {
  color: #999;
  background: -webkit-gradient(linear,0 top,0 bottom,from(#e9e9e9),to(#f6f6f6));
  background: -moz-linear-gradient(top,#e9e9e9,#f6f6f6);
}

header {}
  #masthead {
    padding: 17px 20px 18px 20px;
    height: 24px;
    border-bottom: 1px solid #fff;
    background: url("/media/images/masthead.bg.png") repeat-x;
  }
    #masthead a:hover {
      text-decoration: none;
    }
     
    #logo {
      background-image: url("/media/images/logo.png");
      height: 24px;
      width: 213px;
      float: left;
      margin-right: 20px;
    }
    #logo:hover {
      background-position: 0 -24px;
    }
    
    #main-nav {
      font-size: 14px;
      font-weight: bold;
    }
      #main-nav ul {
        height: 24px;
      }
        #main-nav li {
          float: left;
          margin-left: 20px;
        }
        #main-nav li:first-child {
          margin-left: 0px;
        }
        #main-nav a {
          color: white;
          display: block;
          height: 14px;
          padding: 4px 10px 8px 10px;
          background: rgba(0, 0, 0, 0.15);
          border: 1px solid rgba(0, 0, 0, 0.25);
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
          border-right: 1px solid rgba(255, 255, 255, 0.15);
          border-radius: 6px;
          -moz-border-radius: 6px;
          -o-border-radius: 6px;
          -webkit-border-radius: 6px;
          text-shadow: 1px 2px 2px rgba(0,0,0,0.2);
        }
        #main-nav a:hover {
          color: #dbfdff;
        }

        .no-rgba #main-nav a {
          background: #2d2d2d;
          border: 1px solid #1e1e1e;
          border-bottom: 1px solid #444;
          border-right: 1px solid #4444;
        }
    #user-nav {
      position: relative;
      top: -30px;
      height: 37px;
      float: right;
    }
      #user-nav a {
        color: #fff;
        font-size: 12px;
        display: block;
        text-shadow: rgba(0, 0, 0, 0.3) -1px -1px 1px;
        padding: 10px 12px;
      }

      #user-nav .from {
        font-weight: bold;
      }
      
      #user-nav a.top-level {
        height: 37px;
        line-height: 37px;
        padding: 0 12px;
        font-weight: bold;
      }

      #user-nav a:hover {
        background: rgba(255, 255, 255, 0.3);
      }
      .no-rgba a:hover {
        background: url("/media/images/user-nav.bg.png");
      }

      #user-link {}

        #user-picture {
          position: relative;
          top: 6px;
          box-shadow: #000 -1px -1px 1px;
          -moz-box-shadow: #000 -1px -1px 1px;
          -webkit-box-shadow: #000 -1px -1px 1px;
          behavior: url("/media/css/PIE.htc");
        }

        #user-name {
          padding-left: 5px;
        }

      #user-nav ul {
        list-style: none;
      }
        #user-nav > ul > li {
          float: left;
        }
      
      #user-nav .separator {
        width: 2px;
        margin: 0 5px 0 3px;
        background: url("/media/images/separator.bg.png") no-repeat left center;
        height: 37px;
      }
      
      .menu ul {
        position: absolute;
        z-index: 0;
        display: none;
        margin: 0;
        padding: 0;
        background: -webkit-gradient(linear,0 top,0 bottom,from(#48a4e3),to(#1f84ca));
        background: -moz-linear-gradient(top,#48a4e3,#1f84ca);
        -pie-background: linear-gradient(top,#48a4e3,#1f84ca);
      }
      .no-cssgradients .menu ul {
        background: #48a4e3;
        border: 1px solid #666;
        border-top: 0 none;
        border-left: 0 none;
      }

      .menu.open {
        background: #48a4e3;
      }
        .menu.open a {
          border-bottom: 1px solid #20699d;
        }
        .menu.open ul {
          z-index: 2;
          display: block;
          box-shadow: #777 2px 4px 6px;
          -webkit-box-shadow: #777 2px 4px 6px;
          -moz-box-shadow: #777 2px 4px 6px;
          -webkit-border-bottom-right-radius: 7px;
          -webkit-border-bottom-left-radius: 7px;
          -moz-border-radius-bottomright: 7px;
          -moz-border-radius-bottomleft: 7px;
          border-bottom-right-radius: 7px;
          border-bottom-left-radius: 7px;          
          behavior: url("/media/css/PIE.htc");
        }
          .menu.open a {
            border-top: 1px solid #76bae9;
            display: block;
          }
          #user.open ul a {
            border: 0 none;
          }
          #user-actions {
            border-top: 1px solid #76bae9;
            min-width: 146px;
          }
      
      #inbox {}
        #inbox-count {
          padding: 0 3px;
          margin-left: 5px;
          border: 1px solid #f60403;
          background: -webkit-gradient(linear,left bottom,left top,color-stop(0.45, rgb(208,4,4)),color-stop(0.55, rgb(254,31,35)));
          background: -moz-linear-gradient(center bottom, rgb(208,4,4) 45%, rgb(254,31,35) 55%);
          -pie-background: linear-gradient(center bottom, rgb(208,4,4) 45%, rgb(254,31,35) 55%);
          border-radius: 6px;
          -moz-border-radius: 6px;
          -o-border-radius: 6px;
          -webkit-border-radius: 6px;
          text-shadow: rgba(0, 0, 0, 0.40) -1px -1px 1px;
          -moz-text-shadow: rgba(0, 0, 0, 0.40) -1px -1px 1px;
          -webkit-text-shadow: rgba(0, 0, 0, 0.40) -1px -1px 1px;
          box-shadow: #444 1px 1px 2px;
          -webkit-box-shadow: #444 1px 1px 2px;
          -moz-box-shadow: #444 1px 1px 2px;
        }
        .no-boxshadow.no-borderradius #inbox-count {
          color: #fff;
          background: #d00;
        }
        #inbox-messages {
          padding-bottom: 7px;
          max-width: 300px;
        }
          #view-all a {
            border-top: 0 none;
            background: #1f6b9f;
            border-bottom: 1px solid #4397d3;
            text-align: center;
          }
      
      #login, #logout {
        text-transform: uppercase;
      }
    
  #breadcrumbs {
    height: 31px;
    border-bottom: 1px solid #ccc;
	box-shadow:  0 1px 0 rgba(255,255,255,0.8);
    -moz-box-shadow:  0 1px 0 rgba(255,255,255,0.8);
    -webkit-box-shadow:  0 1px 0 rgba(255,255,255,0.8);
    background: rgba(255,255,255,0.4);
    font-size: 11px;
    line-height: 31px;
  }
    #breadcrumbs nav{
    }
      #breadcrumbs nav .arrow {
        color: #7f7f7f;
        display: inline;
        background: url("/media/images/arrow.png") no-repeat left center;
        margin: 0 5px;
      }
    #project-actions {
      float: right;
      position: relative;
      top: -28px;
    }
    
    #project-actions .button {
      float: left;
      margin-left: 15px;
    }
#content {
	padding-top: 25px;
}  
  #sidebar {
    float: left;
    width: 300px;
  }
  	#sidebar h2{
		font-size: 18px;
		line-height: 1;
		font-weight: bold;
	}
	#sidebar h3{
		font-size: 14px;
		line-height: 1.5;
		margin-bottom: 0.5em;
		font-weight: normal;
	}
	#sidebar .panel{
		padding-bottom: 18px;
		margin-top:18px ;
		border-bottom: 1px solid #ccc;
	    box-shadow:  0 1px 0 rgba(255,255,255,0.8);
	    -moz-box-shadow:  0 1px 0 rgba(255,255,255,0.8);
	    -webkit-box-shadow:  0 1px 0 rgba(255,255,255,0.8);	    
	}
	#sidebar .panel:first-child{
		margin-top: 10px;
	}
    #project {
      border-bottom: 1px solid #f7f9fa;
      margin-bottom: 50px;
    }
      #project-follow {
        margin: 10px 0;        
        text-align: center;
      }
      
      #project-stats {
        font-size: 14px;
        line-height: 22px;
        padding: 15px 0;
      }
        #project-stats dt {
          float: left;
          width: 120px;
        }
      
      #project-summary { }
        #project-summary p {
          font-size: 12px;
          line-height: 18px;
          margin-bottom: 12px;
        }
      #project-icons img {
        margin-right: 5px;
        border: 1px solid #d0d0d0;
      }
      #project-description-link {
        margin-top: 18px;
        display: block;
        line-height: 28px;
        text-align: center;
        background: #dfeffb;
        text-shadow: #fff 1px 1px 0px;
        -moz-text-shadow: #fff 1px 1px 0px;
        -webkit-text-shadow: #fff 1px 1px 0px;
        color: #2084ca;
        font-weight: bold;
      }
      #project-description-link:hover {
        color: #19679e;
        text-decoration: none;
      }
      #project-description-link:active {
        background: #ddd;
        text-shadow: #fff -1px -1px 0px;
        -moz-text-shadow: #fff -1px -1px 0px;
        -webkit-text-shadow: #fff -1px -1px 0px;
      }
      
      #project-links {
        margin: 20px 0;
        border-top: 1px solid #cfd1d2;
        border-bottom: 1px solid #f7f9fa;
      }
        #project-links ul,
        #member_links ul {
          list-style:none;
          font-size: 14px;
		  line-height: 1.5;
		  margin-left: 0;
        }
          #project-links li a,
          #member_links li a{
			background: url("/media/images/link-indicator.png") 0 0 no-repeat;
			padding-left: 20px;
          }
      
      #project-lead {
        border-bottom: 1px solid #cfd1d2;
        padding-bottom: 15px;
      }
        #user_profile .vcard .member-picture,
        #project-lead .member-picture,
        #dashboard #sidebar .vcard .member-picture {
          float: left;
          
        }
        #user_profile .member-details,
        #project-lead .member-details,
        #dashboard #sidebar .vcard .member-details {
          padding-left: 67px;
          min-height: 60px;
        }
        #dashboard #sidebar .vcard .member-details {
			padding-left: 53px;
			min-height: 40px;
		}
        #dashboard #sidebar .vcard .member-details p{
			margin-bottom: 0;
		}
		#member_relationships .count {
			font-weight: bold;
			color: #2084ca;
		}
		#member_relationships h3{
			clear: both;
		}
		#member_relationships ul{
			margin-bottom: 18px;
			margin-left: 0;
			list-style: none;			
		}
		#member_relationships ul li {
			display: inline-block;
		}
		#member_relationships .projects.following li{
			display: block;
			font-size: 18px;
			margin-bottom: 3px;
		}
		#member_relationships .projects.following li img{
			vertical-align: middle;
		}
		#member_projects .project.summary > h1 {
			margin-top: -28px;
			margin-bottom: 18px;
			font-size: 16px;
			line-height: 18px;
			font-family: Georgia, 'Times New Roman', Times, serif;
			font-style: italic;
			text-align: center;
		}
		#member_projects .project.summary > h1 a{
			background: #F3F4F6;
			padding: 0px 6px;
		}
		.member-location{
			margin: 1.3em 0;
		} 
		.member-location dt,
        .member-location dd,
		#member_projects .project.summary dt,
		#member_projects .project.summary dd {
			display: inline;
			font-size: 14px;
			line-height:1.5;
		}
		.member-location dd,
		#member_projects .project.summary dd{
			font-weight: bold;
		}
		#member_projects .project.summary dd .update{
			font-size: 12px;
			font-weight: normal;
		}
		#member_projects .project.summary .project.update {
			margin-top: 18px;
			font-size: 12px;
			line-height: 1.5em;
		}
        #member_projects .project.summary .project.update  h1 {
			font-size: 14px;
			line-height: 1.5;
			margin-bottom: 0.8em;
			font-weight: normal;
		}
        #project-lead .member-name a {
          font-size: 16px;
          text-shadow: #fff 1px 1px 0px;
          -moz-text-shadow: #fff 1px 1px 0px;
          -webkit-text-shadow: #fff 1px 1px 0px;
        }
        
        #project-lead .member-actions {
          margin-top: 5px;
          height: 24px;
        }
          /*#project-lead .member-actions .button {
            float: left;
            margin-right: 6px;
          }*/
        #project-lead .member-bio {
          margin-top: 12px;
        }
          #project-lead .member-bio p {
            font-size: 12px;
            line-height: 18px;
            text-shadow: #fff 1px 1px 0px;
            -moz-text-shadow: #fff 1px 1px 0px;
            -webkit-text-shadow: #fff 1px 1px 0px;
          }

  #project_gallery{}
	#project_gallery h1{
		font-weight: normal;
		margin-bottom: 32px;
	}
	#project_gallery section{
		border-top:  1px solid #bebebe;	
	}
	#project_gallery section h1{
		text-align: center;
		margin-top: -0.5em;
		
		font-family: Georgia, "Times New Roman", Times, serif;
		font-style: italic;		
	}
	#project_gallery section h1 span{
		background: #F3F4F6;
		padding:  0 6px;
	}
  	#project_gallery .project-list{
		list-style: none;
		margin: 0; padding: 0;
	}
  	#project_gallery .project-list li{
		display: inline-block;
		width: 215px;
		vertical-align: top;
		margin: 0 18px 18px 0;
		padding: 3px;
		border: 1px solid #636363;
		border-radius:6px;
		-moz-border-radius:6px;
		-o-border-radius:6px;
		-webkit-border-radius:6px;
		background: -moz-linear-gradient(top,#777,#848484);
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#777), to(#848484));
	    -pie-background: linear-gradient(top,#fff,#f4f4f4);
	    box-shadow: inset 1px 1px 0 rgba(255,255,255,0.2);
	    -moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.2);
	    -webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.2);	    
	    behavior: url("/media/css/PIE.htc");
	}
	#project_gallery .project-list li:nth-child(4n){
		margin-right: 0;
	}
	#project_gallery .project-list li .project.card{
		padding: 8px;
		border: 1px solid #525252;
		border-radius: 3px;
		-moz-border-radius:3px;
		-o-border-radius:3px;
		-webkit-border-radius:3px;
		background: #fff;
	}
	#project_gallery .project-list li .project.card img{
		margin-bottom: 0.5em;		
		box-shadow: white 1px 1px 1px;
		-moz-box-shadow: white 1px 1px 1px;
		-webkit-box-shadow: white 1px 1px 1px;
		border: 1px solid #999;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;
		-webkit-border-radius: 5px;
		behavior: url("/media/css/PIE.htc");
	}
	#project_gallery .project-list li .project.card h3{
		margin: 0 0 0.5em;
		font-size: 14px;
		line-height: 18px;
	}
	/* TODO: set a charachter maximum for project.description that works
	 * with this layout at /project/list/ */
	#project_gallery .project-list li .project.card .description{
		font-size: 12px;
		line-height: 1.5;
		height: 7.5em;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	#project_gallery .project-list li .project.card .meta{
		background: #f4f4f4;
		padding: 8px;
		margin: 1em -8px -8px;
		border-top: 1px solid #cfcfcf;
		border-radius: 0 0 3px 3px;
		-moz-border-radius: 0 0 3px 3px;
		-o-border-radius: 0 0 3px 3px;
		-webkit-border-radius: 0 0 3px 3px;		
		box-shadow: inset 1px 1px 0 rgba(255,255,255,0.2);
	    -moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.2);
	    -webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,1);
	}
	#project_gallery .project-list li .project.card dl{
		display: inline-block;
		width: 32%;
	}
	#project_gallery .project-list li .project.card dd,
	#project_gallery .project-list li .project.card dt{
		font-size: 11px;
		line-height: 14px;
		text-shadow: 1px 1px #fff;
		-moz-text-shadow: 1px 1px #fff;
		-webkit-text-shadow: 1px 1px #fff;
	}
	#project_gallery .project-list li .project.card dd{
		font-weight:bold;
	}
	#project_gallery .project-list li .project.card dt{
		color: #919191;
	}

  
  #main {
    margin-left: 40px;
    width: 620px;
    float: left;
  }
    #main .post-container {
      background: -webkit-gradient(linear,0 top,0 bottom,from(#fff),to(#f4f4f4));
      background: -moz-linear-gradient(top,#fff,#f4f4f4);
      -pie-background: linear-gradient(top,#fff,#f4f4f4);
      border-radius: 6px;
      -moz-border-radius: 6px;
      -o-border-radius: 6px;
      -webkit-border-radius: 6px;
      min-height: 56px;
      margin: 0 0 20px;
      border: 1px solid #c6c6c6;
      border-bottom: 2px solid #c6c6c6;
      padding: 8px;
      behavior: url("/media/css/PIE.htc");
      float: left;
      width: 602px;
    }


    .tags li,
    #main .post-tags li, #main .post-char-count {
		display: inline-block;
		float: none;
		margin: 0;
    }
    #main .post-char-count {
		float: left;
		margin-right: 10px;
	}
    .tags li a,
    #main .post-tags li a,
    #main .post-tags li span,
    #main .post-char-count {
		display: block;
		background: #eee;
		color: #919191;
		font-size: 11px;
		font-weight: normal;	
		line-height: 20px;
		height: 20px;      
		padding: 1px 6px;
		margin-bottom: 5px;		
		border-radius: 6px;
		-moz-border-radius: 6px;
		-o-border-radius: 6px;
		-webkit-border-radius: 6px;
		text-shadow: #fff 1px 1px 0px;
		-moz-text-shadow: #fff 1px 1px 0px;
		-webkit-text-shadow: #fff 1px 1px 0px;
		box-shadow: #fff 1px 1px 2px;
		-webkit-box-shadow: #fff 1px 1px 2px;
		-moz-box-shadow: #fff 1px 1px 2px;
		border: 1px solid #c6c6c6;		
		behavior: url("/media/css/PIE.htc");
	}
	#main .post-tags li a:hover,
	.tags li a:hover{
		background-color: #DFEFFB;
		border-color: #b7d1e5;
		color: #2084CA;		
		/*text-shadow: -1px -1px 0 rgba(0,0,0,0.2);*/
		text-decoration: none;
		cursor: pointer;
	}	
    
    #main .post-char-count {
      font-size: 20px;
      font-weight: bold;
      padding: 1px 8px;
    }
    .no-textshadow #main .post-char-count {
      color: #777;
    }
    #main .post-char-count.warning {
      color: #555;
    }
    #main .post-char-count.danger {
      color: #d00;
    }
    #main .post-tags {
      margin: 0 0 -5px;
      padding: 0;
      list-style: none;
      float: left;     
    }
    .tags {
		list-style: none;
		margin: 0; padding: 0;
	}
    
    #create-post {
    }
      #create-post .post-container {
        min-height: 46px;
      }
      
      #create-post input, #create-post textarea {
        width: 574px;
        display: block;
        font-size: 16px;
        padding: 12px;
        border: 1px solid #c6c6c6;
        box-shadow: inset #ddd 0px 1px 4px;
        -webkit-box-shadow: inset #ddd 0px 1px 4px;
        -moz-box-shadow: inset #ddd 0px 1px 4px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        -webkit-border-radius: 4px;
        color: #999;
        behavior: url("/media/css/PIE.htc");
      }
      #create-post textarea, #create-post .status-and-actions {
        display: none;
      }
      #create-post .status-and-actions {
        margin-top: 10px;
        height: 28px;
        text-align: right;
      }
        #create-post .update {
          border: 1px solid #3a5568;
          float: right;
        }
          #create-post .update, #create-post .update a {
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            behavior: url("/media/css/PIE.htc");
          }
          
          #create-post .update a {
            color: white;
            font-size: 14px;
            font-weight: bold;
            text-shadow: #000 0px -1px 0px;
            -moz-text-shadow: #000 0px -1px 0px;
            -webkit-text-shadow: #000 0px -1px 0px;
            border: 1px solid #2571a6;
            border-left: 1px solid #a3d3f4;
            border-top: 1px solid #a3d3f4;
            background: -webkit-gradient(linear,0 top,0 bottom,from(#3ea1e6),to(#2374ad));
            background: -moz-linear-gradient(top,#3ea1e6,#2374ad);
            -pie-background: linear-gradient(top,#3ea1e6,#2374ad);
            padding: 3px 8px;
            behavior: url("/media/css/PIE.htc");
          }
          #create-post .update:hover {
            border: 1px solid #719ab7;
          }
          
          #create-post .update a:active {
            text-shadow: #000 0px 1px 0px;
            -moz-text-shadow: #000 0px 1px 0px;
            -webkit-text-shadow: #000 0px 1px 0px;
            background: -webkit-gradient(linear,0 top,0 bottom,from(#2374ad),to(#3ea1e6));
            background: -moz-linear-gradient(top,#2374ad,#3ea1e6);
            -pie-background: linear-gradient(top,#2374ad,#3ea1e6);
            behavior: url("/media/css/PIE.htc");
          }
      
      #create-post.expanded {
      }
        #create-post.expanded input {
          display: none;
        }
        #create-post.expanded textarea, #create-post.expanded .status-and-actions {
          display: block;
        }
        #create-post.expanded textarea {
          height: 160px;
        }

        #create-post.expanded textarea:focus {
          outline: none;
          border: 1px solid #3ea1e6;
          box-shadow: inset #3ea1e6 0px 1px 4px;
          -webkit-box-shadow: inset #3ea1e6 0px 1px 4px;
          -moz-box-shadow: inset #3ea1e6 0px 1px 4px;
        }
    
    #posts {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    #posts .clear{
      width: 600px;
      height: 1px;
      line-height: 1px;
    }
    
    #posts .reply-to {
      display: none;
      float: right;
      color: #ababab;
      text-decoration: none;
      padding-left: 20px;
      background: url("/media/images/reply.icon.png") no-repeat left 1px;
      height: 16px;
      line-height: 16px;
    }
    #posts .delete {
	display: none;
	float: right;
	color: #ababab;
	text-decoration: none;
	padding-right: 7px;
	height: 16px;
	line-height: 16px;
    }
    #posts .post-container:hover .reply-to {
      display: block;
    }
    #posts .post-container:hover .delete {
	display: block;
    }
    #posts .reply-to:hover {
      color: #777;
    }
    #posts .delete:hover {
      color: #777;
    }
    
    #posts .member-picture {
      float: left;
    }
    #posts .post-contents {
      padding-left: 64px;
    }
      #posts .post-details, #posts .post-details a {
        color: #ababab;
      }
      #posts .post-details a {
        text-decoration: underline;
      }
      #posts .post-details a.member-name {
        text-decoration: none;
        color: #2084ca;
      }
      
      #posts .post-body, #posts .post-body p {
        margin: 10px 0;
      }

	#profile_edit {}
		.modal{
			width: 780px;
			margin: 0 auto;
			padding: 6px;
			box-shadow: rgba(255, 255, 255, 0.2) 1px 1px 0px inset, rgba(0,0,0,0.25) 3px 3px 5px;
			-moz-box-shadow: rgba(255, 255, 255, 0.2) 1px 1px 0px inset, rgba(0,0,0,0.25) 3px 3px 5px;
			-webkit-box-shadow: rgba(255, 255, 255, 0.2) 1px 1px 0px inset, rgba(0,0,0,0.25) 3px 3px 5px;
			background: #848484; /* old browsers */
			background: -moz-linear-gradient(top, 
				#848484 0%, 
				#777 100%); /* firefox */
			background: -webkit-gradient(linear, left top, left bottom, 
				color-stop(0%,#848484), 
				color-stop(100%,#777)); /* webkit */
			filter: progid:DXImageTransform.Microsoft.gradient( 
				startColorstr='#848484', 
				endColorstr='#777',GradientType=0 ); /* ie */
			border: 1px solid #636363;
			border-radius:8px;
			-moz-border-radius:8px;		
		}
		.modal article{
			background: #fff url(/media/images/panel-bg.png) 0 0 repeat-y;
			border: 1px solid #525252;
			border-radius:5px;
			-moz-border-radius:5px;
			padding-bottom: 40px;
		}
		.modal > article > h1{
			width: 742px;
			padding: 18px;
			margin-bottom: 1em;
			color: #777;
			font-size: 18px;
			line-height: 1;
			text-shadow: 1px 1px 0 #fff;			
			background: #EBEBEB; /* old browsers */
			background: -moz-linear-gradient(top, 
				#EBEBEB 100%, 
				#F2F2F2 51%, 
				#F6F6F6 50%, 
				#F9F9F9 0%); /* firefox */
			background: -webkit-gradient(linear, left top, left bottom, 
				color-stop(100%,#EBEBEB), 
				color-stop(51%,#F2F2F2), 
				color-stop(50%,#F6F6F6), 
				color-stop(0%,#F9F9F9)); /* webkit */
			filter: progid:DXImageTransform.Microsoft.gradient( 
				startColorstr='#EBEBEB', 
				endColorstr='#F9F9F9',GradientType=0 ); /* ie */
			border-bottom: 1px solid #d6d6d6;
			border-radius:5px 5px 0 0;
			-moz-border-radius:5px 5px 0 0;
		}
        .modal #profile-edit-nav {
			float: left;
			width: 190px;
			height: 100%;
		}
		.modal #profile-edit-nav a {
			display: block;
			padding-left: 18px;
			font-size: 12px;
			line-height: 25px;
			margin-bottom: 5px;
		}
		.modal fieldset {
			margin-left: 228px;
		}
		.modal #profile-edit-nav .selected a,
		.modal #profile-edit-nav a:hover,
		#profile_edit.info #profile-edit-nav .info a,
		#profile_edit.image #profile-edit-nav .image a,
		#profile_edit.skills #profile-edit-nav .skills a,
		#profile_edit.interests #profile-edit-nav .interests a{
			position: relative;
			color: #fff;
			text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
			background: #4AA4E3;
			background: -moz-linear-gradient(top, 
				#4AA4E3 0%, 
				#2084CA 100%);
			background: -webkit-gradient(linear, left top, left bottom, 
				color-stop(0%,#4AA4E3), 
				color-stop(100%,#2084CA));
			filter: progid:DXImageTransform.Microsoft.gradient( 
				startColorstr='#4AA4E3', 
				endColorstr='#2084CA',GradientType=0 );
		}
		.modal #profile-edit-nav a:hover{
			background: #2084CA;
		}
		.modal #profile-edit-nav .selected a:after,
		#profile_edit.info #profile-edit-nav .info a:after,
		#profile_edit.image #profile-edit-nav .image a:after,
		#profile_edit.skills #profile-edit-nav .skills a:after,
		#profile_edit.interests #profile-edit-nav .interests a:after{
			content: "\0020";
			display: block;
			width: 12px;
			height: 25px;
			position: absolute;
			right: -12px; top: 0;
			background: transparent url(/media/images/modal-nav-arrow.png) right top no-repeat;
		}
		
		
footer {}

/* Rewrite everything below here :-) */

#signup-buttons .signup {
    width: 75px;
    margin-bottom: 10px;
}

#signup-buttons .signup a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url("/media/css/PIE.htc");
}

#signup-buttons .signup a {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-shadow: #000 0px -1px 0px;
    -moz-text-shadow: #000 0px -1px 0px;
    -webkit-text-shadow: #000 0px -1px 0px;
    border: 1px solid #2571a6;
    border-left: 1px solid #a3d3f4;
    border-top: 1px solid #a3d3f4;
    background: -webkit-gradient(linear,0 top,0 bottom,from(#3ea1e6),to(#2374ad));
    background: -moz-linear-gradient(top,#3ea1e6,#2374ad);
    -pie-background: linear-gradient(top,#3ea1e6,#2374ad);
    padding: 3px 8px;
    behavior: url("/media/css/PIE.htc");
}

#signup-buttons .signup:hover {
    border: 1px solid #719ab7;
}
          
#signup-buttons .signup a:active {
    text-shadow: #000 0px 1px 0px;
    -moz-text-shadow: #000 0px 1px 0px;
    -webkit-text-shadow: #000 0px 1px 0px;
    background: -webkit-gradient(linear,0 top,0 bottom,from(#2374ad),to(#3ea1e6));
    background: -moz-linear-gradient(top,#2374ad,#3ea1e6);
    -pie-background: linear-gradient(top,#2374ad,#3ea1e6);
    behavior: url("/media/css/PIE.htc");
}
