/*
 * Footer CSS: Brian Brennan 
 * brian@nyhacker.org 
 *
 */
 
footer[role="main"] ul {
  margin-left: 104px;
  padding-bottom: 50px;
  float: left;
}
footer[role="main"] ul:first-child {
  margin-left: 30px;
}
footer[role="main"] ul > li:first-child {
  font-weight: normal;
  font-size: 17px;
  background: #fff !important;
  line-height: 40px;
  padding: 0 8px;
}
footer[role="main"] ul li {
  margin: 0 0 8px;
}
footer[role="main"] ul li a {
  font-size: 15px;
  padding: 0 8px;
}
footer[role="main"] ul[role="about-us"] > li a {
  background: #cef200;
}
footer[role="main"] ul[role="contact-us"] > li a {
  background: #4cebe2;
}
footer[role="main"] ul[role="license-info"] > li a {
  background: #ffde00;
}
footer[role="main"] ul[role="cc"] li[role="icons"] a {
  display: block;
  background: url('/media/images/cc-icons.png') no-repeat;
  height: 65px;
  width: 147px;
  margin: 20px auto;
  overflow: hidden;
  text-indent: -999em;
}