

#splash #content header h1{
  font-size: 50px;
}

#intro-links a {
  font-size: 36px;
}

#user-nav a.top-level, #main-nav a.top-level {
  padding: 4px 6px 8px 0px;
}

footer[class="main"] ul {
    float: left;
    margin-left: 39px;
    padding-bottom: 50px;
}
