{% load l10n_tags %}
<div class="profile-wrapper">
  <div class="profile-top">

    <div class="row-fluid">
    <div class="span12">
    <div class="detailed-info">
    <ul class="">
      <li><a><span class="number">{{ users_followers|length }}</span>
      <span class="title">{{ _('Followers') }}</span></a></li>
      <li class="divider-vertical"></li>
      <li><a><span class="number">{{ users_following|length }}</span>
      <span class="title">{{ _('Followings') }}</span></a></li>
      <li class="divider-vertical"></li>
      <li><a><span class="number">{{ current_projects.count }}</span>
      <span class="title">{{ _('Courses') }}</span></a></li>
      <li class="divider-vertical"></li>
      <li><a><span class="number">{{ badges_count }}</span> <span class="title">{{ _('Badges') }}</span></a></li>
    </ul>
    </div>
    </div>
    </div>
    {% if current_projects.organizing or current_projects.participating or current_projects.following or past_projects or past_drupal_courses %}
    <div class="row-fluid">
    <div class="profile-courses">
      <h2>{{ _('Latest Courses') }} <small><a class="show-all-courses">{{ _('View All') }}</a></small></h2>
      <ul>
        {% for project in current_projects.organizing %}
          {% include "users/_project_image.html"%}
        {% endfor %}
        {% for project in current_projects.participating %}
          {% include "users/_project_image.html"%}
        {% endfor %}
        {% for project in current_projects.following %}
          {% include "users/_project_image.html"%}
        {% endfor %}
        {% for project in past_projects %}
          <li>
            <a href="{{ project.url }}" title="{{ project.title }} {% if project.organizer %}(organizer){% else%}(participant){% endif %}">
              <img src="{{ project.image_url }}" width="150" height="93" alt="{{ project.title }}"/>
            </a>
          </li>
          {% endfor %}
          {% for course in past_drupal_courses %}
            <li>
              <a href="{{ course.url }}" title="{{ course.name }} {% if course.organizer %}(organizer){% else%}(participant){% endif %}" target="_blank">
                <img src="{{ course.image_url }}" width="150" height="93" alt="{{ project.name }}"/>
              </a>
            </li>
          {% endfor %}
      </ul>
    </div>
    </div>
    {% endif %}

    {% if badges or pilot_badges %}
    <div class="row-fluid">
    <div class="profile-badges">
      <h2>
        {{ _('Latest Badges') }}
        <a href="{% locale_url users_badges_manage %}" title="{{ _('Share your badges') }}"><i class="icon-share icon-large"></i></a>
        <small><a class="show-all-badges">{{ _('View All') }}</a></small></h2>
      <ul>
        {% for badge in badges %}
          <li>
            <a href="{{ badge.evidence }}" title="{{ badge.name }} {% if badge.count > 1 %}(x{{ badge.count }}){% endif %}" target="_blank">
              <img src="{{ badge.image }}" width="70" height="70" alt="badge image"/>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    </div>
    {% endif %}
    <div class="row-fluid">
    <div class="profile-interests">
      {% if skills %}
      <h2>{{ _('My Skills') }}</h2>
      <ul class="tags skills">
        {% for skill in skills %}
          <li>
            <a href="{% locale_url users_user_tagged_list skill.slug %}" title="{{ _('View more with skills in ') }}{{ skill.name }}">
                {{ skill.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if interests %}
      <h2>{{ _('My Interests') }}</h2>
      <ul class="tags interests">
        {% for interest in interests %}
          <li>
            <a href="{% locale_url users_user_tagged_list interest.slug %}" title="{{ _('View more interested in ') }}{{ interest.name }}">
              {{ interest.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if desired_topics %}
      <h2>{{ _('What I want to learn more about') }}</h2>
      <ul class="tags interests">
        {% for topic in desired_topics %}
          <li>
            <a href="{% locale_url users_user_tagged_list topic.slug %}" title="{{ _('View more interested in learning more about ') }}{{ topic.name }}">
              {{ topic.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    </div>
  </div>
</div>
