{% extends "users/profile_edit.html" %}

{% load l10n_tags %}

{% block bodyclasses %}edit account email{% endblock %}
{% block title %}{{ _('Password') }}{% endblock %}


{% block form %}

<fieldset id="edit_account_password" class="edit account password tabpane">
  <h2>{{ _('Password') }}</h2>
    <div class="alert alert-warn">
      <p id="password_hint" class="small hint">{{ _('Passwords must be at least 8 characters and contain numbers and letters.') }}</p>
    </div>

  <form class="form-horizontal" action="{% locale_url preferences_password %}" method="post">
    {% csrf_token %}
    <div class="control-group field{% if form.password.errors %} error{% endif %}">
      <label class="control-label" for="id_password">{{ _('Password') }}</label>
      <div class="controls">
        <input type="password" maxlength="255" value="" name="password" id="id_password" />
        {{ form.password.errors }}
      </div>       
    </div> 
    <div class="control-group field password confirm {% if form.password_confirm.errors %} error{% endif %}">
      <label class="control-label" for="id_password_confirm">{{ _('Confirm password') }}</label>
      <div class="controls">
        <input type="password" maxlength="255" value="" name="password_confirm" id="id_password_confirm" />
        {{ form.password_confirm.errors }}
      </div>
    </div>        
    <div class="control-group">
      <div class="controls">
        <p class="buttons">
          <a class="btn" href="{% locale_url dashboard %}">{{ _('Cancel') }}</a>
          <button class="btn btn-olive" type="submit" value="{{ _('Save') }}" >{{ _('Save') }}</button>
        </p>
      </div>
    </div>
  </form>
</fieldset>

{% endblock %}
