{% extends "users/profile_edit.html" %}

{% load l10n_tags %}

{% block bodyclasses %}edit account notifications{% endblock %}
{% block title %}{{ _('Notification Settings') }}{% endblock %}
{% block form %}
<fieldset id="edit_account_notifications" class="edit account notifications tabpane">
  <h2>{{ _('Send me an email when...') }}</h2>
  <form class="" action="{% locale_url preferences_settings %}" method="post">
    {% csrf_token %}
      <label class="checkbox" for="id_no_email_message_received">
        <input type="checkbox" id="id_no_email_message_received" name="no_email_message_received" {% if not no_email_message_received %}checked="checked"{% endif %} />
      {{ _('A user messages me on') }} {{domain}}.
      </label>
      <label class="checkbox" for="id_no_email_new_follower">
        <input type="checkbox" id="id_no_email_new_follower" name="no_email_new_follower" {% if not no_email_new_follower %}checked="checked"{% endif %} />
        {{ _('Someone starts following me.') }}
      </label>
      <label class="checkbox" for="id_no_email_new_project_follower">
        <input type="checkbox" id="id_no_email_new_project_follower" name="no_email_new_project_follower" {% if not no_email_new_project_follower %}checked="checked"{% endif %} />
        {{ _('Someone starts following one of the study groups, courses, ... that I am organizing.') }}
      </label>


      <label class="checkbox" for="id_no_email_new_badge_submission">
        <input type="checkbox" id="id_no_email_new_badge_submission" name="no_email_new_badge_submission" {% if not no_email_new_badge_submission %}checked="checked"{% endif %} />
        {{ _('Someone posts a submission for the badges of one of the challenges I adopted.') }}
      </label>

    {% if participations %}
      <h3>{{ _('An organizer posts or replies to a message on the wall of:') }}<sup>1<sup></h3>
      <br />
      {% for participation in participations %}
          <label class="checkbox" for="id_no_organizers_wall_updates_{{ participation.project.slug }}">
            <input type="checkbox" id="id_no_organizers_wall_updates_{{ participation.project.slug }}" name="no_organizers_wall_updates_{{ participation.project.slug }}" {% if not participation.no_organizers_wall_updates %}checked="checked"{% endif %} />
            {{ participation.project.name }}
          </label>

      {% endfor %}
      <h3>{{ _('A participant posts or replies to a message on the wall of:') }}</h3>
      <br />
      {% for participation in participations %}
          <label class="checkbox" for="id_no_participants_wall_updates_{{ participation.project.slug }}">
            <input type="checkbox" id="id_no_participants_wall_updates_{{ participation.project.slug }}" name="no_participants_wall_updates_{{ participation.project.slug }}" {% if not participation.no_participants_wall_updates %}checked="checked"{% endif %} />
            {{ participation.project.name }}
          </label>
      {% endfor %}
      <h3>{{ _('An organizer creates, edits, or posts new comments on a task or page of:') }}</h3>
      <br />
      {% for participation in participations %}
          <label class="checkbox" for="id_no_organizers_content_updates_{{ participation.project.slug }}">
            <input type="checkbox" id="id_no_organizers_content_updates_{{ participation.project.slug}}" name="no_organizers_content_updates_{{ participation.project.slug }}" {% if not participation.no_organizers_content_updates %}checked="checked"{% endif %} />
            {{ participation.project.name }}
          </label>
      {% endfor %}
      <h3>{{ _('A participant creates, edits, or posts new comments on a task or page of:') }}</h3>
      <br />
      {% for participation in participations %}
          <label class="checkbox" for="id_no_participants_content_updates_{{ participation.project.slug }}">
            <input type="checkbox" id="id_no_participants_content_updates_{{ participation.project.slug}}" name="no_participants_content_updates_{{ participation.project.slug }}" {% if not participation.no_participants_content_updates %}checked="checked"{% endif %} />
            {{ participation.project.name }}
          </label>
      {% endfor %}
      <div class="small">
        <small>
        <sup>1</sup>{{ _('Does not include important updates for which notifications can not be turned off.') }}
        </small>
      </div>
    {% endif %}
    <div class="control-group">
      <div class="controls">
        <p class="buttons">
          <a class="btn" href="{% locale_url dashboard %}">{{ _('Cancel') }}</a>
          <button class="btn btn-olive" type="submit" value="{{ _('Save') }}" >{{ _('Save') }}</button>
        </p>
      </div>
    </div>
  </form>
</fieldset>
{% endblock %}
