{% load i18n %}
{% load l10n_tags %}
{% load no_follow %}

<div id="sidebar">

  {% if user.is_authenticated and user == profile.user %}
    <a class="button above-profile-pic" href="{% locale_url users_profile_edit %}">{{ _('Edit Profile') }}</a>
  {% endif %}
  <div class="vcard panel">
    <img class="member-picture" src="{{ profile.image_or_default }}" height="240" width="240" alt="{{ profile }}">
    <div class="member-details">
      <h1 class="member-name"><span class="fn">{{ profile }}</span></h1>
    </div> 

    {% if not profile.deleted %}

      <div class="member-bio">
        {{ profile.bio|nofollow|safe }}
      </div>

      {% if profile.location %}
        <dl class="member-location">
          <dt>{{ _('Lives in') }}</dt> 
          <dd class="adr">{{ profile.location }}</dd>
        </dl>
      {% endif %}

      {% if user.is_authenticated and user != profile.user %}
        <p class="supplemental_actions">
          <a class="report abuse action" href="{% locale_url drumbeat_abuse model="userprofile" app_label="users" pk=profile.id  %}">{{_('Report Abuse')}}</a>
        </p>
        <div class="member-actions">
          {% if profile in user.get_profile.following %}
            <form action="{% locale_url relationships_unfollow object_type='user' slug=profile.username %}" method="post">
              {% csrf_token %}
             <button id="unfollow-user" >{{ _('Unfollow') }}</button>
            </form>
          {% else %}
            <form action="{% locale_url relationships_follow object_type='user' slug=profile.username %}" method="post">
              {% csrf_token %}
              <button id="follow-user">{{ _('Follow') }}</button>
            </form>
          {% endif %}
          <a class="button" href="{% locale_url drumbeatmail_compose_to username=profile.username %}">{{ _('Private Message')}}</a>
        </div>
      {% endif %}

    {% endif %}
  </div> <!-- /.vcard -->

  {% if not profile.deleted and links %}
    <div id="member_links" class="panel">
      <ul>
        {% for link in links %}
          <li>
            <a class="externalLink" href="{{ link.url }}" title="{{ link.name }}" target="_blank">{{ link.name }}</a>
            {% if user == profile.user %}
              {% if not forloop.first %}
                <a class="robttn up" href="{% locale_url link_index_up counter=forloop.counter0 %}">{{ _('(UP)') }}</a>
              {% endif %}
              {% if not forloop.last %}
                <a class="robttn dwn" href="{% locale_url link_index_down counter=forloop.counter0 %}">{{ _('(DOWN)') }}</a>
              {% endif %}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div> <!-- /#member_links -->
  {% endif %}

</div> <!-- /#sidebar -->
