*.py[co]
*.db
*.swp
*~
lernanta/media/images/profiles/
lernanta/media/images/projects/
lernanta/media/images/challenges/
lernanta/media/videos/projects/
lernanta/media/images/badges/
settings_local.py
sample_data.py
sql/
celery-schedule
lernanta.log*
.project
.pydevproject
SRC
.settings/
*.komodoproject
*.DS_Store
*.sublime-project
lernanta/lernanta
.sass-cache
