*.py[co]
*.db
*.swp
*~
media/images/profiles/
media/images/projects/
media/images/challenges/
media/videos/projects/
settings_local.py
sample_data.py
sql/
celery-schedule
lernanta.log*
.project
.pydevproject
SRC
.settings/
*.komodoproject
*.DS_Store
*.sublime-project
