.task_view {
    margin: 0 10px 10px 0;
}

.task_view h2 {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 1em;
    padding: 18px 9px;
}

.task_view h3 {
    font-size: 14px;
    padding: 0 9px;
}

.task_view .task_body{
    padding: 0 9px;
}

.task_actions {
    float: right;
    margin-bottom: 1em;
    padding: 18px 9px 0 0;
}

.task-down {
    float: right;
    display: block;
    text-indent: -9999em;
    background-image: url("/static/images/arrows.png");
    background-position: 20px 0;
    width: 20px;
}

.task-up {
    float: right;
    display: block;
    text-indent: -9999em;
    background-image: url("/static/images/arrows.png");
    background-position: 0 0;
    width: 20px;
}

#id_tasks_edit {
    background-color: #FFFFFF;
    line-height: 22px;
    margin: auto;
    padding-left: 10px;
    width: 990px;
}

.modal.nav #id_tasks_edit {
    margin-left: 200px;
    width: auto;
}

.modal.nav fieldset {
    margin-left: 5px;
}

#id_tasks_edit .container {
    padding: 13px 3px;
    width: auto;
}

.disabled {
   pointer-events: none;
   cursor: default;
}

.or-separator {
    margin-left: 36px;
    margin-bottom: 5px;
}

#task-list ol {
    margin-left: 0px;
}

#task-list li {
    list-style-type: none;
    padding: 0;
    margin-bottom: 11px;
    padding: 8px 13px 8px 0;
    background-color: #f8fcff;
}

#task-list li.odd {
    background-color: #f3f8fe;
}

#task-list .task-number {
    font-size: 18px;
    font-weight: bold;
    color: #444444;
    padding: 7px 5px 7px 15px;
}

#task-list .task-header {
    font-size: 18px;
}

#task-list .task-subheader {
    font-size: 16px;
    padding-left: 15px;
}

#id-course-preview {
    background: -moz-linear-gradient(center top , #777777, #848484) repeat scroll 0 0 transparent;
    border: 1px solid #636363;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2) inset;
    display: inline-block;
    margin: 0 8px 8px 0;
    padding: 3px;
    vertical-align: top;
    width: 225px;
}

#id-course-preview a {
    pointer-events: none;
    cursor: default;
}

#project-edit-summary-form button {
    width: auto;
}

.card-list .card {
    min-height: 200px;
}

.bubble {
    background: -moz-linear-gradient(top, #FFFAE4 0%, #FFF4BE 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFAE4), color-stop(100%,#FFF4BE));
    border-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 5px;
}

#project-create-advanced {
    display: None;
    opacity: 0;
}

#project-create-advanced-toggle {
    text-align: right;
    font-size: 10px;
}

.modal article nav a#project-create-advanced-toggle:hover {
    background: #FFFFFF;
}

nav ul ul {
    margin-left: 30px;
}

#id-course-image-link {
    position: relative;
    display: block;
    height: 150px;
    margin-bottom: 1em;
}

#id-course-image {
    width: 243px;
    height: 150px;
    position: absolute;
}

#id-course-image-overlay {
    width: 243px;
    height: 150px;
    position: absolute;
    left: 0;
}

.comment {
    border: 1px solid white;
    padding: 0.5em;
}

.reply {
    margin-left: 1.5em;
}

figure {
    margin: 0;
}

.nav-list {
    padding-left: 0;
}

.user-tile img{
    width: 40px;
    height: 40px;
}

#sidebar-content-list li:nth-child(2n+1){
    background-color: #FFFFFF;
}

#sidebar-content-list li {
    margin-bottom: 0.5em;
}
#markdown-cheatsheet{
    position: fixed;
    margin: -250px 0 0 -280px;
    left: 50%;
}
#markdown-cheatsheet h3 {
    margin-bottom: 0;
}
#markdown-cheatsheet h3 + hr {
    margin-top: 0;
}
#markdown-cheatsheet p {
    font-size: 0.9em;
}
.badges-content-wrapper div{
    margin-left: 10px;
}
.badges-content-wrapper div:first-child{
    margin-left: 0;
}
.badges-content-wrapper div.align-center{
    margin-left: 0;
    text-align: center;
}
.badges-content-wrapper div.align-center img{
    margin: 10px 0;
    width: 100%;
}
.badges-content-wrapper div a{
    font-family: "arvo", Helvetica, sans-serif;
    margin: 10px 0;
}
.tab-content iframe{
    border: none;
}
