{% extends "base.html" %}
{% load l10n_tags %}

{% block title %}{{ _('About') }}{% endblock %}
{% block bodyid %}about{% endblock %}

{% block breadcrumbs %}
<div class="container">
  <nav>
    <a href="{% locale_url drumbeat_about %}">{{ _('About') }}</a>
  </nav>
</div>
{% endblock %}

{% block body %}
<section>
  <h1>{{ _('What is Mozilla Drumbeat?') }}</h1>
  <img src="{{ MEDIA_URL }}images/drumbeat-people-montage1.jpg">
  <p>
    <em>Drumbeat is a global community of innovators like you, building a more
    awesome web and world.</em> Connect with others.  Find projects that need
    your help. Or share your own.
  </p>
  <p>
    <em>Mozilla is all about shaping the future of the web for the public
    good.</em> With Drumbeat, we’re moving beyond Firefox to build more things
    that make the web better, not just software.  We&apos;re doing that by
    reaching out to new kinds of people &ndash; educators, filmmakers,
    journalists, scientists, artists &ndash; to work together on open projects
    and design challenges that build a better web and world. We did that with
    Firefox. Now we want to do it on a broader scale, with new projects and
    people like you.
  </p>
</section>

<section>
  <h2>{{ _('How can Drumbeat help you?') }}</h2>
  <img src="{{ MEDIA_URL }}images/drumbeat-about2.jpg">
  <p>
    <em>By connecting you with like-minded collaborators and projects.</em>
    Our online community and project platform are all about enabling
    collaboration and &quot;working in the open&quot; on projects that build a
    better web and world. Drumbeat&apos;s web site makes it easy for you to:
  </p>
  
  <ul>
    <li>
      <a href="{% locale_url users_user_list %}">Connect with other innovators
      like you.</a> Find like-minded people who sare your passion, skill-set
      or subject area.  Raise your profile and let others know about your
      work.
    </li>
    <li>
      <a href="{% locale_url projects_gallery %}">Find projects that need your
      help.</a> Contribute your skills, knowledge and feedback to projects
      that do good. Help build a more open web and world.
    </li>
    <li>
      <a href="{% locale_url projects_create %}">Share your own project.</a> Setting up a 
      project page on Drumbeat.org makes it easy for others to help. By understanding what 
      your project&apos;s about, accessing the project tools you&apos;re using, and keeping 
      up with the latest project news.
    </li>
    <li>
      <a href="{% locale_url events_index %}">Connect with Drumbeat events.</a> Learn about 
      the annual Drumbeat Festival, find events near you, or start your own locale Drumbeat event.
    </li>
  </ul>
  
<!--  <img src="{{ MEDIA_URL }}images/drumbeat-about3.png"> -->
  <p class='clear'>
    <em>Anyone can share a project on Drumbeat.</em> Sharing your project on
    Drumbeat makes it easy to connect with our growing community of innovators
    and technologists, get feedback and help, and raise your project&apos;s
    profile.  What makes for a great Drumbeat project? The best Drumbeat
    projects:
  </p>
  
  <ul class='clear'>
    <li>
      <em>Make it easy for others to participate</em> and get their hands
      dirty.  Drumbeat is all about co-creation. Making and building together.
    </li>
    <li>
      <em>Drive innovation for the open web and the wider world.</em> Showing
      how open technologies can improve other parts of life.
    </li>
    <li>
      <em>Bring together people with diverse backgrounds and skill-sets.</em>
      Non-technical people working with techies. Educators collaborating with
      engineers. Translation experts jamming with Javascript developers. All
      scratching each other&apos;s backs.
    </li>
  </ul>

</section>

<section>
  <h2>{{ _('What areas does Drumbeat focus on?') }}</h2>
  <img src="{{ MEDIA_URL }}images/drumbeat-about6.jpg" width="500" height="259" alt="Drumbeat + your big idea">
  <p>
    Open collaboration on projects that matter. In areas like education, media,
    science, accessibility — or your own personal passion or area of expertise. You
    can check out featured Drumbeat projects like:
  </p>
  <ul>
    <li><a href="/projects/webmademovies/">WebMadeMovies</a> — bringing filmmakers and hackers together to invent the future of video.</li>
    <li><a href="/projects/universal-subtitles/">Universal Subtitles</a> — creating subtitles and captions for every video on the web.</li>
    <li><a href="/projects/school-of-webcraft/">The School of Webcraft</a> — peer-based web developer training that’s free, open, and globally accessible.</li>
    <li><a href="http://learningfreedomandtheweb.org/" title="Learning, Freedom and the Web - How can the web revolutionize education?">Learning, Freedom and the Web</a> – a global community of educators and hackers reinventing the future of learning.</li>
    <li><a href="/projects/batucada/">Batucada</a> — Designing and developing drumbeat.org as part of the social web, together.</li>
    <li>New media and science projects – coming soon.</li>
  </ul>
</section>

<section>
  <h2>{{ _('How does Drumbeat make the world better?') }}</h2>
  <img src="{{ MEDIA_URL }}images/drumbeat-about4.jpg">
  <p>
    <em>Through open web tools and thinking.</em> Applied to your personal passion or project. 
    Mozilla believes the internet is a shared public resource and force for good. If 
    we care about the web&apos;s future, we need a diverse range of people involved in 
    shaping the web in their world &apos; especially those trying to disrupt and innovate. 
    Drumbeat provides open web tools and thinking to help do this. And connects 
    innovators in areas like education, media and science with smart hackers and 
    technologists. The result? Drumbeat helps you build new projects the same way 
    Mozilla built Firefox &ndash; by working in the open, collaborating through open 
    web tools, and enabling participation from contributors around the world.
  </p>
</section>

<section>
  <h2>{{ _('How can I get involved in Drumbeat?') }}</h2>
  <img src="{{ MEDIA_URL }}images/drumbeat-about5.jpg">
  <p>
    Whether you&apos;re a hardcore geek or everyday web user, Drumbeat is for you. 
    Here&apos;s how you can get more involved:
    <ol>
      <li>
        <a href="{% locale_url users_register %}">Join drumbeat.org.</a> 
        Sign up and dive in.
      </li>
      
      <li>
        <a href="{% locale_url projects_gallery %}">Follow Drumbeat
        projects.</a> Stay up to date on your favorite Drumbeat projects and
        innovation challenges.
      </li>
      
      <li>
        <a href="http://www.netvibes.com/drumbeat#Drumbeat_news">Stay in touch.</a> 
        Join our <a href="http://www.mozilla.org/about/forums/#community-drumbeat">community mailing list</a>. 
        Or follow Drumbeat on <a href="http://twitter.com/mozilladrumbeat">Twitter</a>,
        <a href="http://identi.ca/drumbeat">Identi.ca</a>, or 
        <a href="http://www.facebook.com/mozilladrumbeat">Facebook</a>.
      </li>
      
      <li>
        <a href="http://etherpad.mozilla.com:9000/Drumbeat-Monday-community-call">Join our weekly community calls</a>. 
        Our Weekly &quot;Drumbeat Monday&quot; conference calls are open to all, and 
        Are a great way to get your feet wet.
      </li>
    
      <li>
        <em>Learn more.</em> Check out our <a href="http://etherpad.mozilla.com:9000/Drumbeat-F-A-Q-">Frequently Asked Questions</a> 
        (F.A.Q.) page, <a href="http://planet.drumbeat.org">Planet Drumbeat blog</a>, 
        or <a href="http://openmatt.wordpress.com/2010/11/30/5-dance-steps-for-drumbeat/">Dance Steps for Drumbeat</a> 
        &ndash; a &quot;how to&quot; for new Drumbeat projects.
      </li>
    </ol>
  </p>
</section>

{% endblock %}
