{% extends "base.html" %}
{% load l10n_tags %}

{% block title %}{{ _('Editing help') }}{% endblock %}
{% block bodyid %}editing{% endblock %}

{% block body %}
<section>
  <article>
    <h1>Editing Help</h1>
  
    <p>
      This site uses <a href="http://daringfireball.net/projects/markdown/">Markdown</a> for formatting.
    </p>

    <h2>Basic formatting</h2>

    <table style="width: 100%;" align="center">
      <thead>
        <tr>
          <th width="40%">Formatted text</th>
          <th width="60%">Markdown code</th>
        </tr>
      </thead>
      <tbody>
        <tr valign="top">
          <td>
            This is <em>italicized</em>.<br/>

            This is <strong>bolded</strong>.
          </td>
          <td>
            <pre><code>This is *italicized*.
                This is **bolded**.
            </code></pre>
          </td>
        </tr>
        <tr valign="top">
          <td>
            <p>Paragraphs are surrounded by blank lines. This is paragraph one.</p>
            <p>This is paragraph two.</p>
          </td>

          <td>
            <pre><code>Paragraphs are surrounded by blank
                lines. This is paragraph one.

                This is paragraph two.
            </code></pre>
          </td>
        </tr>
        <tr valign="top">
          <td>
            <h1>Heading 1</h1>
            <h3>Heading 2</h3>
            <h4>Heading 3</h4>
          </td>
          <td>
            <pre><code># Heading 1
                
                ## Heading 2
                
                ### Heading 3
                
            </code></pre>
          </td>
        </tr>
        <tr valign="top">
          <td>
            <ul>
              <li>bulleted item 1</li>
              <li>bulleted item 2<br/>with multiple paragraphs</li>
            </ul>
            <ol>
              <li>numbered item 1</li>
              <li>numbered item 2</li>
            </ol>
          </td>
          <td>
            <pre><code>* bulleted item 1
                * bulleted item 2
                with multiple paragraphs

                1. numbered item 1
                1. numbered item 2
            </code></pre>
          </td>
        </tr>

        <tr valign="top">
          <td>
            <a href="http://www.drumbeat.org/">link text</a><br/>
            <br/>
            <img src="/media/images/feed-icon-16x16.png" alt="alt text" />
          </td>
          <td>
            <pre><code>[link text](http://www.drumbeat.org/)

                ![alt text](/media/images/feed-icon.png)
            </code></pre>
          </td>
        </tr>
        <tr valign="top">
          <td>
            <blockquote>
              Blockquoted Text
            </blockquote>
          </td>
          <td>
            <pre><code>&gt; Blockquoted Text
            </code></pre>
          </td>
        </tr>
      </tbody>
    </table>

    <p>Visit the <a href="http://daringfireball.net/projects/markdown/" target="_blank">official Markdown site</a> to learn more.</p>
  </article>
</section>
{% endblock %}
