{% extends "base.html" %}

{% load l10n_tags %}

{% block title %}{{ _('Abuse Report Received') }}{% endblock %}
{% block bodyclasses %}signin report{% endblock %}
{% block body %}
<section class="modal">
  <article>
    <h1>{{ _('Report Abuse') }}</h1>
    <fieldset>
      <form action="{% locale_url drumbeat_abuse obj=obj type=type %}" method="post">
	{% csrf_token %}
        <p>{{ _('Would you like to report this content as objectionable? This can be anything from suspected spam to offensive content.') }}</p>
        <p>
	  <a class="button" href="{% locale_url dashboard_index %}">{{ _('Cancel') }}</a>
	  <button type="submit">{{ _('Report') }}</button>
	</p>
      </form>
    </fieldset>
  </article>
</section>
{% include "_footer.html" %}
{% endblock %}
