{% load l10n_tags %}
<div class="thumbnail">
  <a href="{% locale_url courses_show course_id=project.id slug=project.slug %}">
    {% if project.image %}
    <img src="{{ MEDIA_URL }}{{ project.image }}" width="203" height="125" alt="{{ project.title }}"/>
    {% else %}
    <img src="{{ STATIC_URL}}images/project-missing.png" width="203" height="125" alt="{{ project.title }}"/>
    {% endif %}
  </a>
  <div class="caption">
    <h3><a href="{% locale_url courses_show course_id=project.id slug=project.slug %}">{{ project.title }}</a></h3>
    <p><span class="truncate-to-3-lines">{{ project.description }}</span></p>
  </div>
  <div class="well well-large">
    <dl>
      <dt><span class="label">{{ _('Peers') }}</span></dt>
        <dd><span class="badge">{{ project.cohort_size }}</span></dd>
    </dl>
  </div>
  <!--div class="meta">
    <dl class="updates">
      <dd>{{ project.activities.count }}</dd>
      <dt>{{ _('Updates') }}</dt>
    </dl>
    <dl class="participants">
      <dd>{{ project.participants.count }}</dd>
      <dt>{{ _('Participants') }}</dt>
    </dl>
    <dl class="followers">
      {% if project.is_challenge %}
        <dd>{{ project.get_badges.count }}</dd>
        <dt>{{ _('Badges') }}</dt>
      {% else %}
        <dd>{{ project.non_participant_followers.count }}</dd>
        <dt>{{ _('Followers') }}</dt>
      {% endif %}
    </dl>
  </div-->
</div>
