{% load i18n %}
{% load l10n_tags %}

<form action="" method="POST">
  {% csrf_token %}
  <input type="hidden" name="next_url" value="{{next_url}}"/>
  <input class="pull-right btn btn-primary" type="submit" value="{% trans 'Save' %}"/>
  {% if next_url %}
    <a class="pull-right btn btn-danger" href="{{ next_url }}">{% trans 'Cancel' %}</a>
  {% else %}
    {% if content %}
      <a class="pull-right btn btn-danger" href="{% locale_url courses_content_show course_id=course.id content_id=content.id %}">{% trans 'Cancel' %}</a>
    {% else %}
      <a class="pull-right btn btn-danger" href="{% locale_url courses_show course_id=course.id slug=course.slug %}">{% trans 'Cancel' %}</a>
    {% endif %}
  {% endif %}
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#edit-tab-pane" data-toggle="tab">{% trans "Edit" %}</a></li>
      <li><a id="preview-tab" href="#preview-tab-pane" data-toggle="tab">{% trans "Preview" %}</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="edit-tab-pane">
        <div id="content-editor" class="">
          <p>
            <label for="id_title">{% trans "Title" %}</label>
            {{ form.title.errors }}
            <input class="span8" type="text" id="id_title" name="title" value="{{form.title.value|default_if_none:""}}"/>
          </p>
          <p>
            <label for="id_content">{% trans "Content" %}</label>
            {{ form.content.errors }}
            <div id="id_content-wmd-button-bar"></div>
            <textarea id="id_content" name="content" class="span8" rows="20">{{form.content.value|default_if_none:""}}</textarea>
            <p class="help-block">{% blocktrans %}You can use markdown for your content. For some help on using markdown, look <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">here</a>{% endblocktrans %}</p>
          </p>
        </div>
      </div>
      <div class="tab-pane" id="preview-tab-pane">
        <div class="hidden" id="id_content-wmd-preview"></div>
        <div id="content-preview-placeholder"></div>
      </div>
    </div>
  </div>
  <input class="pull-right btn btn-primary" type="submit" value="{% trans 'Save' %}"/>
  {% if next_url %}
    <a class="pull-right btn btn-danger" href="{{ next_url }}">{% trans 'Cancel' %}</a>
  {% else %}
    <a class="pull-right btn btn-danger" href="{% locale_url courses_show course_id=course.id slug=course.slug %}">{% trans 'Cancel' %}</a>
  {% endif %}

</form>

