{% extends "base.html" %}
{% load i18n %}
{% load l10n_tags %}

{% block title %}{{content.title}}{% endblock %}

{% block breadcrumbs %}
  <a href="{% locale_url courses_show course_id=course_id slug=course_slug%}">{{course_title}}</a>
{% endblock %}

{% block body %}
  <div id="content-container">
    <h1>{{ content.title }}</h1>
    {{ content.content|safe }}
  </div>
  <a href="{% locale_url courses_edit_content course_id=course_id content_id=content.id %}">
    <i class="icon-edit"></i>
  </a>

  <div id="content-comments">
    <h1>Comments</h1>

    {% for comment in comments %}
      <div class="post-container">
        <a name="comment-{{comment.id}}"></a>
        {{comment.content}}
        {% if comment.replies|length > 0 %}
          <p>
            {% blocktrans with reply_count=comment.replies|length %}{{reply_count}} replies{% endblocktrans %}
          </p>
        {% endif %}
        <form action="{% locale_url courses_post_comment_reply course_id=course_id content_id=content.id comment_id=comment.id %}" method="POST">
          {% csrf_token %}
          <textarea id="id_comment" name="comment" cols="40" rows="2"></textarea>
          <input type="submit" value="{% trans "Post comment" %}"/>
        </form>
      </div>
    {% endfor %}

    <form action="{% locale_url courses_post_content_comment course_id=course_id content_id=content.id %}" method="POST">
      {% csrf_token %}
      <textarea id="id_comment" name="comment" cols="40" rows="2"></textarea>
      <input type="submit" value="{% trans "Post comment" %}"/>
    </form>
  </div>
{% endblock %}
