{% extends "base.html" %}
{% load i18n %}
{% load l10n_tags %}
{% load embed %}

{% block title %}{{course.title}} | {{content.title}}{% endblock %}
{% block bodyclasses %}course-content{% endblock%}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/course.css">
<link rel="stylesheet" href="{{ STATIC_URL }}pagedown/pagedown.css">
{% endblock %}

{% block breadcrumbs_title %}
  <h1 id="project-name"><a href="{% locale_url courses_show course_id=course.id slug=course.slug%}">[{{course.short_title}}] {{course.title}}</a></h1>
{% endblock %}

{% block breadcrumbs %}
  <li>
    <span class="divider">&rsaquo;</span>
    <a href="{% locale_url courses_show course_id=course.id slug=course.slug%}">{{course.title}}</a>
  </li>
  <li class="active"><span class="divider">&rsaquo;</span>{{ content.title }}</li>

{% endblock %}

{% block body %}
<div class="row">
  <div id="sidebar-wrapper" class="span3">
    {% include "courses/content_sidebar.html" %}
  </div>
 
  <div id="content-container" class="span9">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#content-tab-pane" data-toggle="tab">{% trans "Content" %}</a></li>
        <li><a id="discussion-tab" href="#discussion-tab-pane" data-toggle="tab">{% trans "Discussion" %}</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="content-tab-pane">
          <h1>{{ content.title }}</h1>
          <div>
            <div>{{content.content|embed|safe}}</div>
          </div>
          {% if can_edit %}
          <a href="{% locale_url courses_content_edit course_id=course.id content_id=content.id %}">
            <i class="icon-edit"></i>
          </a>
          {% endif %}
       </div>
 
        <div class="tab-pane" id="discussion-tab-pane">
          <div id="disqus_thread"></div>
          <script type="text/javascript">
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#discussion-tab').one("click", function (e) {
        e.preventDefault();
        $(this).tab('show');
        var disqus_shortname = 'p2pu';
        var disqus_developer = 1;
        var disqus_identifier = "{{course.id}}";
        var disqus_identifier = "{{course.id}}" + "-" + "{{content.id}}";
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      });
    });
  </script>
{% endblock %}
