{% extends "courses/course_base.html" %}
{% load l10n_tags %}
{% load i18n %}
{% load learn_tags %}
{% load embed %}

{% block tab-pane-content %}

  <span>
    <p class="alert">{% blocktrans %}Users can opt-out of course notifications and not all users will receive this message. Consider also adding the relevant information to the course as content or on the about page{% endblocktrans %}</p>
  </span>
  <p>
    <form action="{% locale_url courses_send_notification course_id=course.id %}" method="POST">
      {% csrf_token %}
      <label for="id_notification">{% trans 'Notification text' %}</label>
      <p class="row-fluid"><textarea class="span12" id="id_notification" rows="10" name="notification"/></textarea></p>
      <button type="submit">{% trans "Send" %}</button>
    </form>
  </p>
{% endblock %}
