{% extends "base.html" %}
{% load l10n_tags %}
{% load i18n %}
{% load learn_tags %}
{% load embed %}

{% block title %}{{course.title}}{% endblock %}
{% block bodyclasses %}course-landing{% endblock%}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/course.css">
<link rel="stylesheet" href="{{ STATIC_URL }}pagedown/pagedown.css">
{% endblock %}

{% block links %}
{% if project %}
  <meta name="thumbnail" property="og:image" content="{{ project.get_image_url }}" />
{% endif %}
{% endblock %}

{% block breadcrumbs_title %}
  <h1 id="project-name">
    {{course.title}}
    {% if organizer %}
      <a data-toggle="collapse" data-target="#title-edit" href="#"><i class="icon-edit"></i></a>
    {% endif %}
  </h1>
  <div id="title-edit" class="collapse">
    <form class="form-inline" action="{% locale_url courses_update_attribute course_id=course.id attribute='title' %}" method="POST">
      {% csrf_token %}
      <p>{{ update_form.title }}</p>
      <button type="submit">{% trans "Save" %}</button>
    </form>
  </div>
{% endblock %}

{% block breadcrumbs %}
  <li class="active"><span class="divider">&rsaquo;</span>{{course.title}}</li>
{% endblock %}

{% block body %}

<div class="row">

  <div id="sidebar-wrapper" class="span3">
    {% include "courses/course_sidebar.html" %}
  </div>

  <div id="main" class="span9">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#about-tab-pane" data-toggle="tab">{% trans 'About' %}</a></li>
        <li><a id="discussion-tab" href="#discussion-tab-pane" data-toggle="tab">{% trans 'Discussion' %}</a></li>
        <li><a href="#people-tab-pane" data-toggle="tab">{% trans 'People' %}</a></li>
        <li><a href="#badges-tab-pane" data-toggle="tab">{% trans 'Badges' %}</a></li>
        {% if organizer %}
          <li><a href="#content-tab-pane" data-toggle="tab">{% trans 'Content (admin)' %}</a></li>
          <li><a href="#settings-tab-pane" data-toggle="tab">{% trans 'Settings' %}</a></li>
        {% endif %}
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="about-tab-pane">
          {% if about.content|length == 0 %}
            <p class="text-info">{% blocktrans %}You can add some information to this tab by editing this page!</a>{% endblocktrans %}
            </p>
          {% else %}
            <div>{{about.content|embed|safe}}</div>
          {% endif %}
          <p>
          {% if organizer %}
            <a href="{% locale_url courses_content_edit course_id=course.id content_id=about.id %}?next_url={{course_url}}"><i class="icon-edit"></i></a>
          {% endif %}
          </p>
        </div>

        <div class="tab-pane" id="content-tab-pane">
          {% if course.content|length %}
            <table class="table table-striped">
              {% for task in course.content %}
                <tr>
                  <td><a class="taskLink" href="{% locale_url courses_content_show course_id=course.id, content_id=task.id %}">{{ task.title }}</a></td>
                  {% if organizer %}
                      <td>{% if not forloop.first %}<a class="robttn up" href="{% locale_url courses_content_up course_id=course.id content_id=task.id %}"><i class="icon-arrow-up"></i></a>{% endif %}</td>
                      <td>{% if not forloop.last %}<a class="robttn dwn" href="{% locale_url courses_content_down course_id=course.id content_id=task.id%}"><i class="icon-arrow-down"></i></a>{% endif %}</td>
                  {% endif %}
 
                  {% if organizer %}
                    <td><form class="form-inline" action="{% locale_url courses_content_remove course_id=course.id content_id=task.id %}" method="POST">
                      {% csrf_token %}
                      <button class="btn btn-mini btn-danger" type="submit">{% trans "remove" %}</button>
                    </form></td>
                  <td><a href="{% locale_url courses_content_edit course_id=course.id content_id=task.id %}?next_url={{ course_url }}">
                      <i class="icon-edit"></i>
                  </a></td>
                  {% endif %}
                </tr>
              {% endfor %}
            </table>

            {% if organizer %}
              <a href="{% locale_url courses_create_content course_id=course.id %}?next_url={{ course_url }}">{% trans "Add more content" %}</a>
            {% endif %}
          {% else %}
            {% if organizer %}
              <p class="text-info">{% blocktrans %}This course doesn't have any content yet. {% endblocktrans %}<a href="{% locale_url courses_create_content course_id=course.id%}">Click here</a> to add some.</p>
            {% endif %}
          {% endif %}
        </div>
   
        <div class="tab-pane" id="discussion-tab-pane">
          <p class="text-info">{% blocktrans %}This page is for general discussion of the course. Feel free to post questions, comments, ideas.{% endblocktrans %}</p>
          <div id="disqus_thread"></div>
          <script type="text/javascript">
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
    
        <div class="tab-pane" id="people-tab-pane">
          <div id="learner-list" class="user-list">
            <h3>{% trans "Learners" %}</h3>
            <ul class="thumbnails">
              {% for user in cohort.learners %}
                {% include "courses/course_user_snip.html" %}
              {% endfor %}
            </ul>
          </div>
          <div id="learner-list" class="user-list">
            <h3>{% trans "Organizers" %}</h3>
            <ul class="thumbnails">
            {% for user in cohort.organizers %}
              {% include "courses/course_user_snip.html" %}           
            {% endfor %}
            </ul>
          </div>
          <p>
              <form action="{% locale_url courses_add_user course_id=course.id %}" method="POST">
                  {% csrf_token %}
                  <input type="text" name="username" />
                  <button type="submit">{% trans "Add user" %}</button>
              </form>
          </p>
        </div>

        <div class="tab-pane" id="badges-tab-pane">
          <p>{% blocktrans %}Woah ... hold on amigo. Badges, coming soon.{% endblocktrans%}</p>
        </div>

        {% if organizer %}
          <div class="tab-pane" id="settings-tab-pane">
            <div id="hashtag-edit">
              <form action="{% locale_url courses_update_attribute course_id=course.id attribute='hashtag' %}" method="POST">
                {% csrf_token %}
                
                <p>
                  <label for="id_hashtag">{% trans "Hashtag" %}</label>
                  {{ update_form.hashtag }}
                </p>
                <button type="submit">{% trans "Save" %}</button>
              </form>
            </div>

            <hr/>

            <div id="image-edit">
              <form action="{% locale_url courses_image course_id=course.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{image_form.image}}</p>
                <p><button type="submit" >{% trans 'Upload new image' %}</button></p>
              </form>
            </div>
         
            <hr>
            <div>
              <form action="{% locale_url courses_update_attribute course_id=course.id attribute='description' %}" method="POST">
                {% csrf_token %}
                <label for="id_description">{% trans "Description" %}</label>
                {{ update_form.description }}
                <p><button type="submit">{% trans "Update description" %}</button></p>
              </form>
            </div>
            <hr/>
            <div>
              {% if course.draft %} 
                <p>{% trans "This course is still a draft" %}</p>
                <form action="{% locale_url courses_change_status course_id=course.id status='publish' %}" method="POST">
                  {% csrf_token %}
                  <p><button type="submit">{% trans "Publish" %}</button></p>
                </form>
              {% endif %}
              {% if not course.draft and not course.archived %}
                <p>{% trans "Published" %}</p>
                <form action="{% locale_url courses_change_status course_id=course.id status='draft' %}" method="POST">
                  {% csrf_token %}
                  <p><button type="submit">{% trans "Switch back to draft" %}</button></p>
                </form>
                <form action="{% locale_url courses_change_status course_id=course.id status='archive' %}" method="POST">
                  {% csrf_token %}
                  <p><button type="submit">{% trans "Archive" %}</button></p>
                </form>
              {% endif %}
              {% if course.archived %}
                <p>{% trans "Archived" %}</p>
                <form action="{% locale_url courses_change_status course_id=course.id status='publish' %}" method="POST">
                    {% csrf_token %}
                    <p><button type="submit">{% trans "Resurrect" %}</button></p>
                </form>
              {% endif %}
            </div>
            <hr/>
            <div id="course-term">
              {% if cohort.term == 'ROLLING' %}
                <p>{%trans "Users can join this course at any time."%}</p>
              {% else %}
                {% blocktrans with start_date=cohort.start_date end_date=cohort.end_date %}
                  <p>This course runs from {{ start_date }} to {{end_date}}.</p>
                {% endblocktrans %}
              {% endif %}
         
              <div>
                <p>{%trans "Set dates"%}</p>
                <form action="{% locale_url courses_change_term course_id=course.id term='fixed' %}" method="POST">
                  {% csrf_token %}
                  <p><label for="id_start_date">{% trans "Start date" %}</label>{{term_form.start_date}}</p>
                  <p><label for="id_end_date">{% trans "End date" %}</label>{{term_form.end_date}}</p>
                  <p><input type="submit" value="{% trans "Save" %}"/></p>
                </form>
              </div>
              {% if cohort.term == 'FIXED' %}
                <p>{%trans "or" %}</p>
                <div>
                  <form action="{% locale_url courses_change_term course_id=course.id term='rolling' %}" method="POST">
                    {% csrf_token %}
                    <p><input type="submit" value="{% trans "Switch to rolling term" %}"/></p>
                  </form>
                </div>
              {% endif %}
            </div>
            <div class="clearfix"></div>
            <hr/>
            <div>
              {% if cohort.signup == 'OPEN' %}
                <p>{% trans 'Singup is open to anyone.' %}</p>
              {% endif %}
              {% if cohort.signup == 'MODERATED' %}
                <p>{% trans 'Singup is moderated. To sign up for this course you should contact one of the course organizer.' %}</p>
              {% endif %}
              {% if cohort.signup == 'CLOSED' %}
                <p>{% trans 'Singup is closed. Only organizers can add more people.' %}</p>
              {% endif %}
              
              <div id="signup-edit">
                <form action="{% locale_url courses_change_signup course_id=course.id %}" method="POST">
                  {% csrf_token %}
                  {{ signup_form.signup }}
                  <button type="submit">{% trans "Save" %}</button>
                </form>
              </div>
            </div>
            <hr/>
            <div id="course-language">
              <div id="language-edit">
                <form action="{% locale_url courses_update_attribute course_id=course.id attribute='language' %}" method="POST">
                  {% csrf_token %}
                  <label for="id_language">{% trans "Course languge" %}</label>
                  {{ update_form.language }}
                  <p><button type="submit">{% trans "Update language" %}</button></p>
                </form>
              </div>
            </div>
          </div>
        {% endif %}
   
      </div>
    </div> <!-- /#tabbable -->
  </div> <!-- /#main -->
</div> <!-- /#row -->

{% endblock %}

{% block js %}
  <script type="text/javascript">
    $(document).ready(function(){
      $("#id_start_date").datepicker();
    });
  </script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#discussion-tab').one("click", function (e) {
        e.preventDefault();
        $(this).tab('show');
        var disqus_shortname = 'p2pu';
        var disqus_developer = 1;
        var disqus_identifier = "{{course.id}}";
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      });
    });
  </script>

{% endblock %}
