{% extends "base.html" %}
{% load l10n_tags %}
{% load i18n %}
{% load learn_tags %}
{% load embed %}

{% block title %}{{course.title}}{% endblock %}
{% block bodyclasses %}course-landing{% endblock%}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/course.css">
<link rel="stylesheet" href="{{ STATIC_URL }}pagedown/pagedown.css">
{% endblock %}

{% block links %}
{% if project %}
  <meta name="thumbnail" property="og:image" content="{{ project.get_image_url }}" />
{% endif %}
{% endblock %}

{% block breadcrumbs_title %}
  <h1 id="project-name">
    [{{course.short_title}}{% if organizer %}
      <a data-toggle="collapse" data-target="#short-title-edit" href="#"><i class="icon-edit"></i></a>
    {% endif %}] 
    {{course.title}}
    {% if organizer %}
      <a data-toggle="collapse" data-target="#title-edit" href="#"><i class="icon-edit"></i></a>
    {% endif %}
  </h1>
  <div id="short-title-edit" class="collapse">
    <form class="form-inline" action="{% locale_url courses_update_attribute course_id=course.id attribute='short_title' %}" method="POST">
      {% csrf_token %}
      <p>{{ update_form.short_title }}</p>
      <button type="submit">{% trans "Update short title" %}</button>
    </form>
  </div>
  <div id="title-edit" class="collapse">
    <form class="form-inline" action="{% locale_url courses_update_attribute course_id=course.id attribute='title' %}" method="POST">
      {% csrf_token %}
      <p>{{ update_form.title }}</p>
      <button type="submit">{% trans "Update title" %}</button>
    </form>
  </div>
{% endblock %}

{% block breadcrumbs %}
  <li class="active"><span class="divider">&rsaquo;</span>{{course.title}}</li>
{% endblock %}

{% block body %}

<div class="row">

{% include "courses/course_sidebar.html" %}

<div id="main" class="span9">

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#about-tab-pane" data-toggle="tab">{% trans 'About' %}</a></li>
      <li><a href="#content-tab-pane" data-toggle="tab">{% trans 'Content' %}</a></li>
      <li><a id="discussion-tab" href="#discussion-tab-pane" data-toggle="tab">{% trans 'Discussion' %}</a></li>
      <li><a href="#badges-tab-pane" data-toggle="tab">{% trans 'Badges' %}</a></li>
      <li><a href="#people-tab-pane" data-toggle="tab">{% trans 'People' %}</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="about-tab-pane">
        {% if about.content|length == 0 %}
          <p>{% blocktrans %}There is no description what this course is about. You can add a description by editing this page.</a>{% endblocktrans %}
          </p>
        {% else %}
          <div>{{about.content|embed|safe}}</div>
        {% endif %}
        <p>
        {% if organizer %}
          <a href="{% locale_url courses_content_edit course_id=course.id content_id=about.id %}?next_url={{course_url}}"><i class="icon-edit"></i></a>
        {% endif %}
        </p>
      </div>
  
      <div class="tab-pane" id="content-tab-pane">
        {% if course.content|length %}
          <table class="table table-striped">
            {% for task in course.content %}
              <tr>
                <td><a class="taskLink" href="{% locale_url courses_content_show course_id=course.id, content_id=task.id %}">{{ task.title }}</a></td>
                {% if organizer %}
                    <td>{% if not forloop.first %}<a class="robttn up" href="{% locale_url courses_content_up course_id=course.id content_id=task.id %}"><i class="icon-arrow-up"></i></a>{% endif %}</td>
                    <td>{% if not forloop.last %}<a class="robttn dwn" href="{% locale_url courses_content_down course_id=course.id content_id=task.id%}"><i class="icon-arrow-down"></i></a>{% endif %}</td>
                {% endif %}

                {% if organizer %}
                  <td><form class="form-inline" action="{% locale_url courses_content_remove course_id=course.id content_id=task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-mini btn-danger" type="submit">{% trans "remove" %}</button>
                  </form></td>
                <td><a href="{% locale_url courses_content_edit course_id=course.id content_id=task.id %}?next_url={{ course_url }}">
                    <i class="icon-edit"></i>
                </a></td>
                {% endif %}
              </tr>
            {% endfor %}
          </table>
          {% if organizer %}
            <a href="{% locale_url courses_create_content course_id=course.id %}?next_url={{ course_url }}">
              <i class="icon-plus"></i>
            </a>
          {% endif %}
        {% else %}
          {% if organizer %}
            <p>{% blocktrans %}No content have been added. {% endblocktrans %}<a href="{% locale_url courses_create_content course_id=course.id%}">Click here</a> to add some content</p>
          {% endif %}
        {% endif %}
      </div>
  
      <div class="tab-pane" id="discussion-tab-pane">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
  
      <div class="tab-pane" id="badges-tab-pane">
      </div>
 
      <div class="tab-pane" id="people-tab-pane">
        <div id="learner-list" class="user-list">
          <h3>{% trans "Learners" %}</h3>
          <ul class="thumbnails">
            {% for user in cohort.learners %}
              {% include "courses/course_user_snip.html" %}
            {% endfor %}
          </ul>
        </div>
        <div id="learner-list" class="user-list">
          <h3>{% trans "Organizers" %}</h3>
          <ul class="thumbnails">
          {% for user in cohort.organizers %}
            {% include "courses/course_user_snip.html" %}           
          {% endfor %}
          </ul>
        </div>
        <p>
            <form action="{% locale_url courses_add_user course_id=course.id %}" method="POST">
                {% csrf_token %}
                <input type="text" name="username" />
                <button type="submit">{% trans "Add user" %}</button>
            </form>
        </p>
      </div>

    </div>
  </div> <!-- /#tabbable -->
</div> <!-- /#main -->

</div> <!-- /#row -->

{% endblock %}

{% block js %}
  <script type="text/javascript">
    $(document).ready(function(){
      $("#id_start_date").datepicker();
    });
  </script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#discussion-tab').one("click", function (e) {
        e.preventDefault();
        $(this).tab('show');
        var disqus_shortname = 'p2pu';
        var disqus_developer = 1;
        var disqus_identifier = "{{course.id}}";
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      });
    });
  </script>

{% endblock %}
