{% extends "base.html" %}
{% load l10n_tags %}
{% load i18n %}
{% load learn_tags %}

{% block title %}{{course.title}}{% endblock %}
{% block bodyclasses %}course-landing{% endblock%}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/course.css?v=1">
{% endblock %}

{% block links %}
{% if project %}
  <meta name="thumbnail" property="og:image" content="{{ project.get_image_url }}" />
{% endif %}
{% endblock %}

{% block breadcrumbs_title %}
  <h1 id="project-name">{{course.title}}</h1>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block body %}

<div id="sidebar-wrapper">

<div id="sidebar">
  <section id="project" class="panel">
    <figure class="project_img">
      <a id="id-course-image-link" href="{{ course.get_absolute_url }}">
        {% if course.image %}
  	         <img id="id-course-image" src="{{ MEDIA_URL }}{{ course.image }}" alt="course image"/>
        {% else %}
             <img id="id-course-image" src="{{ STATIC_URL}}images/project-missing.png" alt="course image"/>
        {% endif %}
        {% if course.draft %}
          <img id="id-course-image-overlay" src="{{ STATIC_URL }}images/course-draft.png" alt="draft course"/>
        {% endif %}
      </a>
    </figure>
    <div id="course-description">
        <p>{{ course.plug }}</p>
    </div>
    <div id="course-language">
        <p>{% language_name course.language %}</p>
    </div>
    <div>
      <p>
        {% trans "draft" %}
        <i class="icon-arrow-right"></i> 
        {% trans "published" %}
        <i class="icon-arrow-right"></i> 
        {% trans "archived" %}
      </p>
      {% if organizer and course.draft %}
        <p>Draft</p>
        <p><a class="button" href="{% locale_url courses_status course_id=course.id status='publish' %}">{% trans "Publish" %}</a></p>
      {% endif %}
      {% if organizer and not course.draft and not course.archived %}
        <p>Published</p>
        <p><a class="button" href="{% locale_url courses_status course_id=course.id status='archive' %}">{% trans "Archive" %}</a></p>
      {% endif %}
      {% if organizer and course.archived %}
        <p>Archived</p>
        <p><a class="button" href="{% locale_url courses_status course_id=course.id status='publish' %}">{% trans "Resurrect" %}</a></p>
      {% endif %}
    </div>
    <div>
      <p>
        {% trans "open" %}
        <i>|</i> 
        {% trans "moderated" %}
        <i>|</i> 
        {% trans "closed" %}
      </p>
      {% if organizer and cohort.signup != 'OPEN' %}
        <p><a href="{% locale_url courses_change_signup course_id=course.id signup='open'%}">Change to Open</a></p>
      {% endif %}
      {% if organizer and cohort.signup != 'MODERATED' %}
        <p><a href="{% locale_url courses_change_signup course_id=course.id signup='moderated'%}">Change to Moderated</a></p>
      {% endif %}
      {% if organizer and cohort.signup != 'CLOSED' %}
        <p><a href="{% locale_url courses_change_signup course_id=course.id signup='closed'%}">Change to Closed</a></p>
      {% endif %}
    </div>
    <div id="course-term">
      {% if cohort.term == 'ROLLING' %}
      <p>{%trans "This course doesn't have start and end dates"%}</p>
        {% if organizer %}
          {%trans "Switch to fixed term and set dates"%}
          <form action="#" method="POST">
            {% csrf_token %}
            <p><input type="date" /></p>
            <p><input type="date" /></p>
            <p><input type="submit" value="{% trans "Convert term" %}"/></p>
          </form>
        {% endif %}
      {% else %}
        {% blocktrans with start_date=cohort.start_date end_date=cohort.end_date %}
          <p>This course runs from {{start_date}} to {{end_date}}</p>
        {% endblocktrans %}
      {% endif %}
    </div>
    <div id="course-singup">
      {% if show_signup %}
        <form method="post" action="{% locale_url courses_signup course_id=course.id %}">
          {% csrf_token %}
          <button id="signup_button">{{ _('Start Course') }}</button>
        </form>
      {% endif %}
      {% if show_leave_course %}
        <form method="post" action="{% locale_url courses_leave course_id=course.id username=user.username %}">
          {% csrf_token %}
          <button id="leave_direct_signup_button">{{ _('Leave Course') }}</button>
        </form>
      {% endif %}
    </div>
    {% if tags %}
      <h3><b>{{ _('Tags') }}</b></h3>
      <ul class="tags">
        {% for tag in tags %}
          <li>
            <a href="{% learn_default tag %}" title="{{ _('View more tagged with ') }}{{ tag.name }}">
              {{ tag.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

  </section>

</div> <!-- /#sidebar -->
</div>


<div id="main">

  <div id="about-tab">
    {% if about.content|length == 0 %}
      <h2>About</h2>
      <p>{% blocktrans %}There is no description what this course is about. You can add a description by editing this page.</a>{% endblocktrans %}
      </p>
    {% else %}
    <h2>{{about.title}}</h2>
    <div class="markup">{{ about.content|safe }}</div>
    {% endif %}
    <p>
    <a href="{% locale_url courses_edit_content course_id=course.id content_id=about.id %}">
        <i class="icon-edit"></i>
    </a>
    </p>
  </div>

  <div id="content-tab">
    <h2>Content</h2>
    {% if course.content|length %}
      <ul>
        {% for task in course.content %}
          <li class="{% cycle 'odd' 'even' %}">
            <a class="taskLink" href="{% locale_url courses_content_show course_id=course.id, content_id=task.id %}">{{ task.title }}</a>
            {% if organizer %}
	            {% if not forloop.first %}<a class="robttn up" href="{% locale_url courses_content_up course_id=course.id content_id=task.id %}">(UP)</a>{% endif %}
	            {% if not forloop.last %}<a class="robttn dwn" href="{% locale_url courses_content_down course_id=course.id content_id=task.id%}">(DOWN)</a>{% endif %}
            {% endif %}
            <a class="taskView" href="#">{{ _('View and Discuss') }}</a>
            <a href="{% locale_url courses_edit_content course_id=course.id content_id=task.id %}">
                <i class="icon-edit"></i>
            </a>

          </li>
        {% endfor %}
        {% if organizer %}
          <a href="{% locale_url courses_create_content course_id=course.id %}">
            <i class="icon-plus"></i>
          </a>
        {% endif %}
      </ul>
    {% else %}
      {% if organizer %}
        <p>{% blocktrans %}No content have been added. {% endblocktrans %}<a href="{% locale_url courses_create_content course_id=course.id%}">Click here</a> to add some content</p>
      {% endif %}
    {% endif %}
  </div>

  <div id="discussion-tab">
    <h2>Discussion</h2>
    {% for comment in comments %}
      <div class="post-container">
        <a name="comment-{{comment.id}}"></a>
        {{comment.content}}
        {% if comment.replies|length > 0 %}
          <p>
            {% blocktrans with reply_count=comment.replies|length %}{{reply_count}} replies{% endblocktrans %}
          </p>
        {% endif %}
        <a href="#"><i class="icon-comment"></i></a>
        <form action="{% locale_url courses_post_comment_reply course_id=course.id content_id=about.id comment_id=comment.id %}" method="POST">
          {% csrf_token %}
          <textarea id="id_comment" name="comment" cols="40" rows="2"></textarea>
          <input type="submit" value="{% trans "Post comment" %}"/>
        </form>
      </div>
    {% endfor %}

    <div>
      <a href="#"><i class="icon-comment"></i></a>
      <form action="{% locale_url courses_post_content_comment course_id=course.id content_id=about.id %}" method="POST">
        {% csrf_token %}
        <textarea id="id_comment" name="comment" cols="40" rows="2"></textarea>
        <input type="submit" value="{% trans "Post comment" %}"/>
      </form>
    </div>
  </div>

  <div id="badges-tab">
    <h2>Badges</h2>
    {% if submission_enabled_badges %}
      <div class="bottom-sidebar">
        {% for badge in submission_enabled_badges %}
          {% if not forloop.first %}<hr class="badge-break">{% endif %}
          <div class="badge">
            {% with awards_count=badge.awards.count pending_count=badge.get_pending_submissions.count %}
              <div class="badge-top">
                <a href="{{ badge.get_absolute_url }}" title="{{ badge|title }}"><img class="badge-graphic" src="{{ badge.get_image_url }}" width="80" height="80" alt="{{ badge|title }}"/></a>
                <div class="badge-awarded">
                  <a class="badge-awarded-header" href="{% locale_url awarded_matching_submissions slug=badge.slug %}">{{ _('Awarded') }}</a>
                  <a class="badge-awarded-number" href="{% locale_url awarded_matching_submissions slug=badge.slug %}">{{ awards_count }}</a>
                </div>
                <div class="badge-pending">
                  <a class="badge-pending-header" href="{% locale_url matching_submissions slug=badge.slug %}">{{ _('Pending') }}</a>
                  <a class="badge-pending-number" href="{% locale_url matching_submissions slug=badge.slug %}">{{ pending_count }}</a>
                </div>
              </div>
              <div class="badge-bottom">
                {% if pending_count %}
                  <a href="{% locale_url matching_submissions slug=badge.slug %}">
                    {% blocktrans count counter=pending_count %}{{ counter }} peer needs your review!{% plural %}{{ counter }} peers need your review!{% endblocktrans %} {{ _('Go') }} →
                  </a>
                {% endif %}
              </div>
            {% endwith %}
          </div>
        {% endfor %}
      </div>
    {% endif %}


  </div>

  <div id="people-tab">
    <h2>{% trans "People" %}</h2>
      {% for user in cohort.users %}
        <div class="user-tile">
          <a href="#"><img src="{{ STATIC_URL }}/images/member-missing.png" alt="{{user.username}}"></a>
          {% if organizer %}
            <a href="{% locale_url courses_leave course_id=course.id username=user.username %}">{% trans "Remove user" %}</a>
            {% if user.role == "LEARNER" %}
              <a href="#">{% trans "Make organizer" %}</a>
            {% endif %}
          {% endif %}
        </div>
      {% empty %}
        {{ _("No users are taking this course, be the first to sign up!!") }}
      {% endfor %}
  </div>
</div> <!-- /#main -->


{% endblock %}
