{% extends "base.html" %}
{% load i18n %}
{% load l10n_tags %}

{% block title %}Create a new course{% endblock %}
{% block bodyclasses %}course-create{% endblock%}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/course.css">
<link rel="stylesheet" href="{{ STATIC_URL }}pagedown/pagedown.css">
{% endblock %}

{% block links %}
{% endblock %}

{% block breadcrumbs_title %}
  <h1 id="project-name">
    <a href="{% locale_url courses_show course_id=course.id slug=course.slug%}">[{{course.short_title}}] {{course.title}}</a></h1>
{% endblock %}

{% block breadcrumbs %}
  <li>
    <span class="divider">&rsaquo;</span>
    <a href="{% locale_url courses_show course_id=course.id slug=course.slug%}">{{course.title}}</a>
  </li>
{% endblock %}


{% block body %}

<div class="row">
  <div id="sidebar-wrapper" class="span3">
    {% include "courses/content_sidebar.html" %}
  </div>
 
  <div class="span9">
    <form action="" method="POST">
      {% csrf_token %}
      <div><input type="hidden" value="{{next_url}}" name="next_url"/></div>
      <p><label for="id_title">Title</label>{{ form.title }}</p>
      <p>{{form.content}}</p>
      <button type="submit">{% trans 'Create content!' %}</button>
    </form>
  </div>

</div>
{% endblock %}

{% block js %}
  <script src="{{ STATIC_URL }}pagedown/Markdown.Converter.js"></script>
  <script src="{{ STATIC_URL }}pagedown/Markdown.Sanitizer.js"></script>
  <script src="{{ STATIC_URL }}pagedown/Markdown.Editor.js"></script>
  <script src="{{ STATIC_URL }}pagedown/Markdown.JQueryPlugin.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $("#id_content").daveDown();
    });
  </script>
{% endblock %}
