{% extends "base.html" %}
{% load l10n_tags %}

{% block title %}Create a new course{% endblock %}
{% block bodyclasses %}course-create{% endblock%}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/course.css">
{% endblock %}

{% block links %}
{% endblock %}

{% block breadcrumbs_title %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block body %}
  <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{{_('Create my course!')}}"/>
  </form>
{% endblock %}
