{% extends "base.html" %}
{% load i18n %}
{% load l10n_tags %}

{% block title %}Create a new course{% endblock %}
{% block bodyclasses %}course-create{% endblock%}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/course.css">
<link rel="stylesheet" href="{{ STATIC_URL }}pagedown/pagedown.css">
{% endblock %}

{% block links %}
{% endblock %}

{% block breadcrumbs_title %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block body %}
  <form action="" method="POST">
    {% csrf_token %}
    <div><input type="hidden" value="{{next_url}}" name="next_url"/></div>
    <p><label for="id_title">Title</label>{{ form.title }}</p>
    <p>{{form.content}}</p>

    <input type="submit" value="{% trans 'Update content!' %}"/>
  </form>
{% endblock %}

{% block js %}
  <script src="{{ STATIC_URL }}pagedown/Markdown.Converter.js"></script>
  <script src="{{ STATIC_URL }}pagedown/Markdown.Sanitizer.js"></script>
  <script src="{{ STATIC_URL }}pagedown/Markdown.Editor.js"></script>
  <script src="{{ STATIC_URL }}pagedown/Markdown.JQueryPlugin.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $("#id_content").daveDown();
    });
  </script>

{% endblock %}
