{% extends "base.html" %}
{% load i18n %}
{% load l10n_tags %}

{% block title %}{{content.title}}{% endblock %}
{% block bodyclasses %}course-content{% endblock%}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/course.css">
<link rel="stylesheet" href="{{ STATIC_URL }}pagedown/pagedown.css">
{% endblock %}

{% block breadcrumbs_title %}
  <h1 id="project-name">
    <a href="{% locale_url courses_show course_id=course.id slug=course.slug%}">[{{course.short_title}}] {{course.title}}</a></h1>
{% endblock %}

{% block breadcrumbs %}
  <li>
    <span class="divider">&rsaquo;</span>
    <a href="{% locale_url courses_show course_id=course.id slug=course.slug%}">{{course.title}}</a>
  </li>

{% endblock %}

{% block body %}
<div class="row">
<div id="sidebar-wrapper" class="span3">
  {% include "courses/content_sidebar.html" %}
</div>
 
<div id="content-container" class="span9">
  <h2>{{ content.title }}</h2>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#edit-tab" data-toggle="tab">{% trans "Edit" %}</a></li>
      <li><a href="#view-tab" data-toggle="tab">{% trans "Preview" %}</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="edit-tab">
        <div id="content-editor" class="">
          <form action="{% locale_url courses_content_edit course_id=course.id content_id=content.id %}" method="POST">
            {% csrf_token %}
            <!--p><label for="id_title">Title</label>{{ form.title }}</p-->
            <div id="id_content-wmd-button-bar"></div>
            <textarea id="id_content" name="content" class="span8" rows="25">{{content.content}}</textarea>
            <input type="submit" value="{% trans 'Update content!' %}"/>
          </form>
        </div>
      </div>
      <div class="tab-pane" id="view-tab">
        <div id="id_content-wmd-preview"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  <script src="{{ STATIC_URL }}pagedown/Markdown.Converter.js"></script>
  <script src="{{ STATIC_URL }}pagedown/Markdown.Sanitizer.js"></script>
  <script src="{{ STATIC_URL }}pagedown/Markdown.Editor.js"></script>
  <script src="{{ STATIC_URL }}pagedown/Markdown.JQueryPlugin.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      var converter1 = Markdown.getSanitizingConverter();
      var editor1 = new Markdown.Editor(converter1, "id_content");
      editor1.run();
    });
  </script>

{% endblock %}
