{% load l10n_tags %}
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ _('CKEDitor | Select a file to attach') }}</title>
  </head>
  <body>
    {% if files %}
      <h2>{{ _('Select the file you want, then click \'Attach File\' to continue...') }}</h2>
      <form action="{{ action }}" method="post">
        {% csrf_token %}
        {{ form.CKEditorFuncNum }}
        <fieldset>
          <legend>{{ _('Files') }}</legend>
          <p>
            {{ form.file }}
            {% if form.file.errors %}
              <span>{{ form.file.errors|join:", " }}</span>
            {% endif %}
          </p>
          <input type="submit" value="{{ _('Attach File') }}">
        </fieldset>
      </form>
    {% else %}
      <h2>{{ _('No files found. Upload files using the \'Link Button\' dialog\'s \'Upload\' tab.') }}</h2>
    {% endif %}
    </body>
</html>
