{% extends "base.html" %}
{% load l10n_tags %}

{% block bodyid %}account_settings{% endblock %}
{% block bodyclasses %}edit notifications{% endblock %}
{% block title %}{{ _('Account Settings') }}{% endblock %}
{% block breadcrumbs %}
  <div class="container">
    <nav>
      <a href="{% locale_url dashboard_index %}">{{ _('Dashboard') }}</a>
      <span class="arrow">&rsaquo;</span>
      <a href="{% locale_url preferences_settings %}">{{ _('Account Settings') }}</a>
    </nav>
  </div> <!-- /.container -->
{% endblock %}
{% block body %}
<section class="modal nav">
<article>
  <h1>
    {{ _('Account Settings') }}
    <a class="pester back_link" href="{% locale_url dashboard_index %}">({{ _('Return to Dashboard') }})</a>
  </h1>
  <nav id="account-settings-nav" class="tabs">
    <ul>
      <li class="notifications"><a href="{% locale_url preferences_settings %}">{{ _('Notifications') }}</a></li>
      <li class="delete"><a href="{% locale_url preferences_delete %}">{{ _('Delete Account') }}</a></li>
    </ul>
  </nav>
  
    {% block form %}{% endblock %}

</article>
</section>

{% endblock %}
