{% extends "preferences/settings.html" %}
{% load l10n_tags %}
{% block bodyclasses %}edit account notifications{% endblock %}
{% block title %}{{ _('Notification Settings') }}{% endblock %}
{% block form %}
<fieldset id="edit_account_notifications" class="edit account notifications tabpane">
    <h2>{{ _('Send me an email when...') }}</h2>
    <form action="{% locale_url preferences_settings %}" method="post">
      {% csrf_token %}
      <p>
        <label for="id_no_email_message_received">
          <input type="checkbox" id="id_no_email_message_received" name="no_email_message_received" {% if not no_email_message_received %}checked="checked"{% endif %} />
          {{ _('A user messages me on drumbeat.org.') }}
        </label>
      </p>
      <p>
        <label for="id_no_email_new_follower">
          <input type="checkbox" id="id_no_email_new_follower" name="no_email_new_follower" {% if not no_email_new_follower %}checked="checked"{% endif %} />
          {{ _('Someone starts following me.') }}
        </label>
      </p>
      <p>
        <label for="id_no_email_new_project_follower">
          <input type="checkbox" id="id_no_email_new_project_follower" name="no_email_new_project_follower" {% if not no_email_new_project_follower %}checked="checked"{% endif %} />
          {{ _('Someone starts following one of my projects.') }}
        </label>
      </p>
      <p class="buttons">
        <a class="button" href="{% locale_url dashboard_index %}">{{ _('Cancel') }}</a>
        <button type="submit" value="{{ _('Save') }}" >{{ _('Save') }}</button>
      </p>
    </form>
</fieldset>
{% endblock %}
