{% extends "base.html" %}
{% load l10n_tags %}

{% block body %}
<section class="modal">
  <article>
    {% block page_form_title %}{% endblock %}
    <br />
    <fieldset>
    <form action="{% block page_form_url %}{% endblock %}" method="post" {% block form_extra_attributes %}{% endblock %}>
      {% csrf_token %}
      {% block extra_fields %}{%endblock%}
      {% if form.title %}
        <div class="field{% if form.title.errors %} error{% endif %}">
          <label for="id_title">{{ _('Title') }}</label>
          <span class="hint block">{{ _('A good title is short and descriptive.') }}</span>
          {{ form.title }}
          {{ form.title.errors }}
        </div>
      {% endif %}
      <div class="field{% if form.content.errors %} error{% endif %}">
        {{ form.content }}
        {{ form.content.errors }}
      </div>
      {% if form.collaborative %}
        <div class="field{% if form.collaborative.errors %} error{% endif %}">
          {{ form.collaborative }} {{ _('Collaborative work (editable by all the participants).') }}
          {{ form.collaborative.errors }}
        </div>
      {% endif %}
      <p class="content_buttons">
        {% block page_form_buttons %}{% endblock %}
      </p>
    </form>
    </fieldset>
  </article>
</section>
{% endblock %}
