{% extends "base.html" %}
{% load l10n_tags %}

{% block title %}{{ page.project.name }} | {{ page.title }}{% endblock %}
{% block bodyid %}page{% endblock %}

{% block breadcrumbs %}
  <div class="container">
    <nav>
      <a href="{% locale_url projects_gallery %}">{{ _('Courses') }}</a>
      <span class="arrow">&rsaquo;</span>
      <a href="{% locale_url projects_show slug=page.project.slug %}">{{ page.project.name }}</a>
      <span class="arrow">&rsaquo;</span>
      <a href="{% locale_url page_show slug=page.slug %}">{{ page.title }}</a>
    </nav>

    {% block content_actions %}
    {% endblock %}

  </div> <!-- /.container -->
{% endblock %}
{% block body %}
{% block content_body %}{% endblock %}
{% include "_footer.html" %}
{% endblock %}
