{% extends "content/base_page_form.html" %}
{% load l10n_tags %}
{% load youtube %}
{% load slideshare %}

{% block bodyid %}comment{% endblock %}


{% block project_breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url projects_task_list slug=project.slug %}">{{ _('Task List') }}</a>
  <span class="arrow">&rsaquo;</span>
  <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
  {% if comment %}
    <span class="arrow">&rsaquo;</span>
    <a href="{{ comment.get_absolute_url }}">{{ comment.author }} {{ comment.created_on }}</a>
  {% else %}{% if reply_to %}
    <span class="arrow">&rsaquo;</span>
    <a href="{{ reply_to.get_absolute_url }}">{{ reply_to.author }} {{ reply_to.created_on }}</a>
  {% endif %}{% endif %}
{% endblock %}


{% block page_form_title %}
  {% if comment %}
    <h1>{{ _('Edit Comment') }} {{ comment.author }} {{ comment.created_on }} </h1>
  {% else %}{% if reply_to %}
    <h1>{{ _('Reply Comment') }} </h1>
    <div id="posts"><div class="post-container">
      <img class="member-picture" width="54" height="54" src="{{ reply_to.author.image_or_default }}">
      <div class="post-contents">
        <div class="post-details">
          {{ reply_to.author.display_name }} &nbsp; {{ reply_to.created_on }}
        </div>
        <div class="post-body">
          {{ reply_to.content|youtube|slideshare|safe }}
        </div>
      </div>
    </div></div>
    <br clear="both">
  {% else %}
    <h1>{{ _('Comment') }} {{ page.title }}</h1>
  {% endif %}{% endif %}
{% endblock %}

{% block page_form_url %}
  {% if comment %}
    {% locale_url comment_edit slug=page.project.slug page_slug=page.slug comment_id=comment.id %}
  {% else %}{% if reply_to %}
    {% locale_url comment_reply slug=page.project.slug page_slug=page.slug comment_id=reply_to.id %}
  {% else %}
    {% locale_url page_comment slug=page.project.slug page_slug=page.slug %}
  {% endif %}{% endif %}
{% endblock %}

{% block page_form_buttons %}
  {% if comment %}
    <a class="button" href="{{ comment.get_absolute_url }}">
  {% else %}{% if reply_to %}
    <a class="button" href="{{ reply_to.get_absolute_url }}">
  {% else %}
    <a class="button" href="{{ page.get_absolute_url }}">
  {% endif %}{% endif %}
    {{ _('Cancel') }}
  </a>
  {% if comment %}
    <button type="submit" value="{{ _('Save') }}">{{ _('Save') }}</button>
  {% else %}
    <button type="submit" value="{{ _('Post') }}">{{ _('Post') }}</button>
  {% endif %}
  <button type="button" id="previewButton" onclick="javascript:showPreview()" value="{{ _('Preview') }}">{{ _('Preview') }}</button>
  <p> 
  <div id="preview">
  </div>
  </p>
{% endblock %}
