{% extends "content/base_page_form.html" %}
{% load l10n_tags %}
{% load youtube %}
{% load slideshare %}

{% block bodyid %}sign_up_task{% endblock %}


{% block project_breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url projects_task_list slug=project.slug %}">{{ _('Task List') }}</a>
  <span class="arrow">&rsaquo;</span>
  <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
  {% if comment %}
    <span class="arrow">&rsaquo;</span>
    <a href="{{ comment.get_absolute_url }}">{{ comment.author }} {{ comment.created_on }}</a>
  {% else %}{% if reply_to %}
    <span class="arrow">&rsaquo;</span>
    <a href="{{ reply_to.get_absolute_url }}">{{ reply_to.author }} {{ reply_to.created_on }}</a>
  {% endif %}{% endif %}
{% endblock %}

{% block page_form_title %}
  {% if comment and reply_to %}
    <h1>{{ _('Edit Comment') }} {{ comment.author }} {{ comment.created_on }} </h1>
  {% else %}{% if comment %}
    <h1>{{ _('Edit Answer') }} {{ comment.author }} {{ comment.created_on }} </h1>
  {% else %}{% if reply_to %}
    <h1>{{ _('Reply') }}</h1>
    <br>
    <div id="posts"><div class="post-container">
      <img class="member-picture" width="54" height="54" src="{{ reply_to.author.image_or_default }}">
      <div class="post-contents">
        <div class="post-details">
          {{ reply_to.author.display_name }} &nbsp; {{ reply_to.created_on }}
        </div>
        <div class="post-body">
          {% if not reply_to.reply_to %}
            <p><strong>{{ _('Bio:') }}</strong> {{ reply_to.author.bio|safe }}</p>
	        <p><strong>{{ _('Location:') }}</strong> {{ reply_to.author.location }}</p>
	        <h3>{{ _('Answer:') }}</h3>
          {% endif %}
          {{ reply_to.content|youtube|slideshare|safe }}
       </div>
    </div></div>
    <br clear="both">
  {% else %}
    <h1>{{ page.title }} {{ _(': Answer Questions') }}</h1>
  {% endif %}{% endif %}{% endif %}
{% endblock %}

{% block page_form_url %}
  {% if comment %}
    {% locale_url sign_up_edit_comment slug=page.project.slug comment_id=comment.id %}
  {% else %}{% if reply_to %}
    {% locale_url sign_up_reply slug=page.project.slug comment_id=reply_to.id %}
  {% else %}
    {% locale_url page_comment slug=page.project.slug page_slug=page.slug %}
  {% endif %}{% endif %}
{% endblock %}

{% block form_extra_attributes %}
  {% if not reply_to %}
   enctype="multipart/form-data" data-url="{% locale_url users_profile_edit_image_async %}"
  {% endif %}
{% endblock %}

{% block extra_fields %}
  {% if not reply_to %}
    <h2>{{ _('Profile') }}</h2>
    {% if not comment %}<p class="hint">{{ _('First update your profile information, which will be included with your answer.') }}</p>{% endif %}
    {% include "users/_profile_edit_image.html" %}
    {% include "users/_profile_edit.html" %}
    <h2>{{ _('Questions') }}</h2>
    {% if not comment %}<p class="hint">{{ _('Then answer the sign-up questions listed below.') }}</p>{% endif %}
    {% include "projects/sign_up_initial_content.html" %}
  {% endif %}
{%endblock%}

{% block page_form_buttons %}
  {% if comment %}
    <a class="button" href="{{ comment.get_absolute_url }}">
  {% else %}{% if reply_to %}
    <a class="button" href="{{ reply_to.get_absolute_url }}">
  {% else %}
    <a class="button" href="{{ page.get_absolute_url }}">
  {% endif %}{% endif %}
    {{ _('Cancel') }}
  </a>
  {% if comment %}
    <button type="submit" value="{{ _('Save') }}">{{ _('Save') }}</button>
  {% else %}{% if reply_to %}
    <button type="submit" value="{{ _('Post') }}">{{ _('Post') }}</button>
  {% else %}
    <button type="submit" value="{{ _('Submit') }}">{{ _('Submit') }}</button>
  {% endif %}{% endif %}
  <button type="button" id="previewButton" onclick="javascript:showPreview()" value="{{ _('Preview') }}">{{ _('Preview') }}</button>
  <p> 
  <div id="preview">
  </div>
  </p>
{% endblock %}
