{% extends "content/base_page_form.html" %}
{% load l10n_tags %}

{% block title %}{{ project.name }} | {{ _('Create Page') }}{% endblock %}

{% block bodyid %}create_page{% endblock %}

{% block breadcrumbs %}
  <div class="container">
    <nav>
      <a href="{% locale_url projects_gallery %}">{{ _('Courses') }}</a>
      <span class="arrow">&rsaquo;</span>
      <a href="{% locale_url projects_show slug=project.slug %}">{{ project.name }}</a>
    </nav>
  </div> <!-- /.container -->
{% endblock %}

{% block page_form_title %}
  <h1>{{ _('Create Page') }}</h1>
{% endblock %}

{% block page_form_url %}
  {% locale_url page_create slug=project.slug %}
{% endblock %}

{% block page_form_buttons %}
  <a class="button" href="{% locale_url projects_show slug=project.slug %}">
    {{ _('Cancel') }}
  </a>
  <button type="submit" value="{{ _('Create') }}">{{ _('Create') }}</button>
{% endblock %}
