{% extends "content/base_page_form.html" %}
{% load l10n_tags %}
{% load youtube %}
{% load slideshare %}

{% block project_title %}{{ _('Create Task') }}{% endblock %}

{% block bodyid %}create_page{% endblock %}

{% block project_breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url projects_task_list slug=project.slug %}">{{ _('Task List') }}</a>
{% endblock %}

{% block page_form_title %}
  <h1>{{ _('Create Task') }}</h1>
{% endblock %}

{% block content_preview %}
  <h1 class="{% if page.collaborative %}collaborative{% endif %} school_header">
    {{ _('[Preview]') }} {{ page.title }}
  </h2>
  <hr />
  {{ page.content|youtube|slideshare|safe }}
{% endblock %}

{% block extra_fields %}
  <span class="hint block">{{ _('Constructing a good task is crucial to the peer learning process. Tasks should have a clear goal in mind and should be sequential throughout the learning process. A task can be as big or as small and last as long as you like - it can be a planned discussion for one day, a piece of writing constructed over a week, a project that lasts for a few weeks, or a month-long endeavour that everyone works on.') }}</span>
{% endblock %}

{% block page_form_url %}
  {% locale_url page_create slug=project.slug %}
{% endblock %}

{% block page_form_buttons %}
  <a class="button" href="{{ project.get_absolute_url }}">
    {{ _('Cancel') }}
  </a>
  <button type="submit" value="{{ _('Create') }}">{{ _('Create') }}</button>
{% endblock %}
