{% extends "content/base_page_form.html" %}
{% load l10n_tags %}
{% load youtube %}
{% load slideshare %}


{% block bodyid %}edit_page{% endblock %}


{% block project_breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url projects_task_list slug=project.slug %}">{{ _('Task List') }}</a>
  <span class="arrow">&rsaquo;</span>
  <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
{% endblock %}


{% block page_form_title %}
  <h1>[{{ _('Edit') }}] {{ page.title }}</h1>
{% endblock %}

{% block page_form_url %}
  {% locale_url page_edit slug=page.project.slug page_slug=page.slug %}
{% endblock %}

{% block extra_fields %}
  {% if page.listed %}
  <span class="hint block">{{ _('Constructing a good task is crucial to the peer learning process. Tasks should have a clear goal in mind and should be sequential throughout the learning process. A task can be as big or as small and last as long as you like - it can be a planned discussion for one day, a piece of writing constructed over a week, a project that lasts for a few weeks, or a month-long endeavour that everyone works on.') }}</span>
  {% endif %}
{% endblock %}

{% block content_preview %}
  <h1 class="{% if page.collaborative %}collaborative{% endif %} school_header">
    {{ _('[Preview]') }} {{ page.title }}
  </h2>
  <hr />
  {{ page.content|youtube|slideshare|safe }}
{% endblock %}

{% block page_form_buttons %}
  <div class="field{% if form.minor_update.errors %} error{% endif %}">
    {{ form.minor_update }} {{ _('Minor update (not posted to the wall).') }}
    {{ form.minor_update.errors }}
  </div>
  <a class="button" href="{{ page.get_absolute_url }}">
    {{ _('Cancel') }}
  </a>
  <button type="submit" value="{{ _('Save') }}">{{ _('Save') }}</button>
{% endblock %}
