{% extends "content/base_page_form.html" %}
{% load l10n_tags %}

{% block title %}{{ project.name }} | {{ page.title }}{% endblock %}

{% block bodyid %}edit_page{% endblock %}


{% block breadcrumbs %}
  <div class="container">
    <nav>
      <a href="{% locale_url projects_gallery %}">{{ _('Courses') }}</a>
      <span class="arrow">&rsaquo;</span>
      <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
      <span class="arrow">&rsaquo;</span>
      <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
    </nav>
  </div> <!-- /.container -->
{% endblock %}


{% block page_form_title %}
  <h1>{{ _('Edit Page') }} {{ page.title }}</h1>
{% endblock %}

{% block page_form_url %}
  {% locale_url page_edit slug=page.project.slug page_slug=page.slug %}
{% endblock %}

{% block page_form_buttons %}
  <a class="button" href="{{ page.get_absolute_url }}">
    {{ _('Cancel') }}
  </a>
  <button type="submit" value="{{ _('Save') }}">{{ _('Save') }}</button>
{% endblock %}
