{% extends "projects/base.html" %}
{% load l10n_tags %}
{% load project_tags %}

{% block project_title %}{{ page.title }}{% endblock %}

{% block bodyid %}page{% endblock %}

{% block project_breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url projects_task_list slug=project.slug %}">{{ _('Task List') }}</a>
  <span class="arrow">&rsaquo;</span>      
  <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url page_history slug=project.slug page_slug=page.slug %}">{{ _('History') }}</a>
{% endblock %}

{% block body %}
{% sidebar %}
<div id="main" class="content_page">
<h1>[{{ _('History') }}] {{ page.title }}</h1>
<hr />
<ul>
  {% if page.deleted %}
    <li>{{ _('deleted') }} &nbsp; {{ page.last_update }}
  {% else %}
    <li>{{ _('(current)') }} &nbsp; <a href="{{ page.get_absolute_url }}">{{ page.last_update }}</a>
  {% endif %}
    &nbsp;
    <a href="{{ page.author.get_absolute_url }}">{{ page.author }}</a></li>
  {% for version in versions %}
    {% if version.deleted %}
      <li>{{ _('deleted') }} &nbsp; {{ version.date }}
    {% else %}
      <li><a href="{{ version.get_absolute_url }}">{{ version.date }}</a>
    {% endif %}
    &nbsp;
    <a href="{{ version.author.get_absolute_url }}">{{ version.author }}</a></li>
  {% endfor %}
</ul>
</div>
{% endblock %}

