{% extends "base.html" %}
{% load l10n_tags %}
{% load youtube %}
{% load slideshare %}
{% load project_tags %}

{% block title %}{{ project.name }} | {{ page.title }}{% endblock %}

{% block bodyid %}page{% endblock %}

{% block breadcrumbs %}
  <div class="container">
    <nav>
      <a href="{% locale_url projects_gallery %}">{{ _('Courses') }}</a>
      <span class="arrow">&rsaquo;</span>
      <a href="{% locale_url projects_show slug=project.slug %}">{{ project.name }}</a>
      <span class="arrow">&rsaquo;</span>
      <a href="{% locale_url page_show slug=project.slug page_slug=page.slug %}">{{ page.title }}</a>
    </nav>
      <div id="project-actions">
        <a class="button" href="{% locale_url page_history slug=project.slug page_slug=page.slug %}">{{ _('View History') }}</a>
        {% if can_edit %}
          <a class="button" href="{% locale_url page_edit slug=project.slug page_slug=page.slug %}">{{ _('Edit Page') }}</a>
          <a class="button" href="{% locale_url page_comment slug=project.slug page_slug=page.slug %}">{{ _('Post Comment') }}</a>
        {% endif %}
      </div>
  </div> <!-- /.container -->
{% endblock %}

{% block body %}
{% sidebar %}
<div id="main" class="content_page">
<h1>{{ page.title }}</h1>
<hr />
{{ page.content|youtube|slideshare|safe }}
{% if page.comments.all %}
<br>
<h1>{{_('Comments')}}</h1>
{% for comment in page.comments.all %}
<hr>
<a name="{{ comment.id }}"></a>
<h2><a href="{{ comment.author.get_absolute_url }}">{{ comment.author.display_name }}</a> &nbsp; &nbsp; <a href="{{ page.get_absolute_url }}#{{ comment.id }}">{{comment.created_on}}</a></h2><br>
{{ comment.content|youtube|slideshare|safe }}
{% endfor %}
{% endif %}
</div>
{% endblock %}

