{% extends "content/base_page_form.html" %}
{% load l10n_tags %}
{% load youtube %}
{% load slideshare %}

{% block bodyid %}edit_page{% endblock %}


{% block project_breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url projects_task_list slug=project.slug %}">{{ _('Task List') }}</a>
  <span class="arrow">&rsaquo;</span>
  <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url page_history slug=project.slug page_slug=page.slug %}">{{ _('History') }}</a>
  <span class="arrow">&rsaquo;</span>
  <a href="{{ version.get_absolute_url }}">{{ version.date }}</a>
{% endblock %}


{% block page_form_title %}
  <h1>{{ _('Restore') }} {{ version.title }} {{ version.date }}</h1>
{% endblock %}

{% block page_form_url %}
  {% locale_url version_restore slug=page.project.slug page_slug=page.slug version_id=version.id %}
{% endblock %}

{% block content_preview %}
  <h1 class="{% if page.collaborative %}collaborative{% endif %} school_header">
    {{ _('[Preview]') }} {{ page.title }}
  </h2>
  <hr />
  {{ page.content|youtube|slideshare|safe }}
{% endblock %}

{% block page_form_buttons %}
  <div class="field{% if form.minor_update.errors %} error{% endif %}">
    {{ form.minor_update }} {{ _('Minor update (not posted to the wall).') }}
    {{ form.minor_update.errors }}
  </div>
  <a class="button" href="{% locale_url page_version slug=page.project.slug page_slug=page.slug version_id=version.id %}">
    {{ _('Cancel') }}
  </a>
  <button type="submit" value="{{ _('Restore') }}">{{ _('Restore') }}</button>
{% endblock %}
