{% extends "base.html" %}
{% load l10n_tags %}

{% block bodyid %}dashboard{% endblock %}

{% block body %}
<div id="create-post">
  <div class="post-container">
    <form id="post-status-update" method="post" action="{% locale_url statuses_create %}">
      {% csrf_token %}
      <input type="text" value="">
      <input type="hidden" name="in_reply_to" value="{{ parent.id }}" />
      <textarea name="status"></textarea>
      <div class="status-and-actions">
        <div class="post-char-count">750</div>
        <button class="button update submit" id="post-update">Post Update</button>
      </div> <!-- /.status-and-actions -->
    </form>
  </div>
</div>
{% endblock %}
