{% extends "base.html" %}
{% block body %}
<div class="status">
  <div class="user_icon">
    <a href="{{ status.get_absolute_url }}">
      {% if status.author.get_profile.image %}
      <img width="45" height="45" src="{{ MEDIA_URL }}{{ status.author.get_profile.image }}" />
      {% else %}
      <img width="45" height="45" src="{{ MEDIA_URL }}images/member-missing.png" />
      {% endif %}
    </a>
  </div>
  <a href="{{ status.author.get_profile.get_absolute_url }}">{{ status.author.get_profile.get_full_name_or_username }}</a>
  {{ status.status }} (<small><a href="{{ status.get_absolute_url }}">{{ status.timesince }} ago</a></small>)
</div>
{% endblock %}
