{% extends "base.html" %}
{% load l10n_tags %}

{% block title %}{{ challenge.title }}{% endblock %}

{% block breadcrumbs %}
<div class="container">
  <nav>
    <a href="{% locale_url projects_gallery %}">{{ _('Projects') }}</a>
    <span class="arrow">&rsaquo;</span>
    <a href="{% locale_url projects_show slug=challenge.project.slug %}">{{ challenge.project.name }}</a>
    <span class="arrow">&rsaquo;</span>
    <a href="{% locale_url challenges_show slug=challenge.slug %}">{{ challenge.title }}</a>
  </nav>

  <div id="project-actions">
    {% if challenge.is_active %}
    <a class="button" href="{% locale_url submissions_create slug=challenge.slug %}">{{ _('Enter Submission') }}</a>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block bodyid %}challenge_landing{% endblock %}

{% block body %}
<div id="sidebar">
  <section id="challenge" class="panel">
    <h1 id="challenge-title">{{ challenge.title }}</h1>
    <h2 id="project-name">
      <a href="{% locale_url projects_show slug=challenge.project.slug %}">{{ challenge.project.name }}</a>
    </h2>

    <dl id="project-stats">
      <dt>{{ _('Submissions') }}:</dt>
      <dd>{{ nsubmissions }}</dd>

      <dt>{{ _('Start date') }}:</dt>
      <dd>{{ challenge.start_date  }}</dd>

      <dt>{{ _('End date') }}:</dt>
      <dd>{{ challenge.end_date  }}</dd>      
    </dl>
  </section>

  <a id="project-description-link" href="{% locale_url challenges_show_full slug=challenge.slug %}">View Full Details</a>  

</div><!-- /#sidebar -->

<div id="main">
  <ul id="posts">
    {% for submission in submissions.object_list %}
      {% include "challenges/_submission_resource.html" %}
    {% endfor %}
  </ul>

  <div class="pagination">
    <span class="step-links">
      {% if submissions.has_previous %}
      <a href="?page={{ submissions.previous_page_number }}">previous</a>
      {% endif %}
      
      <span class="current">
        Page {{ submissions.number }} of {{ submissions.paginator.num_pages }}
      </span>
      
      {% if submissions.has_next %}
      <a href="?page={{ submissions.next_page_number }}">next</a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock %}

