{% extends "base.html" %}
{% load l10n_tags %}

{% block title %}{{ challenge.title }}{% endblock %}
{% block bodyid %}challenge_full{% endblock %}

{% block breadcrumbs %}
  <div class="container">
    <nav>
      <a href="{% locale_url projects_gallery %}">{{ _('Projects') }}</a>
      <span class="arrow">&rsaquo;</span>
      <a href="{% locale_url projects_show slug=challenge.project.slug %}">{{ challenge.project.name }}</a>
    <span class="arrow">&rsaquo;</span>
    <a href="{% locale_url challenges_show slug=challenge.slug %}">{{ challenge.title }}</a>
    </nav>
    
    <div id="project-actions">
      {% if challenge.is_active %}
      <a class="button" href="{% locale_url submissions_create slug=challenge.slug %}">{{ _('Enter Submission') }}</a>
      {% endif %}
    </div>
    
  </div> <!-- /.container -->
{% endblock %}
{% block body %}
<article class="challenge_details">
  <h1>{{ challenge.title }}</h1>
  <div class="brief">
    <h2>{{ _('The Brief') }}</h2>
    {{ challenge.brief }}
  </div>

  <div class="guidelines">
    <h2>{{ _('How does it work? (Submission guidelines)') }}</h2>
    {{ challenge.guidelines }}
  </div>

  <div class="important_dates">
    <h2>{{ _('Important Dates') }}</h2>
    <p>Submissions open {{ challenge.start_date }} - {{ challenge.end_date }}</p>
    {{ challenge.important_dates }}
  </div>

  <div class="resources">
    <h2>{{ _('Resources and Support') }}</h2>
    {{ challenge.resources }}
  </div>

  <div class="rules">
    <h2>{{ _('Rules') }}</h2>
    {{ challenge.rules }}
  </div>
</article>
{% include "_footer.html" %}
{% endblock %}
