{% extends "base.html" %}

{% load l10n_tags %}

{% block breadcrumbs %}
<div class="container">
  <nav>
    <a href="{% locale_url projects_gallery %}">{{ _('Projects') }}</a>
    <span class="arrow">&rsaquo;</span>
    <a href="{% locale_url projects_show slug=challenge.project.slug %}">{{ challenge.project.name }}</a>
    <span class="arrow">&rsaquo;</span>
    <a href="{% locale_url challenges_show slug=challenge.slug %}">{{ challenge.title }}</a>
    <span class="arrow">&rsaquo;</span>
    <a href="{% locale_url challenges_judges slug=challenge.slug %}">{{ _('Judges') }}</a>
  </nav>
</div>
{% endblock %}

{% block body %}
<section class="modal">
  <article class="links">
    <h1>{{ _('Judges') }}</h1>

    <fieldset id="challenge_edit" class="challenge edit">
      <form method="post" action="{% locale_url challenges_judges slug=challenge.slug %}">
        {% csrf_token %}
        <div class="field{% if form.user.errors %} error{% endif %} link">
          <label for="">{{ _('Username') }}</label>
          {{ form.user }}
          {{ form.user.errors }}
        </div>

        {{ form.challenge }}

        <p class="buttons add-link">
          <button type="submit" value="{{ _('Add') }}">{{ _('Add') }}</button>
        </p>
      </form>

      {% if judges %}
      <table>
        <thead>
          <tr>
            <th>{{ _('Name') }}</th>
            <th>{{ _('Actions') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for judge in judges %}
          <tr>
            <td class="name">{{ judge.user }}</td>
            <td class="actions">
              <form method="post" action="{% locale_url challenges_judge_delete slug=challenge.slug judge=judge.id %}">
                {% csrf_token %}
                <button type="submit" value="{{ _('Delete') }}">{{ _('Delete') }}</button>
              </form>
              
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </fieldset>

  </article>
</section>

{% endblock %}
