{% extends "challenges/challenge_edit.html" %}
{% load l10n_tags %}
{% block bodyclasses %}challenge edit image{% endblock %}

{% block form %}
<fieldset id="challenge_edit_image" class="challenge edit image tabpane">
<form action="{% locale_url challenges_edit_image slug=challenge.slug %}" method="post" enctype="multipart/form-data" data-url="{% locale_url challenges_edit_image_async slug=challenge.slug %}">
  {% csrf_token %}
  <h2>{{ _('Upload Challenge Image') }}</h2>

  <div class="field{% if form.image.errors %} error{% endif %}">
    {{ form.image }}
    <small class="hint block">{{ _('JPG, GIF or PNG only. Max size of 700k.') }}</small>
    {{ form.image.errors }}
  </div>

  <p class="buttons">
    <button type="submit" value="{{ _('Upload') }}">{{ _('Upload') }}</button>
  </p>
</form>
<p class="picture-preview">
  {% if challenge.image %}
  <img src="{{ MEDIA_URL }}{{ challenge.image }}" class="challenge picture"/>
  {% else %}
  <img src="/media/images/project-missing.png" alt="challenge image" class="challenge picture"/>
{% endif %}
</p>
</fieldset>
{% endblock %}
