{% extends "base.html" %}
{% load l10n_tags %}
{% load comments %}

{% block title %}{{ submission.title }}{% endblock %}

{% block breadcrumbs %}
<div class="container">
  <nav>
    <a href="{% locale_url projects_gallery %}">{{ _('Projects') }}</a>
    <span class="arrow">&rsaquo;</span>
    <a href="{% locale_url projects_show slug=challenge.project.slug %}">{{ challenge.project.name }}</a>
    <span class="arrow">&rsaquo;</span>
    <a href="{% locale_url challenges_show slug=challenge.slug %}">{{ challenge.title }}</a>
  </nav>

  <div id="project-actions">
    {% if user.get_profile == submission.created_by %}
    <a class="button" href="{% locale_url submission_edit slug=challenge.slug submission_id=submission.id%}">{{ _('Edit Submission') }}</a>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block bodyid %}submission_show{% endblock %}

{% block body %}
{% include "challenges/_challenge_sidebar.html" %}

<div id="main">
<section class="submission">
  <article>
    <h1 id="challenge-title">{{ submission.title }}</h1><br />
    <div class="post-details">
      <a class="member-name" href="{{ submission.created_by.get_absolute_url }}">{{ submission.created_by.name }}</a>
      <span>{{ submission.created_on|timesince }} {{ _(' ago') }}</span>
    </div>
<br />
<h2>{{ _('Summary') }}</h2>
    <div class="summary">
      {{ submission.summary }}
    </div>
    <br />
    <h2>{{ _('Description') }}</h2>
    <div class="details">
      {{ submission.description_html|safe }}
    </div>
    <br />
  </article>
  
  <div id="comments">
    <h1>{{ _('Comments') }}</h1><br />
    
    {% render_comment_list for submission %}

    {% if user.is_authenticated %}
    {% get_comment_form for submission as form %}
    <form action="{% comment_form_target %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{% locale_url submission_show slug=challenge.slug submission_id=submission.pk %}" />
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      <div class="field{% if form.comment.errors %} error{% endif %}">
        <label for="id_comment">{{ _('Leave a comment.') }}</label>
        <span class="hint block"></span>
        {{ form.comment }}
        {{ form.comment.errors }}
      </div>
      <p class="buttons">
        <button type="submit">{{ _('Post') }}</button>
      </p>
    </form>  
    {% endif %}
  </div>
</section>
</div>
{% endblock %}

