{% extends "challenges/submission_edit.html" %}

{% load l10n_tags %}

{% block bodyclasses %}submission edit summary{% endblock %}

{% block form %}
<fieldset id="submission_edit" class="submission edit tabpane">
  <form method="post" action="{% if submission %}{% locale_url submission_edit slug=challenge.slug submission_id=submission.pk %}{% else %}{% locale_url submissions_create slug=challenge.slug%}{% endif %}">
    {% csrf_token %}
    <div class="field{% if form.title.errors %} error{% endif %}">
      <label for="id_name">{{ _('Submission Title') }}</label>
      <span class="hint block"></span>
      {{ form.title }}
      {{ form.title.errors }}
    </div>

        <div class="field{% if form.title.errors %} error{% endif %}">
          <label for="id_name">{{ _('Summary') }}</label>
          <span class="hint block"></span>
          {{ form.summary }}
          {{ form.summary.errors }}
        </div>

        <p class="buttons">    
          {% if submission %}
            <a class="button" href="{% locale_url submission_show slug=challenge.slug submission_id=submission.pk %}">{{ _('Cancel') }}</a>
            <button type="submit" value="{{ _('Save') }}">{{ _('Save') }}</button>            
          {% else %}
            <a class="button" href="{% locale_url challenges_show slug=challenge.slug %}">{{ _('Cancel') }}</a>
            <button type="submit" value="{{ _('Create') }}">{{ _('Create') }}</button>
          {% endif %}
        </p>

      </form>
    </fieldset>

{% endblock %}
