{% extends "base.html" %}

{% load l10n_tags %}

{% block title %}{% if submission %}{{ _('Edit Submission') }}{% else %}{{ _('Create Submission') }}{% endif %}{% endblock %}

{% block body %}
<section class="modal nav">
  <article>
    <h1>
      {{ _('Challenge Submission') }}
      <a href="{% locale_url submission_show slug=challenge.slug submission_id=submission.pk %}" class="pester back_link">({{ _('View Submission') }})</a>
    </h1>

    <nav class="tabs" id="project-edit-nav">
      <ul>
        <li class="summary"><a href="{% locale_url submission_edit slug=challenge.slug submission_id=submission.pk %}">{{ _('Response Summary') }}</a></li>
        <li class="desc"><a href="{% locale_url submission_edit_description slug=challenge.slug submission_id=submission.pk %}">{{ _('Full Description') }}</a></li>
        <li class="share"><a href="{% locale_url submission_edit_share slug=challenge.slug submission_id=submission.pk %}">{{ _('Share Response') }}</a></li>
      </ul>
    </nav>

    {% block form %}{% endblock %}
  </article>
</section>
{% endblock %}
