{% extends "challenges/submission_edit.html" %}

{% load l10n_tags %}

{% block bodyclasses %}submission edit description{% endblock %}

{% block form %}
<fieldset id="submission_edit" class="submission edit tabpane">
  <form method="post" action="{% locale_url submission_edit_description slug=challenge.slug submission_id=submission.pk %}">
    {% csrf_token %}
    <div id="wmd-editor" class="wmd-panel description field{% if form.description.errors %} error{% endif %}">
      <label for="id_name">{{ _('Description') }}</label>
      <span class="hint block">Use this space to flesh out your idea. Create a napkin sketch, record & embed a video, or describe your idea in detail—however you choose to best address the challenge. Be bold and don't hold back. (Note: this section uses <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> syntax. Use the editor icons to help you write. You can edit your submission until the challenge period ends, so don't worry if you make a mistake, or want to add extra details later.)
</span>
      {{ form.description }}
      {{ form.description.errors }}
    </div>

    <p class="buttons">    
      <a class="button" href="{% locale_url submission_show slug=challenge.slug submission_id=submission.pk %}">{{ _('Cancel') }}</a>
      <button type="submit" name="continue" value="{{ _('Continue') }}">{{ _('Continue') }}</button>
      {% if not submission.is_published %}
        <button type="submit" name="publish" value="{{ _('Publish') }}">{{ _('Publish') }}</button>
      {% endif %}
    </p>
  </form>
</fieldset>
{% endblock %}
