{% load i18n %}
{% load l10n_tags %}
{% load no_follow %}

<div class="well">
  <div id="sidebar">
    <div class="row-fluid vcard panel center-via-text-align">
      <div class="row-fluid">
        <img class="member-picture" src="{{ profile.image_or_default }}" height="80" width="80" alt="{{ profile }}">
      </div>
      <div class="row-fluid member-details">
        <h1 class="member-name"><span class="fn">{{ profile }}</span></h1>
      </div> 

      {% if not profile.deleted %}

        <div class="row-fluid member-bio">
          {{ profile.bio|nofollow|safe }}
        </div>

        {% if profile.location %}
          <div class="row-fluid member-location">
            <hr />
            <h4>{{ _('Location:') }}</h4> 
            <p class="adr">{{ profile.location }}</p>
          </div>
        {% endif %}
        {% if interests %}
          <div class="row-fluid">
            <div class="row-fluid">
              <hr />
              <h4>{{ _('Interests') }}:</h4>
            </div>
            <div class="row-fluid">
              <div class="tags interests">
                {% for interest in interests %}
                    <a href="{% locale_url users_user_tagged_list interest.slug %}" title="{{ _('View more interested in ') }}{{ interest.name }}">
                      {{ interest.name }}
                    </a>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
        {% if desired_topics %}
          <div class="row-fluid">
            <div class="row-fluid">
              <hr />
              <h4>{{ _('Wants To Learn About') }}:</h4>
            </div>
            <div class="row-fluid">
              <div class="tags interests">
                {% for topic in desired_topics %}
                    <a href="{% locale_url users_user_tagged_list topic.slug %}" title="{{ _('View more interested in learning more about ') }}{{ topic.name }}">
                      {{ topic.name }}
                    </a>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div> <!-- /.vcard -->

    {% if not profile.deleted %}

      <div id="member_relationships" class="row-fluid panel">
        <div class="row-fluid">
          <hr />
          <h2>{{ _('Followers') }}: <span class="followers count">{{ users_followers|length }}</span></h2>
        </div>
        <div class="row-fluid">
          <div class="users followers">
            {% for user_follower in users_followers|slice:":36" %}
                <a href="{{ user_follower.get_absolute_url }}" title="{{ user_follower }}">
                  <img class="member-picture" src="{{ user_follower.image_or_default }}" height="26" width="26" alt="{{ user_follower }}">
                </a>
            {% endfor %}
          </div>
        </div>
        <div class="row-fluid">
          <hr />          
          <h2>{{ _('Following') }}: <span class="following count">{{ users_following|length }}</span></h2>
        </div>
        <div class="row-fluid">
          <div class="users following">
            {% for user_following in users_following|slice:":36" %}
                <a href="{{ user_following.get_absolute_url }}" title="{{ user_following }}">
                  <img class="member-picture" src="{{ user_following.image_or_default }}" height="26" width="26" alt="{{ user_following }}">
                </a>
            {% endfor %}
          </div>
        </div>
        {% if current_projects.count > 0 %}
          <div class="row-fluid">
            <div class="row-fluid">
              <hr />
              <h2>{{ _('Learning') }}: <span class="projects count">{{ current_projects.count }}</span></h2>
            </div>
            <div class="row-fluid">
              <div class="following">
                {% for project in current_projects.organizing %}
                  {% include "dashboard/_project_image.html"%}
                {% endfor %}
                {% for project in current_projects.participating %}
                  {% include "dashboard/_project_image.html"%}
                {% endfor %}
                {% for project in current_projects.following %}
                  {% include "dashboard/_project_image.html"%}
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      </div> <!-- /#member_relationships-->

      {% if links %}
        <div id="member_links" class="row-fluid panel">
          <div>
            {% for link in links %}
                <a class="externalLink" href="{{ link.url }}" title="{{ link.name }}" target="_blank">{{ link.name }}</a>
                {% if user == profile.user %}
                  {% if not forloop.first %}
                    <a class="robttn up" href="{% locale_url link_index_up counter=forloop.counter0 %}">{{ _('(UP)') }}</a>
                  {% endif %}
                  {% if not forloop.last %}
                    <a class="robttn dwn" href="{% locale_url link_index_down counter=forloop.counter0 %}">{{ _('(DOWN)') }}</a>
                  {% endif %}
                {% endif %}
            {% endfor %}
          </div>
        </div> <!-- /#member_links -->
      {% endif %}

    {% endif %}
  </div> <!-- /#sidebar -->
</div>
