{% extends "activity/base.html" %}
{% load l10n_tags %}

{% block body %}
<section class="modal">
  <article>
    {% if activity.deleted %}
      <h1>{{ _('Restore Activity') }}</h1>
    {% else %}
      <h1>{{ _('Delete Activity') }}</h1>
    {% endif %}
    <br />
    <fieldset>
      {% if activity.deleted %}
        <form action="{% locale_url activity_restore activity_id=activity.id %}" method="post">
      {% else %}
        <form action="{% locale_url activity_delete activity_id=activity.id %}" method="post">
      {% endif %}
      {% csrf_token %}
      {% if activity.deleted %}
        <span class="hint block">{{ _('Are you sure you want to restore this activity?') }}</span>
      {% else %}
        <span class="hint block">{{ _('Are you sure you want to delete this activity?') }}</span>
      {% endif %}
      <p class="content_buttons">
        <a class="button" href="{% if activity.scope_object %}{{ activity.scope_object.get_absolute_url }}{% else %}{% locale_url dashboard %}{% endif %}">
          {{ _('Cancel') }}
        </a>
        {% if activity.deleted %}
          <button type="submit" value="{{ _('Restore') }}">{{ _('Restore') }}</button>
        {% else %}
          <button type="submit" value="{{ _('Delete') }}">{{ _('Delete') }}</button>
        {% endif %}
      </p>
    </form>
    </fieldset>
  </article>
</section>
{% endblock %}
