{% extends "activity/base.html" %}
{% load l10n_tags %}
{% load user_tags %}
{% load project_tags %}
{% load comment_threads %}
{% load pagination_tags %}

{% block body %}

  {% if activity.scope_object %}
    {% sidebar %}
  {% else %}
    {% user_sidebar %}
  {% endif %}

  <div id="main">
    <ul id="posts">
      {% include "activity/_activity_resource.html" %}
      {% if pagination_current_page.object_list %}
        <h1>{{_('Comments')}}</h1>
        <br>
        {% with comments=pagination_current_page.object_list %}
          {% comment_threads %}
        {% endwith %}
      {% endif %}
    </ul>
    {% with prefix='' page_url=activity.get_absolute_url %}
      {% pagination_links %}
    {% endwith %}
  </div>
{% endblock %}
