{% extends "replies/base.html" %}
{% load l10n_tags %}
{% load youtube %}
{% load slideshare %}

{% block bodyid %}comment{% endblock %}


{% block comments_breadcrumbs %}
  {% if not create %}
    <span class="arrow">&rsaquo;</span>
    <a href="{{ comment.get_absolute_url }}">{{ comment.author }} {{ comment.created_on }}</a>
  {% else %}{% if reply_to %}
    <span class="arrow">&rsaquo;</span>
    <a href="{{ reply_to.get_absolute_url }}">{{ reply_to.author }} {{ reply_to.created_on }}</a>
  {% endif %}{% endif %}
{% endblock %}


{% block body %}

  <section class="modal">
    <article>
      <h1>
        {% if not create %}
          {{ _('Edit Comment') }}
        {% else %}{% if reply_to %}
          {{ _('Reply Comment') }}
        {% else %}
          {{ _('New Comment') }}
        {% endif %}{% endif %}
      </h1>
      <div id="posts">
        {% if reply_to %}
          <div class="post-container">
            <img class="member-picture" width="54" height="54" src="{{ reply_to.author.image_or_default }}">
            <div class="post-contents">
              <div class="post-details">
                {{ reply_to.author }} &nbsp; {{ reply_to.created_on }}
                {% if reply_to.reply_to %}
                  <br> {{ _('In Reply To:') }} &nbsp;
                  {{ reply_to.reply_to.author }} &nbsp; {{ reply_to.reply_to.created_on }}
                {% endif %}
              </div>
              <div class="post-body">
                {{ reply_to.content|youtube|slideshare|safe }}
              </div>
            </div>
          </div>
        {% endif %}
        {% if preview %}
          <div class="post-container {% if reply_to %}post-replies{% endif %}">
            <img class="member-picture" width="54" height="54" src="{{ comment.author.image_or_default }}">
            <div class="post-contents">
              <div class="post-details">
                {{ _('[Preview]') }} {{ comment.author }} &nbsp; {{ comment.created_on }}
                {% if reply_to %}
                  <br> {{ _('In Reply To:') }} &nbsp;
                  {{ reply_to.author }} &nbsp; {{ reply_to.created_on }}
                {% endif %}
              </div>
              <div class="post-body">
                {{ comment.content|youtube|slideshare|safe }}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
      <br clear="both">
      <br />
      <fieldset>
        {% if not create %}
          <form action="{% locale_url comment_edit comment_id=comment.id %}" method="post">
        {% else %}{% if reply_to %}
          <form action="{% locale_url comment_reply comment_id=reply_to.id %}" method="post">
        {% else %}
          <form action="{{ new_comment_url }}" method="post">
        {% endif %}{% endif %}
          {% csrf_token %}
          <div class="field{% if form.content.errors %} error{% endif %}">
            {{ form.content }}
            {{ form.content.errors }}
          </div>
          <p class="content_buttons">
            {% if not create %}
              <a class="button" href="{{ comment.get_absolute_url }}">
            {% else %}{% if reply_to %}
              <a class="button" href="{{ reply_to.get_absolute_url }}">
            {% else %}
              <a class="button" href="{{ page.get_absolute_url }}">
            {% endif %}{% endif %}
              {{ _('Cancel') }}
            </a>
            {% if not create %}
              <button type="submit" value="{{ _('Save') }}">{{ _('Save') }}</button>
            {% else %}
              <button type="submit" value="{{ _('Post') }}">{{ _('Post') }}</button>
            {% endif %}
            <button type="submit" id="previewButton" name="show_preview" value="{{ _('Preview') }}">{{ _('Preview') }}</button>
          </p>
        </form>
      </fieldset>
    </article>
  </section>

{% endblock %}


