{% load l10n_tags %}
<ul class="nav nav-list">
  <li class="{% if not learn_showcase and not learn_community and not learn_fresh and not learn_school and not learn_tag %}active{% endif %}">
    <a class="filter" href="{% locale_url projects_learn %}?all_languages=on">{{ _('View All') }}</a>
  </li>
  <li class="nav-header">
    <i class="icon-star-empty icon-large"></i>{{ _('Featured') }}
  </li>
  <li class="divider"></li>
  <li class="{% if learn_community %}active{% endif %}">
    <a class="filter" href="{% locale_url projects_learn %}?all_languages=on&featured=community">{{ _('Community Picks') }}</a>
  </li>
  <li class="divider"></li>
  <li class="{% if learn_showcase %}active{% endif %}">
    <a class="filter" href="{% locale_url projects_learn %}?all_languages=on&featured=showcase">{{ _('Staff Favorites') }}</a>
  </li>
  <li class="divider"></li>
  <li class="{% if learn_fresh %}active{% endif %}">
    <a class="filter" href="{% locale_url projects_learn %}?all_languages=on&featured=fresh">{{ _('Fresh Additions') }}</a>
  </li>
  <li class="divider"></li>
  <li class="nav-header">
    <i class="icon-book icon-large"></i>{{ _('Schools') }}
  </li>
  <li class="divider"></li>
  {% for school in schools %}
    <li class="{% if learn_school.id == school.id %}active{% endif %}">
      <a class="filter" href="{% locale_url projects_learn %}?all_languages=on&school={{ school.id }}">{{ school.short_name|title }}</a>
    </li>
    <li class="divider"></li>
  {% endfor %}
  <li class="nav-header">
    <i class="icon-tags icon-large"></i>{{ _('Tags') }}
  </li>
  <li class="divider"></li>
  {% for tag in popular_tags %}
    {% if forloop.counter <= 6 %}
      <li class="{% if learn_tag == tag.tag__name %}active{% endif %}">
        <a class="filter" href="{% locale_url projects_learn %}?all_languages=on&tag={{ tag.tag__name }}">{{ tag.tag__name }} ({{ tag.tagged_count }})</a>
      </li>
      <li class="divider"></li>
    {% endif %}
  {% endfor %}
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      {{ _('More Tags') }}
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      {% for tag in popular_tags %}
        {% if forloop.counter > 6 %}
          <li>
            <a class="filter" href="{% locale_url projects_learn %}?all_languages=on&tag={{ tag.tag__name }}">{{ tag.tag__name }} ({{ tag.tagged_count }})</a>
          </li>
        {% endif %}
      {% endfor %} 
      <li>
        <a class="filter" href="{% locale_url projects_learn_tags %}">{{ _('View All Tags') }}</a>
      </li>
    </ul>
  </li>
  <li class="divider"></li>
  <li>
    <form id="learn-projects-filter" action="{% locale_url projects_learn %}" method="get">
      {{ form.featured }}
      {{ form.school }}
      {{ form.tag }}
      <div class="field{% if form.language.errors %} error{% endif %}">
        <label for="id_language">
          {{ _('Show Courses in') }}
          {{ form.language }}
        </label>
        {{ form.language.errors }}
      </div>
      <div class="field{% if form.reviewed.errors %} error{% endif %}">
        <label for="id_reviewed">
          {{ form.reviewed }}
          {{ _('Community Reviewed') }}
        </label>
        {{ form.reviewed.errors }}
      </div>
      <button type="submit" value="{{ _('Filter') }}">{{ _('Filter') }}</button>
    </form>
  </li>
</ul>
