{% load l10n_tags %}

{% if project_sets %}
<section id="challenge-sets">
  <h1><span>{{ _('Challenge Sets') }}</span></h1>
  <ul class="challenge-set-list">
    {% for projectset in project_sets %}
        <li>{% include "schools/_projectset_card.html" %}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if featured %}
<section id="featured_projects">
  <h1><span>{{_('Featured')}}</span></h1>
  <ul class="project-list">
  {% for project in featured %}
    <li>{% include "projects/_project_card.html" %}</li>
  {% endfor %}
  </ul>
</section>
{% endif %}

{% if open_signup %}
<section id="open_signup_projects">
  <h1><span>{{ _('Open for Sign-Up') }}</span></h1>
  <ul class="project-list">
    {% for project in open_signup %}
      <li>{% include "projects/_project_card.html" %}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if active %}
<section id="active_projects">
  <h1><span>{{ _('Last Updated') }}</span></h1>
  <ul class="project-list">
    {% for project in active %}
      <li>{% include "projects/_project_card.html" %}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if popular %}
<section id="popular_projects">
  <h1><span>{{ _('Popular') }}</span></h1>
  <ul class="project-list">
    {% for project in popular %}
      <li>{% include "projects/_project_card.html" %}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if new_groups %}
<section id="new_projects">
  <h1><span>{{ _('New') }}</span></h1>
  <ul class="project-list">
    {% for project in new_groups %}
      <li>{% include "projects/_project_card.html" %}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if under_development %}
<section id="under_development_projects">
  <h1><span>{{ _('Under Development') }}</span></h1>
  <ul class="project-list">
    {% for project in under_development %}
      <li>{% include "projects/_project_card.html" %}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if archived %}
<section id="archived_projects">
  <h1><span>{{ _('Archived') }}</span></h1>
  <ul class="project-list">
    {% for project in archived %}
      <li>{% include "projects/_project_card.html" %}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}

<a href="{% locale_url projects_directory %}{% if school%}?school={{ school.slug }}{% endif %}">{{ _('View All') }}</a>
