  <label for="id_image">{{ _('Cover Image') }}</label>
  {% if project %}
    <p class="hint">{{ _('Upload an image file from your computer. This image is shown in search results and on the listing page.') }}</p>
  {% endif %}
  <p class="picture-preview">
    {% if project.image %}
      <img src="{{ MEDIA_URL }}{{ project.image }}" class="project picture"/>
    {% else %}
      <img src="{{ STATIC_URL }}images/project-missing.png" alt="project image" class="project picture"/>
    {% endif %}
  </p>
  <div class="field{% if form.image.errors %} error{% endif %}">
    <!-- Note the "Browse..." button comes from your OS so it will
    only appear in another language if you configure your PC for that language.
    -->
    <input type="file" name="image" id="id_image"/>
    <small class="hint block">{{ _('File Types: JPG, GIF or PNG only<br/> Max size: 700k <br/> Dimensions: 243x150 pixels') }}</small>
    {{ form.image.errors }}
  </div>
  <br clear="all" />
