{% load l10n_tags %}
<article class="project card {% if project.accepted_school %}background-{{ project.accepted_school.slug }}{% endif%}">
  <figure>
    <a href="{{ project.url }}">
      {% if project.thumbnail_url %}
      <img src="{{ project.thumbnail_url }}" width="203" height="125" alt="{{ project.name }}"/>
      {% else %}
      <img src="{{ STATIC_URL}}images/project-missing.png" width="203" height="125" alt="{{ project.name }}"/>
      {% endif %}
    </a>
  </figure>
  <div class="info">
    <h1><a href="{{ project.url }}">{{ project.title }}</a></h1>
    <!-- 
     ! TODO: set a character maximum for project.description that works
     ! with this layout. See also /static/css/batucada.css line ~485
     -->  
    <div class="description">{{ project.short_description }}</div>
  </div>
  <div class="meta">
    <dl class="updates">
      <dd>{{ project.activities.count }}</dd>
      <dt>{{ _('Updates') }}</dt>
    </dl>
    <dl class="participants">
      <dd>{{ project.participants.count }}</dd>
      <dt>{{ _('Participants') }}</dt>
    </dl>
    <dl class="followers">
      {% if project.is_challenge %}
        <dd>{{ project.get_badges.count }}</dd>
        <dt>{{ _('Badges') }}</dt>
      {% else %}
        <dd>{{ project.non_participant_followers.count }}</dd>
        <dt>{{ _('Followers') }}</dt>
      {% endif %}
    </dl>
  </div>
</article>
