{% load i18n %}
{% load l10n_tags %}
{% load project_tags %}
{% if tasks_count or show_all %}
  <div id="task_list_section">
    {% if not is_challenge %}<h2 class="school_header"><span>{{ _('Tasks') }}</span></h2>{% endif %}
    {% if tasks_count %}
      <ul>
        {% for task in tasks %}
          <li class="{% cycle 'odd' 'even' %} {% if task.is_done %}taskSelected{% endif %}">
            {% if is_challenge and participating %}
              <form method='post' action='{% locale_url toggle_task_completion slug=task.project.slug page_slug=task.slug %}'>
                {% csrf_token %}
                <input class="taskCheckbox" type="checkbox" {% if task.is_done %}checked="checked"{% endif%} title="Completed">
              </form>
            {% endif %}
            <span class="taskNumber">{{ forloop.counter }}{% if is_challenge %}.{% endif %}</span> <a class="taskLink" href="{{ task.get_absolute_url }}">{{ task.title }}</a>
            {% if is_challenge %}
              {% with task_activity=task.recent_activity %}
                <span class="taskActivity">
                  {% if task_activity.0 %}
                    <a href="{{ task.get_absolute_url }}">{{task_activity.0}} {{ _('new') }}
                      <br>
                      <span class="subtaskActivity">
                      {% blocktrans count counter=task_activity.0 %}comment{% plural %}comments{% endblocktrans %} {{ task_activity.1 }}</span>
                    </a>
                  {% endif %}
                </span>
              {% endwith %}
            {% endif %}
            {% if organizing and show_all and is_challenge %}
	            {% if not forloop.first %}<a class="robttn up" href="{% locale_url page_index_up slug=project.slug page_slug=task.slug %}">(UP)</a>{% endif %}
	            {% if not forloop.last %}<a class="robttn dwn" href="{% locale_url page_index_down slug=project.slug page_slug=task.slug %}">(DOWN)</a>{% endif %}
            {% endif %}
            {% if is_challenge %}
                <a class="taskView" href="{{ task.get_absolute_url }}">{{ _('View and Discuss') }}</a>
                <span class="taskSubheader">{{ task.sub_header|default:"&nbsp;" }}</span>
            {% else %}
              <span class="action-buttons"><a href="{{ task.get_absolute_url }}">{{ _('View') }}</a></span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <br>{{ _('No tasks have been added.') }}<br><br>
    {% endif %}
    {% if visible_count < tasks_count %}
      <p id="more_task_link">
        <span id="task-count">{{ _('Displaying') }} {{ visible_count }} {{ _('of') }} {{ tasks_count }} {{ _('total tasks') }}</span>
        <a href="{% locale_url projects_task_list slug=project.slug %}">{{ _('See All Tasks') }} &raquo;</a>
      </p>
    {% endif %}
  </div>
{% endif %}
