{% load l10n_tags %}
{% load pagination_tags %}
<div class="row-fluid">
  <div class="span12">
{% if not with_sections %}
  {% if show_more_link %}
    <a class="more_people_link" href="{% locale_url projects_user_list slug=project.slug %}">{{_('See All')}} &raquo;</a>
  {% endif %}
  <h2 class="school_header">{{ _('People') }}</h2>
  <br>
  {% for organizer in organizers %}
    <a href="{{ organizer.user.get_absolute_url }}" title="{{ organizer.user }} (organizer)"><img class="member-picture" src="{{ organizer.user.image_or_default }}" height="25" width="25" alt="{{ organizer.user }} (organizer)"></a>
  {% endfor %}
  {% for participant in participants %}
    <a href="{{ participant.user.get_absolute_url }}" title="{{ participant.user }} (participant)"><img class="member-picture" src="{{ participant.user.image_or_default }}" height="25" width="25" alt="{{ participant.user }} (participant)"></a>
  {% endfor %}
  {% for follower in followers %}
    <a href="{{ follower.source.get_absolute_url }}" title="{{ follower.source }} (follower)"><img class="member-picture" src="{{ follower.source.image_or_default }}" height="25" width="25" alt="{{ follower.source }} (follower)"></a>
  {% endfor %}
{% else %}
  {% if organizers %}
    {% if is_challenge %}

      <hr class="break">
      <h3 class="peers-help">{{ _('Peers who have offered their help') }}</h3>
      <br>
      {% for organizer in organizers %}
        <a href="{{ organizer.user.get_absolute_url }}" title="{{ organizer.user }}"><img class="member-picture" src="{{ organizer.user.image_or_default }}" height="40" width="40" alt="{{ organizer.user }}"></a>
      {% endfor %}
      {% if paginate_sections %}
        {% with prefix='organizers_' page_url=user_list_url %}
          {% pagination_links %}
        {% endwith %}
      {% endif %}
    {% else %}
      <br><br>
      <div class="card-list">
        <section id="organizers">
          <h1><span>{{ _('Organizers') }}</span></h1>
          <ul class="user-list">
            {% for organizer in organizers %}
              {% with person=organizer.user %}
                <li>{% include "users/_user_card.html" %}</li>
              {% endwith %}
            {% endfor %}
          </ul>
          {% if paginate_sections %}
            {% with prefix='organizers_' page_url=user_list_url %}
              {% pagination_links %}
            {% endwith %}
          {% endif %}
        </section>
      </div>
    {% endif %}
  {% endif %}
  {% if participants %}
    {% if is_challenge %}
      <hr class="break">
      <h3 class="peers-challenge">{{ _('Peers taking this challenge') }}</h3>
      <br>
      {% for participant in participants %}
        <a href="{{ participant.user.get_absolute_url }}" title="{{ participant.user }}"><img class="member-picture" src="{{ participant.user.image_or_default }}" height="40" width="40" alt="{{ participant.user }}"></a>
      {% endfor %}
      {% if paginate_sections %}
        {% with prefix='participants_' page_url=user_list_url %}
          {% pagination_links %}
        {% endwith %}
      {% endif %}
    {% else %}
      <div class="card-list">
        <section id="participants">
          <h1><span>{{ _('Participants') }}</span></h1>
          <ul class="user-list">
            {% for participant in participants %}
              {% with person=participant.user %}
                <li>{% include "users/_user_card.html" %}</li>
              {% endwith %}
            {% endfor %}
          </ul>
          {% if paginate_sections %}
            {% with prefix='participants_' page_url=user_list_url %}
              {% pagination_links %}
            {% endwith %}
          {% endif %}
        </section>
      </div>
    {% endif %}
  {% endif %}
  {% if followers %}
    {% if is_challenge %}
      <hr class="break">
      <h3 class="peers-completed">{{ _('Peers who have completed this challenge') }}</h3>
      <br>
      {% for follower in followers %}
        <a href="{{ follower.source.get_absolute_url }}" title="{{ follower.source }}"><img class="member-picture" src="{{ follower.source.image_or_default }}" height="40" width="40" alt="{{ follower.source }}"></a>
      {% endfor %}
      {% if paginate_sections %}
        {% with prefix='followers_' page_url=user_list_url %}
          {% pagination_links %}
        {% endwith %}
      {% endif %}
    {% else %}
      <div class="card-list">
        <section id="followers">
          <h1><span>{{ _('Followers') }}</span></h1>
          <ul class="user-list">
            {% for follower in followers %}
              {% with person=follower.source %}
                <li>{% include "users/_user_card.html" %}</li>
              {% endwith %}
            {% endfor %}
          </ul>
          {% if paginate_sections %}
            {% with prefix='followers_' page_url=user_list_url %}
              {% pagination_links %}
            {% endwith %}
          {% endif %}
        </section>
      </div>
    {% endif %}
  {% endif %}
  {% if show_more_link %}
    <p>
    <a class="more_people_link btn pull-right" href="{% locale_url projects_user_list slug=project.slug %}">{{_('View all')}} &raquo;</a></p>
  {% endif %}
{% endif %}
 </div>
 </div>
