{% extends "base.html" %}
{% load l10n_tags %}
{% load project_tags %}
{% block title %}{{ _('Learn') }}{% endblock %}
{% block bodyid %}project_gallery{% endblock %}
{% block bodyclasses %}card-list{% endblock %}

{% block links %}<link rel="stylesheet" href="{% locale_url multiple_schools_css %}?v=1">{% endblock %}

{% block breadcrumbs %}
  {% if school %}
    <span class="arrow">&rsaquo;</span>
    <a href="{{ school.get_absolute_url }}">{{ school.name }}</a>
  {% endif %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url projects_gallery %}{% if school %}?school={{ school.slug }}{% endif %}">{{ _('Learn') }}</a>
{% endblock %}
{% block breadcrumbs_actions %}
  {% if user.is_authenticated %}
    <a id="create-project" class="button" href="{% locale_url projects_create %}">{{ _('Create') }}</a>
  {% endif %}
  <a class="button" href="{% locale_url projects_directory %}{% if school %}?school={{ school.slug }}{% endif %}">{{ _('View All') }}</a>
{% endblock %}

{% block body %}
<div id="main">
<h1>{{ _('Browse') }}</h1>
<br><br>
{% project_list school %}
</div>
{% endblock %}
