{% extends "base.html" %}
{% load l10n_tags %}
{% load project_tags %}
{% block title %}{{ _('Learn') }}{% endblock %}
{% block bodyid %}project_gallery{% endblock %}
{% block bodyclasses %}card-list{% endblock %}

{% block links %}<link rel="stylesheet" href="{% locale_url multiple_schools_css %}?v=1">{% endblock %}

{% block breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url projects_gallery %}">{{ _('Learn') }}</a>
{% endblock %}
{% block breadcrumbs_actions %}
  <a class="button" href="{% locale_url projects_directory %}">{{ _('View All') }}</a>
  {% if user.is_authenticated %}
    <a id="create-project" class="button" href="{% locale_url projects_create %}">{{ _('Create') }}</a>
  {% endif %}
{% endblock %}

{% block body %}
<div id="main">
<h1>{{ _('Browse') }}</h1>
<br><br>
{% project_list %}
</div>
{% endblock %}
