{% extends "projects/base.html" %}
{% load l10n_tags %}
{% load project_tags %}

{% block title %}{{ project.name }}{% endblock %}

{% block project_breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url projects_discussion_area slug=project.slug %}">{{ _('Discussions') }}</a>
{% endblock %}

{% block bodyid %}project_landing{% endblock %}

{% block body %}

{% sidebar %}

<div id="main">

  {% project_wall request project discussion_area %}

</div> <!-- /#main -->

{% endblock %}
