{% extends "projects/project_edit.html" %}
{% load l10n_tags %}

{% block css %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}js/libs/datatables/media/css/demo_page.css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}js/libs/datatables/media/css/demo_table.css">
 {% endblock %}

{% block form %}

<div style="overflow: auto; padding: 1em; min-height: 10em;">
  <h3>{{ _('Organizer Quick View') }}
  <!--{% if can_view_metric_detail %}
    (<a href="{% locale_url projects_admin_export_detailed_csv slug=project.slug %}">{{ _('export data') }} &raquo;</a>) 
  {% endif %}--></h3>
  <p><i>{{ _('This table shows the overview of participant data. ') }} 
  <!--{% if can_view_metric_detail %} {{ _('To see follower data or non-loggedin user data, use export for a <acronym title="Comma Separated Values">CSV</acronym> file.') }} {% endif %}--></i></p>

  {% if data %}
	<div id="demo">
	  <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
	    <thead style="background-color: #eee;">
	      <tr>
	        <th>{{ _('Participant') }}</th>
	        <th>{{ _('Last Active Date') }} <sup>1</sup></th>
	        <th>{{ _('Comments') }} <sup>2</sup></th>
	        <th>{{ _('Page Views') }} <sup>3</sup></th>
	        <th>{{ _('Time on Course Pages') }} <sup>4</sup></th>
	      </tr>
	    </thead>
	    <tbody>
	
			{% for user in data %}
			  <tr><td>{{ user.username }}</td><td>{{ user.last_active }}</td><td class="center">{{ user.comment_count }}</td><td class="center">{{ user.course_page_view_count }}</td><td class="center">{{ user.course_activity_minutes }}</td></tr>
			{% endfor %}
	    </tbody>
	    <tfoot style="background-color: #eee;">
	      <tr>
	        <th>{{ _('Participant') }}</th>
	        <th>{{ _('Last Active Date') }} <sup>1</sup></th>
	        <th>{{ _('Comments') }} <sup>2</sup></th>
	        <th>{{ _('Page Views') }} <sup>3</sup></th>
	        <th>{{ _('Time on Course Pages') }} <sup>4</sup></th>
	      </tr>
	    </tfoot>
	  </table>
	
	  <p class="hint clear">
	    <sup>1</sup> {{ _('Active on the site.') }}<br>
	    <sup>2</sup> {{ _('Total includes comments on wall and task pages.') }}<br>
	    <sup>3</sup> {{ _('Total number of views of course\'s pages.') }}<br>
	    <sup>4</sup> {{ _('Total time (in minutes) spent on this course\'s pages. If it\'s been over an hour since the person last accessed a page in that session, then that time is invalid and not stored.') }}
	  </p>
	
	</div>
    {% else %}
        <p>{{ _('No participants for which to show data.') }}</p>
    {% endif %}

</div>

<div style="margin-left: 190px;width:700px;">
    <div id="actOverTime" style="width: 700px; height: 500px;"></div>
</div>

{% block js %}
	<script src="{{ MEDIA_URL }}js/libs/datatables/dataTables.js"
		type="text/javascript"></script>
		    <script src="{{ MEDIA_URL }}js/libs/highcharts/highcharts.js" type="text/javascript"></script>
	    <script src="{{ MEDIA_URL }}js/libs/highcharts/exporting.js" type="text/javascript"></script>
	<script>
	$(document).ready(function() {
	    $('#example').dataTable();
	} );
	
	</script>


 {%endblock %}

{% endblock %}

