{% extends "projects/base.html" %}
{% load l10n_tags %}
{% load project_tags %}
{% load pagination_tags %}


{% block title %}{{ _('People') }}{% endblock %}

{% block bodyid %}project_user_list{% endblock %}
{% block project_breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url projects_user_list slug=project.slug %}">{{ _('People') }}</a>
{% endblock %}

{% block body %}
{% sidebar %}

<div id="main">
  {% if is_challenge %}
    {% project_user_list request project 210 "True" "True" projects_users_url %}
  {% else %}
    {% project_user_list request project 72 "True" "True" projects_users_url %}
  {% endif %}
</div>
{% endblock %}
