{% extends "projects/base.html" %}
{% load l10n_tags %}
{% load project_tags %}

{% block title %}{{ project.name }}{% endblock %}

{% block project_breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url projects_task_list slug=project.slug %}">{{ _('Task List') }}</a>
{% endblock %}

{% block bodyid %}project_landing{% endblock %}

{% block body %}

{% sidebar %}

<div id="main">

  <div id="task_header">
  <h2><span>{{ _('Tasks') }}</span></h2>
    
  {% if content_pages %}

  <ul>
    {% for page in content_pages %}
    <li class="{% cycle 'odd' 'even' %}">
        <span class="taskNumber">{{forloop.counter}}</span> <a class="taskLink" href="{{ page.get_absolute_url }}">{{ page.title }}</a>
        <span class="action-buttons"><a href="{{ page.get_absolute_url }}">{{ _('View') }}</a></span>
    </li>
        {% endfor %}
      </ul>

  {% else %}
   {{ _('No tasks have been added.') }}
    
  {% endif %}
  
  </div>

</div> <!-- /#main -->

{% endblock %}

