{% extends "base.html" %}

{% load i18n %}
{% load l10n_tags %}
{% load project_tags %}

{% block title %}{{ _('Create') }}{% endblock %}

{% block bodyclasses %}project edit{% endblock %}

{% block links %}
    {% if school %}
        <link rel="stylesheet" href="{% locale_url schools_css slug=school.slug %}?v=1">
    {% endif %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/course.css?v=1">
{% endblock %}

{% block breadcrumbs_title %}
{% endblock %}
{% block breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% learn_default %}">{{ _('Learn') }}</a>
{% endblock %}

{% block body %}
<section class="modal nav">
  <article>
    <h1>{{ _('Create Course') }}</h1>
    <nav id="project-edit-nav" class="tabs">
      <ul>
        <li class="new">
          <a href="" class="disabled">{{ _('Step 1: Create Course') }}</a>
        </li>
        <li>
          <a href="{% locale_url projects_create_tasks slug=project.slug %}">{{ _('Step 2: Add Tasks') }}</a>
        </li>
        <li class="active">
          <a href="" class="disabled">  {{ _('Step 3: Review and Publish') }}</a>
        </li>
      </ul>
    </nav>
    
    <section id="id_tasks_edit">
        <h2>{{ _('Review your course') }}</h2>
        <p>{{ _('Take a moment to review your course.') }}</p>
        <p>{{ _('You may also choose to asks for some feedback on your course.') }}</p>
        <a class="button" href="{% locale_url projects_show slug=project.slug %}">{{ _('Finish') }}</a>
    </section>
  </article>
</section>
{% endblock %}

{% block js %}
<script type="text/javascript">
    var newTaskId = "";
    
    $(document).ready( function(){
        $("#id_task_add_button").bind('click', function(e){
            e.preventDefault();
            if (newTaskId != '' && $("#" + newTaskId).size() > 0) {
                alert("please submit your changes first");
            } else {
                $.ajax({
                    url: $(this).attr('href'),
                    success: function(data, textStatus, jqXHR) {
                       $("#task_list").append(data);
                       newTaskId = $(data).attr('id');
                    }
                });
            }
        });
    });
</script>
{% endblock %}

