{% extends "projects/project_create.html" %}
{% load l10n_tags %}
{% load project_tags %}
{% block bodyclasses %}project edit summary{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/course.css?v=1">
{% endblock %}

{% block links %}{% if school %}<link rel="stylesheet" href="{% locale_url schools_css slug=school.slug %}?v=1">{% endif %}{% endblock %}

{% block form %}
<section id="id_tasks_edit">
  <div class="container">
    <h1>{{ _('Create tasks') }}</h1>
    <br/>
    <div id="task_list">
        {% for task in tasks %}
            {% include "content/page_embedded.html" with page=task %}
        {% endfor %}
    </div>

    <a id="id_task_add_button" class="button" href="{% locale_url page_create slug=project.slug %}">{{ _('Add Task') }}</a>
    
  </article>
  </div>
</section>
{% endblock %}


{% block js %}
<script type="text/javascript">
    var newTaskId = "";
    
    $(document).ready( function(){
        $("#id_task_add_button").bind('click', function(e){
            e.preventDefault();
            if (newTaskId != '' && $("#" + newTaskId).size() > 0) {
                alert("please submit your changes first");
            } else {
                $.ajax({
                    url: $(this).attr('href'),
                    success: function(data, textStatus, jqXHR) {
                       $("#task_list").append(data);
                       newTaskId = $(data).attr('id');
                    }
                });
            }
        });
    });
</script>
{% endblock %}

