{% extends "projects/project_edit.html" %}
{% load l10n_tags %}
{% project_tags %}
{% block bodyclasses %}project import{% endblock %}

{% block links %}{% if school %}<link rel="stylesheet" href="{% locale_url schools_css slug=school.slug %}?v=1">{% endif %}{% endblock %}

{% block form %}
<fieldset id="project_import" class="project clone tabpane">
<h2>{{ _('Import from Old Site') }}</h2>
<p class="hint">{{ _('Import a course from the old p2pu site. Note that if you start typing the matching suggestions will be displayed.') }}</p>
<form action="{% locale_url projects_import %}" method="post">
  {% csrf_token %}
  <p>
    <div class="field course{% if form.course.errors %} error{% endif %}">
      <label for="id_course">{{ _('Course') }}</label>
      {{ form.course }}
      {{ form.course.errors }}
    </div>
  </p>
  <p class="buttons">
    <a class="button" href="{% learn_default %}">{{ _('Cancel') }}</a>
    <button type="submit" value="{{ _('Create') }}">{{ _('Import') }}</button>
  </p>
</form>
</fieldset>
{% endblock %}


{% block js %}
  <script type="text/javascript">
    $('#id_course').autocomplete({
        source: function( request, response ) {
                url = "{% url matching_courses %}?term=" + request.term;
                $.getJSON(url, function(data) {
                    response(data);
                });
            }
    });
  </script>
{% endblock %}
