{% extends "projects/base.html" %}
{% load l10n_tags %}
{% load project_tags %}
{% load activity_tags %}
{% load pagination_tags %}

{% block title %}{{ project.name }}{% endblock %}

{% block project_links %}
<link rel="alternate" type="application/atom+xml" href="{% locale_url activity_project_feed slug=project.slug %}" />
{% endblock %}

{% block bodyid %}project_landing{% endblock %}


{% block breadcrumbs_actions%}
  {% if is_challenge and organizing %}
    <a class="button" href="{% locale_url page_create slug=project.slug %}">{{ _('New Task') }}</a>
    <a class="button" href="{% locale_url projects_edit slug=project.slug %}">{{ _('Admin') }} {{ project.kind|title }}</a>
  {% endif %}
{% endblock %}


{% block body %}

{% sidebar %}

<div id="main">

  {% task_list project user show_all_tasks %}

  {% if not is_challenge %}
    <div id="wall_section">
      <h2 class="school_header"><span>{{ _('Activity Wall') }}</span></h2>
    </div>
    {% project_wall request project %}
  {% endif %}

</div> <!-- /#main -->

{% if is_challenge %}
  <div id="main-people">
    <section id="people" class="panel">
      <h2 class="school_header">{{ _('<strong>Need help?</strong> Peers that can help you with this challenge:') }}</h2>
      <br>
      {% for organizer in project.organizers %}
        <a href="{{ organizer.user.get_absolute_url }}" title="{{ organizer.user }} (organizer)"><img class="member-picture" src="{{ organizer.user.image_or_default }}" height="40" width="40" alt="{{ organizer.user }} (organizer)"></a>
      {% endfor %}

      {% if project.non_organizer_participants %}
        <hr class="break">
        <h2 class="school_header">{{ _('Peers taking this challenge:') }}</h2>
        <br>
        {% for participant in project.non_organizer_participants|slice:":42" %}
          <a href="{{ participant.user.get_absolute_url }}" title="{{ participant.user }} (participant)"><img class="member-picture" src="{{ participant.user.image_or_default }}" height="40" width="40" alt="{{ participant.user }} (participant)"></a>
        {% endfor %}
        {% if project.non_organizer_participants.count > 42 %}
          <p></p>
          <a id="more_people_link" href="{% locale_url projects_user_list slug=project.slug %}">{{_('View all')}} »</a>
        {% endif %}
      {% endif %}
    </section>
  </div>
{% endif %}

{% endblock %}

