{% extends "base.html" %}

{% load i18n %}
{% load l10n_tags %}
{% load project_tags %}

{% block title %}{{ _('Edit tasks') }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/course.css?v=1">
{% endblock %}

{% block bodyid %}task_edit{% endblock %}

{% block links %}
  {% if project %}
    {% if project.accepted_school %}<link rel="stylesheet" href="{% locale_url schools_css slug=project.accepted_school.slug %}?v=1">{% endif %}
  {% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript">
    var newTaskId = "";
    
    $(document).ready( function(){
        $("#id_task_add_button").bind('click', function(e){
            e.preventDefault();
            if (newTaskId != '' && $("#" + newTaskId).size() > 0) {
                alert("please submit your changes first");
            } else {
                $.ajax({
                    url: $(this).attr('href'),
                    success: function(data, textStatus, jqXHR) {
                       $("#task_list").append(data);
                       newTaskId = $(data).attr('id');
                    }
                });
            }
        });
    });
</script>
{% endblock %}

{% block breadcrumbs_title %}
  {% if project %}
    <h1 id="project-name">
      <a href="{{ project.get_absolute_url }}" class="school_header">{{ project.name }}</a>
    </h1>
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% learn_default %}">{{ _('Learn') }}</a>
  <span class="arrow">&rsaquo;</span>
  <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
{% endblock %}

{% block body %}
<section class="modal">
  <article>
    <h1>{{ _('Edit tasks') }}</h1>
    <div id="task_list">
        {% for task in tasks %}
            {% include "content/page_embedded.html" with page=task %}
        {% endfor %}
    </div>

    <a id="id_task_add_button" class="button" href="{% locale_url page_create slug=project.slug %}">{{ _('Add Task') }}</a>
    
  </article>
</section>
{% endblock %}

