{% extends "base.html" %}

{% load i18n %}
{% load l10n_tags %}
{% load project_tags %}

{% block bodyclasses %}project edit summary{% endblock %}

{% block title %}{{ _('Create') }}{% endblock %}

{% block bodyid %}project_create{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/course.css?v=1">
{% endblock %}

{% block links %}
    {% if school %}
        <link rel="stylesheet" href="{% locale_url schools_css slug=school.slug %}?v=1">
    {% endif %}
{% endblock %}

{% block breadcrumbs_title %}
{% endblock %}
{% block breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% learn_default %}">{{ _('Learn') }}</a>
{% endblock %}

{% block body %}
<section class="modal nav">
  <article>
    <h1>{{ _('Create Course') }}</h1>
    <nav id="project-edit-nav" class="tabs">
      <ul>
        <li class="new active">
          <a href="{% locale_url projects_create %}{% if school %}?school={{ school.slug }}{% endif%}" class="disabled">
            {{ _('Step 1: Create Course') }}</a>
        </li>
        {% if not project %}
        <a id="project-create-advanced-toggle" href="">advanced</a>
        <span id="project-create-advanced">
          <ul>
            <li class="new">
              <a href="{% locale_url projects_clone %}{% if school %}?school={{ school.slug }}{% endif%}">
                {{ _('Clone Existing') }}</a>
            </li>
            <li class="new">
              <a href="{% locale_url projects_import %}{% if school %}?school={{ school.slug }}{% endif%}">
                {{ _('Import from old site') }}</a>
            </li>
          </ul>
        </span>
        <li>
          <a href="" class="disabled">{{ _('Step 2: Add Tasks') }}</a>
        </li>
        <li>
          <a href="" class="disabled">{{ _('Step 3: Review and Publish') }}</a>
        </li>
        {% else %}
        <li>
          <a href="{% locale_url projects_create_tasks slug=project.slug %}">{{ _('Step 2: Add Tasks') }}</a>
        </li>
        <li>
          <a href="{% locale_url projects_create_review slug=project.slug %}">{{ _('Step 3: Review and Publish') }}</a>
        </li>        
        {% endif %}

      </ul>
    </nav>
    
    <fieldset id="project_edit_summary" class="project edit summary tabpane">
        {% if project %}
        <form id="project-edit-summary-form" action="{% locale_url projects_create_overview slug=project.slug %}" method="post" enctype="multipart/form-data">
        {% else %}
        <form id="project-edit-summary-form" action="{% locale_url projects_create %}{% if school %}?school={{ school.slug }}{% endif %}" method="post" enctype="multipart/form-data">
        {% endif %}
          <div class="bubble">
            <p>{% blocktrans with challenge_url='https://p2pu.org/groups/make-a-course/'%}Looking for advice on great course design? We have a <a href="{{ challenge_url }}" target="_blank">course</a> that can help you with the process and articles on our <a href="http://help.p2pu.org/kb" >help desk</a>.{% endblocktrans%}</p>
          </div>
          {% csrf_token %}
          <div class="field{% if form.name.errors %} error{% endif %}">
            <label for="id_test">
                {{ form.test }}
                {{ _('Just doing a test run? Check here to create a test course.') }}
            </label>
            <!--span class="hint block">{{ _('Please check this if you are just testing. Your course will not generate updates or notification emails for other users.') }}</span-->
            {{ form.test.errors }}
          </div>
          <div class="field{% if form.name.errors %} error{% endif %}">
            <label for="id_name">{{ _('Title') }}</label>
            {{ form.name }}
            {{ form.name.errors }}
          </div>
          <div class="field{% if form.short_description.errors %} error{% endif %}">
            <label for="id_short_description">{{ _('Tagline') }}</label>
            {{ form.short_description }}
            {{ form.short_description.errors }}
          </div>

          <div class="field duration {% if form.duration.errors %} error{% endif %} ">
              <label for="id_duration">{{ _('How many hours will this course take to complete?') }} {{ form.duration }}</label>
              {{ form.duration.errors }}
          </div>
          
          <div class="field long-description{% if form.long_description.errors %} error{% endif %}">
            <label for="id_long_description">{{ _('Description') }}</label>
            {{ form.long_description }}
            {{ form.long_description.errors }}
          </div>

          <div class="field{% if form.language.errors %} error{% endif %}">
            <label for="id_language">{{ _('Language') }}</label>
            {{ form.language }}
            {{ form.language.errors }}
          </div>

          <div class="field{% if form.tags.errors %} error{% endif %}">
            <label for="id_tags">{{ _('Tags') }}</label>
            {{ form.tags }}
            {{ form.tags.errors }}
          </div>

          {% if not category or project %}
            <div class="field{% if form.category.errors %} error{% endif %}">
              <label for="id_category">{{ _('Course style') }}</label>
              <span class="hint block">{{ _('What kind of learning environment do you want to create?') }}</span>
              {{ form.category }}
              {{ form.category.errors }}
            </div>
            <!--span class="hint block">{{ _('Or make up your own term.') }}</span>
            <div class="field term{% if form.other.errors %} error{% endif %}">
              <label for="id_other">{{ _('Term') }}</label>
              {{ form.other }}
              {{ form.other.errors }}
            </div> -- <div class="field term_desc{% if form.other_description.errors %} error{% endif %}">
              <label for="id_other_description">{{ _('Description') }}</label>
              {{ form.other_description }}
              {{ form.other_description.errors }}
            </div-->
          {% endif %}

          <label for="id_image">{{ _('Cover Image') }}</label>
          <div class="field{% if image_form.image.errors %} error{% endif %}">
            <!-- Note the "Browse..." button comes from your OS so it will
            only appear in another language if you configure your PC for that language.
            -->
            <span class="hint block">{{ _('Your cover image is the public face of your course - choose it wisely! Select and upload an image.<br/>We only support JPG, GIF and PNG images<br/>The image should measure 243x150 pixels<br/>The maximum size is 700k') }}</span>
            <input type="file" name="image" id="id_image"/>
            {{ image_form.image.errors }}
          </div>

          <br><br>
          <p class="buttons">
            <a class="button" href="{% learn_default %}">{{ _('Cancel') }}</a>
            <button type="submit" value="{{ _('Create') }}">{{ _('Go to step 2') }}</button>
          </p>
        </form>
    </fieldset>
  </article>
</section>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    $('#id_kind').autocomplete({
        source: function( request, response ) {
                url = "{% url matching_kinds %}?term=" + request.term;
                $.getJSON(url, function(data) {
                    response(data);
                });
            }
    });

    $(document).ready( function(){
        $('#project-create-advanced-toggle').bind('click', function(e){
            e.preventDefault();
            $('#project-create-advanced-toggle').hide();
            $('#project-create-advanced').show().animate({opacity: 1.0}, 500 );
        });
    });
  </script>
{% endblock %}

