{% extends "projects/project_edit.html" %}
{% load l10n_tags %}
{% block bodyclasses %}project edit summary{% endblock %}

{% block links %}{% if school %}<link rel="stylesheet" href="{% locale_url schools_css slug=school.slug %}?v=1">{% endif %}{% endblock %}

{% block form %}
<fieldset id="project_edit_summary" class="project edit summary tabpane">
<form action="{% if project %}{% locale_url projects_edit slug=project.slug %}{% else %}{% locale_url projects_create %}{% if school %}?school={{ school.slug }}{% endif %}{% endif %}" method="post">
  {% csrf_token %}
  <div class="field{% if form.name.errors %} error{% endif %}">
    <label for="id_name">{{ _('Name') }}</label>
    <span class="hint block">{{ _('A good name is short and descriptive. People should know what your study group, course, ... is about without reading the description.') }}</span>
    {{ form.name }}
    {{ form.name.errors }}
  </div>
  <div class="field{% if form.short_description.errors %} error{% endif %}">
    <label for="id_short_description">{{ _('One sentence description') }}</label>
    <span class="hint block">{{ _('This description will be used on search results and listing pages.') }}</span>
    {{ form.short_description }}
    {{ form.short_description.errors }}
  </div>
  <div class="field long-description{% if form.long_description.errors %} error{% endif %}">
    <label for="id_long_description">{{ _('One paragraph description') }}</label>
    <span class="hint block">{{ _('This description is shown on home page of the study group, course, ... It can go into a bit more detail, but it should be brief and to the point.') }}</span>
    {{ form.long_description }}
    {{ form.long_description.errors }}
  </div>
  <div class="field{% if form.tags.errors %} error{% endif %}">
    <label for="id_tags">{{ _('Tags') }}</label>
    <span class="hint block">{{ _('Please describe this study group, course, ... by providing a comma-separated list of tags.') }}</span>
    {{ form.tags }}
    {{ form.tags.errors }}
  </div>
  <div class="field{% if form.category.errors %} error{% endif %}">
    <label for="id_category">{{ _('Kind') }}</label>
    <span class="hint block">{{ _('Select if you are creating a study group, a course, or other kind of learning project.') }}</span>
    {{ form.category }}
    <div class="field term{% if form.other.errors %} error{% endif %}">
      <label for="id_other">{{ _('Term') }}</label>
      {{ form.other }}
      {{ form.other.errors }}
    </div> -- <div class="field term_desc{% if form.other_description.errors %} error{% endif %}">
      <label for="id_other_description">{{ _('Description') }}</label>
      {{ form.other_description }}
      {{ form.other_description.errors }}
    </div>
    {{ form.category.errors }}
  </div>
  <p class="buttons">
    {% if project %}
    <a class="button" href="{{ project.get_absolute_url }}">{{ _('Cancel') }}</a>
    <button type="submit" value="{{ _('Save') }}">{{ _('Save') }}</button>
    {% else %}
    <a class="button" href="{% locale_url projects_gallery %}">{{ _('Cancel') }}</a>
    <button type="submit" value="{{ _('Create') }}">{{ _('Create') }}</button>
    {% endif %}
  </p>
</form>
</fieldset>
{% endblock %}


{% block js %}
  <script type="text/javascript">
    $('#id_kind').autocomplete({
        source: function( request, response ) {
                url = "{% url matching_kinds %}?term=" + request.term;
                $.getJSON(url, function(data) {
                    response(data);
                });
            }
    });
  </script>
{% endblock %}

