{% extends "projects/project_edit.html" %}
{% load l10n_tags %}

{% block css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}js/libs/datatables/media/css/demo_page.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}js/libs/datatables/media/css/demo_table.css">
 {% endblock %}

{% block form %}

<div style="overflow: auto; padding: 1em; min-height: 10em;">
  <h3>{{ _('Organizer Quick View') }}
  {% if can_view_metric_detail %}
    (<a href="{% locale_url projects_admin_export_detailed_csv slug=project.slug %}">{{ _('export data') }} &raquo;</a>) 
  {% endif %}</h3>
  <p><i>{{ _('This table shows the overview of participant data. ') }} 
  {% if can_view_metric_detail %} {{ _('To see follower data or non-loggedin user data, use export for a <acronym title="Comma Separated Values">CSV</acronym> file.') }}<sup>6</sup> {% endif %}</i></p>

    <div id="demo">
      <table cellpadding="0" cellspacing="0" class="display" id="id-metrics-table">
	<thead>
	  <tr>
	    <th>{{ _('Participant') }}</th>
	    <th>{{ _('Last Active Date') }} <sup>2</sup></th>
	    <th>{{ _('Comments') }} <sup>3</sup></th>
	    <th>{{ _('Task Edits') }} <sup>4</sup></th>
	    <th>{{ _('Time on Course Pages') }} <sup>5</sup></th>
	  </tr>
	</thead>
	<tbody>
	</tbody>
	<tfoot>
	  <tr>
	    <th>{{ _('Participant') }}</th>
	    <th>{{ _('Last Active Date') }} <sup>2</sup></th>
	    <th>{{ _('Comments') }} <sup>3</sup></th>
	    <th>{{ _('Task Edits') }} <sup>4</sup></th>
	    <th>{{ _('Time on Course Pages') }} <sup>5</sup></th>
	  </tr>
	</tfoot>
      </table>
    </div>

	  <p class="hint clear">
        <sup>1</sup> {{ _('The information about course page visits is not available on the same day.') }}<br>
	    <sup>2</sup> {{ _('Last date the user visited a course page.') }}<br>
	    <sup>3</sup> {{ _('Total includes comments on wall and task pages.') }}<br>
	    <sup>4</sup> {{ _('Total includes edits to the full description and task pages.') }}<br>
	    <sup>5</sup> {{ _('Total time (in minutes) spent on this course\'s pages. The estimates are based on the timestamps of consecutive page views in the same session and default to one minute when the user does not access another page in an interval of one hour.') }}<br>
        <sup>6</sup> {{ _('The data in the csv file is more detailed and does not add the one minute estimates to the time on page so you can choose another constant to give weight to these page visits.') }}
	  </p>

</div>

<div style="margin-left: 190px;width:700px;">
    <div id="actOverTime" style="width: 700px; height: 500px;"></div>
</div>

{% block js %}
    <script src="{{ STATIC_URL }}js/libs/datatables/dataTables.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/libs/highcharts/highcharts.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/libs/highcharts/exporting.js" type="text/javascript"></script>
    <script>
	$(document).ready(function() {
	    $('#id-metrics-table').dataTable({
		"aaSorting": [[ 0, "asc" ]],
		"aoColumns": [
		    { "mDataProp": 0 },
		    { "mDataProp": 1, "sDefaultContent": "--" },
		    { "mDataProp": 3 },
		    { "mDataProp": 4 },
		    { "mDataProp": 2 }
		],
		"bProcessing": true,
		"bDestroy": true,
		"sAjaxSource": "{% locale_url projects_admin_metrics_data slug=project.slug %}",
		"bDeferRender": true
	    });
	});
    </script>


 {%endblock %}

{% endblock %}

