{% extends "base.html" %}

{% load i18n %}
{% load l10n_tags %}
{% load project_tags %}
{% load learn_tags %}

{% block title %}{{ _('Create') }}{% endblock %}

{% block bodyclasses %}project edit{% endblock %}

{% block links %}
    {% if school %}
        <link rel="stylesheet" href="{% locale_url schools_css slug=school.slug %}?v=1">
    {% endif %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/course.css?v=1">
{% endblock %}

{% block breadcrumbs_title %}
{% endblock %}
{% block breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% learn_default %}">{{ _('Learn') }}</a>
{% endblock %}

{% block body %}
<section class="modal nav">
  <article>
    <h1>{{ _('Create Course') }}</h1>
    <nav id="project-edit-nav" class="tabs">
      <ul>
        <li class="new">
          <a href="{% locale_url projects_create_overview slug=project.slug %}">{{ _('Step 1: Create Course') }}</a>
        </li>
        <li>
          <a href="{% locale_url projects_create_tasks slug=project.slug %}">{{ _('Step 2: Add Tasks') }}</a>
        </li>
        <li class="active">
          <a href="" class="disabled">  {{ _('Step 3: Review and Publish') }}</a>
        </li>
      </ul>
    </nav>
    
    <section id="id_tasks_edit">
        <h2>{{ _('Review your course') }}</h2>

        <p>{{ _('This is what your project will look like to the world when it is published. Take a second to double check your course name, tagline, image and tags.') }}</p>
        <span id="id-course-preview" class="card-list">
            {% include "projects/_project_card.html" %}
        </span>

        <p>{% blocktrans %}Join the <a href="/groups/make-a-course/">P2PU Course Design Group</a> to get feedback on your course!{% endblocktrans %}</p>

        <p>{% blocktrans %}You may also wish to add a badge to your challenge! For more information on badges and how to add them to your challenge, see <a href="https://courses.p2pu.org/groups/how-do-i-make-a-badge/">this</a> course!{% endblocktrans %}</p>

        <p>{{ _("Once you hit the 'Finish' button, you will be taken to your course. You can still make changes to your course and add and update the tasks associated with your course.") }}</p>

        <p>{{ _("Your course will remain a draft until you uncheck the 'Under Development' checkbox in the admin interface of your course.") }}</p>
        
        <a class="button" href="{% locale_url projects_show slug=project.slug %}">{{ _('Finish') }}</a>
    </section>
  </article>
</section>
{% endblock %}

