{% extends "base.html" %}

{% load i18n %}
{% load l10n_tags %}

{% block title %}{% if project %}{{ _('Edit') }}{% else %}{{ _('Create') }}{% endif %}{% endblock %}

{% block bodyid %}{% if project %}project_edit{% else %}project_create{% endif %}{% endblock %}

{% block links %}
  {% if project %}
    {% if project.accepted_school %}<link rel="stylesheet" href="{% locale_url schools_css slug=project.accepted_school.slug %}?v=1">{% endif %}
  {% endif %}
{% endblock %}

{% block breadcrumbs_title %}
  {% if project %}
    <h1 id="project-name">
      <a href="{{ project.get_absolute_url }}" class="school_header">{{ project.name }}</a>
    </h1>
  {% endif %}
{% endblock %}
{% block breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url projects_gallery %}">{{ _('Learn') }}</a>
  {% if project %}
    <span class="arrow">&rsaquo;</span>
    <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
  {% endif %}
{% endblock %}

{% block body %}
<section class="modal nav">
  <article>
    <h1>
      {% if project %}
      {{ _('Edit') }}
      <a class="pester back_link" href="{{ project.get_absolute_url }}">({{ _('View') }})</a>
      {% else %}
      {{ _('Create') }}
      {% endif %}</h1>
    <nav id="project-edit-nav" class="tabs">
      <ul>
    {% if project %}
	<li class="summary {% if summary_tab %}active{% endif %}"><a href="{% locale_url projects_edit slug=project.slug %}">{{ _('Summary') }}</a></li>
	<li class="image {% if image_tab %}active{% endif %}"><a href="{% locale_url projects_edit_image slug=project.slug %}">{{ _('Image') }}</a></li>
	<li class="status {% if status_tab %}active{% endif %}"><a href="{% locale_url projects_edit_status slug=project.slug %}">{{ _('Status &amp; Dates') }}</a></li>
    <li class="status {% if signup_tab %}active{% endif %}"><a href="{% locale_url edit_signup slug=project.slug %}">{{ _('Signup') }}</a></li>
	<li class="participants {% if participants_tab %}active{% endif %}"><a href="{% locale_url projects_edit_participants slug=project.slug %}">{{ _('Participants') }}</a></li>
	<li class="links {% if links_tab %}active{% endif %}"><a href="{% locale_url projects_edit_links slug=project.slug %}">{{ _('Links &amp; Content') }}</a></li>
    {% else %}
    <li class="new {% if new_tab %}active{% endif %}"><a href="{% locale_url projects_create %}{% if school %}?school={{ school.slug }}{% endif%}">
       {{ _('Create from Scratch') }}</a></li>
    <li class="clone {% if clone_tab %}active{% endif %}"><a href="{% locale_url projects_clone %}{% if school %}?school={{ school.slug }}{% endif%}">
       {{ _('Clone Existing') }}</a></li>
    <li class="import {% if import_tab %}active{% endif %}"><a href="{% locale_url projects_import %}{% if school %}?school={{ school.slug }}{% endif%}">
        {{ _('Import from Old Site') }}</a></li>
    {% endif %}
      </ul>
    </nav>
    
      {% block form %}{% endblock %}
    
  </article>
</section>
{% endblock %}

