{% load l10n_tags %}

<div id="sidebar">
  <section id="project"class="panel">
    <figure class="project_img">
      <a href="{{ project.get_absolute_url }}">
        {% if project.image %}
  	         <img src="{{ MEDIA_URL }}{{ project.image }}" width="243" height="150" alt="project image"/>
        {% else %}
             <img src="/media/images/project-missing.png" width="243" height="150" alt="project image"/>
        {% endif %}
      </a>
    </figure>
    {% if not organizing and not participating and not project.archived %}
      {% if user.is_authenticated %}
        {% if following %}
          <form id="unfollow_button" method="post" action="{% locale_url relationships_unfollow object_type='course' slug=project.slug %}">
            {% csrf_token %}
            <button>{{ _('Unfollow') }}</button>
          </form>
        {% else %}
          <form id="follow_button" method="post" action="{% locale_url relationships_follow object_type='course' slug=project.slug %}">
            {% csrf_token %}
            <button>{{ _('Follow') }}</button>
          </form>
        {% endif %}
      {% endif%}
      <p id="participate_button" {% if not user.is_authenticated %}class="login_participate_button"{% endif %}>
        <a href="{% locale_url sign_up_answer slug=project.slug %}">{{ _('Participate')}}</a>
      </p>
    {% endif %}
    <br>
    <div id="project-description">
        {{ project.short_description }}
    </div>
    <br>
    <div id="project-summary">
      {{ project.long_description|safe }}
    </div>
    {% if tags %}
      <h3><b>{{ _('Tags') }}</b></h3>
      <ul class="tags">
        {% for tag in tags %}
          <li>
            <a href="{% locale_url tags_tagged_list tag.slug %}" title="{{ _('View more tagged with ') }}{{ tag.name }}">
              {{ tag.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <a id="project-description-link"
       href="{{ project.detailed_description.get_absolute_url }}">
      {{ _('View Full Description') }}
    </a>
    {% if organizing %}
      <a class="button" href="{% locale_url projects_edit slug=project.slug %}">{{ _('Edit') }} {{ project.kind|title }}</a>
    {% else %}
      {% if user.is_authenticated %}
        <p class="supplemental_actions">
          <a class="report abuse action" href="{% locale_url drumbeat_abuse  model="project" app_label="projects" pk=project.id %}">{{_('Report Abuse')}}</a>
        </p>
      {% endif %}
    {% endif %}
    <ul id="project-stats">
      {% if project.accepted_school %}
        <li>
          <a href="{{ project.accepted_school.get_absolute_url }}" title="{{ project.accepted_school.name }}">
            {% if project.accepted_school.groups_icon %}
  	          <img src="{{ MEDIA_URL }}{{ project.accepted_school.groups_icon }}" width="118" height="32" alt="{{ project.accepted_school.name }}"/>
            {% else %}
              <img src="/media/images/school-missing.png" width="118" height="32" alt="{{ project.accepted_school.name }}"/>
            {% endif %}
          </a>
      </li>
      {% endif %}
      {% if project.archived %}
      <li class="beta-development">{{ _('Archived') }}</li>
      {% endif %}
      {% if project.under_development%}
      <li class="beta-development">{{ _('Under Development') }}</li>
      {% endif %}
      {% if project.not_listed %}
      <li class="beta-development">{{ _('Not Listed') }}</li>
      {% endif %}
      <!-- This line is here so the {{ _('DATE_FORMAT') }} gets configured for different locales -->
      {% if project.start_date or project.end_date %}
        <li>{{ _('Runs') }} {% if project.start_date %} {{ project.start_date }} {% endif %} 
        {% if project.end_date %} {{ _('to') }}  
        {{ project.end_date }}{% endif %} </li>
      {% endif %}
      {% if project.clone_of %}
      <li>
        <div class="label">{{ _('Based on') }}</div>
	    <div class="value"><a href="{{ project.clone_of.get_absolute_url }}">{{ project.clone_of.name }}</a></div>
      </li>
      {% endif %}
      {% if imported_from %}
      <li>
        <div class="label">{{ _('Based on') }}</div>
	    <div class="value"><a href="{{ imported_from.url }}">{{ imported_from.name }}</a></div>
      </li>
      {% endif %}
      <li>
        <div class="label">{{ _('Kind') }}</div>
	    <div class="value">{{ project.kind|title }}</div>
      </li>
      <li>
        <div class="label">{{ _('Signup') }}</div>
	    <div class="value"><a href="{{ sign_up.get_absolute_url }}">{{ sign_up.get_status_display }}</a></div>
      </li>
      <li>
        <div class="label">{{ _('Chat') }}</div>
        <div class="value"><a href="{% locale_url chat %}" target="_blank">{{ chat }}</a></div>
      </li>
      <li>
	<div class="label">{{ _('Updates') }}</div>
	<div class="value">{{ update_count }}</div>
      </li>
      <li>
	<div class="label">{{ _('Organizers') }}</div>
	<div class="value">{{ organizers_count }}</div>
      </li>
      <li>
	<div class="label">{{ _('Participants') }}</div>
	<div class="value">{{ participants_count }}</div>
      </li>
      <li>
	<div class="label">{{ _('Followers') }}</div>
	<div class="value">{{ followers_count }}</div>
      </li>
    {% if organizing %}
    <li>
		<div class="label">{{ _('Pending Applicants') }}</div>
		<div class="value">
		<a href="{{ project.sign_up.get_absolute_url }}">{{ pending_signup_answers_count }}</a>
		</div>
    </li>
    {% endif %}
    </ul> <!-- /#project-stats -->
  </section>

<section id="people" class="panel">
  <a id="more_task_link" style="float:right" href="{% locale_url projects_user_list slug=project.slug %}">{{_('See All')}} »</a>
  <h2 class="school_header">{{ _('People') }}</h2>
  <br>
  {% for organizer in sidebar_organizers %}
   <a href="{{ organizer.user.get_absolute_url }}" title="{{ organizer.user }} (organizer)"><img class="member-picture" src="{{ organizer.user.image_or_default }}" height="26" width="26" alt="{{ organizer.user }} (organizer)"></a>
  {% endfor %}
  {% for participant in sidebar_participants %}
   <a href="{{ participant.user.get_absolute_url }}" title="{{ participant.user }} (participant)"><img class="member-picture" src="{{ participant.user.image_or_default }}" height="26" width="26" alt="{{ participant.user }} (participant)"></a>
  {% endfor %}
  {% for follower in sidebar_followers %}
   <a href="{{ follower.source.get_absolute_url }}" title="{{ follower.source }} (follower)">
   <img class="member-picture" src="{{ follower.source.image_or_default }}" height="26" width="26" alt="{{ follower.source }} (follower)"></a>
  {% endfor %}

  <br><br>
  {% if organizing %}
    <a class="button" href="{% locale_url projects_edit_participants slug=project.slug %}">{{ _('Edit Participants') }}</a>
  {% else %}{% if user.is_authenticated %}
    <a class="button" href="{% locale_url projects_contact_organizers slug=project.slug %}">{{ _('Contact Organizer')}}</a>
  {% endif %}{% endif %}
</section>

<section id="course-content" class="panel">

  <a name="tasks"></a>
  <h2 class="school_header">{{ _('Tasks') }}</h2>
  <br>
  {% if content_pages %}
    <nav id="content-pages">
      <ul>
        {% for page in content_pages %}
	<li>	
	    <a class="taskLink" href="{{ page.get_absolute_url }}">{{ page.title }}</a>
	    
            {% if can_change_order %}
	            {% if not forloop.first %}<a class="robttn up" href="{% locale_url page_index_up slug=project.slug counter=forloop.counter0 %}">(UP)</a>{% endif %}
	            {% if not forloop.last %}<a class="robttn dwn" href="{% locale_url page_index_down slug=project.slug counter=forloop.counter0 %}">(DOWN)</a>{% endif %}
            {% endif %}

	</li>
        {% endfor %}
      </ul>
    </nav>
  {% else %}
    {{ _('No tasks have been added.') }}
        <br>
  {% endif %}
  {% if can_add_task %}
    <br>
    <a class="button" href="{% locale_url page_create slug=project.slug %}">{{ _('New Task') }}</a>
  {% endif %}
</section>


<section id="external-links" class="panel">
<h2 class="school_header">{{ _('External Links') }}</h2>
  <br>
  {% if links %}
    <nav id="project-links">
      <ul>
        {% for link in links %}
          <li><a class="externalLink" href="{{ link.url }}">{{ link.name }}</a>
          
            {% if can_change_order %}
                {% if not forloop.first %}<a class="robttn up" href="{% locale_url link_index_up slug=project.slug counter=forloop.counter0 %}">(UP)</a>{% endif %}
                {% if not forloop.last %}<a class="robttn dwn" href="{% locale_url link_index_down slug=project.slug counter=forloop.counter0 %}">(DOWN)</a>{% endif %}
            {% endif %}
          
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% else %}
    {{ _('No external links have been added.') }}
    <br>
  {% endif %}
  {% if organizing %}
    <br>
    <a class="button" href="{% locale_url projects_edit_links slug=project.slug %}">{{ _('Edit Links') }}</a>
  {% endif %} 
</section>

</div> <!-- /#sidebar -->

