{% load l10n_tags %}
{% load learn_tags %}
  <a class="filter {% if not learn_showcase and not learn_community and not learn_fresh and not learn_school and not learn_tag %}active{% endif %}" href="{% locale_url learn_all %}">{{ _('View All') }}</a>
  <h2><i class="icon-star-empty icon-large"></i>{{ _('Featured') }}</h2>
  <a class="filter {% if learn_community %}active{% endif %}" href="{% locale_url learn_featured feature='community' %}">
    {{ _('Community Picks') }}
  </a>
  <a class="filter {% if learn_showcase %}active{% endif %}" href="{% locale_url learn_featured feature='showcase' %}">
    {{ _('Showcase') }}
  </a>
  <a class="filter {% if learn_fresh %}active{% endif %}" href="{% locale_url learn_featured feature='fresh' %}">
    {{ _('Fresh Additions') }}
  </a>
  <h2><i class="icon-trophy icon-large"></i>{{ _('Schools') }}</h2>
  {% for school in schools %}
    <a class="filter {% if learn_school.id == school.id %}active{% endif %}" href="{% locale_url learn_schools school_slug=school.slug %}">
      {{ school.short_name|title }}
    </a>
  {% endfor %}
  <hr>
  <h2><i class="icon-tags icon-large"></i>{{ _('Tags') }}</h2>
  {% for tag in filter_tags %}
    <a class="filter active" href="./?filter_tags={% filter_remove_tag filter_tags tag %}">
        {{tag}}<img src="{{STATIC_URL}}/images/delete-x.png">
    </a>
  {% endfor %}
  {% for tag in popular_tags %}
    <a class="filter" href="./?filter_tags={% filter_add_tag filter_tags tag.tag__name %}">
      {{ tag.tag__name }} ({{ tag.tagged_count }})
    </a>
  {% endfor %}
  <a href="./"><strong>{{ _('Clear Tags') }}</strong></a>
  <a href="{% locale_url learn_tags %}">
    <strong>{{ _('Browse All Tags') }}</strong>
    <i class="icon-arrow-right"></i>
  </a>
  <h2><i class="icon-pencil icon-large"></i>{{ _('Preferences') }}</h2>
    <form id="learn-projects-filter" action="{% locale_url learn_all %}" method="get">
    {{ form.featured }}
    {{ form.school }}
    {{ form.tag }}
    <div class="field{% if form.language.errors %} error{% endif %}">
      <label for="id_language">
        {{ _('Language:') }}
        {{ form.language }}
      </label>
      {{ form.language.errors }}
      </div>
      <div class="field{% if form.reviewed.errors %} error{% endif %}">
      <label for="id_reviewed">
        {{ form.reviewed }}
        {{ _('Community Reviewed') }}
      </label>
      {{ form.reviewed.errors }}
    </div>
    <button type="submit" value="{{ _('Filter') }}">{{ _('Filter') }}</button>
  </form>

