{% load l10n_tags %}
{% load i18n %}

<!-- The enumeration below is designed to insert a new row after every 3rd project: -->

{% for project in pagination_current_page.object_list %}
  {% if forloop.first %}
    <div class="row-fluid">
      <ul class="thumbnails">
  {% endif %}
  
  <!-- add the current project to the row -->
  <li class="span4">
    {% include "learn/_course_card.html" %}
  </li>


  <!-- if this was the 3rd project in the row, end the row -->			
  {% if forloop.counter|divisibleby:"3" %}
      </ul>
    </div>    
    {% if not forloop.last %}
      <div class="row-fluid">
        <ul class="thumbnails">
    {% endif %}
  {% else %}{% if forloop.last %}
      </ul>
    </div>
  {% endif %}{% endif %}

  {% empty %}
    <div class="hint">
      {% blocktrans %}
        Seems like we don't have any courses to show you. Try looking for courses in all languages or search for a course by keyword using the search box at the top of the page.
      {% endblocktrans %}
    </div>

{% endfor %}
