{% extends "base.html" %}
{% load l10n_tags %}
{% load learn_tags %}
{% block title %}{{ _('Learn | Tags') }}{% endblock %}
{% block bodyid %}learn-tags{% endblock %}

{% block breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% learn_default %}">{{ _('Learn') }}</a>
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url learn_tags %}">{{ _('Tags') }}</a>
{% endblock %}

{% block body %}
  <h1>Tag Cloud</h1>
  <div id="main" class="well">
    {% for tag in tags %}
      <a style="font-size:{{tag.weight}}pt" href="{% locale_url learn_all %}?filter_tags={{ tag.tag }}">{{tag.tag}}({{tag.count}})</a>
    {% endfor %}
  </div>
{% endblock %}
