{% extends "mojo.html" %}
{% load l10n_tags %}

{% block body %}    
  <div class="banner">   
    <div class="container">
      <h1>Knight-Mozilla News Technology Partnership (MoJo)</h1>
      <h2>Web developers and designers around the world collaborating to invent the future of news.</h2>
        
      <ul>
        <li>
          <img src="{{ MEDIA_URL }}images/mojo/benefit1.jpg" width="300" height="115">
            <p>
              Put your best ideas in front of the people shaping journalism's future.
            </p>
          </li>
          <li>
            <img src="{{ MEDIA_URL }}images/mojo/benefit2.jpg" width="300" height="115">
            <p>
              Take your news technology idea from napkin sketch to working prototype, with Mozilla's help.
            </p>
          </li>
          <li>
            <img src="{{ MEDIA_URL }}images/mojo/benefit3.jpg" width="300" height="115" alt="">
            <p>
              Rub shoulders with web luminaries, big thinkers, and journalists.
            </p>
          </li>
          <li>
            <img src="{{ MEDIA_URL }}images/mojo/benefit4.jpg" width="300" height="115" alt="">
            <p>
              Earn a trip to Berlin or London for face-to-face prototype-building with the world's leading news app developers.
            </p>
          </li>
          <li>
            <img src="{{ MEDIA_URL }}images/mojo/benefit5.jpg" width="300" height="115" alt="">
            <p>
              The big prize: spend a year evolving your ideas in <a href="{% locale_url drumbeat_journalism_about %}">the world's most prestigious newsrooms as a paid Knight-Mozilla fellow.</a>
            </p>
          </li>
          <li class="calltoaction">
            <span class="heading">Interested?</span>
            <a class="button" href="{% locale_url drumbeat_journalism_about %}"><span>About MoJo</span></a>
            <a class="button" href="{% locale_url drumbeat_journalism_participate %}"><span>Get Involved</span></a>
          </li>
        </ul>
        
      </div>
    </div>
    
    <div class="homepage">
      <div class="container">
        <div class="column-left">
          <div class="challengebox">
            <p class="first">
              Challenge 1:<br />
              <strong>How can new web video tools transform news storytelling? </strong>
            </p>
            <br />
            <a href="{% locale_url challenges_show slug="unlocking-video" %}"> <img style="float: right; margin-top: -10px;" src="{{ MEDIA_URL }}images/mojo/challenge1-image.png" width="190" height="126" alt=""></a>
            <p class="inner">
Video is a central part of many people's daily news experience. But most online video is still stuck in a boring embedded box, like "TV on a web page." How do we make web video <em>more like the web?</em></p>
            <a class="button-white" href="{% locale_url challenges_show slug="unlocking-video" %}"><span>Submit Your Idea</span></a>
          </div>
          
          <h3>Popular ideas for Challenge #1</h3>
          <ul class="popularideas">
            <li>
              <div class="score">
                <span>96</span>
                <a class="active" href="#">Like</a>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies risus quis metus malesuada imperdiet. In vehicula tincidunt massa, et tristique ligula commodo et. Nam porttitor lacinia varius. Nullam nibh metus, eleifend quis volutpat quis, tristique in diam. Suspendisse ut neque justo. <a href="###">View More</a>
              </p>
            </li>
            <li>
              <div class="score">
                <span>96</span>
                <a href="#">Like</a>
              </div>
              <p>
                Donec ultricies risus quis metus malesuada imperdiet. In vehicula tincidunt massa, et tristique ligula commodo et. Nam porttitor lacinia varius. Nullam nibh metus, eleifend quis volutpat quis, tristique in diam. Suspendisse ut neque justo. <a href="###">View More</a>
              </p>
            </li>
          </ul>
          <a class="viewallideas" href="{% locale_url challenges_show slug="unlocking-video" %}">View All Challenge #1 Ideas</a>
        </div>
        <div class="column-right">
          <div class="challengebox">
              <a href="https://drumbeat.org/en-US/challenges/beyond-comment-threads/"><img src="{{ MEDIA_URL }}images/mojo/smallchallenge2.png" width="115" height="83" alt="Challenge 2" style="float:left;"></a>
            <p class="first">
              <a href="{% locale_url challenges_show slug="beyond-comment-threads" %}">Challenge 2: Comments</a><br />
              <p class="inner">Kicks off May 9th</p>
            </p>
          </div>
          <div class="challengebox">
                       <a href="https://drumbeat.org/en-US/challenges/open-webs-killer-app/"><img src="{{ MEDIA_URL }}images/mojo/smallchallenge3.png" width="115" height="83" alt="Challenge 3" style="float:left;"></a>
            <p class="first">
              <a href="{% locale_url challenges_show slug="open-webs-killer-app" %}">Challenge 3: Open Web Apps</a><br />
              <p class="inner">Kicks off May 23rd</a>
            </p>
          </div>
          
          <h3>
            <a style="float: right;" href="#"><img src="{{ MEDIA_URL }}images/feed-icon-16x16.png" width="16" height="16" alt="Feed Icon 16x16"></a>
            Community Feed 
          </h3>
          <div class="rule2"></div>
          <ul class="feed">
            <li>
              <a href="#">Securely Storing Opt-Out Email Addresses</a>
              <p>
                Walgreens was just compromised and an attacker got the master list of email addresses that also included email addresses of people who had opted-out of receiving Walgreens emails.
              </p>
            </li>
            <li>
              <a href="#">Title</a>
              <p>
                Excerpt
              </p>
            </li>
            <li>
              <a href="#">Title</a>
              <p>
                Excerpt
              </p>
            </li>
            <li>
              <a href="#">Title</a>
              <p>
                Excerpt
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="footer">
        <ul>
          <li><a href="mailto:journalism@mozilla.org">Contact Us</a></li>
          <li><a href="###">Mozilla.org</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
        <a class="facebook" href="http://www.facebook.com/pages/Knight-Mozilla-News-Technology-Partnership/166232896765641"></a>
        <a class="twitter" href="http://twitter.com/knightmojo"></a>
      </div>
      <p class="footer-subtext">
        The contents of this website are licensed CC-BY. (c) Mozilla 2011
      </p>  
    </div>
{% endblock %}
