{% extends "mojo.html" %}
{% load l10n_tags %}

{% block body %}    
  <div class="banner">   
    <div class="container">
      <h1>Knight-Mozilla News Technology Partnership (MoJo)</h1>
      <h2>Web developers and designers around the world collaborating to invent the future of news.</h2>
        
      <ul>
        <li>
          <img src="{{ MEDIA_URL }}images/mojo/benefit1.jpg" width="300" height="115">
            <p>
              Put your best ideas in front of luminaries, big thinkers and journalists shaping journalism's future.
            </p>
          </li>
          <li>
            <img src="{{ MEDIA_URL }}images/mojo/benefit2.jpg" width="300" height="115">
            <p>
Earn a trip to a Berlin hackfest, where we'll help take your idea from napkin sketch to prototype.
            </p>
          </li>
          <li>
            <img src="{{ MEDIA_URL }}images/mojo/benefit5.jpg" width="300" height="115" alt="">
            <p>
              Spend a year in one of the <a href="{% locale_url drumbeat_journalism_about %}">world's most exciting newsrooms</a> as a paid Knight-Mozilla fellow.
            </p>
          </li>
          </ul>
<div class="navspacer">
       <a href="{% locale_url drumbeat_journalism_about %}"><h2>Learn more...</h2></a>
        </div>
      </div>
    </div>
    
    <div class="homepage">
      <div class="container">
        <div class="column-left">
          <div class="challengebox">
            <p class="first">
              Challenge 3:<br />
              <a href="{% locale_url challenges_show slug="open-webs-killer-app" %}"> <strong>What would you build to make news better for the people who create and read it?</strong></a>
            </p>
            <br />
            <a href="{% locale_url challenges_show slug="open-webs-killer-app" %}"> <img style="float: right; margin-top: -10px;" src="{{ MEDIA_URL }}images/mojo/challenge3-image.png" width="190" height="126" alt=""></a>
            <p class="inner">
How would you involve the public in the newsmaking, editing or sharing process? The primary constraint: you're limited to web native technology like HTML, Javascript and CSS.</p>
            <a class="button-white" href="{% locale_url challenges_show slug="open-webs-killer-app" %}"><span>Submit Your Idea</span></a>
          </div>
          {% if recent_submissions %}
          <h3>Recent Submissions for Challenge #2</h3>
          <ul class="popularideas">
            {% for submission in recent_submissions %}
            <li>
              <p>{{ submission.summary }} | <a href="{% locale_url submission_show slug=current_challenge.slug submission_id=submission.pk %}">Read more...</a></p>
            </li>
            {% endfor %}
          </ul>
          <a class="viewallideas" href="{% locale_url challenges_show slug="beyond-comment-threads" %}">View All Challenge #2 Ideas</a>
          {% endif %}
        </div>
        <div class="column-right">
          <div class="challengebox">
            <a href="{% locale_url challenges_show slug="unlocking-video" %}"><img src="{{ MEDIA_URL }}images/mojo/challenge1-image.png" width="115" height="83" alt="Challenge 1" style="float:left;"></a>
            <p class="first">
              <a href="{% locale_url challenges_show slug="unlocking-video" %}">Challenge 1: Unlock Video</a><br />
              <p class="inner">Ends June 6th.</p>
            </p>
          </div>
          <div class="challengebox">
                       <a href="{% locale_url challenges_show slug="beyond-comment-threads" %}"><img src="{{ MEDIA_URL }}images/mojo/smallchallenge2.png" width="115" height="83" alt="Challenge 2" style="float:left;"></a>
            <p class="first">
              <a href="{% locale_url challenges_show slug="beyond-comment-threads" %}">Challenge 2: Beyond Comments</a><br />
              <p class="inner">Ends June 6th.</a>
            </p>
          </div>

          <h3>
            <a style="float: right;" href="{{ feed_url }}"><img src="{{ MEDIA_URL }}images/feed-icon-16x16.png" width="16" height="16" alt="Feed Icon 16x16"></a>
            <a href="http://planet.drumbeat.org/mojo/">Community Feed</a>
          </h3>
          <div class="rule2"></div>
          <ul class="feed">
            {% for entry in feed_entries %}
              <li>
                <a href="{{ entry.link }}">{{ entry.title }}</a>
                <p>{{ entry.body|truncatewords:50 }}</p>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
     <div class="container_bottom">
      <div class="column-33">
        <h5>About Knight</h5>
        <p>
          The John S. and James L. Knight Foundation advances journalism in the digital age and invests in the vitality of communities where the Knight  brothers owned newspapers. 
        </p>
        <p>
          Knight Foundation focuses on projects that  promote informed and engaged communities and lead to transformational change.
        </p>
        <p>
          For more, visit <a href="http://www.knightfoundation.org">www.knightfoundation.org</a>
        </p>
      </div>
      
      <div class="column-33">
        <h5>About Mozilla</h5>
        <p>
          Mozilla is a global non-profit dedicated to putting you in control of your online experience and shaping the future of the web for the public good. 
        </p>
        <p>
          We do this by creating great software, like the Firefox browser, and building communities, like Mozilla Drumbeat, that build and grow the open web.
        </p>
        <p>
          For more visit <a href="http://www.mozilla.org">www.mozilla.org</a>
        </p>
      </div>
      
      <div class="column-33 last">
        <h5>FAQs</h5>
        <ul>
        
          <li><a href="https://wiki.mozilla.org/Drumbeat/MoJo/FAQ#Why_is_Mozilla_interested_in_media_and_journalism.3F.E2.80.A8">Why is Mozilla interested in media and journalism?</a></li>
          <li><a href="https://wiki.mozilla.org/Drumbeat/MoJo/FAQ#Who_is_eligible_for_a_Knight-Mozilla_fellowship.3F_How_do_I_apply_for_a_Knight-Mozilla_fellowship.3F.E2.80.A8.E2.80.A8">Who is eligible for a Knight-Mozilla fellowship? How do I apply for a Knight-Mozilla fellowship?</a></li>
          <li><a href="https://wiki.mozilla.org/Drumbeat/MoJo/FAQ#What_do_you_mean_by_.22the_open_web.22_and_.22open_technology.3F.E2.80.A8">What do you mean by "the open web" and "open technology?"</a></li>
        </ul>
        <a class="viewmore" href="https://wiki.mozilla.org/Drumbeat/MoJo/FAQ">View More</a>
      </div>
    </div>
    <div class="container">
      <div class="footer">
        <ul>
          <li><a href="mailto:journalism@mozilla.org">Contact Us</a></li>
          <li><a href="http://www.mozilla.org">Mozilla.org</a></li>
          <li><a href="http://www.mozilla.org/about/policies/privacy-policy.html">Privacy Policy</a></li>
        </ul>
        <a class="facebook" href="http://www.facebook.com/pages/Knight-Mozilla-News-Technology-Partnership/166232896765641"></a>
        <a class="twitter" href="http://twitter.com/knightmojo"></a>
      </div>
      <p class="footer-subtext">
        The contents of this website are licensed CC-BY. (c) Mozilla 2011
      </p>  
    </div>
{% endblock %}
