{% extends "mojo.html" %}

{% load l10n_tags %}
{% block body %}
    <div class="banner">   
      <div class="container">
        <a href="{% locale_url drumbeat_journalism %}""><h1>Knight-Mozilla News Technology Partnership (MoJo)</h1></a>
        <h2>Web developers and designers around the world collaborating to invent the future of news.</h2>
              <a class="button" href="{% locale_url drumbeat_journalism %}"><span>Home</span></a>
        <a class="button" href="{% locale_url drumbeat_journalism_about %}"><span>About Mojo</span></a>
        <a class="button selected" href="{% locale_url drumbeat_journalism_participate %}"><span>Get Involved</span></a>
        <a class="button" href="https://wiki.mozilla.org/Drumbeat/MoJo"><span>MoJo Wiki</span></a>
      </div>
    </div>
    
    <div class="content">
      <div class="container">
        <a href="https://drumbeat.org/challenges/unlocking-video/"><img style="float: right; margin-top: -20px;" src="{{ MEDIA_URL }}images/mojo/badge.png" width="127" height="129" alt="First challenge undeway!"></a>
        <p class="intro">
          MoJo is an opportunity to get your byline on the future of news. Whether you are a designer, developer, student or entrepreneur, we want to help develop your best ideas about journalism's future. Get involved today and <a href="http://www.twitter.com/knightmozilla">follow us on Twitter</a>.
        </p>
        <br />
        <div class="column-50">
            <h3><strong>Turn Your News Tech Idea Into Reality</strong></h3>
          <p>
          </p>
          <p class="center">
            <a class="getstarted" href="https://drumbeat.org/challenges/unlocking-video/">Enter the challenge</a>
          </p>
          <p>
          Take your news technology idea from napkin sketch, to specification, to working prototype, with Mozilla's help.
</p>
          <ul>
            <li>Participating in the Knight-Mozilla news innovation challenges will net you new collaborators and support.</li><br />
            <li>The 60 best contributors will rub shoulders with the Web's leading lights: folks like Christian Heilmann, Burt Herman, Aza Raskin, John Resig, and many more.</li><br />
            <li>You'll learn new skills, and more than 20 contributors will have an opportunity to develop their ideas alongside skilled developers at in-person hackfests in Berlin and London.</li>
          </ul>
         Read the <a href="https://wiki.mozilla.org/Drumbeat/MoJo/Challenge_Rules">complete rules</a>.
          <div class="participate-signup nudge">
            <form method="post" action="https://lists.mozilla.org/subscribe/community-mojo">
              <label for="email">Subscribe to our newsletter and get the latest updates delivered directly to your inbox</label>
              <input name="email" id="email" type="text" placeholder="email address">
              <input type="submit" value="Subscribe" />
            </form>
          </div>
        </div>
        <div class="column-50 last">
                <h3><strong>Become a Knight-Mozilla Fellow</strong></h3>
          <p>
          </p>
          <p class="center">
            <a class="getstarted" href="https://drumbeat.org/challenges/unlocking-video/">Let's get started!</a>
          </p>
          <p>
            We're looking for 15 brilliant, creative people to join MoJo as Knight-Mozilla News Technology Fellows.
          </p>
          <ul>
            <li>Fellowships are paid, one-year positions. Fellows earn a $60,000 salary, plus stipends, relocation, and various benefits.</li><br />
            <li>Current news organizations include Al Jazeera, BBC, Boston.com, the Guardian and Zeit Online.</li><br />
            <li>Fellows will work alongside the newsroom staff at their host institutions, and the MoJo community of innovators, to build world-class news tech implementations.</li>
          </ul>
          Anyone who participates in an innovation challenge is eligible to become a fellow.
         
        <h3><strong>Host a Knight-Mozilla Fellow</strong></h3>
           <p>
            We're looking for news partners with a strong commitment to outstanding journalism and technical innovation to <a href="https://wiki.mozilla.org/Drumbeat/Mojo/Selection">host our 2012 fellows</a>.
            </p>
            <p>
            Fellows are exceptional news technologists, selected and supported by Knight and Mozilla to advance their ideas inside leading newsrooms. Institutions gain access to a full-time technologist and a broad community of open source innovators. To learn more, <a href="mailto:njames@mozillafoundation.org">please be in touch</a>.
          </p>
     
          </div>         
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="footer">
        <ul>
          <li><a href="mailto:journalism@mozilla.org">Contact Us</a></li>
          <li><a href="###">Mozilla.org</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
        <a class="facebook" href="http://www.facebook.com/pages/Knight-Mozilla-News-Technology-Partnership/166232896765641"></a>
        <a class="twitter" href="http://twitter.com/knightmozilla"></a>
        <span style="float: right">Follow Mojo</span>
      </div>
      <p class="footer-subtext">
        The contents of this website are licensed CC-BY. (c) Mozilla 2011
      </p>  
    </div>
{% endblock %}
