{% extends "mojo.html" %}

{% load l10n_tags %}
{% block body %}
    <div class="banner">   
      <div class="container">
        <a href="{% locale_url drumbeat_journalism %}""><h1>Knight-Mozilla News Technology Partnership (MoJo)</h1></a>
        <h2>Web developers and designers around the world collaborating to invent the future of news.</h2>
              <a class="button" href="{% locale_url drumbeat_journalism %}"><span>Home</span></a>
        <a class="button" href="{% locale_url drumbeat_journalism_about %}"><span>About MoJo</span></a>
              <a class="button" href="{% locale_url drumbeat_journalism_process %}"><span>The Process</span></a>
        <a class="button selected" href="{% locale_url drumbeat_journalism_participate %}"><span>Get Involved</span></a>
        <a class="button" href="https://wiki.mozilla.org/Drumbeat/MoJo"><span>MoJo Wiki</span></a>
      </div>
    </div>
    
    <div class="content">
      <div class="container">
        <br />
        <div class="column-50">
         <p class="intro">Turn Your News Tech Idea Into Reality</p>
                  <div class="center"><img src="{{ MEDIA_URL }}images/mojo/hands.jpg" width="336" height="156"></div>
          <ul>
            <li>Participating in the Knight-Mozilla news innovation challenges will net you new collaborators and support.</li><br />
            <li>The 60 best contributors will rub shoulders with the Web's leading lights: folks like Christian Heilmann, Burt Herman, Aza Raskin, John Resig, and many more.</li><br />
            <li>You'll learn new skills, and more than 20 contributors will have an opportunity to develop their ideas alongside skilled developers at in-person hackfests in Berlin and London.</li>
          </ul>
         Read the <a href="https://wiki.mozilla.org/Drumbeat/MoJo/Challenge_Rules">complete rules</a>.
         <br />
         <br />
         <p class="intro">Become a Knight-Mozilla Fellow</p>
          <p>
            Five people will become Knight-Mozilla News Technology Fellows in 2011. Another ten will join in 2012.
          </p>
          <ul>
            <li>Fellowships are paid, one-year positions with news organizations include Al Jazeera, BBC, Boston.com, the Guardian and Zeit Online.</li><br />
            <li>Fellows will work alongside the newsroom staff at their host institutions, and the MoJo community of innovators, to build world-class news tech implementations.</li>
          </ul>
          Anyone who participates in an innovation challenge is eligible to become a fellow. <a href="{% locale_url challenges_show slug="unlocking-video" %}">What's your idea?</a>
        </div>
        <div class="column-50 last">
           <a href="{% locale_url challenges_show slug="unlocking-video" %}"><img style="float: right; margin-top: -20px;" src="{{ MEDIA_URL }}images/mojo/badge.png" width="127" height="129" alt="First challenge undeway!"></a>
        <div class="participate-signup nudge">
        <p class="intro">
          MoJo is an opportunity to get your byline on the future of news. Whether you are a designer, developer, student or entrepreneur, we want to help develop your best ideas about journalism's future. Get involved today and <a href="http://www.twitter.com/knightmozilla">follow us on Twitter</a>.
        </p>
            <form method="post" action="https://lists.mozilla.org/subscribe/community-mojo">
              <label for="email">Subscribe to our newsletter and get the latest updates and discussion delivered to your inbox.</label>
              <input name="email" id="email" type="text" placeholder="email address">
              <input type="submit" value="Subscribe" />
            </form>
          </div>
          <br />
        <p class="intro">Host a Knight-Mozilla Fellow</p>
           <p>
            We're looking for news partners with a strong commitment to outstanding journalism and technical innovation to <a href="https://wiki.mozilla.org/Drumbeat/Mojo/Selection">host our 2012 fellows</a>.
            </p>
            <p>
            Fellows are exceptional news technologists, selected and supported by Knight and Mozilla to advance their ideas inside leading newsrooms. Institutions gain access to a full-time technologist and a broad community of open source innovators. To learn more, <a href="mailto:ben@mozillafoundation.org">please be in touch</a>.
          </p>
          </div>         
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="footer">
        <ul>
          <li><a href="mailto:journalism@mozilla.org">Contact Us</a></li>
          <li><a href="http://www.mozilla.org">Mozilla.org</a></li>
          <li><a href="http://www.mozilla.org/about/policies/privacy-policy.html">Privacy Policy</a></li>
        </ul>
        <a class="facebook" href="http://www.facebook.com/pages/Knight-Mozilla-News-Technology-Partnership/166232896765641"></a>
        <a class="twitter" href="http://twitter.com/knightmozilla"></a>
        <span style="float: right">Follow Mojo</span>
      </div>
      <p class="footer-subtext">
        The contents of this website are licensed CC-BY. (c) Mozilla 2011
      </p>  
    </div>
{% endblock %}
