{% extends "mojo.html" %}

{% load l10n_tags %}
{% block body %}
    <div class="banner">   
      <div class="container">
        <h1>Knight Mozilla News Technology Partnership (MoJo)</h1>
        <h2>Web developers and designers around the world collaborating to invent the future of news.</h2>
        <a class="button" href="{% locale_url drumbeat_journalism_about %}"><span>About Mojo</span></a>
        <a class="button selected" href="{% locale_url drumbeat_journalism_participate %}"><span>Get Involved</span></a>
        <a class="button" href="https://wiki.mozilla.org/Drumbeat/MoJo"><span>Mojo Wiki</span></a>
      </div>
    </div>
    
    <div class="content">
      <div class="container">
        <a href="https://drumbeat.org/challenges/unlocking-video/"><img style="float: right; margin-top: -20px;" src="{{ MEDIA_URL }}images/mojo/badge.png" width="127" height="129" alt="First challenge undeway!"></a>
        <p class="intro">
          We want news organizations. Programmers and developers. Entrepreneurs. News hackers. Reporters. Design thinkers. Journalism teachers and students. Or anyone using the news to invent something new and interesting. Get involved today and <a href="http://www.twitter.com/knightmozilla">follow us on Twitter</a>.
        </p>
        <br />
        <div class="column-50">
          <p>
            <strong>Become a Knight-Mozilla Fellow:</strong> take part in one or more of our innovation challenges. 
          </p>
          <p>
            <a class="getstarted" href="https://drumbeat.org/challenges/unlocking-video/">Get Started</a>
          </p>
          <p>
            We're looking for 15 creative people committed to innovation in news technology to join our partnership as Knight-Mozilla News Technology Fellows.
          </p>
          <ul>
            <li>Fellowships are paid, one-year positions hosted by our news partner organizations. </li>
            <li>Current news organizations include Al Jazeera, BBC, Boston.com, the Gaurdian and Zeit Online.</li>
            <li>Each Fellow will work with the technology teams at their host organization. And with an innovation community convened by Knight and Mozilla to build world-class news tech implementations using open web tools and standards.</li>
          </ul>
          
          <div class="participate-signup">
            <form method="post" action="https://lists.mozilla.org/subscribe/community-mojo">
              <label for="email">Subscribe to our newsletter and get the latest updates delivered directly to your inbox</label>
              <input name="email" id="email" type="text" placeholder="email address">
              <input type="submit" value="Subscribe" />
            </form>
          </div>
        </div>
        <div class="column-50 last">
          <p>
            <strong>Become a supporting news organizations:</strong> Host a fellow
          </p>
          <p>
            <a class="getstarted" href="https://wiki.mozilla.org/Drumbeat/Mojo/Selection">Get Started</a>
          </p>
          <p>
            We're looking for 10 additional news partners for our 2012 fellows. News-making organizations that:
          </p>
          <ul>
            <li>are committed to the goals of the Knight-Mozilla partnership</li>
            <li>have a strong commitment to innovation</li>
            <li>have a history of outstanding journalism </li>
            <li>can influence the news industry to adopt open technologies.</li>
          </ul>
          <p>
            Knight-Mozilla news partners will:
          </p>
          <ul>
            <li>Help shape our News Innovation Challenges. Select people and ideas to advance toward Fellowships.</li>
            <li>Host at least one fellow for one year.  Provide support from their in-house tech team, and access to  news and editorial staff partners.</li>
            <li>Join our community of news innovators.</li>
          </ul>
          <p>
            In the fall of 2011, we'll host an open application process for news partners
          </p>
          <p>
            In the meantime, join our <a href="https://lists.mozilla.org/listinfo/community-mojo">community list</a> for the latest updates and news innovation discussion. Or <a href="mailto:njames@mozillafoundation.org">contact us</a> if you'd like to be notified once the application process opens.
          </p>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="footer">
        <ul>
          <li><a href="mailto:journalism@mozilla.org">Contact Us</a></li>
          <li><a href="###">Mozilla.org</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
        <a class="facebook" href="http://www.facebook.com/pages/Knight-Mozilla-News-Technology-Partnership/166232896765641"></a>
        <a class="twitter" href="http://twitter.com/knightmozilla"></a>
        <span style="float: right">Follow Mojo</span>
      </div>
      <p class="footer-subtext">
        The contents of this website are licensed CC-BY. (c) Mozilla 2011
      </p>  
    </div>
{% endblock %}
