{% load l10n_tags %}
{% load activity_tags %}

<li class="post-container">
  {% if user.is_authenticated %}
    {% if user.id != activity.actor.id %}
      <a class="report abuse action" href="{% locale_url drumbeat_abuse model="activity" app_label="activity" pk=activity.id %}">{{ _('Report Abuse') }}</a>
    {% else %}
      {% if activity.status %}
        <a class="action delete" href="{% locale_url activity_delete activity_id=activity.id %}">{{ _('Delete') }}</a>
      {% endif %}
    {% endif %}
  {% endif %}
  <a href="{{ activity.actor.get_absolute_url }}">
    <img class="member-picture" width="54" height="54" src="{{ activity.actor.image_or_default }}" alt="{{activity.actor.display_name}}">
  </a>

  <div class="post-contents">

    <div class="post-details">
      <a class="member-name" href="{{ activity.actor.get_absolute_url }}">{{ activity.actor.display_name }}</a>
    </div>

    <div class="post-body">
      {% include "activity/_activity_body.html" %}
    </div> <!-- /.post-body -->

    <div class="post-details">
      <a href="{% locale_url activity_index activity_id=activity.id %}">{{ activity|created_on }}</a>
      {{ _('via') }}
      {% if activity.remote_object %}
        <a href="{{ activity.remote_object.link.url }}">{{ activity.remote_object.link.name }}</a>
      {% else %}
        <a href="http://{{ domain }}">{{ domain }}</a>
      {% endif %}
    </div>

    {% if activity.target_project %}
    <ul class="post-tags">
      <li><a href="{{ activity.target_project.get_absolute_url }}">{{ activity.target_project.name|slice:":50" }}</a></li>
    </ul>
    {% endif %}
    
    {% if activity.comments.count %}
      <div class="post-comments">
        {{ activity.comments.count }} {{ _('Comments') }}
      </div>
    {% endif %}

    <div class="clear ir"></div>

  </div> <!-- /.post-contents -->

</li> <!-- /li.post-container -->
