{% load activity_tags %}
{% load l10n_tags %}
{% spaceless %}

{% if activity|should_show_verb and show_actor %}
  <a href="{{ activity.actor.get_absolute_url }}">{{ activity.actor.display_name }}</a>
{% endif %}

{% endspaceless %} {% spaceless %}


{% if activity|should_show_verb %}
    {{ activity.friendly_verb }}
{% endif %}

{% endspaceless %} {% spaceless %}


{% if activity|should_hyperlink %}
  {% if activity.target_user %}
    <a href="{{ activity|get_link }}">{{ activity|get_link_name }}</a>
  {% else %}
    {% if activity.project %}
      <a href="{{ activity.project.get_absolute_url }}">{{ activity.project }}</a>{{ _(' study group.') }}
    {% else %}
      {{ activity|get_link_name }} 
      <a href="{{ activity|get_link }}">
	{{ activity|get_link|truncate:50 }}
      </a>
    {% endif %}
  {% endif %}
{% else %}
  {% if activity.status %}
    {{ activity.status|safe }}
  {% else %}
    {% if activity.target_object %}
      {{ activity.target_object.representation }}
    {% else %}
      {{ activity|activity_representation }}
    {% endif %}
  {% endif %}
{% endif %}
{% endspaceless %}
