{% load activity_tags %}
{% spaceless %}
{% if activity|should_show_verb and show_actor %}
  <a href="{{ activity.actor.get_absolute_url }}">{{ activity.actor.name }}</a>
{% endif %}
{% endspaceless %} {% spaceless %}
{% if activity|should_show_verb %}
  {% if activity.verb == 'http://activitystrea.ms/schema/1.0/post' and activity.project %}
    {{ _('Created a new project') }}
  {% else %}
    {{ activity|friendly_verb }}
  {% endif %}
{% endif %}
{% endspaceless %} {% spaceless %}
{% if activity|should_hyperlink %}
  {% if activity.target_user %}
    <a href="{{ activity|get_link }}">{{ activity|get_link_name }}</a>
  {% else %}
    {% if activity.project %}
      <a href="{{ activity.project.get_absolute_url }}">{{ activity.project }}</a>
    {% else %}
      {{ activity|get_link_name }} 
      <a href="{{ activity|get_link }}">
	{{ activity|get_link|truncate:50 }}
      </a>
    {% endif %}
  {% endif %}
{% else %}
  {% if activity.status %}
    {{ activity.status|safe }}
  {% else %}
  {{ activity|activity_representation }}
  {% endif %}
{% endif %}
{% endspaceless %}
