{% extends "base.html" %}
{% load l10n_tags %}

{% block title %}{{ _('Activity') }}{% endblock %}
{% block pageid %}activity{% endblock %}


{% block links %}
{% if activity.target_project.accepted_school %}<link rel="stylesheet" href="{% locale_url schools_css slug=activity.target_project.accepted_school.slug %}?v=1">{% endif %}
{% endblock %}


{% block breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  {% if activity.target_project %}
    <a href="{% locale_url projects_gallery %}">{{ _('Learn') }}</a>
    <span class="arrow">&rsaquo;</span>
    <a href="{{ activity.target_project.get_absolute_url }}">{{ activity.target_project }}</a>
  {% else %}
    <a href="{% locale_url users_user_list %}">{{ _('People') }}</a>
    <span class="arrow">&rsaquo;</span>
    <a href="{{ activity.actor.get_absolute_url }}">{{ activity.actor }}</a>
  {% endif %}
{% endblock %}
