{% extends "activity/base.html" %}
{% load l10n_tags %}
{% load user_tags %}
{% load project_tags %}
{% load comment_threads %}

{% block body %}

  {% if activity.scope_object %}
    {% sidebar %}
  {% else %}
    {% user_sidebar %}
  {% endif %}

  <div id="main">
    <ul id="posts">
      {% include "activity/_activity_resource.html" %}
      {% if page.object_list %}
        <h1>{{_('Comments')}}</h1>
        <br>
        {% with comments=page.object_list %}
          {% comment_threads %}
        {% endwith %}
      {% endif %}
    </ul>
    {% if page.object_list %}
      <div class="pagination">
        {% if page.has_previous %}
          <a class="btn" href="{% locale_url activity_index activity_id=activity.id page=prev_page %}">← {{ _('previous') }}</a>
        {% else %}
          <span class="btn">← {{ _('previous') }}</span>
        {% endif %}
        {% if page.has_next %}
          <a class="btn" href="{% locale_url activity_index activity_id=activity.id page=next_page %}">{{ _('next') }} →</a>
        {% else %}
          <span class="btn">{{_('next')}} →</span>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock %}
