{% extends "activity/base.html" %}
{% load l10n_tags %}

{% block body %}

<section class="modal">
  <article>
    <h1>{{ _('Reply') }} </h1>
    <div id="posts">
      <div class="post-container">
        <img class="member-picture" width="54" height="54" src="{{ reply_to.actor.image_or_default }}" alt="{{ reply_to.actor }}">
        <div class="post-contents">
          <div class="post-details">{{ reply_to.actor }}</div>
          {% with activity=reply_to %}
            <div class="post-body">
              {% include "activity/_activity_body.html" %}
            </div>
          {% endwith %}
        </div>
      </div>
      {% if preview %}
        <div class="post-container post-replies">
          <img class="member-picture" width="54" height="54" src="{{ status.author.image_or_default }}" alt="{{ status.author }}">
          <div class="post-contents">
            <div class="post-details">{{ _('[Preview]') }} {{ status.author }}</div>
            <div class="post-body">
              {% spaceless %}{{ status.author }} {{ reply_to.friendly_verb }} {{ status|safe }}{% endspaceless %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    <br clear="both">
    <br />
    <fieldset>
    <form action="{% locale_url activity_reply activity_id=reply_to.id %}" method="post">
      {% csrf_token %}
      <div class="field{% if form.status.errors %} error{% endif %}">
        {{ form.status }}
        {{ form.status.errors }}
      </div>
      <p class="content_buttons">
        <a class="button" href="{{ reply_to.get_absolute_url }}">{{ _('Cancel') }}</a>
        <button type="submit" value="{{ _('Post') }}">{{ _('Post') }}</button>
        <button type="submit" id="previewButton" name="show_preview" value="{{ _('Preview') }}">{{ _('Preview') }}</button>
      </p>
    </form>
    </fieldset>
  </article>
</section>
{% endblock %}
