{% load l10n_tags %}
{% load embed %}

<div class="accordion-section">
  <h3><a href="#">{% if form.instance.title %}{{ form.instance.title }}{% else %}{{ _('New Task') }}{% endif %}</a></h3>
  <div class="accordion-content {% if preview %}show-preview-enabled{% endif %}">
    <div class="accordion-preview">
      {{ form.instance.sub_header|default:"" }}
      <hr>
      {{ form.instance.content|embed|safe }}
    </div>
    <div class="accordion-form-fields">
      {{ form.id }}
      {% if formset.can_order %}
        <div class='accordion-section-order'>{{ form.ORDER }}</div>
      {% endif %}
      <div class="field{% if form.title.errors %} error{% endif %}">
        <label for="id_title">{{ _('Title') }}</label>
        {{ form.title }}
        {{ form.title.errors }}
      </div>
      <div class="field{% if form.sub_header.errors %} error{% endif %}">
        <label for="id_sub_header">{{ _('Tagline') }}</label>
        {{ form.sub_header }}
        {{ form.sub_header.errors }}
      </div>
      <div class="field{% if form.content.errors %} error{% endif %}">
        {{ form.content }}
        {{ form.content.errors }}
      </div>
    </div>
  </div>
</div>
