{% load l10n_tags %}
{% if can_comment %}
  <hr />
  <form id="task-footer-toggle-task-completion-form" method='post' action='{% locale_url toggle_task_completion slug=page.project.slug page_slug=page.slug %}'>
    {% csrf_token %}
    {% if task_completion %}
      <p>
        {{ _('You\'ve marked this task as completed.') }}
        <button id="task-footer-toggle-task-completion-cancel-button">{{ _('Cancel') }}</button>
      </p>
    {% else %}
      <p>
        {{ _('Are you done with this task?') }}
        <button>{{ _('Yes, I\'m done') }}</button>
      </p>
    {% endif %}
  </form>

  {% if task_completion %}
    <div id="task-footer-after-completed">
      {% if task_link_submit_form %}
        <form id="task-footer-link-submit-form" method='post' action='{% locale_url task_link_submit slug=page.project.slug page_slug=page.slug %}'>
          {% csrf_token %}
          <div class="field{% if task_link_submit_form.url.errors %} error{% endif %}">
            {{ task_link_submit_form.url }}
            {{ task_link_submit_form.url.errors }}
          </div>
          <label for="id_post_link">
            {{ task_link_submit_form.post_link }}
            {{ _('Post to Discussion Wall') }}
          </label>
          {{ task_link_submit_form.post_link.errors }}
          {% if task_link_submit_form.apply_for_badges %}
            <label for="id_apply_for_badges">
              {{ task_link_submit_form.apply_for_badges }}
              {{ _('Submit this link to apply for the badges below') }} &#8595;
            </label>
            {{ task_link_submit_form.apply_for_badges.errors }}
          {% endif %}
          <br clear="both">
          <button type="submit">{{ _('Submit') }}</button>
        </form>
      {% else %}{% if task_badge_apply_form %}
        <form id="task-footer-badge-apply-form" method='post' action='{% locale_url task_link_submit slug=page.project.slug page_slug=page.slug %}'>
          {% csrf_token %}
          {{ task_badge_apply_form.badge_slug }}
          <div id="submission-edit-left">
            <img src="{{ next_badge.get_image_url }}" width="70" height="70" alt="{{ next_badge }}"/>
          </div>
          <div id="submission-edit-right">
            <h1>{{ _('Apply for this badge') }}</h1>
            <div id="badge-description-box">
              <h2>{{ next_badge }}</h2>
              <p>{{ next_badge.description }}</p>
              {% if next_badge.requirements %}
                <h3>{{ _('Requirements:') }}</h2> 
                {{ next_badge.requirements }}
              {% endif %}
            </div>
            <h2>{{_('Badge Application Form') }}</h2>
            <p>
              <label>{{ _('Url to the work you are submitting') }}</label>
              <a href="{{ task_completion.url }}" target="_blank">{{ task_completion.url }}</a>
            </p>
            <div class="field{% if task_badge_apply_form.content.errors %} error{% endif %}">
              <label for="id_content">{{ _('What did you learn? Why do you feel you deserve this badge?') }}</label>
              {{ task_badge_apply_form.content }}
              {{ task_badge_apply_form.content.errors }}
            </div>
            <button class="badge-apply-step-submit">{% if is_last_badge %}{{ _('Submit') }}{% else %}{{ _('Submit and move to the next badge application')}}{% endif %}</button>
          </div>
          <br clear="both">
        </form>
      {% else %}{% if next_page %}
        <a href={{ next_page.get_absolute_url }} title="{{ next_page.title }}">{{ _('Move on to next task') }}</a>
      {% endif %}{% endif %}{% endif %}
    </div>
  {% endif %}
{% endif %}

{% if badges_to_apply %}
  <div class="task-footer-badge-list">
    <h3>{{ _('Did you know that you can apply for these badges in this task?') }}</h3>
    <ul>
      {% for badge in badges_to_apply %}
        <li>
          <a href="{{ badge.get_absolute_url }}" class="badge" title="{{ badge|title }}">
            <img src="{{ badge.get_image_url }}" width="80" height="80" alt="{{ badge|title }}" />
            <span class="badge-name">{{ badge.name }}</span>
          </a>
          {% if badge.awarded %}
            <a class="task-badge-received-button" href="{{ badge.awarded.get_absolute_url }}">{{ _('Received!') }}</a>
          {% endif %}
          {% if badge.show_apply %}
            <a class="task-badge-apply-button" href="{% locale_url submission_create slug=badge.slug %}">{{ _('Apply') }}</a>
          {% endif %}
          {% if badge.applied %}
            <a class="task-badge-submitted-button" href="{{ badge.applied.get_absolute_url }}">{{ _('Submitted') }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
