{% extends "projects/base.html" %}
{% load l10n_tags %}
{% load embed %}


{% block bodyid %}edit_pages{% endblock %}


{% block project_breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url projects_task_list slug=project.slug %}">{{ _('Task List') }}</a>
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url edit_pages slug=project.slug %}">{{ _('Edit') }}</a>
{% endblock %}


{% block body %}
<section class="modal">
  <article>
    <h1>{{ _('Edit Tasks') }}</h1>
    <fieldset>
      <form action="{% locale_url edit_pages slug=project.slug %}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <div id="accordion">
          {% for form in forms %}
            {% include "content/_edit_pages_item.html" %}
          {% endfor %}
          {% for form in formset.deleted_forms %}
            {% include "content/_edit_pages_item.html" %}
          {% endfor %}
        </div>
        <br>
        <button type="submit" id="addPageButton" name="add_page" value="{{ _('Add Another Task') }}">{{ _('Add Another Task') }}</button>
        {% if preview %}
          <button type="submit" id="editModeButton" name="edit_mode" value="{{ _('Edit') }}">{{ _('Edit') }}</button>
        {% else %}
          <button type="submit" id="previewButton" name="show_preview" value="{{ _('Preview') }}">{{ _('Preview') }}</button>
        {% endif %}
        <button type="submit" id="saveProgressButton" value="{{ _('Save Progress') }}">{{ _('Save Progress') }}</button>
        <button type="submit" id="finalSaveButton" name="final_save" value="{{ _('Finish') }}">{{ _('Finish') }}</button>
      </form>
    </fieldset>
  </article>
</section>
{% endblock %}

