{% load l10n_tags %}
{% load embed %}

<div id="id_task_{{page.slug}}" class="task_edit_view">
    <br />
    <fieldset>
    <form id="id_task_{{page.slug}}_edit_form" action="{% locale_url page_edit slug=page.project.slug page_slug=page.slug %}" method="post">
      {% csrf_token %}
      {% if preview %}
        <div class="preview">
            <h1 class="{% if page.collaborative %}collaborative{% endif %} school_header">
              {{ _('[Preview]') }} {{ page.title }}
            </h1>
            {% if is_challenge %}<br>{{ page.sub_header|default:"" }} {% endif %}
            <hr />
            <div id="task-body-preview">
              {{ page.content|embed|safe }}
            </div>
        </div>
        <br />
      {% endif %}
      {% if page.listed %}
        <span class="hint block">{{ _('Constructing a good task is crucial to the peer learning process. Tasks should have a clear goal in mind and should be sequential throughout the learning process. A task can be as big or as small and last as long as you like - it can be a planned discussion for one day, a piece of writing constructed over a week, a project that lasts for a few weeks, or a month-long endeavour that everyone works on.') }}</span>
      {% endif %}
      {% if form.title %}
        <div class="field{% if form.title.errors %} error{% endif %}">
          <label for="id_title">{{ _('Title') }}</label>
          <span class="hint block">{{ _('A good title is short and descriptive.') }}</span>
          {{ form.title }}
          {{ form.title.errors }}
        </div>
      {% endif %}
      {% if is_challenge %}
        <div class="field{% if form.sub_header.errors %} error{% endif %}">
          <label for="id_sub_header">{{ _('One sentence description') }}</label>
          <span class="hint block">{{ _('This description will be used as sub header below the task title.') }}</span>
          {{ form.sub_header }}
          {{ form.sub_header.errors }}
        </div>
      {% endif %}
      <div class="field{% if form.content.errors %} error{% endif %}">
        {{ form.content }}
        {{ form.content.errors }}
      </div>
      {% if form.collaborative %}
        <div class="field{% if form.collaborative.errors %} error{% endif %}">
          {{ form.collaborative }} {{ _('Collaborative work (editable by all the participants).') }}
          {{ form.collaborative.errors }}
        </div>
      {% endif %}
      <p class="content_buttons">
        <div class="field{% if form.minor_update.errors %} error{% endif %}">
          {{ form.minor_update }} {{ _('Minor update (not posted to the wall).') }}
          {{ form.minor_update.errors }}
        </div>
        <a id="cancelButton" class="button" href="{% locale_url page_show_embedded slug=project.slug page_slug=page.slug %}">{{ _('Cancel') }}</a>
        <button id="submitButton" type="submit" value="{{ _('Save') }}">{{ _('Save') }}</button>
      </p>
    </form>
    </fieldset>

    <script>
    $(document).ready( function(){
        $("#submitButton").bind('click', function(e){
            e.preventDefault();
            // TODO: remove hack to fix ckeditor!
            var formId = "#id_task_{{page.slug}}_edit_form"
            var ckeditor_text_area_id = $(formId).find('textarea').attr('id');
            $(formId).find('textarea').val(CKEDITOR.instances[ckeditor_text_area_id].getData());
            $.post(
                $(formId).attr('action'),
                $(formId).serialize(),
                function(data){
                    $("#id_task_{{page.slug}}").replaceWith(data);
                }
            );
        });
        $("#cancelButton").bind('click', function(e){
            e.preventDefault();
            $.ajax({
                url: $(this).attr('href'),
                success: function(data, textStatus, jqXHR) {
                    $("#id_task_{{page.slug}}").replaceWith(data);
                }
            });
        });
    });
    </script>
    
</div>
