{% load l10n_tags %}
{% load embed %}
{% load project_tags %}
{% load comment_threads %}
{% load pagination_tags %}
{% load content_tags %}

<div id="id_task_{{page.slug}}" class="task_view">
    <div class="task_actions">
	<a id="id-task-edit-{{page.slug}}" href="{% locale_url page_edit slug=project.slug page_slug=page.slug %}" >{{ _('Edit') }}</a>
	<a href="{% locale_url page_delete slug=project.slug page_slug=page.slug %}">{{ _('Delete') }}</a>
	<a class="task-up" href="{% locale_url page_index_up slug=project.slug page_slug=page.slug%}">{{ _('Up') }}</a>
	<a class="task-down" href="{% locale_url page_index_down slug=project.slug page_slug=page.slug%}">{{ _('Down') }}</a>
    </div>
    <span class="task-header">{{ page.title }}</span>
    <p class="task-subheader">{{ page.sub_header|default:"&nbsp;" }}</p>
    <!--div class="task_body">
	{{ page.content|embed|safe }}
    </div-->

    <script type="text/javascript">
    
	$(document).ready( function(){
	    $("#id-task-edit-{{page.slug}}").bind('click', function(e){
		e.preventDefault();
		container = $("#id_task_{{page.slug}}");		
		$.ajax({
		    url: $(this).attr('href'),
		    success: function(data, textStatus, jqXHR) {
			container.replaceWith(data);
		    }
		});
	    });
	});
    </script>
</div>


