{% extends "base.html" %}
{% load l10n_tags %}

{% block title %}{{ _('Search') }}{% endblock %}

{% block bodyid %}search{%endblock%}

{% block breadcrumbs %}
  <div class="container">
    <nav>
      <a href="{% locale_url search %}">{{ _('Search') }}</a>
    </nav>
  </div> <!-- /.container -->
{% endblock %}

{% block body %}

<div id="main"><div class="container"><div id="cse-search-results"></div></div></div>
<script type="text/javascript">
  var googleSearchIframeName = "cse-search-results";
  var googleSearchFormName = "cse-search-box";
  var googleSearchFrameWidth = 950;
  var googleSearchDomain = "www.google.com";
  var googleSearchPath = "/cse";
</script>

<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />

{% endblock %}
