{% extends "reviews/base.html" %}

{% load l10n_tags %}
{% load embed %}

{% block title %}{{ project }} {{ _('Reviews') }} {% endblock %}

{% block bodyclasses %}show-project-reviews{% endblock %}

{% block body %} 
  <div id="main">
    <h1><a href="{{ project.get_absolute_url }}" target='_blank'>{{ project }}</a> {{ _('Reviews') }} </h1>
    <ul id="posts">
      {% for review in project.reviews.all %}
        <li class="post-container">
          <p>{{ _('Review from') }} <a href="{{ review.author.get_absolute_url }}">{{ review.author }}</a> {{ _('on') }} {{ review.created_on }}</p>
          <div class="post-body assessment">
          {% if review.accepted %}<p>{{ _('Community Reviewed!') }}</p>{% endif %}
          {% if review.mark_deleted %}<p>{{ _('Deleted (Spam)!') }}</p>{% endif %}
          {% if review.mark_featured %}<p>{{ _('Featured as Community Pick!') }}</p>{% endif %}
          <p><b>{{ _('Feedback:') }}</b></p>
          {{ review.content|embed|safe }}
          </div>
        </li>
      {% endfor %}
    </ul>
    <br clear="both">
    <a href="{% locale_url review_project slug=project.slug %}" class="button">{{ _('Post New Review') }}</a>
  </div>
{% endblock %}
