{% extends "base.html" %}
{% load l10n_tags %}

{% block body %}
<section class="modal">
  <article>
    <h1>{% block heading %}{% endblock %}</h1>
    <fieldset>
      <form method="post" action="{% block action %}{% endblock %}">
	      {% csrf_token %}
	      <div class="field{% if form.recipient.errors %} error{% endif %}">
	        <label for="id_recipient">{{ _('To') }}</label>
	        {{ form.recipient }}
	        {{ form.recipient.errors }}
	      </div>
	      <div class="field{% if form.subject.errors %} error{% endif %}">
	        <label for="id_subject">{{ _('Subject') }}</label>
	        {{ form.subject }}
	        {{ form.subject.errors }}
	      </div>
	      <div class="field{% if form.body.errors %} error{% endif %}">
	        <label for="id_body">{{ _('Message') }}</label>
	        {{ form.body }}
	        {{ form.body.errors }}
	      </div>
        {% if settings.RECAPTCHA_PRIVATE_KEY %}
              <p>
                <label for="recaptcha_response_field">
                  {{ _('Are you human?') }}
                </label>
              </p>
              <p>
                If this is hard to read, you can
                <a href="#" id="recaptcha_different">try different words</a> or
                <a href="#" id="recaptcha_audio">listen to something</a> instead.
              </p>
              <p>
                <div id="recaptcha_image"></div>
                <br><br>
                <input type="text" name="recaptcha_response_field"
                       id="recaptcha_response_field" size="30" />
               {{ form.recaptcha.errors }}
              </p>
        {% else %}
        <p class="hint">
          {{ _('Welcome Robots, ReCaptcha has been disabled for your convenience. Spam at Wil.') }}
        </p>
        {% endif %}
        <br><br>

	      <p class="buttons">
	        <a class="button" href="{% locale_url drumbeatmail_inbox %}">
	          {{ _('Cancel') }}
	        </a>
	        <button type="submit" value="{{ _('Send') }}">{{ _('Send') }}</button>
	      </p>
      </form>
    </fieldset>
  </article>
</section>
{% endblock %}

{% block js %}
  {% if settings.RECAPTCHA_PRIVATE_KEY %}
    <script type="text/javascript">
    var RecaptchaOptions = {'theme': 'custom'};
    </script>
    <script type="text/javascript" src="{{ settings.RECAPTCHA_URL }}"></script>
 {% endif %}
{% endblock %}

