{% extends "base.html" %}
{% load l10n_tags %}

{% block body %}
<section class="modal">
  <article>
    <h1>{% block heading %}{% endblock %}</h1>
    <fieldset>
      <form method="post" action="{% block action %}{% endblock %}">
	      {% csrf_token %}
	      <div class="field{% if form.recipient.errors %} error{% endif %}">
	        <label for="id_recipient">{{ _('To') }}</label>
	        {{ form.recipient }}
	        {{ form.recipient.errors }}
	      </div>
	      <div class="field{% if form.subject.errors %} error{% endif %}">
	        <label for="id_subject">{{ _('Subject') }}</label>
	        {{ form.subject }}
	        {{ form.subject.errors }}
	      </div>
	      <div class="field{% if form.body.errors %} error{% endif %}">
	        <label for="id_body">{{ _('Message') }}</label>
	        {{ form.body }}
	        {{ form.body.errors }}
	      </div>
	      <p class="buttons">
	        <a class="button" href="{% locale_url drumbeatmail_inbox %}">
	          {{ _('Cancel') }}
	        </a>
	        <button type="submit" value="{{ _('Send') }}">{{ _('Send') }}</button>
	      </p>
      </form>
    </fieldset>
  </article>
</section>
{% endblock %}
