{% extends "base.html" %}
{% load l10n_tags %}

{% block title %}{{ _('Inbox') }}{% endblock %}
{% block pageid %}inbox{% endblock %}
{% block breadcrumbs %}
<div class="container">
  <nav>
    <a href="{% locale_url drumbeatmail_inbox %}">{{ _('Inbox') }}</a>
  </nav>
  <div id="project-actions"> <!-- TODO: reusing div#id -->
    <div id="create-message" class="button">
      <a class="submit-button" href="{% locale_url drumbeatmail_compose %}">{{ _('New Private Discussion') }}</a>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<div id="sidebar">
  <div class="panel">
    <h2>{{ _('Inbox') }}</h2>
  </div>

  <div class="panel">
    <ul>
      <li><a href="{% locale_url drumbeatmail_inbox %}">{{ _('All Messages') }}{% if messages_inbox_count > 0 %} ({{ messages_inbox_count }}){% endif %}</a></li>
    </ul>
  </div>
</div>

<div id="main">
  {% if not inbox_messages %}
    <p>{{ _('You have no messages') }}</p>
  {% else %}

  <ul id="posts">
    {% for message in inbox_messages %}
    <li class="post-container">
      <a href="#" class="reply-to">{{ _('Reply') }}</a>
      
      <a href="{{ message.sender.get_profile.get_absolute_url }}">
	<img class="member-picture" width="54" height="54" src="{{ MEDIA_URL }}{{ message.sender.get_profile.image_or_default }}">
      </a>

      <div class="post-contents">
	<div class="post-details">
	  <a class="member-name" href="{{ message.sender.get_profile.get_absolute_url }}">{{ message.sender.get_profile.name }}</a>
	</div>

	<div class="post-body">
	  {% if message.subject %}
	  <h2>{{ message.subject }}</h2>
	  <br />
	  {% endif %}
	  {{ message.body }}
	</div>

	<div class="clear ir"></div>

      </div>

    </li>
    {% endfor %}
  </ul>

  {% endif %}
</div>

{% endblock %}
