{% load i18n %}
{% load l10n_tags %}

<li class="post-container">
  <a href="{{ assessment.assessor.get_absolute_url }}" title="{{ assessment.assessor }}"><img class="member-picture" src="{{ assessment.assessor.image_or_default }}" height="40" width="40" alt="{{ assessment.assessor }}"></a>
  <div class="post-contents">
    <div class="post-details">
      <a class="member-name" href="{{ assessment.assessor.get_absolute_url }}">{{ assessment.assessor }}</a>
    </div>
    <div class="post-body">
      {{ _('Gave') }} {{ assessment.badge }} {{ _('to') }} {{ assessment.assessed }} {{ _('on') }} <a href="{{ assessment.get_absolute_url }}">{{ assessment.created_on }}</a>
    </div>
  </div>
</li>
