{% load l10n_tags %}
<article class="badge-card">
  <div id="awards">
	  <figure>
	    <a href="{{ badge.get_absolute_url }}">
	      <img src="{{ badge.get_image_url }}" width="80" height="80" alt="{{ badge.name }}"/>
	    </a>
	  </figure>
	  <h3>Awarded</h3>
	  {{ badge.get_awards.count }}
	  <h3>Pending</h3>
	  {{ badge.get_pending_submissions|length }}
  </div>
  
 
  <div id="info">
      <h1><a href="{{ badge.get_absolute_url }}">{{ badge.name }}</a></h1>
      <div class="description">{{ badge.description }}</div>
	  {% if rubrics %}
	  <h4>Rubrics</h4>
	  <div class="meta">
		  <ul>
			{% for rubric in rubrics %}
				<li>{{ rubric.question }}</li>
			{% endfor %}
		  </ul>
	  </div>
	  {% endif %}
  </div>
</article>
