{% load l10n_tags %}
{% load truncate_chars %}
{% load badge_tags %}

{% if not badge %}
  <div class="p2pu-badge">
    <p>
      <a href="{% locale_url badges_show slug=submission.badge.slug %}" title="{{ submission.badge }}">
        <img src="{{ submission.badge.get_image_url }}" width="50" height="50" alt="{{ submission.badge.name }}"/>
        <br>
        {{ submission.badge.name }} {{ _('Badge') }}
      </a>
    </p>
  </div>
{% endif %}
{% if not profile %}
  <div class="user">
    <a href="{{ submission.author.get_absolute_url }}" title="{{ submission.author }}">
      <img src="{{ submission.author.image_or_default }}" width="50" height="50" alt="{{ submission.author }}"/>
    </a>
  </div>
{% endif %}
<div class="submission">
  <p>
    <span class="username">{{ submission.author }}</span>
    <br>
    {{ submission.content|striptags|truncatechars:75 }}
    <a href="{% locale_url submission_show slug=submission.badge.slug submission_id=submission.id %}">
      {{ _('read more') }}
    </a>
  </p>
</div>
<div class="action">
  <p>
    {% review_submission_action request submission %}
    <br>
    <span class="hint small">{{ _('submitted') }} {{ submission.created_on|timesince }} {{ _('ago') }}</span>
  </p>
</div>
<br class="clear"/>
