{% extends "badges/base.html" %}

{% load l10n_tags %}
{% load embed %}

{% block bodyclasses %}assessment-edit summary assess-submission{% endblock %}

{% block body %} 
	<div id="main">
	<h1>{{ _('Please Review ') }} {{ submission.author }}{{ _('\'s work for the ') }} {{ submission.badge }}</h1>
	<br>
    <img src="{{ badge.get_image_url }}" width="80" height="80" alt="{{ badge.name }}" class="left-badge-image"/>
    <p>{{ badge.description }}
    {% if rubrics %}
      <h2>{{ _('Rubric') }}</h2>
      <ol>
        {% for rubric in rubrics %}
          <li>{{ rubric.question }}</li>
        {% endfor %}
      </ol>
    {% endif %}</p>

    <h1>{{ _('Submitted Work') }}</h1>
    <br>
	<div id="user" class="submission-author">
	    <img class="member-picture" width="54" height="54" src="{{ submission.author.image_or_default }}"><br/>
	    {{ submission.author }}
	</div>
	<section id="submission-details">
		<div id="work-url"><h3>{{ _('Link to work:') }}</h3>
		<p><a href="{{ submission.url }}" target="_blank">{{ submission.url }}</a></p>
		</div>

		<div id="reason"><h3>{{ _('Reason:') }}</h3>
		{{ submission.content|embed|safe }}
		</div>
	</section>
    <br class="clear"/>
    <h1>{{ _('Review') }}</h1>
    <br>
	{% block form %}
	<fieldset id="assessment_edit" class="assessment edit tabpane">
	  <form method="post" action="{% locale_url assess_submission slug=badge.slug submission_id=submission.id %}">
	    {% csrf_token %}
        <label>{{ _('Rating') }}</label>
        <p class="hint">{{ _('Provide a rating of Never, Sometimes, Most or the time, or Always for each of the following rubric items.') }}</p>
        <ol id="ratings">
          {% for rubric, rating_form in rating_forms %}
            <li class="clear">
              {{ rubric.question }}
              <div class="stars field{% if rating_form.score.errors %} error{% endif %}">
	            {{ rating_form.score }}
	            {{ rating_form.score.errors }}
	            <div class="rating-key">{{ rating.get_score_display }}</div>
	          </div>
            </li>
          {% endfor %}
        </ol>

	    <div class="clear field{% if form.comment.errors %} error{% endif %}">
	      <label for="id_comment">{{ _('Comments') }}</label>
          <p class="hint">{{ _('Add feedback and other comments to your review.') }}</p>
	      {{ form.comment }}
	      {{ form.comment.errors }}
	    </div>
	
	    <p class="buttons">
	      <button type="submit" name="submit" value="{{ _('Submit') }}">{{ _('Submit') }}</button>
	    </p>
	    
	  </form>
	</fieldset>
	{% endblock %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/media/js/rating.js"></script> 
{% endblock %}
