{% extends "badges/badge_edit.html" %}
{% load l10n_tags %}
{% block bodyclasses %}badge edit summary{% endblock %}

{% block form %}
<fieldset id="badge_edit_summary" class="badge edit summary tabpane">
<form action="{% if badge %}{% locale_url badges_edit slug=badge.slug %}{% else %}{% locale_url badges_create %}{% endif %}" method="post">
  {% csrf_token %}
  <div class="field{% if form.name.errors %} error{% endif %}">
    <label for="id_name">{{ _('Name') }}</label>
    {{ form.name }}
    {{ form.name.errors }}
  </div>
  <div class="field{% if form.description.errors %} error{% endif %}">
    <label for="id_description">{{ _('Brief description') }}</label>
    <span class="hint block">{{ _('This is used both on P2PU and within the Open Badges Infrastructure (OBI)') }}</span>
    {{ form.description }}
    {{ form.description.errors }}
  </div>
  <div class="field criteria{% if form.criteria.errors %} error{% endif %}">
    <label for="id_criteria">{{ _('Criteria to get badge') }}</label>
    <span class="hint block">{{ _('This is what is sent to OBI for the criteria information. Note: Thinking about replacing this just generating text for OBI from rubric and type.') }}</span>
    {{ form.criteria }}
    {{ form.criteria.errors }}
  </div>
  <div class="field{% if form.assessment_type.errors %} error{% endif %}">
    <label for="id_assessment_type">{{ _('Assessment type') }}</label>
    <span class="hint block">{{ _('Depending on the type, more options will show.') }}</span>
    {{ form.assessment_type }}
    {{ form.assessment_type.errors }}
  </div>
  <div id="id_logic" class="field{% if form.logic.errors %} error{% endif %}">
    <label for="id_logic">{{ _('Badge logic') }}</label>
    <span class="hint block">{{ _('Only valid for certain assessment types. Badge logic is pulled from pre-made logic statements.') }}</span>
    {{ form.logic }}
    {{ form.logic.errors }}
  </div>
  <div id="id_rubric" class="field{% if form.rubric.errors %} error{% endif %}">
    <label for="id_rubric">{{ _('Badge rubric') }}</label>
    <span class="hint block">{{ _('Only valid for certain assessment types. Badge rubric is pulled from pre-made rubric statements.') }}</span>
    {{ form.rubric }}
    {{ form.rubric.errors }}
  </div>
  <div class="field{% if form.badge_type.errors %} error{% endif %}">
    <label for="id_badge_type">{{ _('Badge type') }}</label>
    <span class="hint block">{{ _('Based on assessment type, the badge type is pre-selected.') }}</span>
    {{ form.badge_type }}
    {{ form.badge_type.errors }}
  </div>
  <br><br>
  <p class="buttons">
    {% if badge %}
    <a class="button" href="{{ badge.get_absolute_url }}">{{ _('Cancel') }}</a>
    <button type="submit" value="{{ _('Save') }}">{{ _('Save') }}</button>
    {% else %}
    <a class="button" href="">{{ _('Cancel') }}</a>
    <button type="submit" value="{{ _('Create') }}">{{ _('Create') }}</button>
    {% endif %}
  </p>
</form>
</fieldset>
{% endblock %}


{% block js %}
  <script type="text/javascript">
  $(document).ready(function(){
	    $("#id_logic").css("display","none");
        $("#id_rubric").css("display","none");
	    $("#id_assessment_type_0").click(function(){
	        $("#id_logic").hide();
	        $("#id_rubric").hide();
	    });
	    $("#id_assessment_type_1").click(function(){
	        $("#id_logic").show();
	        $("#id_rubric").show();
	     });
	    $("#id_assessment_type_2").click(function(){
		    $("#id_logic").show();
	        $("#id_rubric").hide();
	    });
  });
  </script>
{% endblock %}

