{% extends "base.html" %}
{% load l10n_tags %}

{% block breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url badges_show slug=badge.slug %}">{{ badge.name }}</a>
{% endblock %}

{% block body %}
	<div id="main">
	    <p>{{ badge.description }}</p>

      {% if peer_skill %}
        {% if is_eligible %}
	        {% if application_open %}
			  <p><a href="{% locale_url submission_show slug=badge.slug %}" title="{{ badge.name }}" target="_blank">view your application</a></p>
			{% else %}
               <p><a href="{% locale_url submission_create slug=badge.slug %}" title="{{ badge.name }}" target="_blank">apply for badge</a></p>
	        {% endif %}
        {% else %}
            <p>Ineligible to apply at this time.</p>    
        {% endif %}
      {% endif %}
      {% if peer_community %}
        <p><a href="{% locale_url assess_peer slug=badge.slug %}" title="{{ badge.name }}" target="_blank">{{ _('give badge to your peer')}}</a></p>
      {% endif %}
        
        
    </div>	
{% endblock %}
