{% extends "badges/base.html" %}
{% load i18n %}
{% load l10n_tags %}
{% load pagination_tags %}

{% block bodyclasses %}badge-show{% endblock %}

{% block body %}
  <div id="main">
    <h1>{{ badge }}</h1>
    <br>
    <img src="{{ badge.get_image_url }}" width="80" height="80" alt="{{ badge.name }}" class="left-badge-image"/>
    <p>{{ badge.description }}
    {% if rubrics %}
      <h2>{{ _('Rubric') }}</h2>
      <ol>
        {% for rubric in rubrics %}
          <li>{{ rubric.question }}</li>
        {% endfor %}
      </ol>
    {% endif %}</p>
    <br><br>

    {% if peer_skill %}
      {% if is_eligible %}
        {% if application_open %}
          <p><a href="{% locale_url submission_show slug=badge.slug %}" title="{{ badge.name }}" target="_blank" class="badge-call-to-action-button">{{ _('View your Application') }}</a></p>
        {% else %}
          <p><a href="{% locale_url submission_create slug=badge.slug %}" title="{{ badge.name }}" target="_blank" class="badge-call-to-action-button">{{ _('Apply for Badge') }}</a></p>
        {% endif %}
      {% endif %}
    {% endif %}
    {% if peer_community %}
      <br><br>
      <p><a href="{% locale_url assessment_create slug=badge.slug %}" title="{{ badge.name }}" target="_blank" class="badge-call-to-action-button">{{ _('Give Badge to your Peer')}}</a></p>
    {% endif %}
    {% if prerequisites %}
      <br><br>
      <h1>{{ _('Prerequisites') }}</h1>
      <br>
      {% for prerequisite in prerequisites %}
        <a href="{{ prerequisite.get_absolute_url }}" title="{{ prerequisite }}">
          <img src="{{ prerequisite.get_image_url }}" width="80" height="80" alt="{{ prerequisite }}"/>
        </a>
      {% endfor %}
    {% endif %}
    {% if related_projects %}
      <br><br>
      <h1>{{ _('Awarded At') }}</h1>
      <br>
      {% for related_project in related_projects %}
        <a href="{{ related_project.get_absolute_url }}" title="{{ related_project|title }}"><img src="{{ related_project.get_image_url }}" width="113.4" height="70" alt="{{ related_project|title }}" class="badge-graphic"></a>
      {% endfor %}
    {% endif %}

    {% if awards_pagination_current_page.object_list %}
      <br><br>
      <h1>{{ _('Awarded To') }}</h1>
      <br>
      {% for award in awards_pagination_current_page.object_list %}
        <a href="{{ award.user.get_absolute_url }}" title="{{ award.user }}"><img class="member-picture" src="{{ award.user.image_or_default }}" height="40" width="40" alt="{{ award.user }}"></a>
      {% endfor %}
      {% with prefix='awards_' page_url=badge.get_absolute_url %}
        {% pagination_links %}
      {% endwith %}
    {% endif %}
    {% if peer_skill and submissions_pagination_current_page.object_list %}
      <br><a name="submissions"></a><br>
      <h1>{{ _('Submissions') }}</h1>
      <br>
      <ul id="posts">
        {% for submission in submissions_pagination_current_page.object_list %}
          <li class="post-container">
            <a href="{{ submission.author.get_absolute_url }}" title="{{ submission.author }}"><img class="member-picture" src="{{ submission.author.image_or_default }}" height="40" width="40" alt="{{ submission.author }}"></a>
            <div class="post-contents">
              <div class="post-details">
                <a class="member-name" href="{{ submission.author.get_absolute_url }}">{{ submission.author }}</a>
              </div>
              <div class="post-body">
                {{ _('Submitted work on ') }} <a href="{{ submission.get_absolute_url }}">{{ submission.created_on }}</a>
              </div>
              <div class="post-details">
                <div class="post-comments">
                  <a href="{{ submission.get_absolute_url }}#assessments">
                    {% blocktrans count counter=submission.assessments.count %}
                      {{ counter }} Review
                    {% plural %}
                      {{ counter }} Reviews
                    {% endblocktrans %}
                  </a>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
      {% with prefix='submissions_' page_url=badge.get_absolute_url %}
        {% pagination_links %}
      {% endwith %}
    {% endif %}
    
  </div>	
{% endblock %}
