{% extends "badges/base.html" %}
{% load l10n_tags %}
{% load pagination_tags %}

{% block bodyclasses %}badges-list{% endblock %}

{% block title %}{{ _('Badges') }}{% endblock %}

{% block body %}
  <div id="main">
    <h1>{{ _('Badges') }}</h1>
    <br>
    <div class="badge-list">
    <ul class="badges">
      {% for badge in badges %}
        <li><a href="{{ badge.get_absolute_url }}" class="badge" title="{{ badge }}">
          <img src="{{ badge.get_image_url }}" width="80" height="80" alt="{{ badge }}"/>
          <span class="badge-name">{{ badge }}</span>
        </a></li>
      {% endfor %}
    </ul>
    </div>
  </div>
{% endblock %}
