{% extends "users/profile_edit.html" %}
{% load i18n %}
{% load l10n_tags %}
{% load django_obi_tags %}

{% block bodyclasses %}manage profile badges{% endblock %}
{% block title %}{{ _('Manage Badges') }}{% endblock %}
{% block form %}
<fieldset id="manage_profile_badges" class="manage profile badges tabpane">
  <h2>{{ _('Manage Badges') }}</h2>
  <p class="hint">{% blocktrans with obi_url=obi_url badges_help_url=badges_help_url email=user.email %}Send your badges to the <a href="{{ obi_url }}" target="_blank">Mozilla Open Badge Backpack</a> as {{ email }}. Read more about badges at <a href="{{ badges_help_url }}" target="_blank">help.p2pu.org</a>.{% endblocktrans %}
  </p>
  {% if has_badges %}
      {% send_badges_action %}
  {% else %}
    <strong>{{ _('You don\'t have any badges.') }}</strong>
    {% blocktrans with badges_url=badges_url %}Check out the <a href="{{ badges_url }}">existing badges</a> you can earn!{% endblocktrans %}
  {% endif %}
</fieldset>
{% endblock %}
