{% extends "badges/base.html" %}

{% load l10n_tags %}
{% load embed %}

{% block title %}
  {% if submission %}
    {{ _('Review of') }} {{ assessment.assessed }} {{ _('\'s Work for ') }} {{ badge }}
  {% else %}
    {{ _('Justification of') }} {{ badge }} {{ _('Award to') }} {{ assessment.assessed }}
  {% endif %}
{% endblock %}

{% block bodyclasses %}assessment-show summary{% endblock %}

{% block body %} 
    <div id="main">
      <h1 id="page-title">
        {% if submission %}
          {{ _('Review of') }} {{ assessment.assessed }} {{ _('\'s Work for ') }} {{ badge }}
        {% else %}
          {{ _('Justification of') }} {{ badge }} {{ _('Award to') }} {{ assessment.assessed }}
        {% endif %}
      </h1>

	   <ul id="posts" class="{% if peer_community %}peer-community{% endif %}">
	    {% include "badges/_assessment_body.html" with assessment=assessment %}
	   </ul>

    <section id="badge-details">
      {% include "badges/_badge_card.html" with badge=badge rubrics=rubrics %}
    </section>
    <br class="clear"/>

    </div>
    
    {% block js %}
    <script>
    $(".right-aligned-rating").hover(
	  function () {
		$("div.rating-key").hide();
		$(this).find("div.rating-key").show();
	  }
	);
    </script>
    {% endblock %}
{% endblock %}
