{% extends "badges/base.html" %}

{% load l10n_tags %}
{% load embed %}

{% block title %}{{ _('Award Justification for') }} {{ badge.name }}{% endblock %}

{% block bodyclasses %}submission-show summary{% endblock %}

{% block body %} 
  <div id="main">
    <div id="badge-image">
      <p>
        <a href="{% locale_url badges_show slug=badge.slug %}" title="{{ badge }}">
          <img src="{{ badge.get_image_url }}" width="150" height="150" alt="{{ badge.name }}"/>
          <br>
          {{ badge.name }}
        </a>
        <br>
      </p>
    </div>

    <div id="submission">
       <div id="submission-details">
 
           <img class="member-picture" width="54" height="54" src="{{ assessment.assessed.image_or_default }}">

           <div id="submission-detail">
               <h2>{{ assessment.assessed }}</h2>
               {{ _('Received') }} {{ badge }}.
            </div>
        </div>
		   
	</div>

	
    <br class="clear"/>

	 <h1>{{ _('Award Justification') }}</h1>
	   <ul id="posts">
	    {% include "badges/_assessment_body.html" with assessment=assessment %}
	   </ul>
    </div>

{% endblock %}
