{% extends "base.html" %}
{% load l10n_tags %}
 
{% block title %}{{ _('P2PU | Jobs') }}{% endblock %}
 
{% block bodyid %}one-column-page{% endblock %}
{% block bodyclasses %}page pages-jobs{% endblock %}

{% block breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url static_jobs_page %}">{{ 'Jobs' }}</a>
{% endblock %}

{% block body %} 
  <div id="main">
    <div id="jobs-top">
      <h1>{{ _('P2PU <span class="highlight4">is hiring.</span> <span class="highlight3">Learn anything,</span> <span class="highlight2">while you work.</span>') }}</h1>
    </div>
    <div id="jobs-right">
      <h2 class="highlight3">{{ _('Open Positions') }}</h2>
      <div class="job-possitions">
        <h3>{{ _('Staff') }}</h3>
        <ul>
          <li>
            <b>{{ _('Django Developer') }}</b>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="button" href="#">{{ _('GO!') }}</a>
          </li>
          <li>
            <b>{{ _('Django Developer') }}</b>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non laoreet libero.</p>
            <a class="button" href="#">{{ _('GO!') }}</a>
          </li>
         </ul>
      </div>
      <div class="job-possitions">
        <h3>{{ _('Intern') }}</h3>
        <ul>
          <li>
            <b>{{ _('Marketing Intern') }}</b>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt eros vel elit vulputate ultricies. Pellentesque facilisis ornare tellus, sit amet tempor leo pellentesque eget. In consectetur enim eu enim pulvinar nec rutrum lorem viverra. Curabitur commodo, diam at sollicitudin faucibus, nunc velit convallis massa, vitae suscipit lectus nibh non leo.</p>
            <a class="button" href="#">{{ _('GO!') }}</a>
          </li>
         </ul>
      </div>
      <div class="job-possitions">
        <h3>{{ _('Volunteer') }}</h3>
        <ul>
          <li>
            <b>{{ _('Graphic Designer') }}</b>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas augue leo, dictum non tincidunt non, volutpat eget erat. Nullam adipiscing fermentum nulla ac ultricies. Nam a dolor a diam rutrum convallis eget in ligula. Maecenas interdum dignissim nunc, eu feugiat massa condimentum at. Morbi faucibus cursus neque ut consequat. Integer eu lectus at eros porta convallis.</p>
            <a class="button" href="#">{{ _('GO!') }}</a>
          </li>
         </ul>
      </div>
    </div>
    <div id="jobs-left">
      <h2 class="highlight1">{{ _('Why work at p2pu?') }}</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non tincidunt nibh. Vestibulum magna dolor, tristique vulputate commodo ut, congue at eros. Pellentesque quam purus, sollicitudin sit amet vestibulum ac, aliquet sed sem. Morbi tempus nibh at nunc hendrerit ut gravida nisi ornare. Praesent ultrices mauris non tellus faucibus gravida. Fusce egestas ligula id ligula sagittis at vestibulum nibh venenatis. Cras arcu ante, molestie nec pharetra et, sollicitudin viverra mi.
      </p>
      <img src="{{ MEDIA_URL }}images/jobs_page/p2pu.png" width="590" height="242">
      <h2 class="highlight1">{{ _('Benefits and Percks') }}</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget lorem et elit dictum aliquet ac non justo. Etiam egestas, justo id dictum blandit, orci nisl volutpat magna, sed scelerisque nisi libero id felis. Vestibulum diam nibh, gravida vitae dapibus sit amet, tristique et metus. Praesent pharetra pellentesque metus, ac fringilla erat facilisis vel. Maecenas et auctor ipsum. Curabitur blandit ligula sed dolor pretium at accumsan ante consequat. Nunc aliquet quam quis urna ullamcorper tempus. Nam rhoncus ultrices odio, ut placerat tellus eleifend at. Phasellus nec massa quis odio commodo consequat non a ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>
    <br clear="both">
    <div id="jobs-bottom">
      <h2>{{ _('You can work from anywhere, P2PU is global') }}</h2>
      <a class="button" href="#">{{ _('Meet our Team') }}</a>
    </div>
  </div>
{% endblock %}
