{% extends "base.html" %}
{% load l10n_tags %}
{% block body %}

<section class="content_page">
<h1>{{ _('Page not found') }}</h1>
    <br>
    <p>{{ _('Maybe the page you are looking for is on the old p2pu site: ') }} <a href="http://old.p2pu.org/{{request_path|slice:"4:"}}">http://old.p2pu.org/{{request_path|slice:"4:"}}</a></p>
    <p>{{ _('If you think it should be here, please let us know by <a href="http://p2pu.lighthouseapp.com/projects/71002">filing a bug report</a>.') }}</p>
</section>

{% endblock %}

