{% load l10n_tags %}
 <footer role="main">
      <div role="container">
        <nav>
          <ul role="about-us">
            <li>About Us</li>
            <li><a>What is P2PU</a></li>
            <!-- <li><a href="">Team &amp; Advisors</a></li> -->
            <li><a href="http://p2pu.org/general/supporters">Supporters</a></li>
            <li><a href="http://p2pu.org/values">Values</a></li>
            <li><a href="http://blogs.p2pu.org/">Blog</a></li>
            <li><a href="http://groups.google.com/group/p2pu-announce">Announcements</a></li>
            <li><a href="http://p2pu.org/get-involved">Get Involved</a></li>
            <li><a href="http://www.p2pu.org">{{ _('Old P2PU Site') }}</li></a>
          </ul>

          <ul role="contact-us">
            <li>Contact Us</li>
            <li><a href="http://p2pu.org/contact-us">Contact Form</a></li>
            <li><a href="http://www.facebook.com/P2PUniversity">Facebook</a></li>
            <li><a href="http://twitter.com/p2pu">Twitter</a></li>
            <li><a href="http://qa.p2pu.org/">FAQ</a></li>
            <li><a href="http://p2pu.lighthouseapp.com/projects/71002-lernanta/">Found a Bug?</a></li>
          </ul>

          <ul role="license-info">
            <li>License Info</li>
            <li><a href="http://creativecommons.org/licenses/by-sa/3.0/">License</a></li>
            <li><a href="http://p2pu.org/privacy">Privacy Guidelines</a></li>
            <li><a href="http://p2pu.org/terms-of-use">Terms of Use</a></li>
          </ul>
        
          <ul role="cc">
            <li>Creative Commons BY SA</li>
            <li role="icons"><a>CC BY SA</a></li>
          </ul>
        </nav>
               
      </div>
      <br style="clear: both;">
    </footer>
  </div> <!--! end of #container -->
 
