<!DOCTYPE html>
<html>
<head>
  <title>Batucada | {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css" media="screen" />
  {% block links %}{% endblock %}
</head>
<body>
  <h1><a href="{{ url('dashboard.views.index') }}">Batucada</a></h1>  
  {% if messages %}
  <div class="messages">
    <ul>
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% include "errors.html" %}
  {% block body %}{% endblock %}
</body>
</html>
