<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Batucada | {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css" media="screen" />
  {% block links %}{% endblock %}
</head>
<body>
  <header>
  <h1><a href="{{ url('dashboard.views.index') }}">Batucada</a></h1>
  <nav id="site">
    <ul>
      <li><a href="{{ url('profiles.views.edit') }}">Your Profile</a></li>
      <li><a href="{{ url('relationships.views.following') }}">Following</a></li>
      <li><a href="{{ url('relationships.views.followers') }}">Followers</a></li>
      <li><a href="{{ url('users.views.user_list') }}">Users</a></li>
      <li><a href="{{ url('users.views.logout') }}">Sign out</a></li>
    </ul>
  </nav>
  </header>
  {% if messages %}
  <div class="messages">
    <ul>
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% include "errors.html" %}
  {% block body %}{% endblock %}
</body>
</html>
