{% load l10n_tags %}
<!doctype html>
  <!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]--> 
  <!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]--> 
  <!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]--> 
  <!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]--> 
  <head> 
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
   
    <title>Knight Mozilla News Technology Partnership</title> 
    <meta name="description" content="The Knight-Mozilla News Technology Partnership, MoJo: Web developers and designers around the world collaborating to invent the future of news."> 
    <meta name="author" content="mozilla"> 
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico"> 
    <link rel="apple-touch-icon" href="{{ MEDIA_URL }}images/apple-touch-icon.png"> 
    <!--
    /*
     * MyFonts Webfont Build ID 235749, 2011-01-03T09:54:22-0500
     * 
     * The fonts listed in this notice are subject to the End User License
     * Agreement(s) entered into by the website owner. All other parties are 
     * explicitly restricted from using the Licensed Webfonts(s).
     * 
     * You may obtain a valid license at the urls below.
     * 
     * Webfont: Museo Sans 500
     * Url: http://new.myfonts.com/fonts/exljbris/museo-sans/500/
     * Foundry: exljbris
     * Copyright: Copyright (c) 2008 by Jos Buivenga. All rights reserved.
     * License: http://www.myfonts.com/viewlicense?1056
     * Licensed pageviews: unspecified
     * CSS font-family: MuseoSans-500
     * CSS font-weight: normal
     * 
     * Webfont: Museo Sans 500 Italic
     * Url: http://new.myfonts.com/fonts/exljbris/museo-sans/500-italic/
     * Foundry: exljbris
     * Copyright: Copyright (c) 2008 by Jos Buivenga. All rights reserved.
     * License: http://www.myfonts.com/viewlicense?1056
     * Licensed pageviews: unlimited/month
     * CSS font-family: MuseoSans-500Italic
     * CSS font-weight: normal
     * 
     * (c) 2011 Bitstream, Inc
    */
    --> 
    <script type="text/javascript" src="{{ MEDIA_URL }}fonts/MuseoSans500/MuseoSans500.js"></script> 
    <noscript><!-- load the fonts for those without js -->
      <link rel="stylesheet" href="{{ MEDIA_URL }}fonts/MuseoSans500/MuseoSans500.css">
    </noscript> 
    
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css?v=1"> 
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/mojo.css?v=1"> 
    {% block links %}{% endblock %}
    <script src="{{ MEDIA_URL }}js/libs/modernizr-1.6.min.js"></script>  
</head>
<body id="splash" class=".body">
  <header>
    <div id="masthead">
      <div class="container">
        <a id="logo" class="ir" href="{% locale_url dashboard_index %}">mozilla Drumbeat</a>
        <nav id="main-nav">
          <ul>
            <li><a href="{% locale_url projects_gallery %}">{{ _('Projects') }}</a></li>
            <li><a href="{% locale_url users_user_list %}">{{ _('People') }}</a></li>
            <li><a href="{% locale_url events_index %}">{{ _('Events') }}</a></li>
          </ul>
        </nav>
        <nav id="user-nav">
          {% if user.is_authenticated %}
            <ul>
              <li id="user" class="menu">
                <a href="#" id="user-link" class="top-level">
                  {% if user.get_profile %}
                    <img id="user-picture" src="{{ MEDIA_URL }}{{ user.get_profile.image_or_default }}" height="19" width="19">
                  {% else %}
                    <img id="user-picture" src="{{ MEDIA_URL }}images/member-missing.png" height="19" width="19">
                  {% endif %}
                  <span id="user-name">{{ user.get_profile.username }}</span>
                </a>
                <ul id="user-actions">
                  <li><a href="{% locale_url dashboard_index %}">{{ _('Your Dashboard') }}</a></li>
                  <li><a href="{{ user.get_profile.get_absolute_url }}">{{ _('Your Profile') }}</a></li>
                  <li><a href="{% locale_url preferences_settings %}">{{ _('Account Settings') }}</a></li>
                  <li><a href="https://donate.mozilla.org/page/contribute/openwebfund">{{ _('Donate to Drumbeat') }}</a></li>
                </ul>
              </li> <!-- /#user -->
	    <li class="separator ir"></li>
	    <li id="inbox" class="menu">
	      <a href="#" id="inbox-link" class="top-level">
		{{ _('Inbox') }}
		{% if messages_inbox_count > 0 %}
		  <span id="inbox-count" class="new-messages">{{ messages_inbox_count }}</span>
		{% endif %}
	      </a>
	      <ul id="inbox-messages">
		{% for message in preview_messages %}
		  <li class="message">
		    <a href="{% locale_url drumbeatmail_inbox %}#message{{message.id}}">
		      <span class="from">{{ message.sender.get_profile.name }}:</span>
		      <span class="snippet">{{ message.body|truncatewords_html:10 }}</span>
		    </a>
		  </li>
		{% endfor %}
		<li id="view-all">
		  <a href="{% locale_url drumbeatmail_inbox %}">{{ _('View All Messages') }}</a>
		</li>
	      </ul> <!-- /#inbox-messages -->
	    </li> <!-- /#inbox -->
	    <li class="separator ir"></li>
	    <li id="logout">
	      <a class="top-level" href="{% locale_url users_logout %}">Sign Out</a>
	    </li>
	  </ul>
	  {% else %} {# user not logged in #}
	  <ul id="login">
	    <li><a class="top-level" href="{{ login_with_redirect_url }}">{{ _('Sign in') }}</a></li>
	    <li><a class="top-level" href="{{ register_with_redirect_url }}">{{ _('Sign up') }}</a></li>
	  </ul>
          {% endif %}
        </nav> <!-- /#user-nav -->
      </div> <!-- /.container -->
    </div> <!-- /#masthead -->
  </header>
{% block body %}{% endblock %}

<script src="{{ MEDIA_URL }}js/libs/jquery-1.4.2.min.js"></script> 
<script src="{{ MEDIA_URL }}js/libs/jquery.wmd.js"></script>

<script src="{{ MEDIA_URL }}js/script.js?ver=1"></script>
<!-- beauytip --> 
<script src="{{ MEDIA_URL }}js/mojo/jquery.bt.min.js" type="text/javascript"></script> 
<!--[if IE]><script src="{{ MEDIA_URL }}js/mojo/excanvas.compiled.js" type="text/javascript"></script><![endif]--> 
<script type="text/javascript"> 
      $(document).ready(function(){
          $('.js-tooltip').bt({
              hideTip: function(box, callback){
                  $(box).animate({
                      marginTop: "-10px",
                      opacity: 0
                  }, 250, callback );
              },
              contentSelector: "$(this).next()",
              trigger: 'click',
              fill: '#fff7df',
              strokeStyle: '#ffe69a',
              padding: '10px 10px 0 10px',
              width: 400,
              cornerRadius: 5,
              strokeWidth: 1,
              spikeGirth: 15,
              spikeLength: 9,
              shadow: true,
              shadowOffsetX: 2,
              shadowOffsetY: 2,
              shadowBlur: 5,
              shadowColor: 'rgba(0,0,0,.15)',
              shadowOverlap: false,
              noShadowOpts: {strokeStyle: '#ffe69a', strokeWidth: 1},
              positions: ['top', 'bottom']
          });
      });
</script> 
{% block script %}{% endblock %}
</body>
</html>
