{% extends "profiles/main.html" %}

{% load l10n_tags %}

{% block pageclasses %}profile edit info{% endblock %} 
{% block form %}
<form action="{% locale_url profiles_edit %}" method="post">
  {% csrf_token %}
  <p>
    <label for="first_name">{{ _('First Name:') }}</label>
    <input type="text" name="first_name" id="first_name" value="{{ profile.first_name }}" />
  </p>
  <p>
    <label for="last_name">{{ _('Last Name:') }}</label>
    <input type="text" name="last_name" id="last_name" value="{{ profile.last_name }}" />
  </p>
  <p>
    <label for="location">{{ _('Location:') }}</label>
    <input type="text" name="location" id="location" value="{{ profile.location }}" />
  </p>
  <p>
    <label for="bio">{{ _('About You:') }}</label>
    <textarea name="bio" id="bio" rows="15" cols="50">{{ profile.bio }}</textarea>
  </p>
  <input type="submit" value="Save" />
</form>
{% endblock %}
