{% extends "profiles/main.html" %}

{% load l10n_tags %}

{% block bodyclasses %}profile edit interests{% endblock %}
{% block form %}
{% if profile.interest_set.count %}
<h3>Interests</h3>
<ul>
  {% for interest in profile.interest_set.all %}
  <li>
    {{ interest.name }}
    <form action="{% locale_url profiles_delete_interest %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="interest" value="{{ interest.id }}" />
      <input type="submit" value="Delete" />
    </form>
  </li>
  {% endfor %}
</ul>
{% endif %}
<form action="{% locale_url profiles_interests %}" method="post">
  {% csrf_token %}
  <p>
    <label for="name">Interest:</label>
    <input type="text" name="name" id="name" />
  </p>
  <input type="submit" value="Add" />
</form>
{% endblock %}
