{% extends "profiles/main.html" %}
{% block form %}

{% if profile.link_set.count %}
<h3>Links</h3>
<ul>
  {% for link in profile.link_set.all %}
  <li>
    <a href="{{ link.uri }}">{{ link.title }}</a>
    <form action="{% url profiles.views.delete_link %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="link" value="{{ link.id }}" />
      <input type="submit" value="Delete" />
    </form>
  </li>
  {% endfor %}
</ul>
{% endif %}
<form action="{% url profiles.views.links %}" method="post">
  {% csrf_token %}
  <p>
    <label for="uri">URL:</label>
    <input type="text" name="uri" id="uri" />
  </p>
  <p>
    <label for="title">Link Name:</label>
    <input type="text" name="title" id="title" />
  </p>
  <input type="submit" value="Add" />
</form>
{% endblock %}
