{% extends "base.html" %}

{% load l10n_tags %}

{% block title %}Your Profile{% endblock %}
{% block pageclasses %}profile{% endblock %} 
{% block body %}
<fieldset>

  <legend>{{ _('Edit Profile') }} <span class="pester">(<a href="{% locale_url profiles.views.show username=profile.user.username %}">View Profile</a>)</span></legend>
  <nav id="profile-edit-nav">
  <ul>
    <li><a href="{% locale_url profiles.views.edit %}">General Info</a></li>
    <li><a href="{% locale_url profiles.views.upload_image %}">Profile Image</a></li>
    <li><a href="{% locale_url profiles.views.contact_numbers %}">Contact numbers</a></li>
    <li><a href="{% locale_url profiles.views.links %}">Links</a></li>
    <li><a href="{% locale_url profiles.views.skills %}">Skills</a></li>
    <li><a href="{% locale_url profiles.views.interests %}">Interests</a></li>
  </ul>
  </nav>
  {% block form %}{% endblock %}

</fieldset>
{% endblock %}
