{% extends "base.html" %}

{% load l10n_tags %}

{% block title %}Your Profile{% endblock %}
{% block pageclasses %}profile{% endblock %} 
{% block body %}
<fieldset>

  <legend>{{ _('Edit Profile') }} <span class="pester">(<a href="{% locale_url profiles_show username=profile.user.username %}">View Profile</a>)</span></legend>
  <nav id="profile-edit-nav">
  <ul>
    <li class="info"><a href="{% locale_url profiles_edit %}">General Info</a></li>
    <li class="image"><a href="{% locale_url profiles_upload_image %}">Profile Image</a></li>    
    <li class="skills"><a href="{% locale_url profiles_skills %}">Skills</a></li>
    <li class="interests"><a href="{% locale_url profiles_interests %}">Interests</a></li>
  </ul>
  </nav>
  {% block form %}{% endblock %}

</fieldset>
{% endblock %}
