{% extends "base.html" %}
{% load l10n_tags %}
{% load i18n %}
{% block title %}{{ profile.get_full_name }}{% endblock %}

{% block links %}
{% comment %}
Temporarily comment out atom feed link while refactoring activity application.
<link rel="alternate" type="application/atom+xml" href="{% locale_url activity_feed_user username=profile_user.username %}">
{% endcomment %}
<link rel="profile" href="http://microformats.org/profile/hcard" />
{% endblock %}

{% block bodyid %}user_profile{% endblock %}
{% block breadcrumbs %}
  <div class="container">
    <nav>
      <a href="{% locale_url users_user_list %}">{{ _('Users') }}</a>
      <span class="arrow">&rsaquo;</span>
      <span>All Users</span>
      <span class="arrow">&rsaquo;</span>
      <a href="{% locale_url profiles_show username=profile_user.username %}">{{ profile_user.username }}</a>
    </nav>

    {% if user.id == profile.user.id %}
    <div id="project-actions">      
    	<div class="button"><a href="{% locale_url profiles_edit %}">{{ _('Edit Profile') }}</a></div>
    </div>
    {% endif %}

  </div> <!-- /.container -->
{% endblock %}

{% block body %}
<div id="sidebar">
<div class="vcard panel">
  <img class="member-picture" src="{{ MEDIA_URL }}{{ profile.image_or_default }}" height="54" width="54">
  <div class="member-details">
    <h1 class="member-name">
      {% if profile.get_full_name %}        
      <span class="fn">{{ profile.get_full_name }}</span>
      {% else %}
      <span class="fn nickname">{{ profile_user.username }}</span>
      {% endif %}
    </h1>
    <div class="member-actions">
      {% if user == profile_user %}
      <div class="button"><a href="{% locale_url profiles_edit %}">{{ _('Edit Profile') }}</a></div>
      {% else %}
      <div class="button">
        {% if profile_user in following %}
        <form action="{% locale_url relationships_unfollow %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="object_id" value="{{ profile_user.id }}">
          <input type="hidden" name="object_type_id" value="{{ type.id }}">
          <a class="submit-button" id="unfollow-user" href="#">Unfollow User</a>
        </form>
        {% else %}
        <form action="{% locale_url relationships_follow %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="object_id" value="{{ profile_user.id }}">
          <input type="hidden" name="object_type_id" value="{{ type.id }}">
          <a class="submit-button" id="follow-user" href="#">Follow User</a>
        </form>
        {% endif %}
                
      </div>
      <div class="button">
        <a href="{% locale_url messages_compose_to recipient=profile.user.username %}">{{ _('Private Message')}}</a>
      </div>
      {% endif %}
    </div>
  </div> 
  
  <div class="member-bio">
	  {{ profile.bio }}
	</div>
	
	{% if profile.location %}
  <dl class="member-location">
  <dt>{{ _('Location:') }}</dt> 
  <dd class="adr">{{ profile.location }}</dd>
  </dl>
  {% endif %}
  
  {% if profile.skill_set.count %}
  <ul clas="skills">
    {% for skill in profile.skill_set.all %}
    <li>{{ skill.name }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if profile.interest_set.count %}
  <ul class="interests">
    {% for interest in profile.interest_set.all %}
    <li>{{ interest.name }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div> <!-- /.vcard -->
<div id="member_relationships" class="panel">
  <h3>{{ _('Followers') }} <span class="followers count">{{ users_followers|length }}</span></h3>
  <ul>
  {% for user_follower in users_followers %}
    <li><a href="{{ user_follower.get_profile.get_absolute_url }}" title="{{ user_follower.get_profile.get_full_name_or_username }}"><img class="member-picture" src="{{ MEDIA_URL }}{{ user_follower.get_profile.image_or_default }}" height="26" width="26" alt="{{ user_follower.get_profile.get_full_name_or_username }}"></a></li>
  {% endfor %}
  </ul>
  <h3>{{ _('Following') }} <span class="following count">{{ users_following|length }}</span></h3>
  <ul>
  {% for user_following in users_following %}
    <li><a href="{{ user_following.get_profile.get_absolute_url }}" title="{{ user_following.get_profile.get_full_name_or_username }}"><img class="member-picture" src="{{ MEDIA_URL }}{{ user_following.get_profile.image_or_default }}" height="26" width="26" alt="{{ user_following.get_profile.get_full_name_or_username }}"></a></li>
  {% endfor %}
  </ul>
  <h3>{{ _('Projects') }} <span class="projects count">{{ projects_following|length}}</span></h3>
  <ul>
  <!-- TODO: add support for project owner badge -->
  {% for project in projects_following %}
    <li>
      <a href="" alt="{{project.name}}">
        {% if project.image %}
        <img src="" width="26" height="26" alt="project image"/>
        {% else %}
        <img src="/media/images/project-missing.png" width="26" height="26" alt="project image"/>
        {% endif %}
        {{ project.name }}
      </a>
    </li>
  {% endfor %}
  </ul>
</div> <!-- /#member_relationships-->
<!-- TODO: add support for user links -->
<div id="member_links" class="panel">
  <ul>
    <li><a href="#" title="Github">Github</a></li>
    <li><a href="#" title="Twitter">Twitter</a></li>
  </ul>
</div> <!-- /#member_links -->
</div> <!-- /#sidebar -->

<div id="main">
    <ul id="posts">
      {% for activity in activities %}
      {% include "activity/_activity_resource.html" %}
      {% endfor %}
    </ul>
</div> <!-- /#main -->



{% endblock %}
