{% extends "base.html" %}
{% load l10n_tags %}
{% load i18n %}
{% block title %}{{ profile.get_full_name }}{% endblock %}

{% block links %}
<link rel="alternate" type="application/atom+xml" href="{% locale_url activity_feed_user username=profile_user.username %}">
<link rel="profile" href="http://microformats.org/profile/hcard" />
{% endblock %}

{% block body %}
<fieldset class="vcard">
  <legend>{{ _('Profile') }}</legend>
  {% if profile.image %}
  <p>
    <img src="{{ MEDIA_URL }}/{{ profile.image }}" />
  </p>
  {% else %}
  <p>
    <img src="{{ MEDIA_URL }}images/member-missing.png" />
  </p>
  {% endif %}
  <p>
    {% if profile.get_full_name %}
    <strong>{{ _('Name:') }}</strong> 
    <span class="fn">{{ profile.get_full_name }}</span><br />
    {% else %}
    <strong>{{ _('Username:') }}</strong> 
    <span class="fn nickname">{{ profile_user.username }}</span><br />
    {% endif %}
    {% if profile.location %}
    <strong>{{ _('Location:') }}</strong> 
    <span class="adr">{{ profile.location }}</span><br />
    {% endif %}
    {% if profile.bio %}
    <strong>{{ _('About:') }}</strong> {{ profile.bio }}
    {% endif %}
  </p>
  
  {% if profile.skill_set.count %}
  <h3>Skills</h3>
  <ul>
    {% for skill in profile.skill_set.all %}
    <li>{{ skill.name }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if profile.interest_set.count %}
  <h3>Interests</h3>
  <ul>
    {% for interest in profile.interest_set.all %}
    <li>{{ interest.name }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if user.id == profile.user.id %}
  <p>
    <a href="{% locale_url profiles_edit %}">{{ _('Edit Profile') }}</a>
  </p>
  {% endif %}
</fieldset>

<p>
  <a href="{% locale_url messages_compose_to recipient=profile.user.username %}">
    {% blocktrans with profile.first_name as first_name %}
    Send {{ first_name }} a Message
    {% endblocktrans %}
  </a>
</p>

{% endblock %}
