{% extends "profiles/main.html" %}

{% load l10n_tags %}

{% block pageclasses %}profile edit skills{% endblock %}
{% block form %}
{% if profile.skill_set.count %}
<h3>Skills</h3>
<ul>
  {% for skill in profile.skill_set.all %}
  <li>
    {{ skill.name }}
    <form action="{% locale_url profiles_delete_skill %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="skill" value="{{ skill.id }}" />
      <input type="submit" value="Delete" />
    </form>
  </li>
  {% endfor %}
</ul>
{% endif %}
<form action="{% locale_url profiles_skills %}" method="post">
  {% csrf_token %}
  <p>
    <label for="name">Skill:</label>
    <input type="text" name="name" id="name" />
  </p>
  <input type="submit" value="Add" />
</form>
{% endblock %}
