{% extends "profiles/main.html" %}
{% block form %}
{% if profile.skill_set.count() %}
<h3>Skills</h3>
<ul>
  {% for skill in profile.skill_set.all() %}
  <li>
    {{ skill.name }}
    <form action="{{ url('profiles.views.delete_skill') }}" method="post">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
      <input type="hidden" name="skill" value="{{ skill.id }}" />
      <input type="submit" value="Delete" />
    </form>
  </li>
  {% endfor %}
</ul>
{% endif %}
<form action="{{ url('profiles.views.skills') }}" method="post">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
  <p>
    <label for="name">Skill:</label>
    <input type="text" name="name" id="name" />
  </p>
  <input type="submit" value="Add" />
</form>
{% endblock %}
