{% extends "profiles/main.html" %}
{% block pageclasses %}profile edit image{% endblock %} 
{% block form %}

{% if profile.image %}
<p><img src="{{ MEDIA_URL }}/{{ profile.image }}" /></p>
{% endif %}
<p>{{ _('Max size of 700k. JPG, GIF, PNG.') }}</p>
<form action="{{ url('profiles.views.upload_image') }}" method="post" enctype="multipart/form-data">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
  {{ form.as_p()|safe }}
  <input type="submit" value="Upload" />
</form>
{% endblock %}
