{% load l10n_tags %}



<div class="thumbnail card" id="large">
  <a href="{{ projectset.get_absolute_url }}">
    <img src="{{ projectset.get_image_url  }}" width="399" height="125" alt="{{ projectset.name }}"/>
  </a>
  <div class="ribbon-wrapper">
    <div class="ribbon-front">
      <h1><a href="{{ projectset.get_absolute_url }}">{{ projectset.name }}</a></h1>
    </div>
    <div class="ribbon-edge-topleft"></div>
    <div class="ribbon-edge-topright"></div>
    <div class="ribbon-edge-bottomleft"></div>
    <div class="ribbon-edge-bottomright"></div>
    <div class="ribbon-back-left"></div>
    <div class="ribbon-back-right"></div>
  </div>
  <div class="caption">
    <p>{{ projectset.short_description }}</p>
  </div>
  <div class="challenge-set-button center-via-text-align">
    <a href="#challenge-set-data-{{ projectset.slug }}" role="button" class="btn btn-success" data-toggle="modal">
      {{ _('View Challenges') }}
    </a>
  </div>
  <div class="well well-large">
    <dl>
      <dt><span class="badge">{{ projectset.projects.count }}</span></dt>
        <dd><span class="label">{{ _('Challenges') }}</span></dd>
    </dl>
    <dl>
      <dt><span class="badge">{{ projectset.total_participants }}</span></dt>
        <dd><span class="label">{{ _('Participants') }}</span></dd>
    </dl>
    <dl>
      <dt><span class="badge">{{ projectset.total_adopters }}</span></dt>
        <dd><span class="label">{{ _('Adopters') }}</span></dd>
    </dl>
    <dl>
      <dt><span class="badge">{{ projectset.total_badges }}</span></dt>
        <dd><span class="label">{{ _('Badges') }}</span></dd>
    </dl>
  </div>
  <div class="modal hide fade" id="challenge-set-data-{{ projectset.slug }}" tabindex="-1" role="dialog" aria-labelledby="{{ projectset.slug }}" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="{{ projectset.slug }}">{{ projectset.name }}</h3>
    </div>
    <div class="modal-body">
        <p>
          {{ projectset.short_description }}
          {% if projectset.first_project %}
            <a href="{{ projectset.first_project.get_absolute_url }}">
              {{ _('Get started with the first Challenge now') }} &#187;
            </a>
          {% endif %}
        </p>
        <ul>
          {% for project in projectset.get_projects|slice:":6" %}
            <li>
              <a href="{{ project.get_absolute_url }}" title="{{ project }}">
                {% if project.image %}
                  <img src="{{ MEDIA_URL }}{{ project.image }}" width="200" height="123" alt="{{ project.name }}"/>
                {% else %}
                  <img src="{{ STATIC_URL }}images/project-missing.png" width="200" height="123" alt="{{ project.name }}"/>
                {% endif %}
                <span class="project-name">{{ project.name }}</span>
              </a>
            </li>
          {% endfor %} 
        </ul>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <a class="btn btn-apricot challenge-set-button" href="{{ projectset.get_absolute_url }}">{{ _('View All Challenges') }}</a>
    </div>
  </div>
</div>


