{% extends "schools/base.html" %}
{% load l10n_tags %}
{% load embed %}
{% load project_tags %}

{% block title %}{{ school.name }}{% endblock %}
{% block bodyid %}school_home{% endblock %}
{% block bodyclasses %}card-list{% endblock %}

{% block breadcrumbs_actions %}
    {% if is_organizer %}
      <a id="edit-school" class="button" href="{% locale_url schools_edit slug=school.slug %}">{{ _('Edit School') }}</a>
    {% endif %}
    {% if user.is_authenticated %}
       <a id="create-project" class="button" href="{% locale_url projects_create %}">{{ _('Create') }}</a>
    {% endif %}
    <a class="button" href="{% school_learn_default school %}">{{ _('Browse') }}</a>
{% endblock %}

{% block body %}
<div id="main">
  <div id="sidebar">
    <br>
    <figure class="school_img">
      {% if school.logo %}
        <img src="{{ MEDIA_URL }}{{ school.logo }}" alt="project image"/>
      {% else %}
        <img src="{{ STATIC_URL}}images/school-missing.png" alt="project image"/>
      {% endif %}
    </figure>
    {% if school.show_school_organizers %}
      <section id="people" class="panel">
        <br>
        <h2 class="school_header">{{ _('School Organizers') }}</h2>
        <br>
        {% for organizer in school.organizers.all %}
          <a href="{{ organizer.get_absolute_url }}" title="{{ organizer }} (school organizer)"><img class="member-picture" src="{{ organizer.image_or_default }}" height="26" width="26" alt="{{ organizer }} (school organizer)"></a>
        {% endfor %}
      </section>
    {% endif %}
  </div>
  {{ school.description|embed|safe }}
  <br clear="all">
  <br>
  {% if featured_project_sets %}
    <section id="challenge-sets">
      <h1><span>{{ _('Challenge Sets') }}</span></h1>
      <ul class="challenge-set-list">
        {% for projectset in featured_project_sets %}
          <li>{% include "schools/_projectset_card.html" %}</li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
  {% if featured %}
    <section id="featured_projects">
      <h1><span>{{_('Featured')}}</span></h1>
      <ul class="project-list">
        {% for project in featured %}
          <li>{% include "projects/_project_card.html" %}</li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
  {{ school.more_info|embed|safe }}
</div>

{% endblock %}

