{% extends "schools/school_edit.html" %}
{% load l10n_tags %}
{% block bodyclasses %}school edit mentorship{% endblock %}

{% block form %}
<fieldset id="school_edit_mentorship" class="school edit mentorship tabpane">
<h2>{{ _('Mentorship') }}</h2>
<p class="hint">{{ _('Schools that have a mentorship program can provide urls to the forms they use to signup people as mentors or mentees. Schools will be responsible for pairing up mentors with mentees and send the introduction emails.') }}</p>
<form action="{% locale_url schools_edit_mentorship slug=school.slug %}" method="post">
  {% csrf_token %}
  <div class="field{% if form.mentor_form_url.errors %} error{% endif %}">
    <label for="id_mentor_form_url">{{ _('Mentor Form Url') }}</label>
    <span class="hint block">{{ _('Provide url for users to signup as mentors.') }}</span>
    {{ form.mentor_form_url }}
    {{ form.mentor_form_url.errors }}
  </div>
  <div class="field description{% if form.mentee_form_url.errors %} error{% endif %}">
    <label for="id_mentee_form_url">{{ _('Mentee Form Url') }}</label>
    <span class="hint block">{{ _('Provide url for users to signup as mentees.') }}</span>
    {{ form.mentee_form_url }}
    {{ form.mentee_form_url.errors }}
  </div>
  <p class="buttons">
    <a class="button" href="{{ school.get_absolute_url }}">{{ _('Cancel') }}</a>
    <button type="submit" value="{{ _('Save') }}">{{ _('Save') }}</button>
  </p>
</form>
</fieldset>
{% endblock %}
