{% extends "schools/school_edit.html" %}
{% load l10n_tags %}
{% block bodyclasses %}school edit featured{% endblock %}

{% block form %}
<fieldset id="school_edit_featured" class="school edit featured_groups tabpane">
<h2>{{ _('Featured') }}</h2>
<p class="hint">{{ _('View, add and remove featured study groups, courses, ... to this school.') }}</p>
<form action="{% locale_url schools_edit_featured slug=school.slug %}" method="post">
  {% csrf_token %}
  <p>
    <div class="field featured_group project{% if form.project.errors %} error{% endif %}">
      <label for="id_project">{{ _('Short Name') }}</label>
      {{ form.project }}
      {{ form.project.errors }}
    </div>
  </p>
  <p class="buttons add-featured">
    <button type="submit">{{ _('Add') }}</button>
  </p>
</form>

{% if featured %}
<table>
<thead>
  <tr>
    <th>{{ _('Name') }}</th>
    <th>{{ _('Actions') }}</th>
  </tr>
</thead>
<tbody>
  {% for project in featured %}
    <tr>
      <td class="name"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
      <td class="actions">
        <form action="{% locale_url schools_edit_featured_delete slug=school.slug project_slug=project.slug %}" method="post">
          {% csrf_token %}
          <button type="submit" value="{{ _('Delete') }}">{{ _('Delete') }}</button>
        </form>
      </td>
    </tr>
  {% endfor %}
</tbody>
</table>
{% endif %}
</fieldset>
{% endblock %}


{% block js %}
  <script type="text/javascript">
    $('#id_project').autocomplete({
        source: function( request, response ) {
                url = "{% url matching_non_featured slug=school.slug %}?term=" + request.term;
                $.getJSON(url, function(data) {
                    response(data);
                });
            }
    });
  </script>
{% endblock %}
