{% extends "schools/school_edit.html" %}
{% load l10n_tags %}
{% block bodyclasses %}school edit organizers{% endblock %}

{% block form %}
<fieldset id="school_edit_organizers" class="school edit organizers tabpane">
<h2>{{ _('School Organizers') }}</h2>
<p class="help_block hint">{{ _('View, add and remove organizers of your school.') }}</p>
<form action="{% locale_url schools_edit_organizers slug=school.slug %}" method="post">
  {% csrf_token %}
  <p>
    <div class="field user{% if form.user.errors %} error{% endif %}">
      <label for="id_user">{{ _('Username') }}</label>
      {{ form.user }}
      {{ form.user.errors }}
    </div>
  </p>
  <p class="buttons add-organizer">
    <button class="btn btn-primary" type="submit">{{ _('Add') }}</button>
  </p>
</form>

{% if school.organizers.all %}
<table class="table">
<thead>
  <tr>
    <th>{{ _('Name') }}</th>
    <th>{{ _('School Organizer') }}</th>
  </tr>
</thead>
<tbody>
  {% for organizer in school.organizers.all %}
    <tr>
      <td class="name"><a href="{{ organizer.get_absolute_url }}">{{ organizer }}</a></td>
      <td class="organizer">
          <span class="yes" title="{{_('Organizing this school.') }}">{{ _('yes') }}</span>
      </td>
    </tr>
  {% endfor %}
</tbody>
</table>
{% endif %}
</fieldset>
{% endblock %}


{% block js %}
  <script type="text/javascript">
    $('#id_user').autocomplete({
        source: function( request, response ) {
                url = "{% url matching_non_organizers slug=school.slug %}?term=" + request.term;
                $.getJSON(url, function(data) {
                    response(data);
                });
            }
    });
  </script>
{% endblock %}
