{% extends "schools/school_edit.html" %}
{% load l10n_tags %}
{% block bodyclasses %}school edit image{% endblock %}

{% block form %}
{# <p>{{ _('Use this form to upload the school logo. This image will appear in the school home page.') }}</p> #}

<fieldset id="school_edit_image" class="school edit image tabpane">
<form action="{% locale_url schools_edit_logo slug=school.slug %}" method="post" enctype="multipart/form-data" data-url="{% locale_url schools_edit_logo_async slug=school.slug %}">
  {% csrf_token %}
  {% if school.logo %}
  <h2>{{ _('Replace School Logo') }}</h2>
  {% else %}
  <h2>{{ _('Upload a School Logo') }}</h2>
  {% endif %}
  <p class="hint">{{ _('Upload an image file from your computer:') }}</p>  
  <div class="field{% if form.logo.errors %} error{% endif %}">
    <input type="file" name="logo" id="id_logo"/>
    <small class="hint block">{{ _('File Types: JPG, GIF or PNG only') }}<br/> {{ _('Max size:') }} {{ _('700k') }} <br/> {{ _('Dimensions:') }} {{ _('Variable') }}</small>
    {{ form.logo.errors }}
  </div>
  <p class="buttons">
    <a class="button" href="{{ school.get_absolute_url }}">{{ _('Cancel') }}</a>
    <button type="submit" value="{{ _('Upload') }}">{{ _('Upload') }}</button>
  </p>
</form>
<p class="picture-preview">
  {% if school.logo %}
  <img src="{{ MEDIA_URL }}{{ school.logo }}" class="school picture"/>
  {% else %}
  <img src="{{ STATIC_URL }}images/school-missing.png" alt="school image" class="school picture"/>
{% endif %}
</p>
</fieldset>
{% endblock %}
