{% extends "schools/school_edit.html" %}
{% load l10n_tags %}
{% block bodyclasses %}school edit image{% endblock %}

{% block form %}
{# <p>{{ _('Use this form to upload the small version of the school logo which is used in sidebars and footers.') }}</p> #}

<fieldset id="school_edit_image" class="school edit image tabpane">
<form action="{% locale_url schools_edit_groups_icon slug=school.slug %}" method="post" enctype="multipart/form-data" data-url="{% locale_url schools_edit_groups_icon_async slug=school.slug %}">
  {% csrf_token %}
  {% if school.groups_icon %}
  <h2>{{ _('Replace School Small Logo') }}</h2>
  {% else %}
  <h2>{{ _('Upload a School Small Logo') }}</h2>
  {% endif %}
  <p class="hint">{{ _('Upload an image file from your computer:') }}</p>  
  <div class="field{% if form.groups_icon.errors %} error{% endif %}">
    <input type="file" name="groups_icon" id="id_groups_icon"/>
    <div class="help_block">
	    <small class="hint block">{{ _('File Types: JPG, GIF or PNG only') }}<br/> {{ _('Max size:') }} {{ _('700k') }} <br/> {{ _('Dimensions:') }} {{ _('41x50 pixels') }}</small>
    </div>
    {{ form.groups_icon.errors }}
  </div>
  <p class="buttons">
	  <button class="btn btn-primary" type="submit" value="{{ _('Upload') }}">{{ _('Upload') }}</button>
    <a class="btn" href="{{ school.get_absolute_url }}">{{ _('Cancel') }}</a>
  </p>
</form>
<p class="picture-preview">
  {% if school.groups_icon %}
  <img src="{{ MEDIA_URL }}{{ school.groups_icon }}" class="school picture img-polaroid"/>
  {% else %}
  <img src="{{ STATIC_URL }}images/school-small-missing.png" alt="school image" class="school picture img-polaroid"/>
{% endif %}
</p>
</fieldset>
{% endblock %}
