{% extends "base.html" %}
{% block title %}{{ _('Your Dashboard') }}{% endblock %}
{% block body %}

<h2>{{ _('Your Dashboard') }}</h2>
<p>
  {% if user.get_full_name() %}
  Hello {{ user.get_full_name() }}! 
  {% endif %}
  {{ _('You are logged in.') }}
</p>

{% if activities %}
<h3>{{ _('Recent Activity') }}</h3>
<ul>
  {% for activity in activities %}
  <li>{{ activity }} (<small><a href="{{ activity.get_absolute_url() }}">{{ activity.timesince() }} {{_(' ago')}}</small></a>)</li>
  {% endfor %}
</ul>
{% endif %}

<ul>
  <li><a href="{{ url('profiles.views.edit') }}">Your Profile</a></li>
  <li><a href="{{ url('relationships.views.following') }}">Following</a></li>
  <li><a href="{{ url('relationships.views.followers') }}">Followers</a></li>
  <li><a href="{{ url('users.views.user_list') }}">Users</a></li>
  <li><a href="{{ url('users.views.logout') }}">Sign out</a></li>
</ul>

{% endblock %}
