{% extends "base.html" %}
{% load l10n_tags %}
{% load truncate_chars %}
{% block title %}{{ _('Your Dashboard') }}{% endblock %}
{% block links %}
<link rel="alternate" type="application/atom+xml" href="{% locale_url activity_dashboard_feed %}" />
{% endblock %}
{% block bodyid %}dashboard{%endblock%}
{% block body %}

<div id="sidebar">
<div class="vcard panel">
  <img class="member-picture" src="{{ MEDIA_URL }}{{ user.get_profile.image_or_default }}" height="40" width="40" alt="{{ user.username}}{{ _('\'s profile picture') }}">
  <div class="member-details">
    <h2 class="member-name">
      <span class="fn">{{ user.get_profile.name }}</span>
    </h2>
    <p><a href="{{ user.get_profile.get_absolute_url }}">{{ _('View Profile') }}</a></p>
  </div> 
</div> <!-- /.vcard -->  
  
<div id="member_relationships" class="panel">
  <h3>{{ _('Followers') }} <span class="followers count">{{ users_followers|length }}</span></h3>
  <ul class="followers">
  {% for user_follower in users_followers|slice:":36" %}
    <li><a href="{{ user_follower.get_absolute_url }}" title="{{ user_follower.name }}"><img class="member-picture" src="{{ MEDIA_URL }}{{ user_follower.image_or_default }}" height="26" width="26" alt="{{ user_follower.name }}"></a></li>
  {% endfor %}
  </ul>
  <h3>{{ _('Following') }} <span class="following count">{{ users_following|length }}</span></h3>
  <ul class="following">
  {% for user_following in users_following|slice:":36" %}
    <li><a href="{{ user_following.get_absolute_url }}" title="{{ user_following.name }}"><img class="member-picture" src="{{ MEDIA_URL }}{{ user_following.image_or_default }}" height="26" width="26" alt="{{ user_following.name }}"></a></li>
  {% endfor %}
  </ul>
  <h3>{{ _('Projects') }} <span class="projects count">{{ projects_following|length}}</span></h3>
  <ul class="projects following">
  {% for project in projects_following %}
    <li>
      <a href="{{ project.get_absolute_url }}" title="{{project.name}}">
        {% if project.image %}
        <img src="{{ MEDIA_URL }}{{ project.image }}" width="42" height="26" alt="project image" class="project picture"/>
        {% else %}
        <img src="/media/images/project-missing.png" width="42" height="26" alt="project image" class="project picture"/>
        {% endif %}
        {{ project.name|truncatechars:35 }}
      </a>
    </li>
  {% endfor %}
  </ul>
</div> <!-- /#member_relationships-->
</div> <!-- /#sidebar -->

<div id="main">
  {% if show_welcome %}
    <article class="welcome">
      <header><a href="{% locale_url dashboard_hide_welcome %}" title="Hide this message"><img class="close_button" src="{{ MEDIA_URL }}images/closeButton.png"></a></header>
      <h1>Welcome to Drumbeat!</h1>
      <p>We've changed things up a bit! Drumbeat is all about connecting you with people and projects building a more awesome web and world.</p>
      <p>To get started, you should <a href="{% locale_url users_profile_edit %}" title="update your profile">update your profile</a>. This is a great way to tell people a bit more about yourself. Then find <a href="{% locale_url users_user_list %}" title="People">people</a> and <a href="{% locale_url projects_gallery %}" title="Projects">projects</a> that interest you and start following them! You can also <a href="{% locale_url projects_create %}" title="Create a Project">create your own project</a>.</p>
    </article>
  {% endif %}
  <div id="create-post">
    <div class="post-container">
      <form id="post-status-update" method="post" action="{% locale_url statuses_create %}">
	{% csrf_token %}
	<input type="text" value="{{ _('Post a message to your followers') }}">
	<textarea name="status"></textarea>

	<div class="status-and-actions">
	  <div class="post-char-count">750</div>
	    <button class="button update submit" id="post-update">Post Update</button>
	</div> <!-- /.status-and-actions -->

      </form>
    </div> <!-- /.post-container -->
  </div> <!-- /#create-post -->

  <ul id="posts">
    {% for activity in activities %}
      {% include "activity/_activity_resource.html" %}
    {% endfor %}
  </ul>

{% endblock %}
