{% extends "base.html" %}
{% block title %}{{ _('Sign In') }}{% endblock %}
{% block body %}

<div class="form">

{% include "errors.html" %}

<fieldset>
  <legend>{{ _('Sign In') }}</legend>
  <form action="{{ url('users.views.login') }}" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}" />
    {% for field in form %}
    <p>
      {{ field.label_tag()|safe }}
      {{ field.as_widget()|safe }}
    </p>
    {% endfor %}
    <p>
      <input type="submit" value="{{ _('Sign In') }}" />
    </p>
    <p>
      <a id="forgot_password" href="{{ url('forgetful.views.forgot') }}">{{ _('Forgot your password?') }}</a>
      <br />
      <a href="{{ url('users.views.login_openid') }}">{{ _('Sign in with OpenID')}}</a>
    </p>
  </form>
</fieldset>

<p>
  Not a member? <a href="{{ url('users.views.register') }}">Sign up</a>!
</p>

</div>
{% endblock %}
