{% extends "base.html" %}
{% load l10n_tags %}

{% block title %}{{ _('Learning for everyone, by everyone, about almost anything') }}{% endblock %}
{% block bodyid %}splash{% endblock %}

{% block body %}

<div id="sidebar">

</div>
<header id="intro">
  <div class="container">
    <nav id="intro-links">
      <a href="{% locale_url projects_gallery %}" class="big-find-course">{{ _('Find Your Course.') }}</a>
      <a href="{% locale_url projects_create %}" class="big-run-course">{{ _('Run a Course.') }}</a>
    </nav>
    <hgroup>
      <h1>We are an <em class="highlight1">online</em><br>community that<br><em class="highlight2">enables learning</em>. <em class="highlight3">So</em></h1>
      <p><em class="highlight1">P</em><em class="highlight2">2</em><em class="highlight3">P</em><em class="highlight4">U</em> isn&rsquo;t a school, there are no teachers or students just peers. Individuals are responsible for learning together with the help of a facilitator. </p>
    </hgroup>
  </div>
</header> <!-- /#intro -->
<section id="main">
  <div class="container">
    <ul id="posts">
      {% for activity in activities %}
        {% include "activity/_activity_resource.html" %}
      {% endfor %}
    </ul>
  </div>  
</section>
{% include "_footer.html" %}
{% endblock %}
