{% extends "base.html" %}
{% load l10n_tags %}

{% block title %}{{ _('People and Projects making a better web') }}{% endblock %}
{% block bodyid %}splash{% endblock %}

{% block body %}

<div id="sidebar">

</div>
<header id="intro">
  <div class="container">
    <hgroup>
      <h1>{{ _('Connect. Share Projects.<br>Hack everything.') }}</h1>
      <h2>{{ _('Drumbeat is a global community of innovators like you, building a more awesome web and world. Connect with others. Find great projects. Or share your own.') }}</h2>
    </hgroup>
    <img src="{{ MEDIA_URL }}/images/drumbeat-logo-splash.png" width="300" height="282" alt="Drumbeat Logo"/>    
  </div>
</header> <!-- /#intro -->
<section id="calls">
  <ul class="buttons container">
    <li><a class="button submit" href="{% locale_url users_register %}">Sign Up</a></li>
    <li><a class="button" href="{% locale_url drumbeat_about %}">{{ _('Learn More') }}</a></li>
    <li><a class="button" href="https://donate.mozilla.org/page/contribute/openwebfund">Donate</a></li>
  </ul>
</section>
<section id="main">
  <div class="container">
    <h1>{{ _('Recent Activity') }}</h1>
    <ul id="posts">
	{% for activity in activities %}
        {% include "activity/_activity_resource.html" %}
      {% endfor %}
    </ul>
    <aside>
		<div id="mojo">
			<section>
				<div class="content">
					<h1>Change how the web reports the news</h1>
					<p>Mozilla and the Knight Foundation have jouned forces to bring the web and journalism together worldwide to invent the future of news.</p>
					<p>You can read about our past challenges and see what we're looking to achieve. We're also looking for ideas on what you think might be HTML5's kills web app.</p>
					<a class="cta" href="/journalism/">MoJo (Mozilla + Journalism)</a>
				</div>
			</section>
		</div>
      <section id="planet_drumbeat">
        <h1><a href="http://planet.drumbeat.org/" title="{{ _('Planet Drumbeat') }}">{{ _('Planet Drumbeat') }}</a> <a class="feed-link" href="{{ feed_url }}" title="{{ _('Subscribe to the Planet Drumbeat feed') }}"> {{ _('feed') }}</a></h1>
	{% for entry in feed_entries %}
        <article>
          <h1><a href="{{ entry.link }}">{{ entry.title }}</a></h1>
          <p>{{ entry.body|truncatewords:50 }}</p>
        </article>
	{% endfor %}
      </section>
    </aside>
  </div>  
</section>
{% include "_footer.html" %}
{% endblock %}
