{% extends "base.html" %}

{% load l10n_tags %}

{% block title %}{{ _('Sign In') }}{% endblock %}
{% block body %}

<div id="sidebar">

</div>

<div id="main">
  
  <h1>{{ _('Mozilla Drumbeat') }}</h1>

  <div id="signup-buttons">
    <div class="button signup">
      <a href="{% locale_url users_login %}">Sign in</a>
    </div>
    <div class="button signup">
      <a href="{% locale_url users_register %}">Sign up</a>
    </div>
  </div>

  <h1>{{ _('Recent Activity') }}</h1>
  <ul id="posts">
    {% for activity in activities %}
      {% include "activity/_activity_resource.html" %}
    {% endfor %}
  </ul>
</div>

{% endblock %}
