{% load l10n_tags %}
{% if message %}
<strong>{{ message }}</strong>
{% endif %}
<ul class="openid_providers featured">
  <li id="google"><a href="#google" title="{{ _('Sign In with your Google account') }}">Google</a></li>
  <li id="yahoo"><a href="#yahoo" title="{{ _('Sign In with your Yahoo! account') }}">Yahoo!</a></li>
  <li id="myopenid"><a href="#myopenid" title="{{ _('Sign In with your myOpenID account') }}">myOpenID</a></li>
</ul>
<p class="or"><span>or</span></p>
{{ form.openid_identifier }}
{{ form.openid_identifier.errors }}
<button type="submit" value="submit" id="other_submit">{{ _('Go') }}</button>
