  <div class="field{% if profile_form.full_name.errors %} error{% endif %}">
    <label for="id_full_name">{{ _('Display Name') }}</label>
    {{ profile_form.full_name }}
    {{ profile_form.full_name.errors }}
  </div>
  <div class="field{% if profile_form.location.errors %} error{% endif %}">
    <label for="id_location">{{ _('Location') }}</label>
    {{ profile_form.location }}
    {{ profile_form.location.errors }}
  </div>
  <div class="field{% if profile_form.location.errors %} error{% endif %}">
    <label for="language">{{ _('Preferred Language') }}</label>
    {{ profile_form.preflang}}
    {{ profile_form.preflang.errors }}
  </div>
  <div class="field{% if profile_form.bio.errors %} error{% endif %}">
    <label for="id_bio">{{ _('Bio') }}</label>
    {{ profile_form.bio }}
    {{ profile_form.bio.errors }}
  </div>
