{% load l10n_tags %}
<article class="user vcard card">
  <figure>    
    <a href="{{  person.get_absolute_url }}">
      <img class="member-picture" src="{{ MEDIA_URL }}{{ person.image_or_default }}" height="54" width="54">
    </a>
  </figure>
  <h1 class="fn"><a href="{{  person.get_absolute_url }}">{{ person.name }}</a></h1>
  <div class="description">{{person.bio}}</div>
  <div class="meta">
    <dl class="followers">
      <dd>{{person.followers|length}}</dd>
      <dt>{{ _('Followers') }}</dt>
    </dl>
    <dl class="following">
      <dd>{{ person.following|length }}</dd>
      <dt>{{ _('Following') }}</dt>
    </dl>
    <dl class="updates">
      <dd>{{ person.status_set.count }}</dd>
      <dt>{{ _('Updates') }}</dt>
    </dl>
  </div>
</article>
