{% extends "base.html" %}
{% load l10n_tags %}

{% block title %}{{ _('Password Updated') }}{% endblock %}
{% block bodyclasses %}signin password_updated{% endblock %}
{% block body %}
<section class="modal">
  <article>
    <h1>{{ _('Reset Password') }}</h1>
    <fieldset>
      <p>
        {{ _('Thank you! Your password has been updated.') }}, 
        <a href="{% locale_url users_login %}">{{ _('You may now sign in.') }}</a>
      </p>
    </fieldset>
  </article>
</section>
{% include "_footer.html" %}
{% endblock %}
