{% extends "base.html" %}
{% block title %}{{ _('Forgot Your Password?') }}{% endblock %}
{% block body %}

<fieldset>
  <legend>{{ _('Forgot your Password?') }}</legend>
  <form action="{{ url('users.views.forgot_password') }}" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}" />
    {% for field in form %}
    <p>
      {{ field.label_tag()|safe }}
      {{ field.as_widget()|safe }}
    </p>
    {% endfor %}
    <p>
      <input type="submit" value="{{ _('Send') }}" />
    </p>
  </form>
</fieldset>

<p>
  <a href="{{ url('dashboard.views.index') }}">{{ _('Sign In') }}</a>
</p>

{% endblock %}
