{% extends "base.html" %}

{% load l10n_tags %}

{% block title %}{{ _('Forgot Your Password?') }}{% endblock %}
{% block pageclasses %}signin{% endblock %}
{% block body %}

<form action="{% locale_url users.views.forgot_password %}" method="post">
  <fieldset>
    <legend>{{ _('Forgot your Password?') }}</legend>  
    {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}
        {{ field.as_widget }}
      </p>
      {% endfor %}
      <p>
        <button type="submit">{{ _('Send') }}</button>
      </p>
  </fieldset>
</form>
<p>
  <a href="{% locale_url dashboard.views.index %}">{{ _('Sign In') }}</a>
</p>

{% endblock %}
