{% extends "base.html" %}
{% block title %}{{ _('Forgot Your Password?') }}{% endblock %}
{% block pageclasses %}signin{% endblock %}
{% block body %}

<form action="{{ url('users.views.forgot_password') }}" method="post">
  <fieldset>
    <legend>{{ _('Forgot your Password?') }}</legend>  
      <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}" />
      {% for field in form %}
      <p>
        {{ field.label_tag()|safe }}
        {{ field.as_widget()|safe }}
      </p>
      {% endfor %}
      <p>
        <button type="submit">{{ _('Send') }}</button>
      </p>
  </fieldset>
</form>
<p>
  <a href="{{ url('dashboard.views.index') }}">{{ _('Sign In') }}</a>
</p>

{% endblock %}
