{% extends "base.html" %}

{% load l10n_tags %}

{% block title %}{{ _('Reset Password') }}{% endblock %}
{% block bodyclasses %}signin password_reset{% endblock %}
{% block body %}
<section class="modal">
  <article>
    <h1>{{ _('Reset Password') }}</h1>
    <fieldset>
      {% if validlink %}
      <form method="post" action="">
        {% csrf_token %}
        <p>
          <label for="id_new_password1">{{ _('New Password') }}</label>
          {{ form.new_password1 }}
          {{ form.new_password1.errors }}
        </p>
        <p>
          <label for="id_new_password2">{{ _('Confirm Password') }}</label>
          {{ form.new_password2 }}
          {{ form.new_password2.errors }}
        </p>
        <p>
          <button type="submit">{{ _('Update') }}</button>
        </p>
      </form>
      {% else %}
      <p>
        {{ _('Hmm, that does not appear to be a correct link.') }}
      </p>
      {% endif %}
    </fieldset>
  </article>
</section>
{% include "_footer.html" %}
{% endblock %}
