{% extends "base.html" %}
{% block title %}{{ _('OpenID Sign In') }}{% endblock %}
{% block body %}
<h1><a href="{{ url('users.views.login_openid') }}">Sign In</a></h1>
<div class="form">
{% if error %}
<div class="error">
  <p>{{ error }}</p>
</div>
{% endif %}
<fieldset>
  <legend>{{ _('Sign In Using Your OpenID') }}</legend>
  <form name="openid" action="{{ url('users.views.login') }}" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
      <label for="openid">{{ _("OpenID:") }}</label>
      <input class="openid" id="openid" name="openid_identifier" />
      <input name="signin" type="submit" value="{{ _('Sign In') }}" />
  </form>
</fieldset>
<p>
    Not a member? <a href="{{ url('users.views.register') }}">Sign up</a>!
</p>
{% endblock %}
