{% extends "base.html" %}

{% load l10n_tags %}

{% block title %}{{ _('OpenID Sign In') }}{% endblock %}
{% block pageclasses %}signin openid{% endblock %}
{% block body %}

<form action="{% locale_url users_login_openid %}" method="post">
  <fieldset>
    <legend>{{ _('Sign In Using Your OpenID') }}</legend>
    {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}
        {{ field.as_widget }}
      </p>
      {% endfor %}
      <p>
        <button type="submit">{{ _('Sign In') }}</button>
      </p>
  </fieldset>
</form>
<p><a href="{% locale_url users_login %}">{{ _('Sign in with a username and password') }}</a></p>
<p>{{_('Not a member?') }} <a href="{% locale_url users_register %}">{{_('Sign up')}}</a>!</p>

{% endblock %}
