{% extends "users/profile_edit.html" %}

{% load l10n_tags %}
{% block bodyclasses %}profile edit info{% endblock %}
{% block form %}
<fieldset id="profile_edit_info" class="profile edit info tabpane">
<form action="{% locale_url users_profile_edit %}" method="post">
  {% csrf_token %}
  <div class="field{% if form.display_name.errors %} error{% endif %}">
    <label for="id_display_name">{{ _('Full Name') }}</label>
    {{ form.display_name }}
    {{ form.display_name.errors }}
  </div>
  <div class="field{% if form.location.errors %} error{% endif %}">
    <label for="id_location">{{ _('Location') }}</label>
    {{ form.location }}
    {{ form.location.errors }}
  </div>
  <div class="field{% if form.bio.errors %} error{% endif %}">
    <label for="id_bio">{{ _('Bio') }}</label>
    {{ form.bio }}
    {{ form.bio.errors }}
  </div>
  <p class="buttons">
    <a class="button" href="{{ profile.get_absolute_url }}">Cancel</a>
    <button type="submit" >Save</button>
  </p>
</form>
</fieldset>
{% endblock %}
