{% extends "users/profile_edit.html" %}

{% load l10n_tags %}

{% block bodyclasses %}profile edit links{% endblock %}
{% block form %}
<fieldset id="profile_edit_links" class="profile edit links tabpane">
<h2>{{ _('Links') }}</h2>
<p class="hint">{{ _('Add links to your blog, homepage, twitter profile, github repository etc. These links will appear on your profile.') }}</p>
<form action="{% locale_url users_profile_edit_links %}" method="post">
  {% csrf_token %}
  <div class="field link name{% if form.name.errors %} error{% endif %}">
    <label for="id_name">{{ _('Name') }}</label>
    {{ form.name }}
    {{ form.name.errors }}
  </div>
  <div class="field link url{% if form.url.errors %} error{% endif %}">
    <label for="id_url">{{ _('Url') }}</label>
    {{ form.url }}
    {{ form.url.errors }}
  </div>
  <p class="buttons add-link">
    <button type="submit">{{ _('Add') }}</button>
  </p>
</form>
{% if links %}
<table>
<thead>
  <tr>
    <th>{{ _('Name') }}</th>
    <th>{{ _('URL') }}</th>
    <th>{{ _('Subscribed') }}</th>
    <th>{{ _('Actions') }}</th>
  </tr>
</thead>
<tbody>
  {% for link in links %}
    <tr>
      <td class="name">{{ link.name }}</td>
      <td class="url"><a href="{{ link.url }}" title="{{ link.url }}">{{ link.url }}</a></td>
      <td class="subscription">{% if link.subscription.verified %}<span class="yes">{{ _('yes') }}</span>{% endif %}</td>
      <td class="actions">
        <form action="{% locale_url users_profile_edit_links_delete link=link.id %}" method="post">
          {% csrf_token %}
          <button type="submit" value="{{ _('Delete') }}">{{ _('Delete') }}</button>
        </form>
      </td>
    </tr>
  {% endfor %}
</tbody>
</table>
{% endif %}


</fieldset>
{% endblock %}
