{% extends "users/profile_edit.html" %}

{% load l10n_tags %}

{% block bodyclasses %}profile edit image{% endblock %}
{% block form %}

<fieldset id="profile_edit_image" class="profile edit image tabpane">
<form action="{% locale_url users_profile_edit_image %}" method="post" enctype="multipart/form-data"
      data-url="{% locale_url users_profile_edit_image_async %}">
  {% csrf_token %}
  {% if profile.image %}
  <h2>Replace Profile Image</h2>
  <p class="hint">{{ _('Upload an image file from your computer to replace your current profile image:') }}</p>  
  {% else %}
  <h2>Upload a Profile Image</h2>
  <p class="hint">{{ _('Personalize your profile image by uploading an image file from your computer:') }}</p>  
  {% endif %}

  <div class="field{% if form.image.errors %} error{% endif %}">
    {{ form.image }}
    <small class="hint block">{{ _('JPG, GIF or PNG only. Max size of 700k.') }}</small>
    {{ form.image.errors }}
  </div>
  <p class="buttons">
    <a class="button" href="{{ profile.get_absolute_url }}">Cancel</a>
    <button type="submit" value="{{ _('Upload') }}">{{ _('Upload') }}</button>
  </p>
</form>
<p class="picture-preview"><img class="member-picture" src="{{ MEDIA_URL }}{{ profile.image_or_default }}" /></p>
</fieldset>
{% endblock %}
