{% extends "base.html" %}
{% load l10n_tags %}
{% load user_tags %}
{% load activity_tags %}
{% load pagination_tags %}

{% block title %}{{ profile.username }}{% endblock %}

{% block links %}
<link rel="alternate" type="application/atom+xml" href="{% locale_url activity_profile_feed username=profile.username %}" title="{{_('Activity from user\'s profile')}}" />
<link rel="alternate" type="application/atom+xml" href="{% locale_url activity_dashboard_feed username=profile.username %}" title="{{_('Activity from user\'s dashboard')}}"/>
<link rel="profile" href="http://microformats.org/profile/hcard" />
{% endblock %}

{% block bodyid %}user_profile{% endblock %}
{% block breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url users_user_list %}">{{ _('People') }}</a>
  <span class="arrow">&rsaquo;</span>
  <a href="{{ profile.get_absolute_url }}">{{ profile.username }}</a>
{% endblock %}
{% block breadcrumbs_actions %}
    {% if user == profile.user %}
      <a class="button" href="{% locale_url users_profile_edit %}">{{ _('Edit Profile') }}</a>
    {% endif %}
{% endblock %}

{% block body %}

{% user_sidebar %}

<div id="main">
  {% activity_filters request profile.get_absolute_url %}
  <ul id="posts">
    {% for activity in pagination_current_page.object_list %}
    {% include "activity/_activity_resource.html" %}
    {% endfor %}
  </ul>
  {% with prefix='' page_url=profile.get_absolute_url %}
    {% pagination_links %}
  {% endwith %}

</div> <!-- /#main -->

{% endblock %}

