{% extends "base.html" %}

{% load l10n_tags %}

{% block title %}{{ _('Edit Profile') }}{% endblock %}
{% block bodyid %}profile_edit{% endblock %}
{% block bodyclasses %}profile edit info{% endblock %}

{% block breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url users_user_list %}">{{ _('People') }}</a>
  <span class="arrow">&rsaquo;</span>
  <a href="{{ profile.get_absolute_url }}">{{ profile.username }}</a>
{% endblock %}

{% block body %}
<section class="modal nav">
  <article>

    <h1>
      {{ _('Edit Profile') }}
      <a class="pester back_link" href="{{ profile.get_absolute_url }}">({{ _('View Profile') }})</a>
    </h1>
    <nav id="profile-edit-nav" class="tabs">
	    <ul>
        <li class="info {% if general_tab %}active{% endif %}"><a href="{% locale_url users_profile_edit %}">{{ _('Basic Information') }}</a></li>
        <li class="links {% if link_tab %}active{% endif %}"><a href="{% locale_url users_profile_edit_links %}">{{ _('Links') }}</a></li>
        <li class="notifications {% if settings_tab %}active{% endif %}"><a href="{% locale_url preferences_settings %}">{{ _('Notifications') }}</a></li>
        <li class="email {% if email_tab %}active{% endif %}"><a href="{% locale_url preferences_email %}">{{ _('Update Email') }}</a></li>
        <li class="password {% if password_tab %}active{% endif %}"><a href="{% locale_url preferences_password %}">{{ _('Update Password') }}</a></li>
        <li class="links {% if openids_tab %}active{% endif %}"><a href="{% locale_url users_profile_edit_openids %}">{{ _('OpenIDs') }}</a></li>
        <li class="badges {% if badges_tab %}active{% endif %}"><a href="{% locale_url users_badges_manage %}">{{ _('Manage Badges') }}</a></li>
        <li class="delete {% if delete_tab %}active{% endif %}"><a href="{% locale_url preferences_delete %}">{{ _('Delete Account') }}</a></li>
	    </ul>
    </nav>

      {% block form %}{% endblock %}

  </article>
</section>
{% endblock %}

