{% extends "base.html" %}
{% load l10n_tags %}
{% load i18n %}
{% load truncate_chars %}
{% block title %}{{ profile.username }}{% endblock %}

{% block links %}
<link rel="alternate" type="application/atom+xml" href="{% locale_url activity_user_feed username=profile.username %}">
<link rel="profile" href="http://microformats.org/profile/hcard" />
{% endblock %}

{% block bodyid %}user_profile{% endblock %}
{% block breadcrumbs %}
  <div class="container">
    <nav>
      <a href="{% locale_url users_user_list %}">{{ _('People') }}</a>
      <span class="arrow">&rsaquo;</span>
      <a href="{{ profile.get_absolute_url }}">{{ profile.username }}</a>
    </nav>
    {% if user == profile.user %}
      <div id="project-actions">
        <a class="button" href="{% locale_url users_profile_edit %}">{{ _('Edit Profile') }}</a>
      </div>
    {% endif %}
  </div> <!-- /.container -->
{% endblock %}

{% block body %}
<div id="sidebar">
<div class="vcard panel">
  <img class="member-picture" src="{{ profile.image_or_default }}" height="54" width="54">
  <div class="member-details">
    <h1 class="member-name">
      <span class="fn">{{ profile.display_name }}</span>
    </h1>
    {% if user.is_authenticated %}
    <div class="member-actions">
      {% if user != profile.user %}
        {% if profile in user.get_profile.following %}
        <form action="{% locale_url relationships_unfollow object_type='user' slug=profile.username %}" method="post">
          {% csrf_token %}
          <button id="unfollow-user" >{{ _('Unfollow') }}</button>
        </form>
        {% else %}
        <form action="{% locale_url relationships_follow object_type='user' slug=profile.username %}" method="post">
          {% csrf_token %}
          <button id="follow-user">{{ _('Follow') }}</button>
        </form>
        {% endif %}
        <a class="button" href="{% locale_url drumbeatmail_compose_to username=profile.username %}">{{ _('Private Message')}}</a>
      {% endif %}
    </div>
    {% endif %}
  </div> 
  
  <div class="member-bio">
	  {{ profile.bio|safe }}
	</div>
	
	{% if profile.location %}
  <dl class="member-location">
  <dt>{{ _('Location:') }}</dt> 
  <dd class="adr"><a href="#" title="{{ _('See more in ') }}{{ profile.location }}">{{ profile.location }}</a></dd>
  </dl>
  {% endif %}
  
  {% if skills %}
  <ul class="tags skills">
    {% for skill in skills %}
    <li><a href="#" title="{{ _('See more about ') }}{{ skill.name }}">{{ skill.name }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if interests %}
  <ul class="tags interests">
    {% for interest in interests %}
    <li><a href="#" title="{{ _('See more about ') }}{{ interest.name }}">{{ interest.name }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if user.is_authenticated and user != profile.user %}
  <p class="supplemental_actions">
    <a class="report abuse action" href="{% locale_url drumbeat_abuse model="userprofile" app_label="users" pk=profile.id  %}">{{_('Report Abuse')}}</a>
  </p>  
  {% endif %}
</div> <!-- /.vcard -->

<div id="member_relationships" class="panel">
  <h3>{{ _('Followers') }} <span class="followers count">{{ followers|length }}</span></h3>
  <ul class="users followers">
  {% for user_follower in followers|slice:":36" %}
    <li><a href="{{ user_follower.get_absolute_url }}" title="{{ user_follower.display_name }}"><img class="member-picture" src="{{ user_follower.image_or_default }}" height="26" width="26" alt="{{ user_follower.display_name }}"></a></li>
  {% endfor %}
  </ul>
  <h3>{{ _('Following') }} <span class="following count">{{ following|length }}</span></h3>
  <ul class="users following">
  {% for user_following in following|slice:":36" %}
    <li><a href="{{ user_following.get_absolute_url }}" title="{{ user_following.display_name }}"><img class="member-picture" src="{{ user_following.image_or_default }}" height="26" width="26" alt="{{ user_following.display_name }}"></a></li>
  {% endfor %}
  </ul>
  {% if projects|length > 0 %}
  <h3>{{ _('Study Groups') }} <span class="projects count">{{ projects_following|length}}</span></h3>
  <ul>
  {% for project in projects_following %}
    <li>
      <a href="{{ project.get_absolute_url }}" title="{{project.name}} {{project.relation_text}}">
        {% if project.image %}
        <img src="{{ MEDIA_URL }}{{ project.image }}" width="42" height="26" alt="project image"/>
        {% else %}
        <img src="/media/images/project-missing.png" width="42" height="26" alt="project image" class="project picture"/>
        {% endif %}
      </a>
    </li>
  {% endfor %}
  </ul>
  {% endif %}
</div> <!-- /#member_relationships-->
{% if links %}
<div id="member_links" class="panel">
  <ul>
    {% for link in links %}
    <li><a class="externalLink" href="{{ link.url }}" title="{{ link.name }}">{{ link.name }}</a>
      {% if user == profile.user %}
        {% if not forloop.first %}<a class="robttn up" href="{% locale_url link_index_up counter=forloop.counter0 %}">(UP)</a>{% endif %}
        {% if not forloop.last %}<a class="robttn dwn" href="{% locale_url link_index_down counter=forloop.counter0 %}">(DOWN)</a>{% endif %}
      {% endif %}
    
    </li>
    {% endfor %}
  </ul>
</div> <!-- /#member_links -->
{% endif %}
</div> <!-- /#sidebar -->

<div id="main">
    <ul id="posts">
      {% for activity in activities %}
      {% include "activity/_activity_resource.html" %}
      {% endfor %}
    </ul>
</div> <!-- /#main -->

{% endblock %}

