{% extends "base.html" %}

{% load l10n_tags %}

{% block title %}{{ _('Sign Up') }}{% endblock %}
{% block pageclasses %}signin openid{% endblock %}
{% block body %}

<div id="sidebar">

</div>

<div id="main">

<form action="{% locale_url users_register_openid %}" method="post">
  <fieldset>
    <legend>{{ _('Sign Up Using Your OpenID') }}</legend>
    {% csrf_token %}
    <p>
      <label for="id_openid_identifier">{{ _('OpenID URL') }}</label>
      {{ form.openid_identifier }}
      {{ form.openid_identifier.errors }}
    </p>
    <p>
      <button type="submit">{{ _('Sign Up') }}</button>
    </p>
  </fieldset>
</form>
<p>{{  _('Already have an account?') }} <a href="{% locale_url users_login %}">{{_('Sign in here')}}</a>.</p>
</div>

{% endblock %}
