{% extends "base.html" %}

{% load l10n_tags %}

{% block title %}Reset Password{% endblock %}
{% block body %}

<fieldset>
  <legend>{{ _('Reset Password') }}</legend>
  <form action="{% locale_url users.views.reset_password_form username=username token=token) %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="username" value="{{ username }}" />
    <input type="hidden" name="token" value="{{ token }}" />
    {% for field in form %}
      {% if not field.is_hidden %}
        <p>
          {{ field.label_tag }}
          {{ field.as_widget }}
	</p>
      {% endif %}
    {% endfor %}
    <p>
      <input type="submit" value="{{ _('Reset') }}" />
    </p>
  </form>
</fieldset>

{% endblock %}
