{% extends "users/profile_edit.html" %}

{% load l10n_tags %}

{% block bodyclasses %}edit account delete{% endblock %}
{% block title %}{{ _('Delete Your Account') }}{% endblock %}
{% block form %}
<fieldset id="edit_account_delete" class="edit account delete tabpane">
  <div class="warning">
    <h2>{{ _('Delete Your Account') }}</h2>
    <p>{{ _('Are you sure you would like to delete your account? Be aware that you will not be able to login again to this account after you delete it.') }}</p>
    {% if pending_projects %}
      <p>{{ _('You are currently the only organizer of the following non-archived study groups, courses ...') }}</p>
      <ul>
        {% for project in pending_projects %}
          <li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
        {% endfor %}
      </ul>
      <p>Before you can delete your account you need to select another organizer for them, or change their status appropiatedly.</p>
    {% endif %}
  </div>
  <form method="post" action="{% locale_url preferences_delete %}">
    {% csrf_token %}
    <p class="buttons">
      <a class="button" href="{% locale_url dashboard %}">{{ _('Cancel') }}</a>
      <button type="submit" value="{{ _('Delete') }}">{{ _('Delete') }}</button>
    </p>
  </form>
</fieldset>
{% endblock %}
