{% extends "base.html" %}

{% load l10n_tags %}

{% block title %}{{ _('Sign In') }}{% endblock %}
{% block bodyclasses %}signin{% endblock %}
{% block body %}
<section class="modal">
  <article>
    <h1>{{ _('Sign In') }} <span class="pester">or <a href="{% locale_url users_register %}" tabindex="7">create an account</a></span></h1>
    <fieldset>
        <form action="{% locale_url users_login %}" method="post">
        {% csrf_token %}
        <div class="field{% if form.username.errors %} error{% endif %}">
          <label for="id_username">{{ _('Username or Email') }}</label>
          {{ form.username }}
          {{ form.username.errors }}
        </div>
        <div class="field{% if form.password.errors %} error{% endif %}">
          <label for="id_password">{{ _('Password') }} <small class="hint">(<a href="{% locale_url users_forgot_password %}" tabindex="6">{{ _('Forgot your password?') }}</a>)</small></label>
          {{ form.password }}
          {{ form.password.errors }}          
        </div>
        <div class="field inline_label{% if form.remember_me.errors %} error{% endif %}">
          <label for="id_remember_me">
          {{ form.remember_me }}
          {{ form.remember_me.errors }}
          {{ _('Remember Me') }}
          </label>
        </div>        
        <p class="submit">
          <button type="submit" tabindex="4">{{ _('Sign In') }}</button>
          {{ _('or use') }}
          <a class="openid" href="{% locale_url users_login_openid %}" tabindex="5">{{ _('OpenID')}}</a>
        </p>
      </form>      
    </fieldset>
  </article>
</section>
{% include "_footer.html" %}
{% endblock %}
