{% extends "base.html" %}

{% load l10n_tags %}

{% block title %}Users{% endblock %}
{% block body %}

<h2>{{ heading }}</h2>

<ul>
{% for user in users %}
<li>
  <a href="{% locale_url profiles_show username=user.username %}">
    {{ user.username }}
  </a>
  {% if user.id in following %}
    <form action="{% locale_url relationships_unfollow %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="user" value="{{ user.id }}" />
	<input type="submit" value="Unfollow" />
    </form>
  {% else %}
    <form action="{% locale_url relationships_follow %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="user" value="{{ user.id }}" />
	<input type="submit" value="Follow" />
    </form>
  {% endif %}
</li>
{% endfor %}
</ul>

<p>
  <a href="{% locale_url dashboard_index %}">Your Dashboard</a>
</p>

{% endblock %}
