{% extends "base.html" %}

{% load l10n_tags %}

{% block title %}Users{% endblock %}
{% block bodyid %}user_list{% endblock %}

{% block body %}

<h2>{{ heading }}</h2>

<ul>
{% for user in users %}
<li>
  <a href="{{ user.get_profile.get_absolute_url }}">
    {{ user.name }}
  </a>
  {% if user in following %}
    <form action="{% locale_url relationships_unfollow object_type='user' slug=user.username %}" method="post">
        {% csrf_token %}
	<input type="submit" value="Unfollow" />
    </form>
  {% else %}
    <form action="{% locale_url relationships_follow object_type='user' slug=user.username %}" method="post">
        {% csrf_token %}
	<input type="submit" value="Follow" />
    </form>
  {% endif %}
</li>
{% endfor %}
</ul>

{% endblock %}
