{% extends "base.html" %}

{% load l10n_tags %}

{% block title %}Users{% endblock %}
{% block bodyid %}user_list{% endblock %}
{% block breadcrumbs %}
<div class="container">
  <nav>
    <a href="{% locale_url users_user_list %}">{{ _('People') }}</a>
  </nav>
</div>
{% endblock %}

{% block body %}
<h1>{{ _('Browse <b>People</b>') }}</h1>
<section>
  <h1><span>{{ _('Featured') }}</span></h1>
  <ul class="user-list">
    {% for person in featured %}
      <li><a href="{{  person.get_absolute_url }}">{{ person.name }}</a> &ndash; {{ person.followers|length }} &ndash; {{ person.status_set.count }} </li>
    {% endfor %}
  </ul>
</section>
<section>
  <h1><span>{{ _('Popular') }}</span></h1>
  <ul class="user-list">
    {% if popular %}
    {% for person in popular %}
      <li><a href="{{  person.get_absolute_url }}">{{ person.name }}</a> &ndash; {{ person.followers|length }} &ndash; {{ person.status_set.count }} </li>
    {% endfor %}
    {% endif %}
  </ul>
</section>
<section>
  <h1><span>{{ _('Newest Users') }}</span></h1>
  <ul class="user-list">
    {% for person in new %}
      <li><a href="{{  person.get_absolute_url }}">{{ person.name }}</a> &ndash; {{ person.followers|length }} &ndash; {{ person.status_set.count }} </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
