<ul class="actions unstyled">
    <li>
        <a href="#courses">
            <div class="actions-icons"></div>


            <h2>Courses</h2>
        </a>

        <p>
            Take courses that interest you with other peers...
            <a href="https://p2pu.org/en/groups/">Find a Course <i class="icon-double-angle-right"></i></a>
        </p>

    </li>
    <li>
        <a href="#badges">
            <div class="actions-icons"></div>
            <h2>Badges</h2>
        </a>

        <p>
            Get feedon a project you love...
            <a href="http://badges.p2pu.org">Get a Badge <i class="icon-double-angle-right"></i></a>
        </p>
    </li>
    <li>
        <a href="#schools">
            <div class="actions-icons"></div>

            <h2>Schools</h2>
        </a>

        <p>
            Join your peers with the same interests.
            <a href="https://p2pu.org/en/groups/">Go to School <i class="icon-double-angle-right"></i></a>
        </p>
    </li>
    <li>
        <a href="#moocs">
            <div class="actions-icons"></div>

            <h2>MOOCs</h2>
        </a>

        <p>Participate in one of our unplatformed large courses. </p>
    </li>
    <li>
        <a href="#blog">
            <div class="actions-icons"></div>

            <h2>Blog</h2>
        </a>

        <p>Read the enlightened thoughts of people in the community. </p>
    </li>
    <li>
        <a href="#community">
            <div class="actions-icons"></div>

            <h2>Community</h2>
        </a>

        <p>Join a community of peers to learn and learn from. </p>
    </li>
</ul>