{% load learn_tags %}
<ul class="actions unstyled">
    <li>
        <a href="#courses">
            <div class="actions-icons"></div>


            <h2>Courses</h2>
        </a>
        <p>
            Take a course to learn something new. Or create a course to share what you know with others.
        </p>
    </li>
    <li>
        <a href="#badges">
            <div class="actions-icons"></div>
            <h2>Badges</h2>
        </a>
        <p>
            Get feedback and receive a badge for projects you care about.
            Or create a new badge and let people submit their work.
        </p>
    </li>
    <li>
        <a href="#schools">
            <div class="actions-icons"></div>

            <h2>Schools</h2>
        </a>
        <p>
            Schools are communities that form around specific topic areas. They run courses,
            organize webinars, and create badges together.
        </p>
    </li>
    <li>
        <a href="#moocs">
            <div class="actions-icons"></div>

            <h2>MOOCs</h2>
        </a>
        <p>
            Our MOOCs are big learning communities that run on the web.
            Lots of people sign up, and we facilitate collaboration and team work.
        </p>
    </li>
    <li>
        <a href="#blog">
            <div class="actions-icons"></div>

            <h2>Blog</h2>
        </a>
        <p>
            Get the latest news and updates from P2PU. New projects. Big ideas.
        </p>
    </li>
    <li>
        <a href="#community">
            <div class="actions-icons"></div>

            <h2>Community</h2>
        </a>

        <p>
            The core of P2PU is an open community. We are building a new university together. Join us!
        </p>
    </li>
</ul>
