{% load i18n %}
{% load l10n_tags %}
{% load learn_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>P2PU | {% trans 'A University for the Web. Built by an open community' %}</title>
	<meta name="description" content="{% trans 'Learning for everyone, by everyone, about almost anything.' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if debug %}
		<link rel="stylesheet" href="{{ STATIC_URL }}sass/home_page.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}sass/homepage-responsive.css">
	{% else %}
		<link rel="stylesheet" href="{{ STATIC_URL }}css/home_page.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/homepage-responsive.css">
	{% endif %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/p2pu-bootstrap.css">
	<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
	<link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png">

	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Arvo:regular,italic,bold,bolditalic" rel="stylesheet"
	      type="text/css">
	{% block css %}{% endblock %}

	<script src="{{ STATIC_URL }}js/libs/modernizr-2.6.2-respond-1.1.0.min.js"></script>

	{% block head_js %}
		<script src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>{% endblock %}
</head>
<body id="{% block bodyid %}{% endblock %}" class="{% block bodyclasses %}{% endblock %}">
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<nav>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner p2pu-navbar">
			<div class="container">
				<a class="brand" href="{% url home %}">P2PU</a>

				<div class="">
					<ul class="nav top-menu">
						<li>
							<a class="p2pu-tab" href="#">
								<i class="icon-chevron-sign-down"></i>
							</a>
						</li>
					</ul>
					{% block navigation_items %}{% endblock %}
					<ul class="nav top-menu pull-right">
						<li>
							{% if user.is_authenticated %}
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									{% if user.get_profile %}
										<img id="user-picture" src="{{ user.get_profile.image_or_default }}" height="30px" width="30px"
										     alt="" />
									{% else %}
										<img id="user-picture" src="{{ STATIC_URL }}images/john-icon.png" height="30px" width="30px"
										     alt="" />

									{% endif %}
									<span class="add-standard-left-padding">{{ user.username }} <i class="icon-caret-down"></i></span>
								</a>
								<ul class="dropdown-menu">
									<!-- <li><a href="{% locale_url dashboard %}" class="sub-level">{{ _('Dashboard') }}</a></li> -->
									<li><a href="{{ user.get_profile.get_absolute_url }}" class="sub-level">{{ _('My Profile') }}</a></li>
									<li><a href="{% locale_url users_profile_edit %}" class="sub-level">{{ _('My Settings') }}</a></li>
									<li><a href="{% locale_url chat %}" class="sub-level" target="_blank">{{ _('Chat') }}</a></li>
									<li><a href="{% locale_url drumbeatmail_inbox %}" class="sub-level">{{ _('Inbox') }}
										{% if messages_inbox_count > 0 %}<span id="inbox-count" class="new-messages">
											{{ messages_inbox_count }}</span>{% endif %}</a></li>
									<li><a href="{% locale_url users_logout %}" class="sub-level">{{ _('Logout') }}</a></li>
								</ul>
							{% else %}
								<a class="sign-in pull-right"
								   href="{{ login_with_redirect_url }}">{% trans 'Login' %} </span>
								</a>
							{% endif %}
						</li>

					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>
</nav>

<div class="container">
	<ul class="action clearfix unstyled">
    <span id="breadcrumbs-actions" class="pull-right">
    {% block breadcrumbs_actions %}{% endblock %}
  </span>
	</ul>
	{% block breadcrumbs_title %}{% endblock %}
</div>

{% block body %}

{% endblock %}


<footer>
	<div class="container">
		<hr>
		<a href="https://p2pu.org/en/pages/terms-of-use/" target="_blank">
			<img class="pull-right" src="{{ STATIC_URL }}images/cc-icons.png" alt="{% trans 'CC logo' %}" />
		</a>
	</div>
</footer>
</div>

{% block jquey %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/vendor/jquery-1.8.2.min.js"><\/script>')</script>
{% endblock %}
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript"
        src="https://rawgithub.com/ercchy/p2pu_navigation_widget/master/p2pu_menu_slider.js"></script>

<script src="{{ STATIC_URL }}js/homepage-script.js"></script>
<script>
	Lernanta.Homepage.init();
</script>
{% block js %}

{% endblock %}

{% if not debug %}
<!-- Google Analytics -->
	<script type="text/javascript">

		var _gaq = _gaq || [];

		{% if google_analytics_tracking_codes %}
			{% for tracking_code in google_analytics_tracking_codes %}
				_gaq.push(['{{ tracking_code.key }}._setAccount', '{{ tracking_code.code }}']);
				{% if tracking_code.logged_in_status %}
					_gaq.push(['{{ tracking_code.key }}._setCustomVar',
						1,
						'logged_in_status',
						{% if user.is_authenticated %}'logged_in'{% else %}'anonymous'{% endif %},
						1
					]);
				{% endif %}
				{% if tracking_code.registration_event and send_registration_event %}
					_gaq.push(['{{ tracking_code.key }}._trackEvent', 'user', 'create']);
				{% endif %}
				_gaq.push(['{{ tracking_code.key }}._trackPageview']);
			{% endfor %}
		{% endif %}

		(function () {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();

	</script>

	{% if google_analytics_tracking_codes %}
		{% for tracking_code in google_analytics_tracking_codes %}
			{% if send_registration_event and tracking_code.adwords_conversion_id and tracking_code.adwords_conversion_label %}
<!-- Google Code for sign_up Conversion Page -->
				<script type="text/javascript">
					/* <![CDATA[ */
					var google_conversion_id = {{ tracking_code.adwords_conversion_id }};
					var google_conversion_language = "{{ _('en') }}";
					var google_conversion_format = "3";
					var google_conversion_color = "ffffff";
					var google_conversion_label = "{{ tracking_code.adwords_conversion_label }}";
					var google_conversion_value = 0;
					/* ]]> */
				</script>
				<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js"></script>
				<noscript>
					<div style="display:inline;">
						<img height="1" width="1" style="border-style:none;" alt=""
						     src="https://www.googleadservices.com/pagead/conversion/{{ tracking_code.adwords_conversion_id }}/?value=0&amp;label={{ tracking_code.adwords_conversion_label }}&amp;guid=ON&amp;script=0" />
					</div>
				</noscript>
			{% endif %}
			{% if tracking_code.chartbeat_uid %}
				<script type="text/javascript">
					var _sf_async_config = {};
					/** CONFIGURATION START **/
					_sf_async_config.uid = {{ tracking_code.chartbeat_uid }};
					_sf_async_config.domain = "{{ site.domain }}";
					/** CONFIGURATION END **/
					(function () {
						function loadChartbeat() {
							window._sf_endpt = (new Date()).getTime();
							var e = document.createElement("script");
							e.setAttribute("language", "javascript");
							e.setAttribute("type", "text/javascript");
							e.setAttribute("src",
									(("https:" == document.location.protocol) ?
											"https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" :
											"http://static.chartbeat.com/") +
											"js/chartbeat.js");
							document.body.appendChild(e);
						}

						var oldonload = window.onload;
						window.onload = (typeof window.onload != "function") ?
								loadChartbeat : function () {
							oldonload();
							loadChartbeat();
						};
					})();
				</script>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endif %}
</body>
</html>
