{% load i18n %}

<h2>{% trans 'Blog' %}</h2>
<h4>{% trans 'News and Updates from P2PU' %}</h4>
<hr>
<ul class="unstyled blog-list clearfix">
    {% for entry in feed_entries %}
        <li class="span6">
            <div class="blog-feed-wrap">
                <h4>
                    <a href="{{ entry.link }}" target="_blank">
                        {{ entry.title|truncatewords:17 }} <i class="icon-chevron-right"></i>
                    </a>
                </h4>

                <div class="caption">
                    {{ entry.description|safe }}
                </div>
            </div>
        <hr>
    </li>
    {% endfor %}
</ul>
