<h2>Blog</h2>
<h4>News and Updates from P2PU</h4>
<hr>
<ul class="unstyled blog-list">
    {% for entry in feed_entries %}
        <li class="span6">
            <div class="blog-feed-wrap">
                <h4>
                    <a href="{{ entry.link }}" target="_blank">
                        {{ entry.title }} <i class="icon-chevron-right"></i>
                    </a>
                </h4>

                <div class="caption">
                    {{ entry.description|safe }}
                </div>
            </div>
        <hr>
    </li>
    {% endfor %}
</ul>