<span id="community" class="top-offset-span">&nbsp;</span>

<h2>Community</h2>
<h4>We are...</h4>
<ul class="we-are">
    <li>
        <img src="https://p2pu.org/media/images/profiles/1/92f4981c3abbda840f9815c889895d8a.jpg" alt=""/>

        <div class="caption">
            <a href="#">Vanessa</a>
        </div>
    </li>
    <li>
        <img src="https://p2pu.org/media/images/profiles/1/e358bf645a205cf15efa983b5517d945.jpg" alt=""/>

        <div class="caption">
            <a href="#">Bekka</a>
        </div>
    </li>
    <li>
        <img src="https://secure.gravatar.com/avatar/811ae8f5dbf33ff104ce648294c99790?s=240&amp;d=https%3A%2F%2Fp2pu.org%2Fstatic%2Fimages%2Fmember-missing.png&amp;r=g"
             alt=""/>

        <div class="caption">
            <a href="#">Leah</a>
        </div>
    </li>
    <li>
        <img src="https://p2pu.org/media/images/profiles/45/7e1929bee20dd647745815803246ffff_1.jpg" alt=""/>

        <div class="caption">
            <a href="#">Dirk</a>
        </div>
    </li>
    <li>
        <img src="https://p2pu.org/media/images/profiles/1/43923ac74b532ddbda28c14f09303c99.png" alt=""/>

        <div class="caption">
            <a href="#">Philipp</a>
        </div>
    </li>
    <li>
        <img src="https://p2pu.org/media/images/profiles/1/e7d07a7e9b3595c908548b5b150a4a38.jpg" alt=""/>

        <div class="caption">
            <a href="#">Jane</a>
        </div>
    </li>
</ul>
<p>
    ... some very curious people, who like to learn and teach and preach to anyone who is interested.
    New people in our community excites us, so there is constant expanding where we "reside".
</p>

<h3>You are invited.</h3>

<p>
    Talk with us, make us help you wrangle your course or just help us make you smile.
</p>

<div class="controls clearfix">
    <a class="p2pu-btn-cyan" href="http://thepeople.p2pu.org">Join the discussion <i
            class="icon-chevron-sign-right"></i> </a>
</div>