{% load i18n %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ STATIC_URL }}sass/home_page.css">

    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo:regular,italic,bold,bolditalic" rel="stylesheet"
          type="text/css">

    <script src="{{ STATIC_URL }}js/libs/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

{% include 'homepage/top_navigation.html' %}

{% include 'homepage/jumbotron_section.html' %}

<section>
<div class="container">
{% include 'homepage/action_menu.html' %}

<span id="blog" class="top-offset-span">&nbsp;</span>

<div class="billboard top">
    {% include 'homepage/blog_feed.html' %}
    {% comment %}
    {% include 'homepage/community_section.html' %}
    {% endcomment %}
</div>
</div>
<!-- /container -->
</section>
<!-- Courses Section -->
{% include 'homepage/courses_section.html' %}
<!-- Badges Section -->
{% comment %}
<section>
    <span id="badges" class="top-offset-span">&nbsp;</span>

    <div class="container">
        <div class="section-title-wrap">
            <h1 class="section-title">Badges</h1>
            <a href="#top-page" class="pull-right back-to-top-link">To the top <i class="icon-arrow-up"> </i></a>
        </div>
        <div class="billboard">
            <h4>Get feedback for a project you love.</h4>

            <div class="featured-items-wrap badges">
                <ul class="featured-items-list">
                    <li class="featured-items-item span3">
                        <div class="featured-items-item-wrap">
                            <img class="featured-items-img"
                                 src="http://badges.p2pu.org/media/images/a_look_at_openvideo_400_397880a4-24d1-4279-bf30-7e62229534d6.png">

                            <div class="featured-items-item-caption">
                                <h4>A Look at Open Video</h4>

                                <p>Completing the tasks outlined in "A Look at Open Video".
                                    The main criteria is to create a "data-mosh" with Free Software tools.</p>
                            </div>
                            <div class="featured-items-item-controls">
                                <a href="http://badges.p2pu.org/en/project/create/8/"
                                   class="p2pu-btn-cyan p2pu-btn-mini">Submit a project</a>
                            </div>
                        </div>
                    </li>
                    <li class="featured-items-item span3">
                        <div class="featured-items-item-wrap">
                            <img class="featured-items-img"
                                 src="http://badges.p2pu.org/media/images/Pythagoras_14f45155-45d8-4f40-ba5c-66c7761b15a2.png">

                            <div class="featured-items-item-caption">
                                <h4> Proofs of the Pythagorean Theorem </h4>

                                <p>Show peers three different ways to prove the validity of Pythagoras' Theorem,
                                    and able to use the theorem in larger projects.</p>
                            </div>
                            <div class="featured-items-item-controls">
                                <a href="http://badges.p2pu.org/en/project/create/27/"
                                   class="p2pu-btn-cyan p2pu-btn-mini">Submit a project</a>
                            </div>
                        </div>
                    </li>
                    <li class="featured-items-item span3">
                        <div class="featured-items-item-wrap">
                            <img class="featured-items-img"
                                 src="http://badges.p2pu.org/media/images/WikiSOO_Burba_5c05d506-4203-4eda-a2c8-9aab45345ef9.png">

                            <div class="featured-items-item-caption">
                                <h4> WikiSOO Burba Badge </h4>

                                <p>Certificate of successful completion of P2PU School of Open
                                    "Writing Wikipedia Articles" course (with related tasks)
                                </p>
                            </div>
                            <div class="featured-items-item-controls">
                                <a href="http://badges.p2pu.org/en/project/create/22/"
                                   class="p2pu-btn-cyan p2pu-btn-mini">Submit a project</a>
                            </div>
                        </div>
                    </li>
                    <li class="featured-items-item span3">
                        <div class="featured-items-item-wrap">
                            <img class="featured-items-img"
                                 src="http://badges.p2pu.org/media/images/facilitation_af019215-ee75-4cf1-ad03-e52840e7d480.png">

                            <div class="featured-items-item-caption">
                                <h4>Facilitation: Mission Complete</h4>

                                <p>
                                    Data Agents must be able to pull together great minds & draw out the best ideas.
                                    This Badge is for stellar Facilitation.
                                </p>
                            </div>
                            <div class="featured-items-item-controls">
                                <a href="http://badges.p2pu.org/en/project/create/36/"
                                   class="p2pu-btn-cyan p2pu-btn-mini">Submit a project</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="controls">
                <a class="p2pu-btn-olive" href="https://badges.p2pu.org">Get your Badges <i
                        class="icon-chevron-sign-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>
{% endcomment %}
<!-- Schools Section -->
{% include 'homepage/schools_section.html' %}
<!-- Moocs Section -->
{% comment %}
<section>
    <span id="moocs" class="top-offset-span">&nbsp;</span>


    <div class="container">
        <div class="section-title-wrap">
            <h1 class="section-title">MOOCs</h1>
            <a href="#top-page" class="pull-right back-to-top-link">To the top <i class="icon-arrow-up"> </i></a>
        </div>
        <div class="billboard">
            <div class="moocs">
                <i class="icon-cogs"></i>

                <div class="description">
                    <h2>A Gentle Introduction to Python</h2>

                    <p>
                    <h4>Free & Open.</h4>
                    A Gentle Introduction to Python is 100% free, just like all OpenCourseWare. Anyone can join, and
                    you're
                    welcome to share your work.
                    </p>
                    <p>
                    <h4>Learning Powerhouse.</h4>
                    Pick up Python from leading innovators in online learning. MIT's chops. Codecademy's exercises.
                    OpenStudy's
                    study groups. P2PU's community. Need we say more?
                    </p>
                    <p>
                    <h4>Weekly Lessons.</h4>
                    Make friends with some smarties, and start programming from Week 1. Open for signup now, course
                    starts June
                    2013.
                    </p>
                    <hr>
                    <p>
                    <h4> Next Class begins June 2013</h4>
                    but you can sign up now
                    </p>
                    <div class="form-search">
                        <div class="input-append">
                            <input type="text" class="span2 search-query" placeholder="you@dot.com">
                            <button type="submit" class="btn">Go</button>
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <a class="p2pu-btn-silver" href="http://mechanicalmooc.org/">Find out more <i
                            class="icon-chevron-sign-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endcomment %}
<section class="footer">
    <div class="container">
        <hr>
        <a href="https://p2pu.org/en/pages/terms-of-use/" target="_blank">
            <img class="pull-right" src="{{ STATIC_URL }}/images/cc-icons.png" alt=""/>
        </a>
    </div>
</section>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/vendor/jquery-1.8.2.min.js"><\/script>')</script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script>
    $(".p2pu-tab").click(function () {
        var $this = $(this),
                panel = $(".p2pu-panel-wrap"),
                icon_name = 'icon-chevron-sign-',
                icon = $this.find('i');

        panel.slideToggle("fast", function () {
            var $this = $(this);
            if ($this.is(':visible')) {
                icon.attr('class', icon_name + 'up');
            } else {
                icon.attr('class', icon_name + 'down');
            }
        });
    });
</script>
</body>
</html>
