{% load l10n_tags %}
<div class="jumbotron" id="top-page">
    <div class="container">
        <div class="masthead">
            <h1 class="main-feature">
                Learning by everyone. For everyone. About almost anything.
            </h1>

            <p class="lead">
                {{ _('Meet new people, Get new skills, have lots of fun and do it all for free!') }}
            </p>

            <h3>
                <a class="p2pu-btn-olive p2pu-btn-large"
                   href="{% url learn_all %}" target="_blank">
                    {{ _('Find Course') }}
                </a>
                <!--
                <span class="call-to-action"> or </span>
                <a class="p2pu-tour" href="browse_courses.html">
                    Take a tour
                    <i class="icon-double-angle-right"></i>
                </a>
                -->
            </h3>

        </div>
    </div>
</div>