<section>
    <span id="moocs" class="top-offset-span">&nbsp;</span>


    <div class="container">
        <div class="section-title-wrap">
            <h1 class="section-title">MOOCs</h1>
            <a href="#top-page" class="pull-right back-to-top-link">To the top <i class="icon-arrow-up"> </i></a>
        </div>
        <div class="billboard">
            <div class="moocs">
                <div class="section-caption span3">


                    <p>
                        We have run MOOCs on Learning Python, Creative Learning (with the MIT Media Lab)
                        and Data skills. Our MOOCs are big learning communities that run on the web. Lots of
                        people sign up, and we facilitate collaboration and team work.
                    </p>

                    <div class="controls">
                        <a class="p2pu-btn-silver" href="http://mechanicalmooc.org/">Find out more <i
                                class="icon-chevron-sign-right"></i>
                        </a>
                    </div>
                </div>
                <div class="featured-items-wrap schools">
                    <ul class="featured-items-list pull-right">
                    <li class="featured-items-item span8">
                        <div class="featured-items-item-wrap">
                            <div class="featured-items-item-caption">
                                <h4>A Gentle Introduction to Python</h4>
                                <img
                                 src="http://mechanicalmooc.org/static/img/banner.png">
                                <h4>Free & Open.</h4>
                                <p>
                                    A Gentle Introduction to Python is 100% free, just like all OpenCourseWare.
                                    Anyone can join, and you're welcome to share your work.
                                </p>
                                <h4>Learning Powerhouse.</h4>
                                    Pick up Python from leading innovators in online learning. MIT's chops.
                                    Codecademy's exercises. OpenStudy's study groups. P2PU's community.
                                    Need we say more?
                                </p>
                                <p>
                                <h4>Weekly Lessons.</h4>
                                    Make friends with some smarties, and start programming from Week 1.
                                </p>
                            </div>
                            {% comment %}
                            <div class="form-search">
                                <div class="input-append">
                                    <input type="text" class="span2 search-query" placeholder="you@dot.com">
                                    <button type="submit" class="btn">Go</button>
                                </div>
                            </div>
                            {% endcomment %}
                        </div>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</section>