{% load i18n %}

<section>
	<span id="moocs" class="top-offset-span">&nbsp;</span>


	<div class="container">
		<a href="#top-page" class="pull-right back-to-top-link"><i class="icon-angle-up"> </i></a>

		<h1 class="section-title">MOOCs</h1>

		<div class="billboard clearfix">
			<div class="moocs">
				<div class="section-caption span3">


					<p>
						{% blocktrans %}We have run MOOCs on Learning Python, Creative Learning (with the MIT Media Lab)
						                and Data skills. Our MOOCs are big learning communities that run on the web. Lots of
						                people sign up, and we facilitate collaboration and team work.{% endblocktrans %}
					</p>

					<div class="controls">

					</div>
				</div>
				<div class="featured-items-wrap span8 pull-right">
					<ul class="unstyled featured-items-list">
						<li class="featured-items-item">
							<div class="thumbnail featured-items-item-wrap">
								<div class="featured-items-item-caption">
									<h4>{% trans 'Play With Your Music' %}</h4>
									<img
											src="{{ STATIC_URL }}images/playwithyourmusic_banner.jpg">
									<h4>{% trans 'Play With the Music You Love' %}</h4>

									<p>
										{% blocktrans %}
											Fiddle with loops, time, tempo and vocals on your favorite tracks.
											You'll make 3-5 mixes of your very own, using the newest tools on
											the web. Get even closer to the songs you've had on repeat since
											you were 15.
										{% endblocktrans %}
									</p>
									<h4>{% trans 'Learn From a Powerhouse.' %}</h4>
									{% blocktrans %}
										"Play With Your Music" is a nifty collaboration by Peer 2 Peer University,
										New York University, and the MIT Media Lab. Master the in's and out's of
										mixing tracks from the folks at NYU's Steinhardt School of Music,
										and from other luminaries in the field. PWYM is produced with support
										from the Shuttleworth Foundation.
									{% endblocktrans %}
									</p>
									<p>
									<h4>{% trans '(Re)Mix in the Browser.' %}</h4>
									{% blocktrans %}
										You'll be working with Soundation's web-based production environment,
										posting your tracks to SoundCloud's listening community, and collaborating
										with your cohort in Google Hangout. Don't worry--all you'll need to get
										started is a computer and an internet connection.
									{% endblocktrans %}
									</p>
								</div>
								<div class="featured-items-item-controls pull-right">
									<a class="btn btn-discrete" target="_blank" href="http://www.playwithyourmusic.org/">{% trans 'Join in' %} <i
											class="icon-chevron-sign-right"></i>
									</a>
								</div>
							</div>
						</li>
						<li class="featured-items-item">
							<div class="thumbnail featured-items-item-wrap">
								<div class="featured-items-item-caption">
									<h4>{% trans 'A Gentle Introduction to Python' %}</h4>
									<img
											src="{{ STATIC_URL }}images/mechanicalmooc-banner.jpg">
									<h4>{% trans 'Free & Open.' %}</h4>

									<p>
										{% blocktrans %}A Gentle Introduction to Python is 100% free, just like all OpenCourseWare.
										                Anyone can join, and you're welcome to share your work.{% endblocktrans %}
									</p>
									<h4>{% trans 'Learning Powerhouse.' %}</h4>
									{% blocktrans %}Pick up Python from leading innovators in online learning. MIT's chops.
									                Codecademy's exercises. OpenStudy's study groups. P2PU's community.
									                Need we say more?{% endblocktrans %}
									</p>
									<p>
									<h4>{% trans 'Weekly Lessons.' %}</h4>
									{% blocktrans %}Make friends with some smarties, and start programming from Week 1.{% endblocktrans %}
									</p>
								</div>
								<div class="featured-items-item-controls pull-right">
									<a class="btn btn-discrete" target="_blank" href="http://mechanicalmooc.org/">{% trans 'Join in' %} <i
											class="icon-chevron-sign-right"></i>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
