<section>
    <span id="schools" class="top-offset-span">&nbsp;</span>

    <div class="container">
        <div class="section-title-wrap">
            <h1 class="section-title">Schools</h1>
            <a href="#top-page" class="pull-right back-to-top-link">To the top <i class="icon-arrow-up"> </i></a>
        </div>
        <div class="billboard">
            <div class="featured-items-wrap schools">
                <ul class="featured-items-list pull-right">
                    <li class="featured-items-item span8">
                        <div class="featured-items-item-wrap">
                            <img class="featured-items-img"
                                 src="https://p2pu.org/media/images/schools/1/8450ec21dc912ed68b96d4839e3cd362_1.png">

                            <div class="featured-items-item-caption">
                                <h4>School of Open</h4>

                                <p>
                                    The School of Open offers courses on the meaning, application,
                                    and impact of “openness” in the digital age and its benefit to
                                    creative endeavors, education, research, and beyond.
                                    It is coordinated by P2PU and Creative Commons.
                                </p>
                            </div>
                            <div class="featured-items-item-controls">
                                <a href="https://p2pu.org/en/schools/school-of-open/"
                                   class="p2pu-btn-clemintine">
                                    Go to school</a>
                            </div>
                        </div>
                    </li>
                    <li class="featured-items-item span4">
                        <div class="featured-items-item-wrap">
                            <img class="featured-items-img"
                                 src="https://p2pu.org/media/images/schools/1/1158ea7f5709376a7cb4a6bae056f49b_1.png">

                            <div class="featured-items-item-caption">
                                <h4>School of Ed</h4>

                                <p>
                                    The P2PU School of Ed brings the model of open, community-based peer learning to professional
                                    learning for K-12 teachers. It's about hands-on learning driven by each educator's
                                    particular needs and classroom situations.
                                </p>
                            </div>
                            <div class="featured-items-item-controls">
                                <a href="https://p2pu.org/en/schools/school-of-ed-pilot/"
                                   class="p2pu-btn-clemintine">Go to school</a>
                            </div>
                        </div>
                    </li>
                    <li class="featured-items-item span4">
                        <div class="featured-items-item-wrap">
                            <img class="featured-items-img"
                                 src="https://p2pu.org/media/images/schools/1/d95659e3e004c1ae60baf02b00b5cd9c.png">

                            <div class="featured-items-item-caption">
                                <h4>School of Webcraft</h4>

                                <p>
                                    School of Webcraft is a collaboration between P2PU and Mozilla.
                                    Take the Webmaking 101 challenge to learn basic HTML and build your
                                    first webpage from scratch. You can earn badges, that highlight your
                                    technical and community skills to your friends, colleagues and potential employers.
                                </p>
                            </div>
                            <div class="featured-items-item-controls">
                                <a href="https://p2pu.org/en/schools/school-of-webcraft/"
                                   class="p2pu-btn-clemintine">Go to school</a>
                            </div>
                        </div>
                    </li>
                    <li class="featured-items-item span8">
                        <div class="featured-items-item-wrap">
                            <img class="featured-items-img"
                                 src="{{ STATIC_URL }}images/SoD-logo.png">

                            <div class="featured-items-item-caption">
                                <h4>School of Data</h4>

                                <p>
                                    School of Data works to empower civil society organizations,
                                    journalists and citizens with the skills they need to use data
                                    effectively in their efforts to create more equitable and
                                    effective societies. It's a collaboration between P2PU and the
                                    Open Knowledge Foundation.
                                </p>
                            </div>
                            <div class="featured-items-item-controls">
                                <a href="https://p2pu.org/en/schools/school-of-the-mathematical-future/"
                                   class="p2pu-btn-clemintine">Go to school</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
