{% load i18n %}
{% load l10n_tags %}

<nav>
	<div class="navbar navbar-fixed-top">
		<div class="p2pu-panel-wrap">
			<div class="panel-contents">
				<div class="connect">
					<h4>{% trans 'Connect With Us' %}</h4>
					<ul class="unstyled">
						<li>
							<hr>
							<a href="http://community.p2pu.org">{% trans 'Discussions' %}</a></li>
						<li>
							<hr>
							<a href="http://www.facebook.com/P2PUniversity" target="_blank"><i
									class="icon-facebook-sign"></i></a>
							<a href="http://twitter.com/p2pu" target="_blank"><i class="icon-twitter-sign"></i></a>
							<a href="http://info.p2pu.org/contact/" target="_blank"><i class="icon-envelope"></i></a>
						</li>
					</ul>
				</div>
				<div class="connect">
					<h4>{% trans 'Learn' %}</h4>
					<ul class="unstyled">
						<li>
							<hr>
							<a href="https://courses.p2pu.org/en/groups/list/community/">{% trans 'Courses' %}</a></li>
						<li>
							<hr>
							<a href="http://badges.p2pu.org">{% trans 'Badges' %}</a></li>
						<li>
							<hr>
							<a href="">{% trans 'Schools' %}</a></li>
					</ul>
				</div>
				<div class="connect">
					<h4>{% trans 'About' %}</h4>
					<ul class="unstyled">
						<li>
							<hr>
							<a href="http://info.p2pu.org">{% trans 'Blog' %}</a></li>
						<li>
							<hr>
							<a href="http://reports.p2pu.org">{% trans 'Reports' %}</a></li>
						<li>
							<hr>
							<a href="http://info.p2pu.org/research/">{% trans 'Research' %}</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="p2pu-color-divider-wrap">
			<div class="p2pu-color-divider"></div>
		</div>


		<div class="navbar-inner p2pu-navbar">
			<div class="container">
				<a class="brand" href="{% url home %}">P2PU</a>

				<div class="">
					<ul class="nav top-menu">
						<li>
							<a class="p2pu-tab" href="#">
								<i class="icon-chevron-sign-down"></i>
							</a>
						</li>
					</ul>
					{% block navigation_items %}{% endblock %}
					<ul class="nav top-menu pull-right">
						<li>
							{% if user.is_authenticated %}
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									{% if user.get_profile %}
										<img id="user-picture" src="{{ user.get_profile.image_or_default }}" height="30px" width="30px"
										     alt="" />
									{% else %}
										<img id="user-picture" src="{{ STATIC_URL }}images/john-icon.png" height="30px" width="30px"
										     alt="" />

									{% endif %}
									<span class="add-standard-left-padding">{{ user.username }} <i class="icon-caret-down"></i></span>
								</a>
								<ul class="dropdown-menu">
									<!-- <li><a href="{% locale_url dashboard %}" class="sub-level">{{ _('Dashboard') }}</a></li> -->
									<li><a href="{{ user.get_profile.get_absolute_url }}" class="sub-level">{{ _('My Profile') }}</a></li>
									<li><a href="{% locale_url users_profile_edit %}" class="sub-level">{{ _('My Settings') }}</a></li>
									<li><a href="{% locale_url chat %}" class="sub-level" target="_blank">{{ _('Chat') }}</a></li>
									<li><a href="{% locale_url drumbeatmail_inbox %}" class="sub-level">{{ _('Inbox') }}
										{% if messages_inbox_count > 0 %}<span id="inbox-count" class="new-messages">
											{{ messages_inbox_count }}</span>{% endif %}</a></li>
									<li><a href="{% locale_url users_logout %}" class="sub-level">{{ _('Logout') }}</a></li>
								</ul>
							{% else %}
								<a class="sign-in pull-right"
								   href="{{ login_with_redirect_url }}">{% trans 'Login' %} </span>
								</a>
							{% endif %}
						</li>

					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>
</nav>
