{% load i18n %}
{% load l10n_tags %}

<nav>
    <div class="navbar navbar-fixed-top">
        <div class="p2pu-panel-wrap">
            <div class="panel-contents">
                <div class="connect">
                    <h4>{% trans 'Connect With Us' %}</h4>
                    <ul class="unstyled">
                        <li>
                            <hr>
                            <a href="http://thepeople.p2pu.org">{% trans 'Discussions' %}</a></li>
                        <li>
                            <hr>
                            <a href="http://www.facebook.com/P2PUniversity" target="_blank"><i
                                    class="icon-facebook-sign"></i></a>
                            <a href="http://twitter.com/p2pu" target="_blank"><i class="icon-twitter-sign"></i></a>
                            <a href="http://info.p2pu.org/contact/" target="_blank"><i class="icon-envelope"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="connect">
                    <h4>{% trans 'Learn' %}</h4>
                    <ul class="unstyled">
                        <li>
                            <hr>
                            <a href="https://p2pu.org/en/groups/list/community/">{% trans 'Courses' %}</a></li>
                        <li>
                            <hr>
                            <a href="http://badges.p2pu.org">{% trans 'Badges' %}</a></li>
                        <li>
                            <hr>
                            <a href="">{% trans 'Schools' %}</a></li>
                    </ul>
                </div>
                <div class="connect">
                    <h4>{% trans 'About' %}</h4>
                    <ul class="unstyled">
                        <li>
                            <hr>
                            <a href="http://info.p2pu.org">{% trans 'Blog' %}</a></li>
                        <li>
                            <hr>
                            <a href="http://reports.p2pu.org">{% trans 'Reports' %}</a></li>
                        <li>
                            <hr>
                            <a href="http://info.p2pu.org/research/">{% trans 'Research' %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="p2pu-color-divider-wrap">
            <div class="p2pu-color-divider"></div>
        </div>


        <div class="navbar-inner p2pu-navbar">
            <div class="container">
                {% comment %}
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% endcomment %}
                <a class="brand" href="{% url home %}">P2PU</a>

                <div class="">
                    <ul class="nav top-menu">
                        <li>
                            <a class="p2pu-tab" href="#">
                                <i class="icon-chevron-sign-down"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav top-menu pull-right">
                        <li>
                          {% if user.is_authenticated %}
                            <a class="sign-in pull-right" href="{% locale_url users_logout %}" >{% trans 'Logout' %}</a>
                          {% else %}
                            <a class="sign-in pull-right"
                               href="{{ login_with_redirect_url }}">{% trans 'Login' %} </span>
                            </a>
                          {% endif %}
                        </li>

                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
</nav>
