{% extends "base.html" %}
{% load l10n_tags %}
{% load youtube %}
{% load slideshare %}
{% load project_tags %}

{% block title %}{{ school.name }}{% endblock %}

{% block links %}<link rel="stylesheet" href="{% locale_url schools_css slug=school.slug %}?v=1">{% endblock %}

{% block bodyid %}school_home{% endblock %}
{% block bodyclasses %}card-list{% endblock %}

{% block breadcrumbs %}
  <div class="container">
    <nav>
      <span>{{ _('Schools') }}</span>
      <span class="arrow">&rsaquo;</span>
      <a href="{{ school.get_absolute_url }}">{{ school.name }}</a>
    </nav>
    {% if user.is_authenticated %}
    <div id="project-actions">
      {% if is_organizer %}
        <a id="edit-school" class="button" href="{% locale_url schools_edit slug=school.slug %}">{{ _('Edit School') }}</a>
      {% endif %}
      <a id="create-project" class="button" href="{% locale_url projects_create %}?school={{ school.slug }}">{{ _('Create a Study Group') }}</a>
    </div>
    {% endif %}
  </div> <!-- /.container -->
{% endblock %}

{% block body %}
<div id="main">
  <div id="sidebar">
    <br>
    <figure class="school_img">
      <a href="{{ school.get_absolute_url }}">
        {% if school.image %}
  	      <img src="{{ MEDIA_URL }}{{ school.image }}" width="236" height="65" alt="project image"/>
        {% else %}
          <img src="/media/images/school-missing.png" width="236" height="65" alt="project image"/>
        {% endif %}
      </a>
    </figure>
    <section id="people" class="panel">
      <br>
      <h2 class="school_header">{{ _('School Organizers') }}</h2>
      <br>
      {% for organizer in school.organizers.all %}
        <a href="{{ organizer.get_absolute_url }}" title="{{ organizer.display_name }} (school organizer)"><img class="member-picture" src="{{ organizer.image_or_default }}" height="26" width="26" alt="{{ organizer.display_name }} (school organizer)"></a>
      {% endfor %}
    </section>
  </div>
  <h1 class="school_header"><b>{{ school.name }}</b></h1>
  {{ school.description|youtube|slideshare|safe }}
  <br><br><br><br><br>
  {% project_list school %}
</div>

{% endblock %}

