{% extends "base.html" %}
{% load l10n_tags %}
{% load project_tags %}

{% block title %}{{ school.name }}{% endblock %}

{% block bodyid %}school_home{% endblock %}
{% block bodyclasses %}card-list{% endblock %}

{% block breadcrumbs %}
  <div class="container">
    <nav>
      <span>{{ _('Schools') }}</span>
      <span class="arrow">&rsaquo;</span>
      <a href="{{ school.get_absolute_url }}">{{ school.name }}</a>
    </nav>
    {% if user.is_authenticated %}
    <div id="project-actions">
      <a id="create-project" class="button" href="{% locale_url projects_create %}?school={{ school.slug }}">{{ _('Create a Study Group') }}</a>
    </div>
    {% endif %}
  </div> <!-- /.container -->
{% endblock %}

{% block body %}

<div id="main">
  <h1><b>{{ school.name }}</b></h1>
  {{ school.description|safe }}
  <br><br><br><br><br>
  {% project_list school %}
</div>

{% endblock %}

