{% extends "schools/school_edit.html" %}
{% load l10n_tags %}
{% block bodyclasses %}school edit image{% endblock %}

{% block form %}
{# <p>{{ _('Use this form to upload the school logo.') }}</p> #}

<fieldset id="school_edit_image" class="school edit image tabpane">
<form action="{% locale_url schools_edit_image slug=school.slug %}" method="post" enctype="multipart/form-data" data-url="{% locale_url schools_edit_image_async slug=school.slug %}">
  {% csrf_token %}
  {% if school.image %}
  <h2>{{ _('Replace School Logo') }}</h2>
  {% else %}
  <h2>{{ _('Upload a School Logo') }}</h2>
  {% endif %}
  <p class="hint">{{ _('Upload an image file from your computer:') }}</p>  
  <div class="field{% if form.image.errors %} error{% endif %}">
    {{ form.image }}
    <small class="hint block">{{ _('File Types: JPG, GIF or PNG only<br/> Max size: 700k <br/> Dimensions: 236x65 pixels') }}</small>
    {{ form.image.errors }}
  </div>
  <p class="buttons">
    <a class="button" href="{{ project.get_absolute_url }}">{{ _('Cancel') }}</a>
    <button type="submit" value="{{ _('Upload') }}">{{ _('Upload') }}</button>
  </p>
</form>
<p class="picture-preview">
  {% if school.image %}
  <img src="{{ MEDIA_URL }}{{ school.image }}" class="school picture"/>
  {% else %}
  <img src="/media/images/school-missing.png" alt="school image" class="school picture"/>
{% endif %}
</p>
</fieldset>
{% endblock %}
