{% extends "base.html" %}

{% load l10n_tags %}

{% block title %}{{ _('Edit School') }}{% endblock %}
{% block bodyid %}school_edit{% endblock %}
{% block breadcrumbs %}
  <div class="container">
    <nav>
      <span>{{ _('Schools') }}</span>
      <span class="arrow">&rsaquo;</span>
      <a href="{{ school.get_absolute_url }}">{{ school.name }}</a>
      <span class="arrow">&rsaquo;</span>
      <a href="{% locale_url schools_edit slug=school.slug %}">{{ _('Edit') }}</a>
    </nav>
  </div> <!-- /.container -->
{% endblock %}

{% block body %}
<section class="modal nav">
  <article>
    <h1>
      {{ _('Edit School') }}
      <a class="pester back_link" href="{{ school.get_absolute_url }}">({{ _('View School') }})</a>
    </h1>
    <nav id="school-edit-nav" class="tabs">
      <ul>
	    <li class="summary {% if summary_tab %}active{% endif %}"><a href="{% locale_url schools_edit slug=school.slug %}">{{ _('Summary') }}</a></li>
        <li class="organizers {% if organizers_tab %}active{% endif %}"><a href="{% locale_url schools_edit_organizers slug=school.slug %}">{{ _('School Organizers') }}</a></li>
        <li class="featured {% if featured_tab %}active{% endif %}"><a href="{% locale_url schools_edit_featured slug=school.slug %}">{{ _('Featured Study Groups') }}</a></li>
        <li class="declined {% if declined_tab %}active{% endif %}"><a href="{% locale_url schools_edit_declined slug=school.slug %}">{{ _('Declined Study Groups') }}</a></li>
      </ul>
    </nav>

    {% block form %}{% endblock %}
  </article>
</section>
{% endblock %}

