{% extends "schools/school_edit.html" %}
{% load l10n_tags %}
{% block bodyclasses %}school edit declined{% endblock %}

{% block form %}
<fieldset id="school_edit_declined" class="school edit declined_groups tabpane">
<h2>{{ _('Declined Study Groups') }}</h2>
<p class="hint">{{ _('View, add and remove declined study groups to this school.') }}</p>
<form action="{% locale_url schools_edit_declined slug=school.slug %}" method="post">
  {% csrf_token %}
  <p>
    <div class="field declined_group project{% if form.project.errors %} error{% endif %}">
      <label for="id_project">{{ _('Study Group') }}</label>
      {{ form.project }}
      {{ form.project.errors }}
    </div>
  </p>
  <p class="buttons add-declined">
    <button type="submit">{{ _('Add') }}</button>
  </p>
</form>

{% if declined %}
<table>
<thead>
  <tr>
    <th>{{ _('Name') }}</th>
    <th>{{ _('Actions') }}</th>
  </tr>
</thead>
<tbody>
  {% for project in declined %}
    <tr>
      <td class="name"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
      <td class="actions">
        <form action="{% locale_url schools_edit_declined_delete slug=school.slug project_slug=project.slug %}" method="post">
          {% csrf_token %}
          <button type="submit" value="{{ _('Delete') }}">{{ _('Delete') }}</button>
        </form>
      </td>
    </tr>
  {% endfor %}
</tbody>
</table>
{% endif %}
</fieldset>
{% endblock %}


{% block js %}
  <script type="text/javascript">
    $('#id_project').autocomplete({
        source: function( request, response ) {
                url = "{% url matching_non_declined slug=school.slug %}?term=" + request.term;
                $.getJSON(url, function(data) {
                    response(data);
                });
            }
    });
  </script>
{% endblock %}
